.size-align{
    width:1000px;
     height:400px;
}
/* below two css are used for page name title   */
:host ::ng-deep .wd-al {
    margin-left: 0px!important;
   text-align: left;
}
:host ::ng-deep .text-capitalize {
   text-transform: uppercase;
}
/* end of css page name title   */
@media only screen and (min-device-width: 1000px) and (max-device-width: 1025px) and (orientation: landscape) {
.size-align{
    width:800px;
     height:400px;
}
#wrapper_setup_new canvas {
    width: 800px !important;
    background: white;
    border-radius: 10px;
}
}