<div id="wrapper_setup_new">
  <app-header [newMenu]="'noNav'"></app-header>
  <section id="inner_cont">
    <div class="container form_cont">
      <div class="row mt-20">
        <div class="col-md-5 col-sm-4 text-right res-tleft">
          <label>{{'CASH_COUNTING.SELECT_DATE' | translate }}
            <span class="red">*</span>
          </label>
        </div>
        <div class="col-md-6 col-sm-7">
          <input type="text" bsDatepicker value="{{ bsValue | date:'M/d/yyyy'}}" [(bsValue)]="bsValue" class="mb-25 datefield" [bsConfig]="datePickerConfig" (click)="clearErrMsg()"
            [maxDate]="maxDate" />
            <div class="col-sm-8">
                <p class="red mb-0"> {{dateError | translate }} </p>
              </div>
        </div>
      </div>
      <div class="row mt-20">
        <div class="col-md-5 col-sm-4 text-right res-tleft">
          <label> {{'CASH_COUNTING.CASH_DRAWER' | translate }}</label>
        </div>
        <div class="col-md-6 col-sm-7">
          <select [(ngModel)]="cashDrawer" (click)="clearErrMsg()">
            <option value="">{{'CASH_COUNTING.SELECT_CASH_DRAWER' | translate }}</option>
            <option *ngFor="let posDevice of posDevicesList" [value]="posDevice.drawerNumber+' '+posDevice.drawerName">{{posDevice.drawerNumber+'-'+posDevice.drawerName}}</option>
            <!-- <option value="Cash Paid Out">Cash Point2</option> -->
          </select>
          <div class="col-sm-8">
              <p class="red mb-0"> {{cashCountError | translate }} </p>
            </div>
        </div>
      </div>
      <div class="mt-20 text-center">
        <button type="button" class="btn btn-primary" (click)="generateCashCountingReport()">{{'BUTTON.GENERATE' | translate }}</button>
        <hr>
      </div>
    </div>

    <div class="col-md-7 col-sm-12" *ngIf="showReport">
      <div class="table-responsive">
        <table class="table">
          <tbody>
              <!---------------- Starting show opening div ------------------>
              <ng-container *ngIf="showOpening">
            <tr>
              <th class="text-center">
                <h4>{{companyName }}</h4>
              </th>
              <th class="text-center">
                <h3>{{'CASH_COUNTING.CASH_COUNTING_REPORT' | translate }}</h3>
              </th>
              <th class="text-center">
                <h4>{{ bsValue | date:'M/d/yyyy'}}</h4>
              </th>
            </tr>
            <tr>
              <td colspan="3">
                <div class="cash-header">
                  <span>{{'CASH_COUNTING.CASH_DRAWER' | translate }} {{cashDrawer}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div>
                  <h4>{{'CASH_COUNTING.OPENING' | translate }}</h4>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-right">{{'CASH_COUNTING.OPENING_CASH' | translate }}</td>
              <td class="text-left" colspan="2">{{opening_Cash | currency}}</td>
            </tr>
            <tr>
              <td class="text-right">{{'CASH_COUNTING.TRANSACTION_TOTAL' | translate }}</td>
              <td class="text-left" colspan="2">{{Transaction_Total | currency}}</td>
            </tr>
            <tr>
              <td class="text-right">{{'CASH_COUNTING.CASH_IN_OUT_TOTAL' | translate }}</td>
              <td class="text-left" colspan="2">{{Cash_In_Out_Total | currency}}</td>
            </tr>
            <tr>
              <td class="text-right">{{'CASH_COUNTING.CLOSING_CASH' | translate }}</td>
              <td class="text-left" colspan="2">{{Closing_Cash | currency}}</td>
            </tr>
            <tr>
              <td class="text-right">{{'CASH_COUNTING.CASH_OVER_UNDER' | translate }}</td>
              <td class="text-left" colspan="2">{{Cash_Over_Under | currency}}</td>
            </tr>
            <tr>
              <td colspan="3">{{'CASH_COUNTING.QUALITIES_OF_BILLS_AND_COINS' | translate }} </td>
            </tr>            
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.100S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_100__c" (keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_50S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_50_cent__c" (keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.50S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_50__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_25S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_25_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label> {{'CASH_COUNTING.20S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_20__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_10S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_10_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label> {{'CASH_COUNTING.10S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_10__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_05S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_5_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.5S' | translate }} </label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_5__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_01S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_1_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.1S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Open_1__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                    <div class="col-md-6 col-sm-7" >
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'COMMON.TOTAL' | translate }}</label>
                      </div>
                      <input type="text" readonly [(ngModel)]="amount.Total_Open__c" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <!-- <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-6 col-sm-6" style="float:right;margin-right: 52px;">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'COMMON.TOTAL' | translate }}</label>
                      </div>
                      <input type="text" readonly [(ngModel)]="amount.Total_Open__c" />
                    </div>
                  </div>
                </td> -->
              </tr>
            </ng-container>
            
            <!---------------- Starting show closing data ------------------>
            <ng-container *ngIf="showClosing">
                <tr>
                    <th class="text-center">
                      <h4>{{companyName }}</h4>
                    </th>
                    <th class="text-center">
                      <h3>{{'CASH_COUNTING.CASH_COUNTING_REPORT' | translate }}</h3>
                    </th>
                    <th class="text-center">
                      <h4>{{ bsValue | date:'M/d/yyyy'}}</h4>
                    </th>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <div class="cash-header">
                        <span>{{'CASH_COUNTING.CASH_DRAWER' | translate }} {{cashDrawer}}</span>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td colspan="3">
                      <div>
                        <h4>{{'CASH_COUNTING.CLOSING' | translate }}</h4>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">{{'CASH_COUNTING.OPENING_CASH' | translate }}</td>
                    <td class="text-left" colspan="2">{{close_total_open_cash | currency}}</td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.TRANSACTION_TOTAL' | translate }}</td>
                    <td class="text-left" colspan="2">{{close_Transaction_Total | currency}}</td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.CASH_IN_OUT_TOTAL' | translate }}</td>
                    <td class="text-left" colspan="2">{{close_Cash_In_Out_Total | currency}}</td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.CLOSING_CASH' | translate }}</td>
                    <td class="text-left" colspan="2">{{close_Closing_Cash | currency}}</td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.CASH_OVER_UNDER' | translate }}</td>
                    <td class="text-left" colspan="2">{{Close_Cash_Over_Under | currency}}</td>
                  </tr>
                  <tr>
                      <td colspan="3">{{'CASH_COUNTING.QUALITIES_OF_BILLS_AND_COINS' | translate }} </td>
                  </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.100S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_100__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_50S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_50_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.50S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_50__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_25S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_25_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.20S' | translate }} </label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_20__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_10S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_10_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.10S' | translate }} </label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_10__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_05S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_5_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label> {{'CASH_COUNTING.5S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_5__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_01S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_1_cent__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.1S' | translate }}</label>
                      </div>
                      <input type="text" [(ngModel)]="amount.Close_1__c"(keypress)="keyPress($event)" maxlength="3" (blur)="calTotAmt(amount)" />
                    </div>
                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'COMMON.TOTAL' | translate }}</label>
                      </div>
                      <input type="text" readonly [(ngModel)]="amount.Total_Close__c" />
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <!-- <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-6 col-sm-6" style="float:right;margin-right: 52px;">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'COMMON.TOTAL' | translate }}</label>
                      </div>
                      <input type="text" readonly [(ngModel)]="amount.Total_Close__c" />
                    </div>
                  </div>
                </td> -->
              </tr>
            </ng-container>
          <!---------------- Starting show Readonly data ------------------>
            <ng-container *ngIf="showReadOnly">
                <tr>
                    <th class="text-center">
                      <h4>{{companyName }}</h4>
                    </th>
                    <th class="text-center">
                      <h3>{{'CASH_COUNTING.CASH_COUNTING_REPORT' | translate }}</h3>
                    </th>
                    <th class="text-center">
                      <h4>{{ bsValue | date:'M/d/yyyy'}}</h4>
                    </th>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <div class="cash-header">
                        <span>{{'CASH_COUNTING.CASH_DRAWER' | translate }} {{cashDrawer}}</span>
                      </div>
                    </td>
                  </tr>
                <tr>
                    <td colspan="3">
                      <div>
                        <h4>{{'CASH_COUNTING.CLOSED' | translate }}</h4>
                      </div>
                    </td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.OPENING_CASH' | translate }}</td>
                    <td class="text-left" colspan="2">{{read_open_cash | currency}}</td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.TRANSACTION_TOTAL' | translate }}</td>
                    <td class="text-left" colspan="2">{{read_Transaction_Total__c | currency}}</td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.CASH_IN_OUT_TOTAL' | translate }}</td>
                    <td class="text-left" colspan="2">{{read_Cash_In_Out_Total | currency}}</td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.CLOSING_CASH' | translate }}</td>
                    <td class="text-left" colspan="2"> {{read_closing_cash | currency}}</td>
                  </tr>
                  <tr>
                      <td class="text-right">{{'CASH_COUNTING.CASH_OVER_UNDER' | translate }}</td>
                    <td class="text-left" colspan="2">{{read_Cash_Over_Under__c | currency}}</td>
                  </tr>
                  <tr>
                      <td colspan="3">{{'CASH_COUNTING.QUALITIES_OF_BILLS_AND_COINS' | translate }} </td>
                  </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.100S' | translate }}</label>
                      </div>
                      <label>{{close_100}}</label>
                    </div>
                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_50S' | translate }}</label>
                      </div>
                      <label>{{close_50_cent}}</label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.50S' | translate }}</label>
                      </div>
                      <label>{{close_50}}</label>
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_25S' | translate }}</label>
                      </div>
                      <label>{{close_25_cent}}</label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.20S' | translate }} </label>
                      </div>
                      <label>{{close_20}}</label>
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_10S' | translate }}</label>
                      </div>
                      <label>{{close_10_cent}}</label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.10S' | translate }}</label>
                      </div>
                      <label>{{close_10}}</label>
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_05S' | translate }}</label>
                      </div>
                      <label>{{close_05_cent}}</label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.5S' | translate }}</label>
                      </div>
                      <label>{{close_5}}</label>
                    </div>

                    <div class="col-md-6 col-sm-7">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.POINT_01S' | translate }}</label>
                      </div>
                      <label>{{close_01_cent}}</label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-5 col-sm-5">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'CASH_COUNTING.1S' | translate }}</label>
                      </div>
                      <label>{{close_1}}</label>
                    </div>
                    <div class="col-md-6 col-sm-7" >
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'COMMON.TOTAL' | translate }}</label>
                      </div>
                      <label>{{read_total_close_cash | currency:"USD":"symbol-narrow"}}</label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <!-- <td colspan="3">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-6 col-sm-6" style="float:right;margin-right: 52px;">
                      <div class="col-md-3 col-sm-4 text-right res-tleft">
                        <label>{{'COMMON.TOTAL' | translate }}</label>
                      </div>
                      <label>{{read_total_close_cash}}</label>
                    </div>
                  </div>
                </td> -->
              </tr>
            </ng-container>
            <tr style="border-top:1px solid #000">
              <td colspan="3">
                <div class="col-md-12 mt-20">
                  <div class="col-md-6 col-md-offset-3 col-sm-8">
                    <button type="button" class="save-btn"*ngIf="showOpening || showClosing" (click)="saveCashCounting()">{{'BUTTON.SAVE' | translate }}</button>
                    <button type="button" class="cancel-btn" [routerLink]="['/checkout']">{{'BUTTON.CANCEL' | translate }}</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <app-rightbar></app-rightbar>
</div>