#inner_cont{
    min-height: 1024px;
}
table{
    font-family: 'AvenirLTStdMedium';
    border:1px solid #000;
}
hr {
    margin-right: 10%;
}

table>tbody>tr>td, .table td, .table>tbody>tr>th,.table th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}
.cash-header{
    padding:5px;
    background-color: #000;
    color:#fff;
}
.cash-header span{
    font-size: 16px;
}

table input[type=text]{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	width: 50%;
	border: solid 1px #fff;
	height: 25px;
	padding: 5px 10px 5px 10px;
	outline: none;
	font-family: 'AvenirLTStdMedium';
	background: #fff;
	color: #000;
	border-radius: 0;
}
table input[type=text]:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	width: 50%;
	border: solid 1px #000;
	height: 25px;
	padding: 5px 10px 5px 10px;
	outline: none;
	font-family: 'AvenirLTStdMedium';
	background: #fff;
	color: #000;
	border-radius: 0;
}
.form_cont {
    /* background: #e6f3f8; */
    /* background: #ffffff; */
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 15px;
    font-family: 'AvenirLTStdMedium';
    font-size: 15px;
    letter-spacing: 1px;
}
.margin-align {
    float:right;
    margin-right: 52px;
}
#wrapper_setup_new{
    color: white;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}

@media (device-width: 768px){
	.table {
        width: 88%;
    }
}