#inner_cont {
    color: white;
    margin-right: 9%;
}
.row-style{
    margin-left: 18%;
    margin-right: 18%;
    padding: 10px;
    font-weight: bold;
}
.box-style {
    height: 150px;
    width: 100%;
    background: #76bdfb;
    padding:50px 10px 10px 10px;
    border-radius: 30px 30px;
}
.box-style1 {
    height: 150px;
    width: 100%;
    background: #76bdfb;
    /* padding:50px 10px 10px 30px; */
    border-radius: 30px 30px;
}

.img-style{
    height: 125px;
    width: 150%;
    padding:0px!important;
    margin-top:14px;
    border-radius: 75px;
    overflow: hidden;
    font-size: 25px;
    line-height: 120px;
    border: 2px solid #efefef;
    background: none;
    text-align: center;
    /* margin: 0 auto; */
    display: block;
    color: #000;
    font-weight: 400;
    object-fit: contain;
    border: 2px solid #efefef;
}
img {
    width:125px;
     height:125px;
}
.text-center {
    font-size: 25px;
} 
.text-size {
    font-size: 15px!important;
}
.text-style{
    font-weight: 500;
    font-size: 20px!important;
}
.res{
text-transform:uppercase;
   } 
@media  (device-width: 1024px){
    #inner_cont {
        margin-right: -14%;
        margin-left: -26%;
    }
    .box-style {
        height: 150px;
        width: 100%;
        background: #76bdfb;
        padding:50px 10px 10px 50px;
    }
    .img-style{
        height: 135px;
        width: 135px;
        padding:0px!important;
        margin-top:14px;
        border-radius: 75px;
        overflow: hidden;
    }
    img {
        width:130px;
         height:130px;
    } 
}
@media  (device-width: 768px){
    #inner_cont {
        margin-right: -14%;
        margin-left: -26%;
    }
    .box-style {
        height: 150px;
        width: 100%;
        background: #76bdfb;
        padding:50px 10px 10px 30px!important;
    }
    .img-style{
        height: 125px;
        width: 125px;
        padding:0px!important;
        margin-top:14px;
        border-radius: 75px;
        overflow: hidden;
    }
    img {
        width:123px;
         height:123px;
    } 
}

