<div id="wrapper_setup_new" style="color:white;">
    <app-header [newMenu]="'noNav'" [new1]="showCliName"></app-header>
    <!-- <div class="form_cont12" *ngIf="clientId != 'undefined' && clientId != 'null' && clientId">
        <h1>FIND APPOINTMENT : {{showCliName}}</h1>
    </div> -->
    <section id="inner_cont">
        <div class="col-sm-8">
            <p class="red mb-0"> {{bookApptErr | translate }} </p>
        </div>
        <div class="container form_cont">
            <div class="row">
                <div class="col-md-6" id="box-align">
                    <div class="appt-box b-0">
                        <!-- <h1 class="sub_titles">Appointment Search Start Date</h1> -->
                        <div class="mt-20">

                            <div class="col-md-12 col-sm-12 mb-10">
                                <div class="">
                                    <label class="d-inline-block v-alm mr-10">Start Date:
                                        <span class="red">*</span>
                                    </label>

                                    <!-- <input [(ngModel)] = "dateValue" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="dateValue" class="mb-25" value="vinod"/> -->
                                    <!-- <pre>{{bsValue}}</pre> -->
                                    <input type="text" [(ngModel)]="bsValue" value="{{ bsValue | date:'MM/d/y'}}" (click)="clearErrMsg()" (ngModelChange)="getWorkersFromDate()"
                                        bsDatepicker [(bsValue)]="bsValue" [minDate]="minDate" [bsConfig]="datePickerConfig"
                                        class="datefield d-inline-block v-alm" style="max-width:110px; width:100%;">
                                </div>

                            </div>
                            <div class="button-align m-0 col-md-12 col-sm-12">
                                <button type="button" class="btn btn-default br-5" (click)="updateDatepicker(0)">Today</button>
                                <button type="button" class="btn btn-default" (click)="updateDatepicker(1)">1</button>
                                <button type="button" class="btn btn-default" (click)="updateDatepicker(2)">2</button>
                                <button type="button" class="btn btn-default" (click)="updateDatepicker(3)">3</button>
                                <button type="button" class="btn btn-default" (click)="updateDatepicker(4)">4</button>
                                <button type="button" class="btn btn-default" (click)="updateDatepicker(5)">5</button>
                                <button type="button" class="btn btn-default" (click)="updateDatepicker(6)">6</button>
                                <button type="button" class="btn btn-default" (click)="updateDatepicker(7)">7</button>
                                <button type="button" class="btn btn-default" (click)="updateDatepicker(8)">8</button>

                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="mt-40">
                            <!-- <div class="col-md-4 col-sm-4 text-right res-tleft">
                                <label>Visit Type:</label>
                                <span class="red">*</span>
                            </div> -->
                            <div class="col-md-4">
                                <select class="select-new-trans" (click)="clearErrMsg()" [(ngModel)]="visitTypeValue" (change)="onVisitTypeChange($event.target.value);">
                                    <option value=''>Visit Type</option>
                                    <option *ngFor="let listData of visitTypesList; let i='index'" value="{{listData.visitType}}" id="listData{{i}}">{{listData.visitType}}</option>
                                </select>
                            </div>
                            <div>
                                <p style='text-align: center;' class='red'>{{error8 | translate}}</p>
                            </div>
                            <div class="col-md-12">
                                <hr class="wt-line mt-30 mb-20">
                            </div>

                        </div>
                        <div class="mt-20">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-border-0 form_cont_one">
                                        <tbody>
                                            <tr *ngFor="let input of inputs; let i='index'">
                                                <td class="pl-0">
                                                    <select class="select-new-trans" id='ExpworkerIds' [(ngModel)]="input.fullWorker" (change)="expressService($event.target.value, i, true)"
                                                        style="width:100%;">
                                                        <option *ngFor="let workers of getWorker" value='{{workers.workerId}}${{workers.workerName}}'>{{workers.names}} </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="select-new-trans" [(ngModel)]="input.serviceId" id="listServices" (change)="listServices($event.target.value ,i )"
                                                        style=" width:100%;">
                                                        <option id="amountDuration" *ngFor="let express of bookingExpress[i]" [value]="express.serviceId">{{express.Name}}</option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <a (click)="addInput()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add">
                                                        <img src="../../assets/images/plus-new.png" alt="close" width="20">
                                                    </a>
                                                </td>
                                                <td *ngIf='inputs.length > 1'>
                                                    <a (click)="deleteFieldValue(i)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
                                                        <img src="../../assets/images/close-new.png" alt="close" width="20">
                                                    </a>
                                                </td>
                                                <!-- <td>
                                                    <span title="{{row.desc}}" *ngIf="row.desc">
                                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                    </span>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="mt-10 clearfix">
                            <div class="col-md-12 text-center">
                                <!-- 
                                <div>
                                    <p class='red'>{{error9 | translate}}</p>
                                </div> -->
                                <div>
                                    <p class='red'>{{error10 | translate}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="mt-30 clearfix">
                            <div class="col-md-8">
                                <label>Client Notes:</label>
                                <p *ngIf="clientNotes">
                                    {{clientNotes}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <label>Duration: {{serviceDurations}} Minutes</label>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="mt-20">
                            <div class="col-md-12">
                                <label>Appointment Notes:</label>
                            </div>
                            <div class="col-md-8">
                                <textarea [(ngModel)]="apptNotes" maxlength="500" class="w90 form-text"></textarea>
                            </div>
                            <div class="col-md-4 text-right">
                                <button type="button" class="btn btn-primary btn-new-wt big-btn" *ngIf="searchBtn" (click)="searchForAppointment()">
                                    Search </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="appt-box b-0">
                        <div class="mt-20 text-center">
                            <button type="button" class="btn btn-new-wt big-btn mr-5" (click)="bookAppointment()" *ngIf='showScheduleButton == true && apptSearchData.length!==0'>Book </button>
                            <button type="button" class="btn btn-new-wt big-btn mr-5" (click)="bookAppointment()" *ngIf="reScheduleButton == true && apptSearchData.length!==0">{{isRebooking?'Rebook':'ReSchedule'}}</button>
                            <button *ngIf="apptSearchData && apptSearchData.length > 0" type="button" class="btn btn-new-blue big-btn mr-5" style="font-weight: 500;"
                                [routerLink]="['/appointments']">Cancel</button>
                            <button *ngIf="apptSearchData && apptSearchData.length > 0 && waitingId ===''" (click)="addToWaitingList('')" type="button"
                                class="btn btn-new-lgt-trans big-btn">+ Waiting List</button>
                            <button *ngIf="apptSearchData && apptSearchData.length > 0 && waitingId" (click)="addToWaitingList(waitingId)" type="button"
                                class="btn btn-new-lgt-trans big-btn">+ Waiting List</button>
                        </div>

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-border-0 table-bg-trans form_cont_one">
                                    <thead>
                                        <tr>
                                            <th class="thcss">Search Results</th>
                                            <th class="thcss text-right">Rank</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let searchData of apptSearchData; let i = 'index'" [ngClass]="{ 'row-selected': (selectedIndex === i) }">
                                            <td (click)="scheduleButtonShow(apptSearchData[i].value, i)">
                                                <p class="td-para-main">{{searchData.value | date: 'h:mm a - EEEE, MMMM d y' }}</p>
                                                <p class="td-para" *ngFor="let workerNamess of listingName">{{workerNamess.serviceName}} ({{workerNamess.name}})</p>
                                            </td>
                                            <td class="text-right" (click)="scheduleButtonShow(apptSearchData[i].value, i)">
                                                <span *ngFor="let i of Arr(searchData.rank).fill(1)">
                                                    <i class="{{styleOnClickRating}}" class="color-active" aria-hidden="true"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>

<!-- ----------------------popup--------- -->
<div bsModal #serviceNotesModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static', keyboard: false}" tabindex="-1"
    role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="width: 590px;">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" (click)="closeServiceNotesModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button> -->
            </div>
            <table>
                <tbody>
                    <tr>
                        <td style="padding: 10px;">
                            <img src="assets/images/declinedIcon.png">
                        </td>
                        <td>
                            There is a booking alert for this client.
                        </td>
                    </tr>
                </tbody>
            </table>
            <label style="margin: 0px 12px;">{{clientData?.FirstName+' '+clientData?.LastName}} has a booking alert for the following reason(s):</label>
            <table style="margin-left:100px">
                <tbody>
                    <tr *ngIf="clientData?.BR_Reason_No_Email__c === 1">
                        <td>
                            <label>No Email</label>
                        </td>
                    </tr>
                    <tr *ngIf="clientData?.BR_Reason_Account_Charge_Balance__c === 1">
                        <td>
                            <label>Account Charge Balance</label>
                        </td>
                    </tr>
                    <tr *ngIf="clientData?.BR_Reason_Deposit_Required__c === 1">
                        <td>
                            <label>Deposit Required</label>
                        </td>
                    </tr>
                    <tr *ngIf="clientData?.BR_Reason_No_Show__c === 1">
                        <td>
                            <label>Persistant No Show</label>
                        </td>
                    </tr>
                    <tr *ngIf="clientData?.BR_Reason_Other__c === 1">
                        <td>
                            <label>Other</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <label style="margin: 0px 12px;" *ngIf="clientData?.BR_Reason_Other_Note__c">Notes : {{clientData?.BR_Reason_Other_Note__c}}
            </label>
            <div class="modal-footer">
                <table>
                    <tbody>
                        <tr>

                            <td>
                                <button class="save-btn" *ngIf="clientData?.Booking_Restriction_Type__c !== 'Do Not Book'" value="Book Anyway" (click)="bookAnyWay()">
                                    Book Anyway</button>
                                <button type="button" class="cancel-btn" [routerLink]="['/appointments']">{{clientData?.Booking_Restriction_Type__c === 'Do Not Book'?'Ok':'Don\'t Book'}}</button>
                                <a *ngIf='clientId' [routerLink]="['/client/edit/' + clientId]" [queryParams]="{action:'findappt'}" class="btn btn-default mb-5">
                                    <i class="fa fa-pencil"></i> Go To Full Client Card</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>