.nav-tabs>li {
    cursor: pointer;
}
.no-margin {
    color: white;
}
.setup-favbox {
    height: 100px;
}
.fav_box h4 {
    line-height: 18px;
}
.fav_box h4 {
    font-size: 12px;
}
.width-align{
    width: 100%;
    border: 0.5px solid black;
}
.color-font {
    color: black;
}
.my-class {
    color: white !important;
}
/* section-custom style used for responsive */
.section-custom {
    margin-right: 10% !important;
}
#wrapper_setup_new{
	color: white;
}
.form_cont .table-bordered>tbody>tr>td, .form_cont .table-bordered>tbody>tr>th {
    color: white;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}
.fav_box.plusbg, .fav_box.plusbg:hover {
    background-image: url('/assets/images/add-wt.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border: 2px solid #fff !important;
  }
  .fav_box.plusbg:before {
      display: none !important;
  }
.word-break {
    word-break: break-word!important;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .fav_box h4 {
        font-size: 10px;
    }
}
.fav_box {
    background: rgba(255, 255, 255, 0.2) !important;
    border: 2px solid transparent;
    color: #fff !important;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.fav_box-arrow {
    border-width: 0 !important;
}

.fav_box-arrow::before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: inherit;
    border-width: 30px;
    margin-left: 0;
    right: -30px;
    bottom: -30px;
    transform: rotate(135deg);
}

.fav_box:hover {
    background: rgba(255, 255, 255, 0.3) !important;
    border-width: 2px;
}

.fav_box h4 {
    color: #fff !important;
    font-size: 12px;
    line-height: 20px;
    /* word-break: break-all; */
}

.row-10 {
    margin-left: -5px;
    margin-right: 89px;
    margin-top: 0px;
}
.fav_box_main {
    padding-left: 4px;
    padding-right: 4px;
    width: 20%;
    float: left;
    /* margin-left: -5px;
    margin-right: 85px;
    margin-top: -2px; */
}

.fav_box_main a {
    display: block;
    padding-bottom: 100%;
    position: relative;
    cursor: pointer;
}

.fav_box_img {
    /* background: inherit !important; */
    border: 0px solid transparent;
    color: #fff !important;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.fav_box_img-view {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fav_box_img span {
    background: inherit;
    padding: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: calc(100% - 40px);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: auto;
    font-weight: 400;
    transition: all ease-in-out 0.3s;
}

.fav_box_img span small {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    opacity: 1;
    z-index: 0;
}

.fav_box_img span em {
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all ease-in-out 0.3s;
    position: relative;
    z-index: 5;
}

.fav_box_img:hover span {
    font-size: 16px;
    line-height: 20px;
    top: 0px;
    white-space: normal;
    font-weight: 600;
}

.fav_box_img:hover span small {
    opacity: 0.5;
}

.fav_box_img:hover span em {
    overflow: visible;
    white-space: normal;
    /* word-break: break-all; */
}

@media (max-width:1023px) {
    .fav_box h4 {
        font-size: 13px;
        line-height: 16px;
    }
    .fav_box_img span {
        font-size: 13px;
        line-height: 16px;
    }
    .fav_box_img:hover span {
        background: rgba(22, 51, 125, 0.5);
        font-size: 15px;
        line-height: 18px;
    }
    .payment-txt {
        font-size: 10px;
        line-height: 14px;
    }
    .mr-right {
        color: white;
    }
}

@media (max-width:767px) {
    .fav_box_main {
        width: 33.33333%;
    }
}

@media (max-width:599px) {
    .fav_box_main {
        width: 50%;
    }
    .row-10 {
        margin-right: -5px !important;
    }
}