.setsubcont {
    margin-right: 10%;
}
.table-bordered-white>tbody>tr>td {
    color: white;
}
.table-bordered-light>tbody>tr>td {
    color: white;
}

.setsubcont input[type=text],.setsubcont label, .setsubcont input[type=number], .setsubcont input[type=email],.setsubcont select{
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus{
    color: black;
}
.word-break {
    word-break: break-all!important;
}
.btn-default {
    color: #1496c9 !important;
    background-color: #fff !important;
    border-color: #4bc1ef !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}
    