<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">

            <div class="row mt-20">
                <div class="col-md-12">
                    <p class="red mb-0"> {{error}} </p>
                </div>
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>{{'COMMON.BEGIN_DATE' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input class="datefield" type="text" [maxDate]="reportAnalysis.endDate"
                        [(ngModel)]="reportAnalysis.startDate" bsDatepicker (ngModelChange)="clear()"
                        [(bsValue)]="reportAnalysis.startDate" [bsConfig]="datePickerConfig">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>{{'COMMON.END_DATE' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8" [ngClass]="{'disabled':!reportAnalysis.startDate}">
                    <input class="datefield" type="text" [minDate]="reportAnalysis.startDate" [maxDate]="maxdate"
                        [disabled]="!reportAnalysis.startDate" (ngModelChange)="clear()"
                        [(ngModel)]="reportAnalysis.endDate" bsDatepicker [(bsValue)]="reportAnalysis.endDate"
                        [bsConfig]="datePickerConfig">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }} </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportAnalysis.type" (change)="selectReportsType($event.target.value);clear()">
                        <option [value]="'Company Analysis'">
                            {{'MONTHLY_BUSINESS_ANALYSIS.COMPANY_ANALYSIS' | translate }}</option>
                        <option [value]="'Worker Analysis'">{{'MONTHLY_BUSINESS_ANALYSIS.WORKER_ANALYSIS' | translate }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>{{'COMMON.WORKER' | translate }} </label>
                </div>
                <div class="col-md-7 col-sm-8" [ngClass]="{'disabled':reportAnalysis.type === 'Company Analysis'}">
                    <select [disabled]="reportAnalysis.type === 'Company Analysis'" (change)="clear();selectWorker();"
                        [(ngModel)]="reportAnalysis.worker">
                        <option [value]="''">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList" [value]='worker.Id'>
                            {{worker.FirstName+' '+ worker.LastName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>

                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport();" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate}} </button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="row mt-20" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered form_cont_one">
                            <thead>
                                <tr>
                                    <th class="thcss">{{companyName}}</th>
                                    <th class="thcss">{{reportAnalysis.type === 'Company Analysis' ? ('COMMON.COMPANY_STATISTICS'| translate ):
                                        'Worker Statistics - '+workerName }}
                                    </th>
                                    <th class="thcss">{{reportAnalysis.startDate|date:'MM/dd/yyyy'}} -
                                        {{reportAnalysis.endDate|date:'MM/dd/yyyy'}}</th>
                                </tr>
                            </thead>
                        </table>
                        <table class="table-style">
                            <tr>
                                <th>{{'TICKET_ANALYSIS_REPORT.TICKET_STATISTICS'| translate }}</th>
                                <th>{{'TICKET_ANALYSIS_REPORT.QUANTITY'| translate }}</th>
                            </tr>

                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.TICKETS_WITH_SERVICES_AND_NO_PRODUCTS'| translate }}</td>
                                <td>{{reportDetails?.serviceOnlyCount}}</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.TICKETS_WITH_PRODUCTS_AND_NO_SERVICES'| translate }}</td>
                                <td>{{reportDetails?.productOnlyCount}}</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.TICKETS_WITH_BOTH_SERVICES_AND_PRODUCTS'| translate }}
                                </td>
                                <td>{{reportDetails?.bothCount}}</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.TICKETS_WITH_TICKET_VALUES'| translate }}
                                    <=0 .00</td> <td>{{reportDetails?.zeroOrRefundCount}}</td>
                            </tr>
                            <tr>
                                <th>{{'TICKET_ANALYSIS_REPORT.TOTAL_NUMBER_OF_TICKETS'| translate }}</th>
                                <!-- <th>{{reportDetails?.serviceOnlyCount + reportDetails?.productOnlyCount + reportDetails?.bothCount
                                    + reportDetails?.zeroOrRefundCount}}</th> -->
                                <th>{{totalNumberOfTickets}}</th>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.TICKETS_WITH_AT_LEAST_ONE_SERVICE'| translate }}</td>
                                <!-- <td>{{reportDetails?.serviceOnlyCount + reportDetails?.bothCount}}</td> -->
                                <td>{{ticketWithAtleastOneService}}</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.TICKETS_WITH_AT_LEAST_ONE_PRODUCT'| translate }} </td>
                                <!-- <td>{{reportDetails?.productOnlyCount + reportDetails?.bothCount }}</td> -->
                                <td>{{ticketWithAtleastOneProduct}}</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.TICKETS_WITH_MULTIPLE_PRODUCTS'| translate }}</td>
                                <td>{{reportDetails?.multipleProductCount}}</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.TICKETS_WITH_MULTIPLE_SERVICES_AND_MULTIPLE_PRODUCTS'| translate }}
                                </td>
                                <td>{{reportDetails?.multipleBothCount}}</td>
                            </tr>
                        </table>
                        <table class="table-style">
                            <tr>
                                <th>{{'TICKET_ANALYSIS_REPORT.TICKET_PERCENTAGES'| translate }}</th>
                                <th>{{'SETUP_COMPENSATION_SCALES.PERCENT'| translate }}</th>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.PERCENTAGE_OF_PRODUCT_REVENUE'| translate }}</td>
                                <td>{{reportDetails.Percent_Product_Revenue_to_Service_Revenue}}%</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.PERCENTAGE_OF_TICKETS_WITH_PRODUCT'| translate }}</td>
                                <td>{{reportDetails.Percent_Tickets_with_Product}}%</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.PERCENTAGE_OF_TICKETS_WITH_SERVICES'| translate }}</td>
                                <td>{{reportDetails.Percent_Tickets_with_Service}}%</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.PERCENTAGE_OF_SERVICE_TICKETS_WITH_PRODUCT'| translate }}
                                </td>
                                <td>{{reportDetails.Percent_Service_Tickets_with_Product}}%</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.PERCENTAGE_OF_TICKETS_WITH_MULTIPLE_PRODUCTS'| translate }}
                                </td>
                                <td>{{reportDetails.Percent_Tickets_with_Multiple_Products}}%</td>
                            </tr>
                        </table>
                        <table class="table-style">
                            <tr>
                                <th>{{'TICKET_ANALYSIS_REPORT.TICKET_AVERAGE_REVENUE'| translate }}</th>
                                <th>{{'COMMON.AMOUNT'| translate }}</th>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.AVERAGE_REVENUE_PER_TICKET'| translate }}</td>
                                <td>{{reportDetails.Avg_Revenue_per_Ticket | currency:'USD':"symbol-narrow"}}</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.AVERAGE_SERVICE_REVENUE_PER_TICKET'| translate }}</td>
                                <td>{{reportDetails.Avg_Service_Revenue_per_Ticket | currency:'USD':"symbol-narrow"}}
                                </td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.AVERAGE_SERVICE_REVENUE'| translate }}</td>
                                <td>{{reportDetails.Service_Revenue_per_Service_Only_Ticket | currency:'USD':"symbol-narrow"}}
                                </td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.AVERAGE_PRODUCT_REVENUE_PER_TICKET'| translate }}</td>
                                <td>{{reportDetails.Avg_Product_Revenue_per_Ticket | currency:'USD':"symbol-narrow"}}
                                </td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.AVERAGE_PRODUCT_REVENUE'| translate }}</td>
                                <td>{{reportDetails.Avg_Product_Revenue_per_Product_Only_Ticket | currency:'USD':"symbol-narrow"}}
                                </td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.AVERAGE_PRODUCT_REVENUE_PER_ALL_SERVICE_TICKETS'| translate }}
                                </td>
                                <td>{{reportDetails.Avg_Product_Revenue_per_All_Service | currency:'USD':"symbol-narrow"}}
                                </td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.AVERAGE_PRODUCT_REVENUE_PER_SERVICE_TICKETS_WITH_PRODUCTS'| translate }}
                                </td>
                                <td>{{reportDetails.Avg_Product_Revenue_per_Service_Tx_Products | currency:'USD':"symbol-narrow"}}
                                </td>
                            </tr>

                        </table>
                        <table class="table-style">
                            <tr>
                                <th>{{'TICKET_ANALYSIS_REPORT.TICKET_BY_CLIENT_TYPE'| translate }}</th>
                                <th>{{'TICKET_ANALYSIS_REPORT.QUANTITY'| translate }}</th>
                                <th>{{'SETUP_COMPENSATION_SCALES.PERCENT'| translate }}</th>
                            </tr>

                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.RECURRING_VISIT'| translate }}</td>
                                <td>{{reportDetails.recurringVisitCount}}</td>
                                <td>{{reportDetails.Recurring_Visit}}%</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.NEW_VISIT'| translate }}</td>
                                <td>{{reportDetails.newVisitCount}}</td>
                                <td>{{reportDetails.New_Visit}}%</td>
                            </tr>
                            <tr>
                                <td>{{'VISIT_TYPE_OVERVIEW.BOOKED_ONLINE'| translate }}</td>
                                <td>{{reportDetails.bookedOnlineCount}}</td>
                                <td>{{reportDetails.Booked_Online}}%</td>
                            </tr>
                            <tr>
                                <td>{{'VISIT_TYPE_OVERVIEW.NON_SERVICE'| translate }}</td>
                                <td>{{reportDetails.nonServiceCount}}</td>
                                <td>{{reportDetails.Non_Service}}%</td>
                            </tr>
                        </table>
                        <table class="table-style">
                            <tr>
                                <th>{{'TICKET_ANALYSIS_REPORT.TICKET_REVENUE_BY_CLIENT_TYPE'| translate }}</th>
                                <th>{{'COMMON.AMOUNT'| translate }}</th>
                                <th>{{'SETUP_COMPENSATION_SCALES.PERCENT'| translate }}</th>
                            </tr>

                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.RECURRING_VISIT'| translate }}</td>
                                <td>{{reportDetails.recurringVisitRevenue | currency:'USD':"symbol-narrow"}}</td>
                                <td>{{reportDetails.Recurring_Visit_Revenue}}%</td>
                            </tr>
                            <tr>
                                <td>{{'TICKET_ANALYSIS_REPORT.NEW_VISIT'| translate }}</td>
                                <td>{{reportDetails.newVisitRevenue | currency:'USD':"symbol-narrow"}}</td>
                                <td>{{reportDetails.New_Visit_Revenue}}%</td>
                            </tr>
                            <tr>
                                <td>{{'VISIT_TYPE_OVERVIEW.BOOKED_ONLINE'| translate }}</td>
                                <td>{{reportDetails.bookedOnlineRevenue | currency:'USD':"symbol-narrow"}}</td>
                                <td>{{reportDetails.Booked_Online_Revenue}}%</td>
                            </tr>
                            <tr>
                                <td>{{'VISIT_TYPE_OVERVIEW.NON_SERVICE'| translate }}</td>
                                <td>{{reportDetails.nonServiceRevenue | currency:'USD':"symbol-narrow"}}</td>
                                <td>{{reportDetails.Non_Service_Revenue}}%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>