<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">

            <div class="row mt-20 res-mt-15 ml-5">
                <div class="col-md-12">
                    <div class="table-responsive" *ngIf="showDiv">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss" style="width:70%;">{{'ADJUSTMENT_REPORTS.ADJUSTMENT_DATE' |
                                        translate }}</th>
                                    <th class="thcss">{{ 'COMMON.ACTION' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let data of result; let i = 'index'">
                                    <td>{{data.CreatedDate }}</td>
                                    <td colspan="2">
                                        <a class="btn btn-default mb-5" (click)="showData(data.CreatedDate)">
                                            <i class="fa fa-eye"></i> {{'BUTTON.VIEW' | translate}}</a>
                                        <a class="btn btn-default mb-5" (click)="deleteData(data)">
                                            <i class="fa fa-minus"></i> {{'BUTTON.DELETE' | translate}}</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" *ngIf="ShowResultDiv">
                        <div class="col-md-12 col-sm-12 ml-bottom">
                            <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                                <span style="font-size: 14px">
                                    <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                            </button>
                        </div>
                        <table class="table table-hover table-bordered form_cont_one style-align" border="0"
                            cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="thcss">{{companyName}}</th>
                                    <th class="thcss">{{'ADJUSTMENT_REPORTS.INVENTORY_ADJUSTMENT_REPORT' | translate}}</th>
                                    <th class="thcss">{{'ADJUSTMENT_REPORTS.ADJUSTMENT_DATEE' | translate}} {{showDate}}</th>
                                </tr>
                            </thead>
                        </table>
                        <ng-container *ngFor="let data of res2;let i = index">
                            <p>{{'ADJUSTMENT_REPORTS.PRODUCT_LINE_INVENTORY_GROUP' | translate}} <span class="font-weight">{{data[0].plName}} /
                                    {{data[0].Inventory_Group__c}}</span></p>
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{'ADJUSTMENT_REPORTS.SKU' | translate}} {{showDate}}</th>
                                        <th class="thcss">{{'COMMON.PRODUCT' | translate}}</th>
                                        <th class="thcss">{{'ADJUSTMENT_REPORTS.SIZE' | translate}}</th>
                                        <th class="thcss">{{'ADJUSTMENT_REPORTS.QTY_CHANGE' | translate}}</th>
                                        <th class="thcss">{{'ADJUSTMENT_REPORTS.COST_EA' | translate}}</th>
                                        <th class="thcss">{{'ADJUSTMENT_REPORTS.TOTAL_COST' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let data1 of data">
                                        <tr>
                                            <td>{{data1.Product_Code__c}}</td>
                                            <td>{{data1.prdName}}</td>
                                            <td>{{data1.Size__c}}</td>
                                            <td>{{data1.values.onHandDiff}}</td>
                                            <td>{{data1.values.cost | currency:"USD":"symbol-narrow"}}</td>
                                            <td [ngStyle]="{'color': data1.values.onHandDiff * data1.values.cost < 0 ? 'red':'white'}">{{data1.values.onHandDiff * data1.values.cost | currency:"USD":"symbol-narrow"}}</td>
                                        </tr>
                                    </ng-container>
                                    <tr>
                                        <td class="font-weight">{{data[0].plName}} / {{data[0].Inventory_Group__c}}
                                            {{'ADJUSTMENT_REPORTS.SUB_TOTAL' | translate}}</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="font-weight">{{totalListQuantity[i]}}</td>
                                        <td>&nbsp;</td>
                                        <td class="font-weight" [ngStyle]="{'color': totalListAmount[i] < 0 ? 'red':'white'}">{{totalListAmount[i] | currency:"USD":"symbol-narrow"}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight">{{'COMMON.TOTAL' | translate}}</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="font-weight">{{totalNetListAmount[i]}}</td>
                                        <td>&nbsp;</td>
                                        <td class="font-weight" [ngStyle]="{'color': totalNetAmount[i] < 0 ? 'red':'white'}">{{totalNetAmount[i] | currency:"USD":"symbol-narrow"}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-container>
                        <table class="table table-hover table-bordered">
                            <tr>
                                <td class="font-weight">{{'TOTAL_SHEETS.GRAND_TOTALS' | translate}} {{adjustDate}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="font-weight">{{grandListTotal}}</td>
                                <td>&nbsp;</td>
                                <td class="font-weight" [ngStyle]="{'color': grandNetTotal < 0 ? 'red':'white'}">{{grandNetTotal | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12" *ngIf="showDeleteDiv">
                        <p>{{'ADJUSTMENT_REPORTS.RUN_DATE' | translate}} {{adjustDate}} </p>
                        <p>{{'ADJUSTMENT_REPORTS.ARE_YOU_SURE_YOU_WANT_TO_DELETE_THIS' | translate}}</p>
                        <div class="row mt-40 mb-30 res-mt-15 text-center res-tleft">
                            <div class="col-sm-10">
                                <button type="button" class="cancel-btn" (click)="deleteRecord();">{{'BUTTON.DELETE'|translate
                                    }}</button>
                                <button type="button" class="cancel-btn" (click)='cancel()'>{{
                                    'BUTTON.CANCEL'|translate }}</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>