<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" bsDatepicker [(ngModel)]='startDate' (ngModelChange)='itemsDisplay = false'
                        [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield" (click)="clearMsg();">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" bsDatepicker [(ngModel)]='endDate' (ngModelChange)='itemsDisplay = false'
                        [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield" (click)="clearMsg();">
                </div>
            </div>
            <p class='red'>{{error | translate}}</p>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="type" (change)="reportTypeOnChange($event.target.value)">
                        <option *ngFor="let data of reportTypes" value="{{data}}">{{data}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'PRODUCT_SALES_BY_RANK.INCLUDE_UNSOLD_PRODUCTS' | translate }} </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input [(ngModel)]="includeUnsold" type="checkbox" />
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SETUP_INVENTORY_PRODUCTS.PRODUCT_LINE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="proLineName" (change)="onProductLineChange($event.target.value)">
                        <option value="">{{'SETUP_COMPENSATION_METHODS.ALL' | translate }}</option>
                        <option *ngFor="let proLineData of productLinesData; let i = 'index'" id="proLineData{{i}}"
                            value='{{proLineData.Id}}'>{{proLineData.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.WORKER' | translate }}</label>
                </div>
                <!-- <div >
                    <select class="col-md-7 col-sm-8 disabled" *ngIf="showWorkers == true">
                    </select>
                </div> -->
                <div class="col-md-7 col-sm-8">
                    <select class="disabled" *ngIf="!showWorkers">
                        <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                    </select>
                    <select [(ngModel)]="workerName" *ngIf="showWorkers"
                        (change)="workerListOnChange($event.target.value)">
                        <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList; let i='index'" value="{{worker.Id}}">
                            {{worker.FullName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-binoculars" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="row mt-20 res-mt-15" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'PRODUCT_SALES_BY_RANK.A_PRODUCT_NAME' | translate}}</th>
                                    <th class="thcss">{{'COMMON.SIZE' | translate }}</th>
                                    <th class="thcss">{{'SETUP_INVENTORY_PRODUCTS.UNIT_OF_MEASURE' | translate }}</th>
                                    <th class="thcss">{{'INVENTORY_USAGE.QUANTITY' | translate }}</th>
                                    <th class="thcss">{{'TOTAL_SHEETS.TOTAL_SALES_AMOUNT' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of categoryListA">
                                    <td>{{product.Name}}</td>
                                    <td>{{product.Size__c}}</td>
                                    <td>{{product.Unit_of_Measure__c}}</td>
                                    <td>{{product.Qty}} </td>
                                    <td>{{product.Net_Price__c | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                                <tr class="background-color" *ngIf="AsubTotal">
                                    <td>{{'PRODUCT_SALES_BY_RANK.A_SUB_TOTAL' | translate}}</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>{{AsubTotal | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'PRODUCT_SALES_BY_RANK.B_PRODUCT_NAME' | translate}}</th>
                                    <th class="thcss">{{'COMMON.SIZE' | translate }}</th>
                                    <th class="thcss">{{'SETUP_INVENTORY_PRODUCTS.UNIT_OF_MEASURE' | translate }}</th>
                                    <th class="thcss">{{'INVENTORY_USAGE.QUANTITY' | translate }}</th>
                                    <th class="thcss">{{'TOTAL_SHEETS.TOTAL_SALES_AMOUNT' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of categoryListB">
                                    <td>{{product.Name}}</td>
                                    <td>{{product.Size__c}}</td>
                                    <td>{{product.Unit_of_Measure__c}}</td>
                                    <td>{{product.Qty}} </td>
                                    <td>{{product.Net_Price__c | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                                <tr class="background-color" *ngIf="BsubTotal">
                                    <td>{{'PRODUCT_SALES_BY_RANK.B_SUB_TOTAL' | translate}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{BsubTotal | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'PRODUCT_SALES_BY_RANK.C_PRODUCT_NAME' | translate}}</th>
                                    <th class="thcss">{{'COMMON.SIZE' | translate }}</th>
                                    <th class="thcss">{{'SETUP_INVENTORY_PRODUCTS.UNIT_OF_MEASURE' | translate }}</th>
                                    <th class="thcss">{{'INVENTORY_USAGE.QUANTITY' | translate }}</th>
                                    <th class="thcss">{{'TOTAL_SHEETS.TOTAL_SALES_AMOUNT' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of categoryListC">
                                    <td>{{product.Name}}</td>
                                    <td>{{product.Size__c}}</td>
                                    <td>{{product.Unit_of_Measure__c}}</td>
                                    <td>{{product.Qty}} </td>
                                    <td>{{product.Net_Price__c | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                                <tr class="background-color" *ngIf="CsubTotal">
                                    <td>{{'PRODUCT_SALES_BY_RANK.C_SUB_TOTAL' | translate}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{CsubTotal | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'PRODUCT_SALES_BY_RANK.D_PRODUCT_NAME' | translate}}</th>
                                    <th class="thcss">{{'COMMON.SIZE' | translate }}</th>
                                    <th class="thcss">{{'SETUP_INVENTORY_PRODUCTS.UNIT_OF_MEASURE' | translate }}</th>
                                    <th class="thcss">{{'INVENTORY_USAGE.QUANTITY' | translate }}</th>
                                    <th class="thcss">{{'TOTAL_SHEETS.TOTAL_SALES_AMOUNT' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of categoryListD">
                                    <td>{{product.Name}}</td>
                                    <td>{{product.Size__c}}</td>
                                    <td>{{product.Unit_of_Measure__c}}</td>
                                    <td>{{product.Qty}} </td>
                                    <td>{{product.Net_Price__c | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                                <tr class="background-color" *ngIf="DsubTotal">
                                    <td>{{'PRODUCT_SALES_BY_RANK.D_SUB_TOTAL' | translate}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{DsubTotal | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <tbody>
                                <tr>
                                    <td class="thcss" style="width:84%">{{'TOTAL_SHEETS.TOTALS' | translate}}</td>
                                    <!-- <td class="thcss"></td>
                                    <td class="thcss"></td>
                                    <td class="thcss"></td> -->
                                    <td class="thcss">{{totalSales | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>