.setsubcont {
    color: white;
}

.form_cont {
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 180px;
    font-size: 15px;
    letter-spacing: 1px;
}

.form_cont table {
    font-size: 14px;
    letter-spacing: 1px;
}

#wrapper_setup_new {
    padding-right: 90px;
}

.word-break {
    word-break: break-all!important;
}

.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email], .setsubcont select {
    color: white;
}

.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus {
    color: black;
}

.setsubcont select {
    height: 40px;
}

.btn:hover {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.apont-head {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.apont-head-large {
    background: rgba(255, 255, 255, 0.1);
    /* border: 0 !important;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    padding: 6px 15px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500; */
}

.filter-align1 {
    margin-top: 30px;
}

.date-align {
    text-align: center;
}

.table>thead>tr>th {
    padding-left: 8px;
    vertical-align: middle;
    border-bottom: none!important;
}

.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}

.table-align {
    width: 100%;
    /* max-width: 0px; */
    margin-bottom: 0px;
}

.text-style {
    font-size: 13px;
}

.c-align {
    cursor: pointer;
    font-weight: bolder!important;
}

/* The Close Button */

.close {
    width: 30px;
    height: 30px;
    background: #000 !important;
    border-radius: 50%;
    color: #fff !important;
    font-size: 20px !important;
    line-height: 30px !important;
    opacity: 1 !important;
    text-align: center;
    text-shadow: none !important;
    font-weight: normal !important;
}

.close-list {
    position: relative;
    z-index: 99;
}

.appoinment-heading {
    background: #fff;
    color: #000;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.appoinment-heading span {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
}

.select-bg1 {
    border: 0 !important;
    width: 100% !important;
    background: url(/assets/images/select-arrow.png) no-repeat calc(100% - 10px) center rgba(255, 255, 255, 0.1) !important;
    color: #fff;
    padding: 4px 25px 4px 15px;
    font-size: 13px;
    line-height: 14px;
    height: 28px;
    background-size: 25px auto !important;
}

.select-bg1 option {
    background: #2d7aa8 !important;
    color: #fff !important;
    padding: 5px !important;
}

.bluemodal .modal-content input[type=text].form-control {
    padding: 2px 10px 2px 15px;
}

.apointmnet-right {
    padding-left: 0;
    width: 80%;
    margin-top: 1%;
    /* background: #fff; */
    float: left;
}

.apointmnet-left {
    float: left;
    width: 20%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .apont-head {
        background: rgba(255, 255, 255, 0.1);
        border: 0 !important;
        color: #fff;
        font-size: 11px;
        line-height: 18px;
        padding: 5px 10px;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    .apointmnet-left {
        float: left;
        width: 25%;
    }
    .apointmnet-right {
        width: 75%;
    }
    .filter-align {
        margin-top: 50px;
    }
    .btn-circle {
        padding: 0 !important;
        width: 23px !important;
        height: 23px !important;
        font-size: 12px !important;
        line-height: 21px !important;
        text-align: center !important;
        border-radius: 50% !important;
        font-family: sans-serif !important;
    }
}

.top-select {
    width: 100% !important;
}

.top-select select.select-bg {
    max-width: 250px !important;
    width: 100% !important;
    margin-bottom: 5px;
}

.modal {
    overflow-y: auto;
    z-index: 9999 !important;
    padding-bottom: 25px;
}

.d-flex {
    display: flex;
}

.search-input-list {
    border-radius: 35px 0 0 35px;
}

/* bs-datepicker-container, bs-daterangepicker-container {
    z-index: 99999 !important;
} */

/*blue modal*/

.bluemodal.small-modal .modal-content {
    max-width: 400px !important;
}

.bluemodal.small-modal .modal-dialog {
    width: 100% !important;
    max-width: 90% !important;
    margin: 0 !important;
}

.close-list {
    position: relative;
    z-index: 99;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: -10px;
    position: absolute;
    top: -10px;
}

.bluemodal.small-modal .modal-content {
    max-width: 400px !important;
}

.bluemodal.small-modal .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.form-control-italic::-webkit-input-placeholder {
    font-style: italic;
}

.form-control-italic::-moz-placeholder {
    font-style: italic;
}

.form-control-italic:-ms-input-placeholder {
    font-style: italic;
}

.form-control-italic:-moz-placeholder {
    font-style: italic;
}

.btn {
    cursor: pointer;
}

.bluemodal .form-control {
    color: #fff !important;
}

.bluemodal .form-control::-webkit-input-placeholder {
    color: #fff !important;
}

.bluemodal .form-control::-moz-placeholder {
    color: #fff !important;
}

.bluemodal .form-control:-ms-input-placeholder {
    color: #fff !important;
}

.bluemodal .form-control:-moz-placeholder {
    color: #fff !important;
}