.signup-maindiv {
    margin: 1% 4%;
}
.signup-middle {
    text-align: center;
}
.signup-logo {
    width: 13%;
    min-width: 150px;
}
.signup-caption {
    margin-top: 1%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
.apont-head-large {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    padding: 6px 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.appt-box-one{
    border-top: 3px solid #000;
}
.form_cont .row-selected>td:first-child {
    font-size: large;
    font-weight: bold;
}
.form_cont input[type=text], .form_cont, .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}



/*****/
body {
    background: none !important;
}
.wt-clr {
    color: #fff !important;
}
.blk-clr {
    color: #000 !important;
}
.b-0 {
    border:0 !important;
}
.p-0 {
    padding: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.no-bg {
    background: none !important;
}
.va-t {
    vertical-align: top;
}
.font-10 {
    font-size: 10px !important;
}
.font-11 {
    font-size: 11px !important;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-24 {
    font-size: 24px !important;
}
.font-20 {
    font-size: 20px !important;
}
.minh-100 {
    min-height: 100vh;
}
.new-client-pro-letter {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	/* font-size: 40px; */
	line-height: 57px;
	border: 2px solid #efefef !important;
	background: #efefef;
	text-align: center;
	margin: 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
}
.new-client-pro-letter strong {
	background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
	background-position: 50% 50%;
	background-origin: padding-box;
	background-size: auto auto;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}
.center-v {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}
.olb-main {
    /* background: #707070; */
    width: 100%;
    min-height: 100vh;
}
.olb-main-in {
    width: 100%; 
    max-width: 370px;
    padding: 25px 15px;
    margin: 0 auto;
    font-family: 'CenturyGothic';
}
.login-welcome{
    font-family: 'CenturyGothic';
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
.olb-new-label {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    padding: 5px !important;
    margin: 0 !important;
}
.form-control-olb {
    height: 40px !important;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100% !important;
    box-shadow: none !important;
}
.form-control-olb:disabled {
    background: rgba(255,255,255,0.1) !important;
}
.form-control-olb-fill {
    height: 40px !important;
    border-radius: 0 !important;
    border: 1px solid #fff !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: center !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100% !important;
    font-family: 'CenturyGothicBold';
    box-shadow: none !important;
}
.form-group-olb {
    margin-bottom: 25px !important;
}
.btn-bg-none {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.olb-lg-br-btn {
    min-height: 70px !important;
    height: auto !important;
    width: 100% !important;
    font-size: 18px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: center !important;
    border:1px solid #fff !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    background: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 10px !important;
}
.olb-lg-br-btn span {
    font-family: 'CenturyGothicBold';
    display: block;
    flex-basis: 100%;
}

.home-top {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    font-family: 'CenturyGothicBold';
}
.home-top img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
.client-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.client-name-pic {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.client-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    
}

.client-name-right {
    width: calc(100% - 70px);
    margin-left: 10px;
    font-size: 26px !important;
    line-height: 40px !important;
    color: #fff !important;
}

.olb-lg-br-btn-large, .olb-lg-br-btn-large span {
    font-size: 30px !important;
    line-height: 40px !important;
    color: #fff !important;
    font-family: 'CenturyGothic';
    font-weight: normal !important

}

.text-btn {
    font-family: 'CenturyGothicBold';
    font-size: 24px !important;
    line-height: 30px !important;
    color: #fff !important;
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    border:0 !important;
    vertical-align: middle;
    padding: 0;
    display: inline-block;
}
.btm-btns {
    margin: 30px 0 0 ;
    padding: 0;
    display: block;
    list-style: none;
    text-align: center;
}
.btm-btns li {
    vertical-align: middle;
    padding: 0;
    display: inline-block;
    list-style: none;
}
.btm-btns li:after {
    content: '|';
    font-family: 'CenturyGothicBold';
    font-size: 24px !important;
    line-height: 30px !important;
    color: #fff !important;
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
}
.btm-btns li:last-child:after {
    display: none;
}

.nav-acount {
    display: block;
    text-align: center;
    line-height: 20px;
}
.nav-acount ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
.nav-acount ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.nav-acount ul li:after {
    content: '';
    width: 1px;
    height: 15px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}
.nav-acount ul li:last-child:after {
    display: none;
}
.nav-acount ul li a{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    line-height: 18px; 
    vertical-align: middle;
    color: #fff;
    text-decoration: none !important;
}


.slect-form-new{
    background-image: url(/assets/images/arrow-new-down-blk.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255,255,255,1) !important;
    color: #000 !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 40px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}

.slect-form-new.trans-bg {
    background-color: rgba(255,255,255,0.5) !important;
}
.olb-new-label-center {
    text-align: center;
    width: 100%;
}


.package-service {
    display: flex;
    flex-wrap: wrap;
}
.package-service-lft {
    width: calc(100% - 50px);
    float: left;
}
.package-service-rgt {
    width: 40;
    float: right;
    margin-left: 10px;
}
.package-service-rgt-btn {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookapt-cal {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
    padding-right: 25px;
}
.bookapt-cal-titl {
    font-family: 'CenturyGothicBold';
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff !important;
    display: inline-block;
    vertical-align: middle;
}
.bookapt-cal-cal {
     min-width: 100px;
     display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 25px;
}
.bookapt-cal-cal .form-control {
    min-width: 120px !important;
    max-width: 120px !important;
}
.bookapt-cal-img {
    display: inline-block;
    vertical-align: middle;
}

.btn-search {
    min-height: 40px !important;
    font-size: 16px !important;
    line-height: 25px !important;
    color: #000 !important;
    text-align: center !important;
    border:1px solid #fff !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    background: #fff !important;
    outline: none !important;
    cursor: pointer;
    padding: 6px 20px !important;   
    text-transform: uppercase;
    display: inline-block;
    font-family: 'CenturyGothicBold';
}
.btn-search i {
    margin-left: 15px; 
    display: inline-block;
    vertical-align: middle;
}
.btn-search span {
    display: inline-block;
    vertical-align: middle;
}


.font-bold {
    font-family: 'CenturyGothicBold';
}
.font-italic {
    font-style: italic;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.center-flex {
    align-items: center;
}

.c-pointer {
    cursor: pointer;
}
.mb-20 {
    margin-bottom: 20px !important;
}

.service-select-bkapt  {
    margin-top: 90px; 
    margin-bottom: 50px;
   
}

.service-calender-date {
    display: flex;
    align-items: center;
    margin: 20px 0 10px 0;
}
.service-calender-date-lft {
    width: 20px;
    float: left;
}
.service-calender-date-rgt {
    width: 20px;
    float: right;
}
.service-calender-date-mid {
    font-size: 16px !important;
    line-height: 25px !important;
    color: #fff !important;
    text-align: center !important;
    font-family: 'CenturyGothicBold';
    text-align: center;
    width: calc(100% - 40px);
    padding: 0 5px; 
}
.m-0 {
    margin:0 !important;
}
.bokk-apt-times {
    margin-bottom: 10px;
}

.bokk-apt-times ul {
    margin: 0 -5px; 
    padding: 0;
    display: block;
}
.bokk-apt-times ul li {
    width: 33.333333%;
    padding: 5px;
    display: block;
    float: left;
}
.bokk-apt-times ul li a {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #000 !important;
    text-align: center !important;
    font-family: 'CenturyGothicBold';
    text-align: center;
    display: block;
    border:1px solid #000;
    background: #fff;
    cursor: pointer;
    padding: 8px;
}
.bokk-apt-times ul li.row-selected a {
    color: #fff !important;
    background: #009900;
}

.blue-btn-bka {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff !important;
    text-align: center !important;
    font-family: 'CenturyGothicBold';
    text-align: center;
    display: inline-block;
    border:0px solid #000;
    background: #3399cc;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 5px;
    /* margin-right: -53px; */
}

 
.error-msg-box {
    background: #f1f1f1;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.error-msg-box p, .error-msg-box span {
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    margin: 0; padding: 0;
    text-align: center;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.find-apt {
    font-size:16px;
    line-height: 20px;
    /* font-weight: 600; */
    color: #fff;
    text-align: center;
    text-decoration: underline !important;
    /* letter-spacing: 1px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width:100%;
    font-family: 'CenturyGothic';
 }

#deleteErrorApptId  {
    background: #f1f1f1;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    border-radius: 10px;
}
.c-pointer {
    cursor: pointer;
}

.font-bold {
    font-family: 'CenturyGothicBold';
}
.back-prev-mid {
    width:calc(100% - 120px);
    min-height: 5px;
}
.back-prev {
    width:60px;
    min-height: 5px;
}



#bgOnline{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;;
}
.olb-main {
    position: relative;
    z-index: 9;
}
.word-break {
    display: block;
    word-wrap: break-word;
}