<div id="bgOnline"></div>
<div class="olb-main">
	<div class="olb-main-in minh-100 wt-clr">
		<div class="home-top">
			<a style="color:white" class="tbl-txt" (click)="home()">
				<span *ngIf="!searchresults"><img src="assets/images/home-wt.png" alt="home" width="15" height="13">
					{{'ONLINE_BOOK.HOME'| translate }}</span>
			</a>
			<a style="color:white" class="tbl-txt" (click)="goBack()">
				<span *ngIf="searchresults || paymentDetails" class="tbl-txt"> <i class="fa fa-arrow-left"
						aria-hidden="true"></i> {{'MY_ACCOUNT.GO_BACK'| translate }}</span>
			</a>
		</div>
		<p *ngIf="paymentDetails" id="countdown" class="text-right pull-right" style="padding-left:75px;"></p>
		<div class="client-logo">
			<img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';"
				class="signup-logo" />
		</div>
		<div class="client-name mt-20 mb-40">
			<div class="new-client-pro-letter">
				<img class="client-name-pic" [src]="newclientPictureFileView" alt="Profile" class="client-name-pic"
					*ngIf="newclientPictureFileView">
				<strong style="font-size: 40px"
					*ngIf="!newclientPictureFileView">{{ clientFirstName ? clientFirstName[0].toUpperCase() : '' }}</strong>
			</div>
			<div class="client-name-right">
				<div class="text-center" *ngIf="clientsList.length ===1">
					<b>{{clientsList[0].FirstName+' '+clientsList[0].LastName}}</b>
				</div>
				<div class="text-center  font-18" *ngIf="clientsList.length > 1">
					<select class="slect-form-new" style="width:50%; color: black" [(ngModel)]="clientId"
						(change)="changeClient($event.target.value)">
						<option *ngFor="let client of clientsList" [value]="client.Id">
							{{client.FirstName+' '+client.LastName}}</option>
					</select>
				</div>
				<div class="nav-acount" *ngIf="!showDashboard">
					<ul>
						<li><a [routerLink]="['/online/myaccount']">{{'ONLINE_BOOK.MY_ACCOUNT'| translate }}</a></li>
						<li><a [routerLink]="['/online/client/appts']">{{'ONLINE_BOOK.MY_BOOKINGS'| translate }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div *ngIf="!paymentDetails">
			<!-- Start of Dashboard Details div-->
			<div *ngIf="showDashboard">
				<div class="mb-15">
					<a class="olb-lg-br-btn olb-lg-br-btn-large" (click)="bookNow()">
						<span>{{'ONLINE_BOOK.BOOK_NOW'| translate }}</span>
					</a>
				</div>
				<div class="mb-15">
					<a class="olb-lg-br-btn olb-lg-br-btn-large" [routerLink]="['/online/client/appts']">
						<span>{{'ONLINE_BOOK.MY_APPOINTMENTS'| translate }}</span>
					</a>
				</div>
				<div class="mb-15">
					<a class="olb-lg-br-btn olb-lg-br-btn-large" [routerLink]="['/online/myaccount']"
						[queryParams]="{ type: 'notify'}">
						<span>{{'ONLINE_BOOK.MY_NOTIFICATIONS'| translate }}</span>
					</a>
				</div>
				<div class="mb-15">
					<a class="olb-lg-br-btn olb-lg-br-btn-large" [routerLink]="['/online/myaccount']">
						<span>{{'ONLINE_BOOK.MY_ACCOUNT'| translate }}</span>
					</a>
				</div>
				<div class="mb-15">
					<a class="olb-lg-br-btn olb-lg-br-btn-large" [routerLink]="['/online/myaccount']"
						[queryParams]="{ type: 'password'}">
						<span>{{'ONLINE_BOOK.CHANGE_PASSWORD'| translate }}</span>
					</a>
				</div>

				<ul class="text-center btm-btns">
					<li>
						<a type="button" class="text-btn" [routerLink]="['/onlinegift']" *ngIf="purchaseGiftButt">
							<span>{{'CLIENT_LOGIN.PURCHASE_EGIFT'| translate }}</span>
						</a>
					</li>
					<li>
						<button type="button" class="text-btn" (click)='logout()'>
							<span>{{'ONLINE_BOOK.LOGOUT'| translate }}</span>
						</button>
					</li>
				</ul>

			</div>
			<!-- End of Dashboard Details div-->
			<!-- Start of Service Worker Details div-->
			<div *ngIf="!showDashboard && !searchresults && !confirmationDiv && !searchAgain">
				<div class="mt-30">
					<div *ngFor="let row of rows; let i=index" class="package-service clearfix mb-10 mt-10">
						<div class="package-service-lft">
							<div class="mb-10">
								<select class="slect-form-new" [(ngModel)]="row.Id"
									(change)="servicesListOnChange($event.target.value, i)" (click)="clearErrorMsg()">
									<option value=''>{{'ONLINE_BOOK.SELECT_SERVICE'| translate }}</option>
									<optgroup *ngFor="let groupData of serviceGroupList; let i='index'"
										label="{{groupData.serviceGroupName1}}">
										<option *ngFor="let serviceData of serviceDetailsList[i]; let i='index'"
											[value]="serviceData.Id" id="serviceData{{i}}">{{serviceData.Name}}</option>
									</optgroup>

									<option value="-" disabled="disabled">{{'ONLINE_BOOK.PACKAGES'| translate }}
									</option>
									<ng-container *ngFor="let packageName of packageGroupList">
										<option style="font-weight: bold" value="scale:{{packageName.Id}}">
											{{packageName.Name}}</option>
										<ng-container *ngIf="packageServices[packageName.Id]">
											<option
												*ngFor="let packserv of packageServices[packageName.Id]['serviceresultJson']"
												[value]="packserv.Id">&emsp;{{packserv.Name}}</option>
										</ng-container>
									</ng-container>
								</select>
							</div>
							<div class="mb-10">
								<select class="slect-form-new" [(ngModel)]="row.workername"
									*ngIf='workerList[i]?workerList[i].length>0:false'
									(change)="workerListOnChange($event.target.value,i)" (click)="clearErrorMsg()">
									<option value=''>{{'ONLINE_BOOK.SELECT_WORKER'| translate }}</option>
									<option *ngFor="let workerData of workerList[i]; let i='index'"
										value="{{workerData.workername}}" id="serviceData{{i}}">
										{{workerData.workerName}}
									</option>
								</select>
							</div>
						</div>
						<div class="package-service-rgt">
							<div class="package-service-rgt-btn mb-10" *ngIf="rows.length>1">
								<a (click)="removeServices(i)" data-toggle="tooltip" data-placement="top" title="add"
									data-original-title="Remove">
									<img src="assets/images/new-close-icon.png" alt="close">
								</a>
							</div>
							<div class="package-service-rgt-btn mb-10">
								<a (click)="addServices(rows.length)" data-toggle="tooltip" data-placement="top"
									title="" data-original-title="Add">
									<img src="assets/images/new-plus-icon.png" alt="add">
								</a>
							</div>
						</div>
						<div>
						</div>
					</div>
				</div>

				<div class="bookapt-cal">
					<span class="bookapt-cal-titl">{{'ONLINE_BOOK.AS_SOON_AS'| translate }}</span>
					<div class="bookapt-cal-cal">
						<input type="text" [(ngModel)]="bsValue" bsDatepicker [(bsValue)]="bsValue"
							class="form-control form-control-olb-fill" [minDate]="minDate" [maxDate]="maxDate"
							[bsConfig]="datePickerConfig" />
					</div>
					<span class="bookapt-cal-img">
						<img src="assets/images/new-cal-icon.png" alt="img">
					</span>

				</div>
				<div class="error-msg-box mb-20" *ngIf="onlineBookingErr">
					<p>{{onlineBookingErr | translate}}</p>
				</div>
				<div class="text-center mt-10 mb-20">
					<button class="btn-search" type="button" (click)="searchForAppointment()">
						<span>{{'ONLINE_BOOK.SEARCH'| translate }}</span> <i><img
								src="assets/images/new-search-icon.png" alt="search"></i>
					</button>
				</div>
			</div>
			<!-- End of Service Worker Details div-->
			<!-- Start of Search Results div-->
			<div class="wt-clr" *ngIf='searchresults'>
				<div class="service-select-bkapt text-center">
					<div *ngFor="let obj of listingName">
						<p class="font-18 font-bold m-0">{{obj.serviceName}} - {{obj.wrkName}}</p>
						<p class="font-18 font-italic m-0">
							<span *ngIf="showTotalPrice">{{obj.price | currency: "USD": "symbol-narrow"}}</span> <span
								*ngIf="showTotalDuration"> {{obj.duration}} minutes</span>
							<span *ngIf="obj.description && obj.description.length > 35 && descShow">
								{{obj.description.slice(0,35)}} <span class="c-pointer"
									(click)="descShow = false;">{{'ONLINE_BOOK.MORE'| translate }}</span>
							</span>
							<span *ngIf="obj.description && !(obj.description.length > 35 && descShow)"
								class="word-break">
								{{obj.description}}
							</span>
						</p>
					</div>
				</div>
				<div class="mt-20 mb-20 font-16 text-center">
					{{'ONLINE_BOOK.WHICH_TIME_WORKS_BEST_FOR_YOU'| translate }}
				</div>
				<div class="service-calender-date">
					<div class="service-calender-date-lft" *ngIf="!disablePrevious">
						<a (click)="previousDate()"><img src="assets/images/cal-ar-lft.png" alt="left"></a>
					</div>
					<div class="service-calender-date-lft disabled" *ngIf="disablePrevious">
						<a><img src="assets/images/cal-ar-lft.png" alt="left"></a>
					</div>
					<div class="service-calender-date-mid">
						{{ bsValue | date: 'EEEE, MMMM d y'}}
					</div>
					<div class="service-calender-date-rgt" *ngIf="!disableNext">
						<a (click)="nextDate()"><img src="assets/images/cal-ar-rgt.png" alt="right"></a>
					</div>
					<div class="service-calender-date-rgt disabled" *ngIf="disableNext">
						<a><img src="assets/images/cal-ar-rgt.png" alt="right"></a>
					</div>
					<!-- <div class="service-calender-date-lft">
						<a (click)="previousDate()"><img src="assets/images/cal-ar-lft.png" alt="left"></a>
					</div>
					<div class="service-calender-date-mid">
						{{ bsValue | date: 'EEEE, MMMM d y'}}
					</div>
					<div class="service-calender-date-rgt">
						<a (click)="nextDate()"><img src="assets/images/cal-ar-rgt.png" alt="right"></a>
					</div> -->
				</div>
				<div class="bokk-apt-times mb-10" *ngIf='commonTime'>
					<ul class="clearfix">
						<li *ngFor="let searchData of displayTimes; let i = 'index'"
							[ngClass]="{ 'row-selected': (selectedIndex === i) }"><a
								(click)="scheduleButtonShow(searchData, i)">{{searchData.time}}</a></li>
						<div class="error-msg-box mb-20" *ngIf="timealert!=''">{{timealert}}</div>
					</ul>
				</div>
				<p *ngIf="commonTime.length === 0 && showText" class="text-center"><a class="find-apt tbl-txt"
						(click)="findNextAppt()">Find next available appointment...</a></p>
				<div class="error-msg-box mb-20" *ngIf="commonTime.length === 0 && onlineBookingEr">
					<p>{{onlineBookingEr | translate}}</p>
				</div>
				<div class="mb-20">
					<div class="text-center">
						<div class="back-prev clearfix pull-left">
							<span class="pull-left c-pointer" *ngIf='commonTime.length > 0 && showLess'
								(click)="lessTimes()">&#x3c;
								{{'ONLINE_BOOK.BACK'| translate }} </span>
						</div>
						<div class="back-prev clearfix pull-right">
							<span class="pull-right c-pointer" *ngIf='showMore'
								(click)="moreTimes()">{{'ONLINE_BOOK.MOREE'| translate }}
								></span>
						</div>
					</div>
					<div class="text-center clearfix" *ngIf="!apptId || isRebookAppt">
						<button class="blue-btn-bka" (click)="bookAppointment('findappt')"
							*ngIf='showScheduleButton'>{{'ONLINE_BOOK.BOOK'| translate }}
						</button>
					</div>
					<div class="text-center clearfix" *ngIf="apptId && !isRebookAppt">
						<button class="blue-btn-bka" (click)="bookAppointment('modify')" *ngIf='showScheduleButton'>
							{{'BOOKSTANDING_APPT.BOOK'| translate }}
							<!--Appt Changes-->
						</button>
						<!-- <span class="pull-right c-pointer mt-10"
							*ngIf='showScheduleButton && apptSearchData.length!==0'>MORE ></span> -->
					</div>
				</div>
				<div class="mt-20 mb-20 font-10 text-center wt-clr">
					{{'ONLINE_BOOK.DURATIONS_AND_PRICING_ARE_ESTIMATED'| translate }}
				</div>
			</div>
			<!-- End of Search Results div-->

		</div>
		<!-- Start of confirmation booking appointment div -->
		<div *ngIf="confirmationDiv">
			<div class="service-select-bkapt text-center">
				<div class="font-24 font-bold m-0">{{'ONLINE_BOOK.THANK_YOU_FOR_BOOKING'| translate }}</div>
				<div class="service-calender-date-mid">
					{{confirmTime}} {{ bsValue | date: 'EEEE, MMMM d y'}}
				</div>
				<div *ngFor="let obj of listingName">
					<p class="font-18 font-bold m-0">{{obj.serviceName}} - {{obj.wrkName}}</p>
					<p class="font-18 font-italic m-0">
						<span *ngIf="showTotalPrice">{{obj.price | currency: "USD": "symbol-narrow"}}</span> <span
							*ngIf="showTotalDuration"> {{obj.duration}} minutes</span>
						<span *ngIf="obj.description && obj.description.length > 35 && descShow">
							{{obj.description.slice(0,35)}} <span class="c-pointer"
								(click)="descShow = false;">{{'ONLINE_BOOK.MORE'| translate }}</span>
						</span>
						<span *ngIf="obj.description && !(obj.description.length > 35 && descShow)">
							{{obj.description}}
						</span>
					</p>

					<!-- *ngIf="obj.duration && obj.price" -->
				</div>
			</div>
			<!-- 
			<div class="mb-15">
				<a class="olb-lg-br-btn olb-lg-br-btn-large" (click)="bkNowAppt()">
					<span>Book Appointment</span>
				</a>
			</div> -->
			<div class="mb-15">
				<a class="olb-lg-br-btn olb-lg-br-btn-large" [routerLink]="['/online/myaccount']">
					<span>{{'ONLINE_BOOK.MY_ACCOUNT'| translate }}</span>
				</a>
			</div>
			<ul class="text-center btm-btns">
				<li>
					<button type="button" class="text-btn text-center" (click)='logout()'>
						<span>{{'ONLINE_BOOK.LOGOUT'| translate }}</span>
					</button>
				</li>
			</ul>
		</div>
		<!-- End of confirmation booking appointment div -->
		<div *ngIf="searchAgain">
			<div class="error-msg-box mb-20" *ngIf="searchFail">
				<p>{{searchFail | translate}}</p>
			</div>
			<div class="mb-15">
				<a class="olb-lg-br-btn olb-lg-br-btn-large" (click)="bkNowAppt()">
					<span>{{'ONLINE_BOOK.SEARCH_AGAIN'| translate }}</span>
				</a>
			</div>
			<div class="mb-15">
				<a class="olb-lg-br-btn olb-lg-br-btn-large" [routerLink]="['/online/myaccount']">
					<span>{{'ONLINE_BOOK.MY_ACCOUNT'| translate }}</span>
				</a>
			</div>
			<ul class="text-center btm-btns">
				<li>
					<button type="button" class="text-btn text-center" (click)='logout()'>
						<span>{{'ONLINE_BOOK.LOGOUT'| translate }}</span>
					</button>
				</li>
			</ul>
		</div>
		<!-- Start of payment details div -->
		<div *ngIf="paymentDetails" class="mt-20">
			<div class="">
				<div class="">
					<div class="clear-fix">
						<div class="error-msg-box mb-20" *ngIf="depositAlert!=''">{{depositAlert}}</div>
						<div class="error-msg-box mb-20" *ngIf="onlineBookingErr">
							<p>{{onlineBookingErr | translate}}</p>
						</div>
						<div class="form-group form-group-olb">
							<input type="text" [(ngModel)]="clientFirstName" (keyup)="clearErr()" (click)="clearErr()"
								class="form-control form-control-olb">
							<label
								class="olb-new-label olb-new-label-center text-uppercase">{{'ONLINE_BOOK.CARD_HOLDER_FIRST_NAME'| translate }}
							</label>
						</div>
						<div class="form-group form-group-olb">
							<input type="text" [(ngModel)]="clientLastName" (keyup)="clearErr()" (click)="clearErr()"
								class="form-control form-control-olb">
							<label
								class="olb-new-label olb-new-label-center text-uppercase">{{'ONLINE_BOOK.CARD_HOLDER_LAST_NAME'| translate }}
							</label>
						</div>
						<div class="form-group form-group-olb">
							<input type="text" [(ngModel)]="clientEmailAddress" (keyup)="clearErr()"
								(click)="clearErr()" class="form-control form-control-olb">
							<label
								class="olb-new-label olb-new-label-center text-uppercase">{{'ONLINE_BOOK.CARD_HOLDER_EMAIL_ADDRESS'| translate }}
							</label>
						</div>
						<div class="form-group form-group-olb">
							<input type="text" [(ngModel)]="cardNumber" (keyup)="clearErr()" (click)="clearErr()"
								class="form-control form-control-olb">
							<label
								class="olb-new-label olb-new-label-center text-uppercase">{{'ONLINE_BOOK.CREDIT_CARD_NUMBER'| translate }}</label>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group form-group-olb">
									<input type="text" [(ngModel)]="cvv" (keyup)="clearErr()" (click)="clearErr()"
										class="form-control form-control-olb">
									<label
										class="olb-new-label olb-new-label-center text-uppercase">{{'CREATE_TOKEN.CVV'| translate }}</label>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group form-group-olb">
									<input type="text" [(ngModel)]="MailingPostalCode" (keyup)="clearErr()"
										(click)="clearErr()" class="form-control form-control-olb">
									<label
										class="olb-new-label olb-new-label-center text-uppercase">{{'SETUPCOMPANY.POSTAL_CODE'| translate }}
									</label>
								</div>
							</div>
						</div>
						<div class="form-group form-group-olb clearfix row">
							<div class="col-md-4 col-sm-4 text-left pr-0">
								<span
									class="font-12 text-uppercase p-0">{{'ONLINE_BOOK.CREDIT_CARD_EXPERIENCE_DATE'| translate }}
								</span>
							</div>
							<div class="col-md-4 col-sm-4">
								<select class="slect-form-new" style="font-size: 12px!important" [(ngModel)]="expMonth"
									(keyup)="clearErr()" (click)="clearErr()">
									<option *ngFor="let month of monthList; let i='index'" value="{{i+1}}">
										{{month | slice:0:8}}
									</option>
								</select>
							</div>
							<div class="col-md-4 col-sm-4 ">
								<select class="slect-form-new" style="font-size: 12px!important" [(ngModel)]="expYear"
									(keyup)="clearErr()" (click)="clearErr()">
									<option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="mt-30 mb-30 text-center">
						<button class="blue-btn-bka m-0" *ngIf="paymentDetails" (click)="makePayment()">
							{{'ONLINE_BOOK.BOOK_APPT'| translate }}
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End of payment details div -->
	</div>
</div>
<div bsModal #serviceNotesModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static', keyboard: false}"
	tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm" style="width: 590px;">
		<div class="modal-content">
			<table>
				<tbody>
					<tr>
						<td style="padding: 10px;">
							<img src="assets/images/declinedIcon.png">
						</td>
						<td>
							<div id="loginMessageId">
								{{serviceNotes}}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="modal-footer">
				<table>
					<tbody>
						<tr>
							<td>
								<button type="button" class="cancel-btn"
									(click)="popOk()">{{'ONLINE_BOOK.OK'| translate }}</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<input type="hidden" id="deleteApptId" (click)="deleteAppt()">