<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row d-flex">
                <div class="col-sm-4 col-md-4 ticket-border-right ">
                    <div class="row mt-20">
                        <div class="col-md-12">
                            <label class="mt-5 label-inline">{{ 'COMMON.TICKET' | translate }}</label>

                            <input type="text" [(ngModel)]="ticketName"
                                (keyup)="getTicketDetailsReport('', 'searchNum');"
                                (keyup.enter)="getTicketDetailsReport('', 'searchNum')"
                                class="datefield w-100 ticket-field" maxlength="6"
                                onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                (click)="clear()">

                            <button type="button" (click)="getTicketDetailsReport('', 'searchNum');clear()"
                                class="btn btn-primary" style="width: 80px;">
                                {{'BUTTON.SEARCH' | translate}} </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-3 col-md-offset-1 text-right res-tleft">
                            <label>{{'COMMON.BEGIN_DATE'| translate}}</label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <input type="text" value="{{ startDate | date:'MM/dd/y'}}" bsDatepicker
                                [(bsValue)]="startDate" [(ngModel)]="startDate" [bsConfig]="datePickerConfig"
                                class="datefield w-100" (ngModelChange)="getTicketDetailsReport('', 'searchDate')"
                                (click)="clear()">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-3 col-md-offset-1 text-right res-tleft">
                            <label>{{'COMMON.END_DATE'| translate}}</label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <input type="text" value="{{ endDate | date:'MM/dd/y'}}" bsDatepicker [(bsValue)]="endDate"
                                [(ngModel)]="endDate" [bsConfig]="datePickerConfig" class="datefield w-100"
                                (ngModelChange)="getTicketDetailsReport('', 'searchDate')" (click)="clear()">
                        </div>
                    </div>
                    <p class="red" style="text-align:center;"> {{SdateEdateError | translate}}</p>
                    <div class="row mt-20">

                        <div class="col-md-12 col-sm-12 text-center">
                            <button type="button" (click)="getTicketDetailsReport('today', 'searchDate');clear()"
                                class="btn btn-primary" style="width: 100px;">
                                {{'TICKET_DETAILS.TODAY'| translate}} </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 dropwidth">
                    <div class="ticketselect mt-20">
                        <select class="select-new-trans" [(ngModel)]="sortField"
                            (change)="sortingField($event.target.value)">
                            <option *ngFor="let sortfieldlist of sortfieldList" value="{{sortfieldlist.option}}">
                                {{sortfieldlist.option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="mt-20 res-mt-15">
                <hr class="mt-30 mb-30" />
                <div class="row mt-20 res-mt-15">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{'COMMON.DATE'| translate}}</th>
                                        <th class="thcss">{{'POS_DEVICES.DRAWER'| translate}}</th>
                                        <th class="thcss">{{'TICKET_DETAILS.CASH_IN_OR_OUT'| translate}}</th>
                                        <th class="thcss">{{'COMMON.AMOUNT'| translate}}</th>
                                        <th class="thcss">{{'TICKET_DETAILS.TRANSACTION_BY'| translate}}</th>
                                        <th class="thcss">{{'TICKET_DETAILS.TO_AND_FROM'| translate}}</th>
                                        <th class="thcss">{{'TICKET_DETAILS.REASON'| translate}}</th>
                                    </tr>
                                    <tr *ngFor="let cashInOutObj of cashInOutdata">
                                        <td>{{cashInOutObj.createdDate[0] | date: 'M/dd/yyyy '}}</td>
                                        <td>{{cashInOutObj.Drawer_Name__c}} {{cashInOutObj.Drawer_Number__c}}</td>
                                        <td>{{cashInOutObj.Type__c}}</td>
                                        <td align="right">
                                            <span *ngIf="cashInOutObj.Type__c === 'Cash Paid In'">
                                                {{cashInOutObj.Amount__c | number: '1.2-4'}}</span>
                                            <span
                                                *ngIf="cashInOutObj.Type__c === 'Cash Paid Out'">{{cashInOutObj.Amount__c | number: '1.2-4'}}</span>
                                        </td>
                                        <td>{{cashInOutObj.Transaction_By__c}}</td>
                                        <td *ngIf="cashInOutObj.From__c">{{cashInOutObj.From__c}}</td>
                                        <td *ngIf="cashInOutObj.To__c">{{cashInOutObj.To__c}}</td>
                                        <td>{{cashInOutObj.Reason__c}}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row mt-20 res-mt-15">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{'COMMON.DATE'| translate}}</th>
                                        <th class="thcss">{{'COMMON.TICKET'| translate}}</th>
                                        <th class="thcss">{{'COMMON.CLIENT'| translate}} </th>
                                        <th class="thcss">{{'COMMON.SERVICE'| translate}}</th>
                                        <th class="thcss">{{'COMMON.PRODUCT'| translate}}</th>
                                        <th class="thcss">{{'TICKET_DETAILS.OTHER'| translate}} </th>
                                        <th class="thcss">{{'TICKET_DETAILS.INCLUDE_TICKET'| translate}} </th>
                                        <th class="thcss">{{'COMMON.TAX' | translate}}</th>
                                        <th class="thcss">{{'COMMON.TOTAL'| translate}} </th>
                                        <th class="thcss">{{'TICKET_DETAILS.PAYMENT_TYPE'| translate}}</th>
                                    </tr>
                                    <ng-container *ngIf="apptData.length > 0">
                                        <tr *ngFor='let data of apptData'>
                                            <td> {{data.disaplayDate[0]}}</td>
                                            <td class="tbl-txt" style="text-decoration: underline;"
                                                *ngIf="data.Status__c == 'Checked In'"><a style="color:white;"
                                                    [routerLink]="['/checkout/'+ data.appId]">{{data.Name}}</a></td>
                                            <td class="tbl-txt" style="text-decoration: underline;"
                                                *ngIf="data.Status__c == 'Pending Deposit'"><a style="color:white;"
                                                    [routerLink]="['/checkout/'+ data.appId]">{{data.Name}} </a></td>
                                            <!-- <td class="tbl-txt" style="text-decoration: underline;" [routerLink]="['/completedticket/'+ data.appId]" *ngIf="data.Status__c.trim() == 'Complete'">{{data.Name}}</td> -->
                                            <td class="tbl-txt" style="text-decoration: underline;"
                                                *ngIf="data.Status__c.trim() == 'Complete'"><a style="color:white;"
                                                    [routerLink]="['/completedticket/'+ data.appId]"> {{data.Name}}</a>
                                            </td>
                                            <td [routerLink]="['/client/edit/' + data.Client__c]"
                                                [queryParams]="{ actionMethod: 'ticketDetail'}"
                                                style="text-decoration: underline;cursor:pointer;"
                                                *ngIf="data.FullName !== null">{{data.FullName}}</td>
                                            <td *ngIf="data.FullName === null">{{'TICKET_LIST.NO_CLIENT'| translate}}
                                            </td>
                                            <td>{{data.Service_Sales__c | currency:"USD":"symbol-narrow"}}</td>
                                            <td>{{data.Product_Sales__c | currency:"USD":"symbol-narrow"}}</td>
                                            <td>{{data.Other_Sales__c | currency:"USD":"symbol-narrow"}}</td>
                                            <td>{{data.Included_Ticket_Amount__c | currency:"USD":"symbol-narrow"}}</td>
                                            <td>{{data.TotalTax | currency:"USD":"symbol-narrow"}}</td>
                                            <td>{{data.Ticket_Total__c | currency:"USD":"symbol-narrow"}}</td>
                                            <td>{{data.Abbreviation__c}}</td>
                                        </tr>
                                    </ng-container>
                                    <tr>
                                        <td>{{'COMMON.TOTAL'| translate}}</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>{{serviceTotal | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{productTotal | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{otherTotal | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{totalInclude | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{taxamount | currency:"USD":"symbol-narrow"}}</td>
                                        <td>{{totalTotal | currency:"USD":"symbol-narrow"}}</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>