.setsubcont {
    margin-right: 8%;
}
#wrapper_setup_new, a{
    color: white;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email], .setsubcont select{
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus{
    color: black;
}
.word-break {
    word-break: break-all!important;
}
.setsubcont input[type=number]{
    padding: 5px 1px 5px 6px;
}
.fa-print {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}
.align-right{
    float: right;
}
@media (device-width: 768px){
    .table-bordered-light {
        font-size: 12px;
    }
    .setsubcont {
        margin-right: 10%;
    }
}
@media (device-width: 1024px){
    .table-bordered-light {
        font-size: 12px;
    }
    .setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email] {
        width: 90%;
    }
}
