<div id="wrapper_setup_new">
	<app-header [newMenu]="'noNav'"></app-header>
	<section id="inner_cont" class="setsubcont">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mt-40 {{disabledClass}}">
					<div class="table-responsive">
						<table class="table table-bordered-white">
							<tbody>
								<tr class="white">
									<td colspan="3" valign="middle" height="60" style="padding-left: 10px;">
										<input id="c1" type="checkbox" class="pull-left" (click)='showList()'
											[(ngModel)]="showCheck"> &nbsp;&nbsp;
										<label for="c1"
											class="c1">{{'PURCHASE_ORDERS.SHOW_CLOSED_POS'| translate }}</label>
									</td>
								</tr>
								<tr class="white">
									<td>{{'PURCHASE_ORDERS.ORDER_DATE'| translate }}</td>
									<td>{{'PURCHASE_ORDERS.SUPPLIER'| translate }}</td>
									<td>{{'COMMON.STATUS'| translate }}</td>
								</tr>
								<tr *ngFor='let orderData of purchaseOrdersList'
									[ngClass]="{ hideinactive: orderData.Status__c == 'Closed' }"
									[class.showinactive]="showInactiveData">
									<td class="tbl-txt word-break" (click)="showData(orderData)" align="center">{{orderData.Order_Date__c| date
										:'MM/dd/yyyy'}}</td>
									<td class="word-break">{{orderData.supplierName}}</td>
									<td>{{orderData.Status__c}}</td>
								</tr>
								<tr>
									<td align="center" colspan="3">
										<a (click)="addNew()" class="white">
											<i class="fa fa-plus"></i>{{'BUTTON.NEW' | translate}}</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- ------------------AddDiv--------------- -->
				<div class="col-md-8 pdgl30 mt-40" *ngIf='addDiv == true' id="dvContents1">
					<button class="btn btn-gradient-txt align-right" *ngIf="productsList.length > 0" type="button" (click)="printDiv1()">
						<span style="font-size: 14px">
							<i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
					</button>
					<h1>{{'PURCHASE_ORDERS.PURCHASE_ORDER_DETAIL'| translate }}</h1>
					<div>
						<p class="red"> {{error | translate}}</p>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.SUPPLIER'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<select [(ngModel)]="selSupl"
								(change)="onChangeSuppliers($event.target.value);uniqnessWithSupplierAndOrderDate()"
								(click)="clearErrMsg()" (keyup)="clearErrMsg()">
								<option value="">{{'PURCHASE_ORDERS.SELECT_SUPPLIER'| translate }}</option>
								<option *ngFor="let supData of suppliersData; let i = 'index'" value='{{supData.Id}}'
									id="supData{{i}}">{{supData.Name
									| slice:0:25}}{{supData.Name.length > 25 ? '...' : ''}}</option>
							</select>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.ORDER_DATE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<input type="text" maxlength="10" (bsValueChange)="orderDateChange()"
								(click)="clearErrMsg()" (keyup)="clearErrMsg()" value="{{ bsValue | date:'MM/d/y'}}"
								bsDatepicker [(bsValue)]="bsValue" [bsConfig]="datePickerConfig" class="datefield">
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.NOTE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<input maxlength="140" [(ngModel)]="note" [attr.value]="note" type="text" />
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="red">
							{{ordrQtyErr | translate }}
						</div>
						<div class="red">
							{{cosstErr | translate }}
						</div>
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-bordered-light">
									<tbody>
										<tr class="grey_th">
											<td>{{'PURCHASE_ORDERS.SKU'| translate }}</td>
											<td>{{'MANAGE_INVENTORY.PRODUCT_NAME'| translate }}</td>
											<td>{{'COMMON.SIZE'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ON_HAND_QTY'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ORDER_QTY'| translate }}</td>
											<td>{{'COMMON.COST_EACH'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ORDER_COST'| translate }}</td>
											<td></td>
										</tr>
										<tr *ngFor="let productData of productsList; let i='index'">
											<td>{{productData.Product_Code__c}}</td>
											<td>{{productData.Name}}</td>
											<td>{{productData.Size__c}}</td>
											<td>{{productData.Quantity_On_Hand__c}}
												<span title="{{productData.purchaseDesc}}"
													*ngIf="productData.Order_Date__c">
													<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
												</span>
											</td>
											<td>
												<input type="text" (keyup)="updateTotOrdCst()"
													(keypress)="clearErrMsg();keyPress1($event)" (keyup)="clearErrMsg()"
													[(ngModel)]="productData.orderQty"
													[attr.value]="productData.orderQty" maxlength="6"
													onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 46 || key > 57 ) return false; else return true;" />
											</td>
											<td>
												<input type="text" (keyup)="updateTotOrdCst()"
													(keypress)="clearErrMsg()" (keyup)="clearErrMsg()"
													[(ngModel)]="productData.Standard_Cost__c"
													[attr.value]="productData.Standard_Cost__c"
													onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 46 || key > 57 ) return false; else return true;" />
											</td>
											<td>{{productData.Standard_Cost__c * productData.orderQty | currency:'USD':"symbol-narrow"}}
											</td>
											<td>
												<a (click)="removeOne(i)" data-toggle="tooltip" data-placement="top"
													title="Remove">
													<span class="del">
														<i class="fa fa-minus" aria-hidden="true"
															style="padding-right: 3px;"></i>
													</span>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row mt-20 res-mt-15" *ngIf='resultDiv == true'>
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.ADD_SKU'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<input [(ngModel)]="searchKeyWord" [attr.value]="searchKeyWord"
								(keyup.enter)="getProductsBySupplier()" type="text"
								(keypress)="keyPress2($event);clearErrMsg();" (keyup)="clearErrMsg()" maxlength="13" />
							<button type="button" class="btn btn-primary" (click)="getProductsBySupplier()">
								<i class="fa fa-binoculars" aria-hidden="true"></i>{{'BUTTON.SEARCH'| translate }}
							</button>
							<div>
								<p class="red"> {{searchError | translate}}</p>
								<p class="red"> {{message | translate}}</p>
							</div>
						</div>
					</div>

					<div class="row mt-20 res-mt-15" *ngIf='disableSelect == true'>
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'INVENTORY_USAGE.SELECT'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<select [(ngModel)]="prdListMdl" (change)="productOnChange($event.target.value)"
								(click)="clearErrMsg()">
								<option *ngFor="let proData of productsListForSelect; let i = 'index'"
									value='{{proData.Product_Code__c}}'>{{proData.Name}}
									{{proData.Size__c}} {{proData.Unit_of_Measure__c}}</option>
							</select>
							<button type="button" class="btn btn-primary" (click)="searchOnSelect()"
								style="margin-top: 13px;">{{'BUTTON.SELECT'|
								translate }}</button>
						</div>
					</div>
					<hr />
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.TOTAL_ESTIMATE_ORDER_COST'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{totalEstimatedOrderCost | number:'1.2-2'}}</label>
						</div>
					</div>
					<div class="row mt-30 res-mt-15 text-center res-tleft">
						<div class="col-sm-10">

							<button type="button" class="save-btn" (click)="saveOrders()"
								*ngIf="productsList.length > 0">{{'BUTTON.SAVE'|
								translate }}</button>
							<button type="button" class="cancel-btn"
								(click)="cancel()">{{'BUTTON.CANCEL'| translate }}</button>
							<button type="button" class="remove-btn" (click)="removeAll()"
								*ngIf="productsList.length > 0">{{'BUTTON.REMOVE_ALL_ITEMS'|
								translate }}</button>
						</div>
					</div>
				</div>
				<!-- -----------------EditDiv-------------- -->
				<div class="col-md-8 pdgl30 mt-40" *ngIf='editDiv == true'>
					<h1>{{'PURCHASE_ORDERS.PURCHASE_ORDER_DETAIL'| translate }}</h1>
					<div class="table-responsive">
						<div class="col-md-12 col-sm-12 ml-bottom">
							<button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
								<span style="font-size: 14px">
									<i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
							</button>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.SUPPLIER'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{supplierName | slice:0:30}}{{supplierName.length > 30 ? '...' : ''}}</label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.ORDER_DATE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{ bsValue | date:'MM/d/y'}}</label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.NOTE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<input maxlength="140" [(ngModel)]="note" type="text" />
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.RECEIVED_DATE'| translate }}</label>
						</div>
						<div class="col-sm-7" *ngIf='recievedEnable == false'>
							<label></label>
						</div>
						<div class="col-sm-7" *ngIf='recievedEnable == true'>
							<input type="text" maxlength="10" (click)="clearErrMsg()" (keyup)="clearErrMsg()"
								value="{{ receivedDate | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="receivedDate"
								[bsConfig]="datePickerConfig" class="datefield">
							<div>
								<p class="red"> {{error2 | translate}}</p>
							</div>
						</div>
					</div>
					<div class="row mt-20 res-mt-15" *ngIf='recievedEnable == false'>
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.RECEIVED_BY'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label></label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15" *ngIf='recievedEnable == true'>
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.RECEIVED_BY'| translate }}
								<span class="red">*</span>
							</label>
						</div>
						<div class="col-sm-7">
							<label>
								<input type="text" maxlength="20" (click)="clearErrMsg()" (keyup)="clearErrMsg()"
									[(ngModel)]="recievedBy">
							</label>
							<div>
								<p class="red"> {{error1 | translate}}</p>
							</div>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="red">
							{{editOrdrQtyErr | translate }}
						</div>
						<div class="red">
							{{editCostError | translate }}
						</div>
						<div class="red">
							{{editRcvdError | translate }}
						</div>
						<div class="red">
							{{editCostEachCondErr | translate }}
						</div>
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-bordered-light">
									<tbody id="tableContentId">
										<tr class="grey_th">
											<td>{{'PURCHASE_ORDERS.SKU'| translate }}</td>
											<td>{{'MANAGE_INVENTORY.PRODUCT_NAME'| translate }}</td>
											<td>{{'COMMON.SIZE'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ON_HAND_QTY'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ORDER_QTY'| translate }}</td>
											<td>{{'COMMON.COST_EACH'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ORDER_COST'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.RECEIVED_QTY'| translate }}</td>
										</tr>
										<tr *ngFor='let productData of productsList'>
											<td>{{productData.Product_Code__c}}</td>
											<td>{{productData.Name}}</td>
											<td>{{productData.Size__c}}</td>
											<td>{{productData.Quantity_On_Hand__c}}
												<span title="{{productData.orderInfo}}"
													*ngIf="productData.orderInfo !==''">
													<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
												</span>
											</td>
											<td>
												<input type="text" (keyup)="updateTotOrdCst()"
													(keypress)="clearErrMsg();keyPress1($event)" (keyup)="clearErrMsg()"
													[(ngModel)]="productData.orderQty"
													[attr.value]="productData.orderQty" maxlength="6"
													onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 46 || key > 57 ) return false; else return true;" />
											</td>
											<td>
												<input type="text" (keyup)="updateTotOrdCst()"
													(keypress)="clearErrMsg()" (keyup)="clearErrMsg()"
													[(ngModel)]="productData.Standard_Cost__c"
													[attr.value]="productData.Standard_Cost__c"
													onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 46 || key > 57 ) return false; else return true;" />
											</td>
											<td>{{productData.Standard_Cost__c * productData.orderQty | currency:'USD':"symbol-narrow"}}
											</td>
											<!-- <td>{{productData.Order_Cost__c | currency:'USD':"symbol-narrow"}}</td> -->
											<td *ngIf='recievedEnable == true'>
												<input type="number" [min]="0" (keypress)="clearErrMsg();"
													(keyup)="clearErrMsg();"
													oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
													maxlength="6" [(ngModel)]="productData.Received_Quantity__c"
													[attr.value]="productData.Received_Quantity__c" class=" align-pd"
													onpaste="return false;" />
											</td>
											<td *ngIf='recievedEnable == false'>&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row mt-20 res-mt-15" *ngIf='resultDiv == true'>
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.ADD_SKU'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<input [(ngModel)]="searchKeyWord" type="text" (keyup.enter)="getProductsBySupplier()"
								(keypress)="keyPress2($event);clearErrMsg();" maxlength="13" />
							<button type="button" class="btn btn-primary" (click)="getProductsBySupplier()">
								<i class="fa fa-binoculars"
									aria-hidden="true"></i>{{'BUTTON.SEARCH'| translate }}</button>
							<div>
								<p class="red"> {{searchError | translate}}</p>
								<p class="red"> {{message | translate}}</p>
							</div>
						</div>
					</div>
					<div class="row mt-20 res-mt-15" *ngIf='disableSelect == true'>
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'INVENTORY_USAGE.SELECT'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<select [(ngModel)]="prdListMdl" (change)="productOnChange($event.target.value)"
								(click)="clearErrMsg()">
								<option *ngFor="let proData of productsListForSelect; let i = 'index'"
									value='{{proData.Product_Code__c}}'>{{proData.Name}}
									{{proData.Size__c}} {{proData.Unit_of_Measure__c}}</option>
							</select>
							<button type="button" class="btn btn-primary" (click)="searchOnSelect()"
								style="margin-top: 13px;">{{'BUTTON.SELECT'|
								translate }}</button>
						</div>
					</div>
					<hr />
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.TOTAL_ESTIMATE_ORDER_COST'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{estimateCost | number:'1.2-2'}}</label>
							<!-- <label>{{totalEstimatedOrderCost}}</label> -->
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.TOTAL_ACTUAL_ORDER_COST'| translate }}</label>
						</div>
						<div class="col-sm-7" *ngIf='recievedEnable == true'>
							<label>
								<input type="number" [min]="0" [(ngModel)]="totalActualOrderCost"
									onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 46 || key > 57 ) return false; else return true;">
							</label>
						</div>
					</div>
					<div class="row mt-30 res-mt-15 text-center res-tleft">
						<div class="col-sm-10">
							<button type="button" class="save-btn" *ngIf="productsList.length > 0" (click)="editData()">{{'BUTTON.SAVE'|
								translate }}</button>
							<button type="button" class="cancel-btn"
								(click)="cancel()">{{'BUTTON.CANCEL'| translate }}</button>
							<button type="button" class="order-btn" *ngIf="productsList.length > 0"
								(click)="recieveOrderdItems()">{{'BUTTON.RECEIVE_ORDERED_ITEMS'|
								translate }}</button>
						</div>
					</div>
				</div>
				<!-- ---------closed Div------------ -->
				<div class="col-md-8 pdgl30 mt-40 " *ngIf='closedDiv == true' id='dvContents1'>
					<div class="table-responsive">
						<div class="col-md-12 col-sm-12 ml-bottom">
							<button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv1()">
								<span style="font-size: 14px">
									<i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
							</button>
						</div>
					</div>
					<h1>{{'PURCHASE_ORDERS.PURCHASE_ORDER_DETAIL'| translate }}</h1>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.SUPPLIER'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{closedSupplierName}}</label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.ORDER_DATE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{closedOrederDate | date:'MM/d/y'}}</label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.NOTE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{closedNote}}</label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.RECEIVED_DATE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{closedRecievedDate[0]}}</label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.RECEIVED_BY'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{closedRecievedBy}}</label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-bordered-light">
									<tbody>
										<tr class="grey_th">
											<td>{{'PURCHASE_ORDERS.SKU'| translate }}</td>
											<td>{{'MANAGE_INVENTORY.PRODUCT_NAME'| translate }}</td>
											<td>{{'COMMON.SIZE'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ON_HAND_QTY'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ORDER_QTY'| translate }}</td>
											<td>{{'COMMON.COST_EACH'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ORDER_COST'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.RECEIVED_QTY'| translate }}</td>
										</tr>
										<tr *ngFor='let data of productsList'>
											<td>{{data.Product_Code__c}}</td>
											<td>{{data.Name}}</td>
											<td>{{data.Size__c}}</td>
											<td>{{data.Quantity_On_Hand__c}}
												<span title="{{data.orderInfo}}" *ngIf="data.orderInfo !==''">
													<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
												</span>
											</td>
											<td>{{data.orderQty}}</td>
											<td>{{data.Standard_Cost__c | number:'1.2-2'}}</td>
											<td>{{data.Order_Cost__c | number:'1.2-2'}}</td>
											<td>{{data.Received_Quantity__c}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<hr />
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.TOTAL_ESTIMATE_ORDER_COST'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{closedestimatedCost | number:'1.2-2'}}</label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.TOTAL_ACTUAL_ORDER_COST'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label>{{totalOrderCost | number:'1.2-2'}}</label>
						</div>
					</div>
					<div class="row mt-30 res-mt-15 text-center res-tleft">
						<div class="col-sm-10">
							<button type="button" class="cancel-btn"
								(click)="cancel()">{{'BUTTON.CANCEL'| translate }}</button>
						</div>
					</div>
				</div>
				<!-- ---------closedDiv end------------ -->
				<!-- ---------disableDiv------------ -->
				<div class="col-md-8 pdgl30 mt-40 disable" *ngIf='disableDiv == true'>
					<h1>{{'PURCHASE_ORDERS.PURCHASE_ORDER_DETAIL'| translate }}</h1>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.SUPPLIER'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label></label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.ORDER_DATE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label></label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.NOTE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<!-- <input type="text" /> -->
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.RECEIVED_DATE'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label></label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-sm-3 text-right res-tleft">
							<label>{{'PURCHASE_ORDERS.RECEIVED_BY'| translate }}</label>
						</div>
						<div class="col-sm-7">
							<label></label>
						</div>
					</div>
					<div class="row mt-20 res-mt-15">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-bordered-light">
									<tbody>
										<tr class="grey_th">
											<td>{{'PURCHASE_ORDERS.SKU'| translate }}</td>
											<td>{{'MANAGE_INVENTORY.PRODUCT_NAME'| translate }}</td>
											<td>{{'COMMON.SIZE'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ON_HAND_QTY'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ORDER_QTY'| translate }}</td>
											<td>{{'COMMON.COST_EACH'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.ORDER_COST'| translate }}</td>
											<td>{{'PURCHASE_ORDERS.RECEIVED_QTY'| translate }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<app-rightbar></app-rightbar>
</div>