<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>
                        <b>{{'COMMON.BEGIN_DATE' | translate}}</b>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" bsDatepicker [(ngModel)]='startDate' (ngModelChange)='isGenerate = false'
                        [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>
                        <b>{{'COMMON.END_DATE' | translate}}</b>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" bsDatepicker [(ngModel)]='endDate' (ngModelChange)='isGenerate = false'
                        [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>

                <div class="col-md-7 col-sm-8">
                    <button type="button" class="btn btn-primary" (click)="getPromtionData($event)">
                        <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;{{'BUTTON.GENERATE' | translate}} </button>
                </div>
            </div>
            <div class="row mt-20" *ngIf="isGenerate">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
                <div class="col-md-12">
                    <div *ngFor="let uniq of uniqProName">
                        <h2 class="line-bg">{{uniq['name']}}</h2>
                        <div class="table-responsive" style="padding-left: 5px;padding-top: 5px;">
                            <table class="table2">
                                <thead>
                                    <tr class="ft-bolder">
                                        <th>{{'ACCOUNT_BALANCE.CLIENT_NAME' | translate}}</th>
                                        <th>{{'COMMON.TICKET' | translate}}</th>
                                        <th>{{'REPORTS.DISC_AMOUNT' | translate}}</th>
                                        <th>{{'CHECKOUTEDIT_TICKET.WORKER' | translate}}</th>
                                        <th>{{'REPORTS.TICKET_DATE' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of uniq['data']">
                                        <td>{{data.clientName}}</td>
                                        <td>{{data.Name}}</td>
                                        <td>{{data.discAmount | currency}}</td>
                                        <td>{{data.workerName}}.</td>
                                        <td>{{data.Appt_Date_Time__c}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="line-bolder">{{'REPORTS.TOTAL_PROMOTION_AMOUNT' | translate}}:</span>
                            {{uniq['totalDiscAmount'] | currency}}
                        </div>
                    </div>
                    <br>
                    <span class="line-bolder">{{'REPORTS.GRAND_TOTAL_PROMOTION_AMOUNT' | translate}}:</span> {{grandTotal | currency}}
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>