<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="row mt-20">
                    <div class="col-md-4 col-sm-4 text-right res-tleft">
                        <label>{{'SETUP_INVENTORY_PRODUCTS.PRODUCT_LINE' | translate }}</label>
                    </div>
                    <div class="col-md-7 col-sm-8">
                        <select [(ngModel)]="pdLineId" (ngModelChange)='isGenerate = false' (change)="pdLineListOnChange($event.target.value)">
                            <option *ngFor="let pdline of productLineList; let i='index'" value="{{pdline.Id}}">{{pdline.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;{{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>

            <!-- <hr> -->
            <div class="row mt-20 mr-10" *ngIf="isGenerate">
                <div class="table-responsive" *ngIf="isGenerate">
                    <div class="col-md-12 col-sm-12 ml-bottom">
                        <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                            <span style="font-size: 14px">
                                <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="thcss">{{'MANAGE_INVENTORY.PRODUCT_NAME'| translate }}</th>
                                <th class="thcss">{{'COMMON.SIZE'| translate }}</th>
                                <th class="thcss">{{'MANAGE_INVENTORY.QUANTITY_ON_HAND'| translate }}</th>
                                <th class="thcss">{{'MANAGE_INVENTORY.MINIMUM_QUANTITY'| translate }}</th>
                                <th class="thcss">{{'ONHAND_PRODUCT.AVERAGE_COST'| translate}}</th>
                                <th class="thcss">{{'ONHAND_PRODUCT.ON_HAND_COST'| translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let list1 of productSalesObj">
                                <tr *ngFor="let list of list1">
                                    <td>{{list.Name}}</td>
                                    <td>{{list.Size__c}} &nbsp;{{list.Unit_of_Measure__c !== undefined ? list.Unit_of_Measure__c : ''}}</td>
                                    <td>{{list.Quantity_On_Hand__c}}</td>
                                    <td>{{list.Minimum_Quantity__c}}</td>
                                    <td>{{list.Average_Cost__c | currency:'USD':"symbol-narrow"}}</td>
                                    <td>{{list.On_Hand_Cost__c | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                                <tr class="font-weight">
                                    <td>**{{list1.inventoryGroupName}}</td>
                                    <td>{{list1.size}} </td>
                                    <td>{{list1.totalHand}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{list1.totalHandCost | currency:'USD':"symbol-narrow"}}</td>
                                </tr>
                            </ng-container>
                            <tr class="font-weight">
                                <td>{{'COMMON.TOTAL' | translate}}</td>
                                <td></td>
                                <td>{{totalHand}}</td>
                                <td></td>
                                <td></td>
                                <td>{{totalCost | currency:'USD':"symbol-narrow"}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="thcss">TOTAL</th>
                                <th class="thcss">{{totalSize}}</th>
                                <th class="thcss"></th>
                                <th class="thcss"></th>
                                <th class="thcss"></th>
                                <th class="thcss"></th>
                            </tr>
                        </thead>
                    </table> -->
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>