.mt-top {
    margin-top: 20px;
}

#inner_cont {
    margin-right: 8%;
    color: white;
}

.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}

.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}

/* below two css are used for page name title   */

:host ::ng-deep .wd-al {
    margin-left: 0px!important;
    text-align: left;
}

:host ::ng-deep .text-capitalize {
    text-transform: uppercase;
}

.th-color {
    color: black;
}

/* end of css page name title   */

.btn-gradient-txt .fa-file-archive-o, .fa-print, .fa-cog {
    background: -webkit-linear-gradient(0deg, #16337d 0, #05c9d0 100%);
    background: -moz-linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}

/* The Close Button */

.close {
    width: 30px;
    height: 30px;
    background: #000 !important;
    border-radius: 50%;
    color: #fff !important;
    font-size: 20px !important;
    line-height: 30px !important;
    opacity: 1 !important;
    text-align: center;
    text-shadow: none !important;
    font-weight: normal !important;
    right: -13px;
    top: -10px;
}

.close-list {
    position: relative;
    z-index: 99;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    #inner_cont {
        margin-right: 10%;
    }
    .table>thead>tr>th {
        padding: 8px;
    }
    .thcss {
        font-size: 10px;
    }
    .form_cont table {
        font-size: 11px;
    }
    .ml-5 {
        margin-left: -22px;
    }
    .form_cont_one input[type=text], .form_cont_one input[type=email], .form_cont_one input[type=number], .form_cont_one input[type=password] {
        width: 100% !important;
    }
    .width-align {
        width: 45%;
    }
    .form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password] {
        padding: 5px 5px 5px 5px;
    }
}