<div id="wrapper_setup_new">
  <app-header [newMenu]="'nav'"></app-header>
  <section id="inner_cont">
    <div class="container form_cont" id="dvContents">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row mt-20 res-mt-15">
            <div class="col-md-2 col-sm-2">
              <div class="wt-clr text-right res-tleft mt-10 mb-5">{{'COMPLETED_TICKET.TYPE' | translate}}:</div>
            </div>
            <div class="col-md-4 col-sm-4">
              <select class="select-new-trans" [(ngModel)]="activedropDownvalue"
                (change)="changeActiveDropedown($event.target.value)">
                <option *ngFor="let type of memberType" value="{{type.name}}">{{type.name}}</option>
              </select>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="wt-clr text-right res-tleft mt-10 mb-5">{{'REWARDS.SORT_BY' | translate}}:</div>
            </div>
            <div class="col-md-4 col-sm-4">
              <select class="select-new-trans" [(ngModel)]="dropDownvalue"
                (change)="changeDropedown($event.target.value)">
                <option *ngFor="let name of sortData" value={{name.value}}>{{name.value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <div class="col-md-12 col-sm-12 ml-bottom">
          <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
            <span style="font-size: 14px">
              <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-borderless" style="margin-top:30px">
          <thead>
            <tr>
              <th class="thcss">{{'COMMON.NAME' | translate}}</th>
              <th class="thcss">{{'MEMBER_CHECKIN.MEMBER' | translate}} #</th>
              <th class="thcss">{{'COMPLETED_TICKET.TYPE' | translate}}</th>
              <th class="thcss">{{'COMMON.AMOUNT' | translate}}</th>
              <th class="thcss">{{'CLIENT_EDIT.ACCOUNTS.PLAN' | translate}}</th>
              <th class="thcss">{{'BUTTON.ACTIVE' | translate}}</th>
              <th class="thcss">{{'CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.NEXT_BILL_DATE' | translate}}</th>
            </tr>
          </thead>
          <tr style="color:white" *ngFor="let data of memberShipData">
            <td>{{data.ClientName}}</td>
            <td>{{data.Membership_ID__c}}</td>
            <td>{{data.Name}}</td>
            <td>{{data.Membership_Price__c | currency: "USD": "symbol-narrow"}}</td>
            <td>{{data.Plan}}</td>
            <td *ngIf="data.active"><input type="checkbox" [attr.checked]="data.active" disabled></td>
            <td *ngIf="!data.active"><input type="checkbox" disabled></td>
            <td>{{data.Next_Bill_Date__c[0]}} &nbsp;{{data.Next_Bill_Date__c[1]}}</td>
          </tr>
        </table>
      </div>
      <div class="row mt-20" style="color:white;">
        <div class="col-md-5 col-sm-4 text-right res-tleft">
          <label>{{'ACCOUNT_BALANCE.GENERATED_ON' | translate}} : </label>
        </div>
        <div class="col-md-7 col-sm-8">
          <label>{{genDate[0]}} {{genDate[1]}}</label>
        </div>
      </div>
    </div>

  </section>
  <app-rightbar></app-rightbar>
</div>