<div id="bgOnline"></div>
<div class="olb-main">
  <div class="olb-main-in minh-100">
    <div class="home-top">
      <span (click)="reDirectRoute()" class="tbl-txt"> <i class="fa fa-arrow-left" aria-hidden="true"></i> {{'MY_ACCOUNT.GO_BACK' | translate }}</span>
    </div>
    <div class="client-logo">
      <img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';" class="signup-logo" />
    </div>
    <div class="client-name mt-20 mb-40">
      <div class="new-client-pro-letter">
        <img [src]="newclientPictureFileView" alt="Profile" class="client-name-pic" *ngIf="newclientPictureFileView">
        <strong style="font-size: 40px"
          *ngIf="!newclientPictureFileView">{{ clientInfo.firstname ? clientInfo.firstname[0].toUpperCase() : '' }}</strong>
          <input style="display: none" data-label="Upload" accept="image/*" id="fileUpload" (change)="imageUpload($event)"type="file" />
          <label class="client-edit" for="fileUpload">{{'BUTTON.EDIT' | translate }}</label>
      </div>
      <div class="client-name-right">
        <div class="text-right">
          <b>{{clientInfo['firstname']}} {{clientInfo['lastname']}}</b>
        </div>
        <div class="nav-acount nav-small clearfix">
          <ul class="pull-right">
            <li><a class="font-12 text-uppercase tbl-txt {{divClass[0]}}" (click)="showDiv('info')">{{'MY_ACCOUNT.MY_INFO' | translate }}</a></li>
            <li><a class="font-12 text-uppercase tbl-txt {{divClass[1]}}" (click)="showDiv('notify')">{{'SETUP_CLIENTOPPOINTMENTS.NOTIFICATIONS' | translate }}</a>
            </li>
            <li><a class="font-12 text-uppercase tbl-txt {{divClass[2]}}" (click)="showDiv('password')">{{'CLIENTS.PIN' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="error-msg-box" style="text-align:center;" *ngIf="clientErr">
        <p class="red mb-0"> {{clientErr | translate }} </p>
      </div>
      <div class="error-msg-box" style="text-align:center;" *ngIf="cliImage.error">
        <p class="red mb-0"> {{cliImage?.error| translate }} </p>
      </div>

    <div autocomplete="off" class="staff-cont-rgt form-new" *ngIf="mainDiv">
     
      <div class="form-group form-group-olb">
        <input (input)="clearError()" [maxlength]="40" class="form-control form-control-olb"
          [(ngModel)]="clientInfo.firstname" type="text" placeholder="" maxlength="40">
        <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.FIRST_NAME'| translate }}</label>
      </div>

      <div class="form-group form-group-olb">
        <input (input)="clearError()" [maxlength]="40" class="form-control form-control-olb" type="text"
          [(ngModel)]="clientInfo.lastname" placeholder="" maxlength="40">
        <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.LAST_NAME'| translate }}</label>
      </div>

      <div class="form-group form-group-olb">
        <input (input)="clearError();mailSend(clientInfo.email)" class="form-control form-control-olb" [(ngModel)]="clientInfo.email" type="text"
        placeholder="" maxlength="40">
        <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.EMAIL_ADDRESS'| translate }}</label>
      </div>

      <div class="form-group form-group-olb">
        <input autocomplete="off" class="form-control form-control-olb" [(ngModel)]="clientInfo.mobilePhone" type="text"
          (input)="clearError();mobileSms($event.target.value)" maxlength="13" id="workPhone"
          (keypress)='hyphen_generate_Wphone(clientInfo.mobilePhone)'
          (paste)="pasteNumPhone($event.clipboardData.getData('text/plain'))"
          onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;">
        <label class="olb-new-label olb-new-label-center">{{'ONLINE_CLIENT_ADD.MOBILE_PHONE'| translate }}<span *ngIf="mobileReq">*</span></label>
      </div>
      <div class="form-group form-group-olb">
        <input (input)="clearError()" (keyup)="getLocation()" [(ngModel)]="clientInfo.mailingPostalCode"
          class="form-control form-control-olb" type="text" placeholder="">
        <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.ZIP'| translate }}</label>
      </div>
      <div class="row clearfix">
        <div class="col-xs-6">
          <div class="form-group form-group-olb">
            <select [(ngModel)]="clientInfo.mailingCountry" class="slect-form-new" (keyup)="clearError()"
              (click)=" clearError()" (change)="getCountry($event.target.value);">
              <option value="">{{'CLIENTS.COUNTRY' | translate}}</option>
              <option *ngFor="let mailingcountrieslist of mailingCountriesList; let i='index'"
                value="{{mailingcountrieslist.NAME}}" id="profilePage_timezone_select_option_{{i}}">
                {{mailingcountrieslist.NAME}}
              </option>
            </select>
            <!-- <label class="olb-new-label olb-new-label-center">Mailing Country</label> -->
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group form-group-olb">
            <select class="slect-form-new" [(ngModel)]="clientInfo.mailingState">
              <option value="">{{'CLIENTS.STATES' | translate}}</option>
              <option *ngFor="let stateslist of statesList; let i='index'" value="{{stateslist.STATE}}"
                id="profilePage_timezone_select_option_{{i}}">
                {{stateslist.STATE}}</option>
            </select>
            <!-- <label class="olb-new-label olb-new-label-center">Mailing State</label> -->
          </div>
        </div>
      </div>
      <div class="form-group form-group-olb">
        <input (input)="clearError()" [(ngModel)]="clientInfo.mailingCity" class="form-control form-control-olb"
          type="text" placeholder="">
        <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.CITY'| translate }}</label>
      </div>

      <div class="form-group form-group-olb">
        <input (input)="clearError()" [(ngModel)]="clientInfo.address" class="form-control form-control-olb" type="text"
          placeholder="">
        <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.ADDRESS'| translate }}</label>
      </div>

      <div class="row clearfix">
        <div class="col-xs-6">
          <div class="form-group form-group-olb">
            <select class="slect-form-new" [(ngModel)]="clientInfo.gender">
              <option value=''>{{'BUTTON.GENDER'| translate }}</option>
              <option value="Male">{{'COMMON.MALE'| translate }}</option>
              <option value="Female">{{'COMMON.FEMALE'| translate }}</option>
              <option value="Unspecified">{{'MY_ACCOUNT.UNSPECIFIDE'| translate }}</option>
            </select>
            <!-- <label class="olb-new-label olb-new-label-center">gender</label> -->
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group form-group-olb">
            <input (input)="clearError()" [(ngModel)]="clientInfo.birthDate" class="form-control form-control-olb"
              type="text" placeholder="MM/DD/YYYY">
            <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.BIRTHDATE'| translate }}</label>
          </div>
        </div>
      </div>

    </div>

    <!-- notification Div starts -->
    <div class="" *ngIf="notifyDiv">
      <!-- <div class="new-client-title">
        How would you like us to contact you?
      </div> -->
      <div class="form-group form-group-olb">
        <input (input)="clearError();mailSend(clientInfo.email)" class="form-control form-control-olb" [(ngModel)]="clientInfo.email" type="text"
          placeholder="" maxlength="40">
        <label class="olb-new-label olb-new-label-center">{{'CLIENT_LOGIN.EMAIL_ADDRESS'| translate }}</label>
      </div>
      <div class="form-group form-group-olb">
        <input autocomplete="off" class="form-control form-control-olb" [(ngModel)]="clientInfo.mobilePhone" type="text"
          (input)="clearError();mobileSms($event.target.value)" maxlength="13" id="workPhone"
          (keypress)='hyphen_generate_Wphone(clientInfo.mobilePhone)'
          (paste)="pasteNumPhone($event.clipboardData.getData('text/plain'))"
          onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;">
        <label class="olb-new-label olb-new-label-center">{{'COMMON.MOBILE_PHONE'| translate }}</label>
      </div>

      <div class="new-client-chk-info setsubcont">
        <span> <input type="checkbox" [disabled]="!clientInfo.mobilePhone" [checked]="clientInfo.Sms_Consent__c"
            (click)="assaignValues('Sms_Consent__c')"></span> 
            {{'MY_ACCOUNT.BY_CHECKING_THIS_BOX_I_GREAT_MY_PERMISSION_TO'| translate }}<br> {{companyName}} <br> {{'MY_ACCOUNT.TO_SEND_ME_SMS_TEXT_MESSAGE'| translate }}
      </div>

      <div class="mt-20 setsubcont">
        <div class='clearfix d-flex f-wrap check-notify'>
          <div class="check-notify-lft">&nbsp;</div>
          <div class="check-notify-rgt">
            <div class="w-50 font-12 text-left pull-left">{{'COMMON.EMAIL'| translate }}</div>
            <div class="w-50 font-12 text-right pull-left">{{'MY_ACCOUNT.MOBILE'| translate }}</div>
          </div>
        </div>
        <div class='clearfix d-flex f-wrap check-notify'>
          <div class="check-notify-lft">
            <img src="../../../assets/images/new-bell.png" alt="">
            <span>{{'MY_ACCOUNT.BOOKING_NOTIFICATIONS'| translate }}</span>
          </div>
          <div class="check-notify-rgt">
            <input type="checkbox" [disabled]="!clientInfo.email"
              [checked]="clientInfo.Notification_Primary_Email__c"
              (click)="assaignValues('Notification_Primary_Email__c')">

            <input type="checkbox" [disabled]="!clientInfo.mobilePhone"
              [checked]="clientInfo.Notification_Mobile_Phone__c"
              (click)="assaignValues('Notification_Mobile_Phone__c')">
          </div>
        </div>
        <div class='clearfix d-flex f-wrap check-notify'>
          <div class="check-notify-lft">
            <img src="../../../assets/images/appt_remiders.png" alt="">
            <span>{{'MY_ACCOUNT.APPOINTMENT_REMAINDERS'| translate }}</span>
          </div>
          <div class="check-notify-rgt">
            <input type="checkbox" [disabled]="!clientInfo.email" [checked]="clientInfo.Reminder_Primary_Email__c"
              (click)="assaignValues('Reminder_Primary_Email__c')">
            <input type="checkbox" [disabled]="!clientInfo.mobilePhone" [checked]="clientInfo.Reminder_Mobile_Phone__c "
              (click)="assaignValues('Reminder_Mobile_Phone__c')">
          </div>
        </div>
        <div class='clearfix d-flex f-wrap check-notify'>
          <div class="check-notify-lft">
            <img src="../../../assets/images/news.png" alt="">
            <span>{{'MY_ACCOUNT.NEWS_MARKETING'| translate }}</span>
          </div>
          <div class="check-notify-rgt">
            <input type="checkbox" [disabled]="!clientInfo.email" [checked]="clientInfo.Marketing_Primary_Email__c"
              (click)="assaignValues('Marketing_Primary_Email__c')">
            <input type="checkbox" [disabled]="!clientInfo.mobilePhone" [checked]="clientInfo.Marketing_Mobile_Phone__c"
              (click)="assaignValues('Marketing_Mobile_Phone__c')">
          </div>
        </div>
      </div>
      <div class="font-12 wt-clr text-center mt-30">
        <span>{{'MY_ACCOUNT.WE_WILL_NEVER_RENT_OR_SELL_YOUR_CONTACT_INFORMATION'| translate }}</span>
      </div>

    </div>
    <!-- password Div Starts -->
    <div class="newclient-changepsw wt-clr" *ngIf="passwrdDiv">
      <div class="error-msg-box" style="text-align:center;" *ngIf="passwrdErr">
        <p class="red mb-0"> {{passwrdErr | translate }} </p>
      </div>
      <div class="mt-20 mb-30 text-center">
        <span class="font-18">{{'MY_ACCOUNT.CHANGE_YOUR_PASSWORD'| translate }}</span>
      </div>
      <div class="mt-20 mb-30 text-center">
        <span class="font-12"><b>{{clientInfo.email}}</b></span>
      </div>

      <div class="form-group form-group-olb">
        <div class="login-password">
          <input class="form-control form-control-olb"(input)="clearError()" name="password1" type="{{passwordType1}}"
            [(ngModel)]="clientInfo.Password1" placeholder="" maxlength="20">
          <span class="glyphicon {{glyphiconClass1}} login-show-password"
            *ngIf="clientInfo.Password1 && clientInfo.Password1.length > 0" (click)="togglePassword(1);"></span>
        </div>
        <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.ENTER_PASSWORD'| translate }}</label>
      </div>
      <div class="form-group form-group-olb">
        <div class="login-password">
          <input class="form-control form-control-olb" (input)="clearError()" name="Password2" [(ngModel)]="clientInfo.Password2"
            type="{{passwordType2}}" placeholder="" maxlength="20">
          <span class="glyphicon {{glyphiconClass2}} login-show-password"
            *ngIf="clientInfo.Password2 && clientInfo.Password2.length > 0" (click)="togglePassword(2);"></span>
        </div>
        <label class="olb-new-label olb-new-label-center">{{'MY_ACCOUNT.RETYPE_PASSWORD'| translate }}</label>
      </div>

    </div>
    <!-- password div ends -->
    <!-- common Buttons for myaccount  -->
    <div class="mt-40 text-center mb-30">
      <button class="btn btn-new-blue" (click)="reDirectRoute()" type="button"
        style="background:#ff0000 !important; margin-left: 20px; margin-right: 20px;">
        <span class="font-14">
          {{'MY_ACCOUNT.CANCEL'| translate }} </span>
      </button>
      <button class="btn btn-new-blue" type="button" (click)="saveProfile()"
        style="background:#39b54a !important; margin-left: 20px; margin-right: 20px;">
        <span class="font-14">
          {{'MY_ACCOUNT.SAVE'| translate }} </span>
      </button>
    </div>
    <!-- common Buttons for myaccount ends  -->

  </div>
</div>