.label {
    font-weight: none;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: none !important;
    font-weight: 600 !important;
}
.label-css{
    font-family: 'AvenirLTStdRoman';
    font-size: 18px;
    color: #fff;
 }
 .head-bar {
    background: white;
    border: 0 !important;
    color: #2a7186;
    font-size: 24px;
    line-height: 28px;
    padding: 6px 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
    /* margin: 10px 126px 10px 50px; */
    margin: 9px 15px 13px 15px;
    text-transform: uppercase;
 }

.select-bg {
    border: 0 !important;
    width: 100% !important;
    background: url(/assets/images/select-arrow.png) no-repeat calc(100% - 10px) center rgba(255, 255, 255, 0.1) !important;
    color: #fff;
    padding: 4px 25px 4px 15px;
    font-size: 13px;
    line-height: 14px;
    height: 28px;
    background-size: 25px auto !important;
}
.select-bg option {
    background: #2d7aa8 !important;
    color: #fff !important;
    padding: 5px !important;
}
.btn-gradient-txt {
    background: rgba(255, 255, 255, 1);
}
.btns {
    background: rgba(255, 255, 255, 1.0);
    border: 0 !important;
    border-radius: 0px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:5px;
}
.btn-defaults {
    color: #333;
}
.btns {
    outline: none !important;
}
.center-css {
    text-align: center;
}
.btn-align {
    width: 190px;
}

.btn-margin {
    margin:5px 10px;
}


.profile-list-view-txt {
    padding: 20px 30px;
    min-height: 541px;
}

.check-profile-list {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 7px;
    cursor: pointer;
}

.check-profile-list-img {
    width: 61px;
    height: 61px;
    float: left;
    margin-left: -70px;
    font-family: 'Raleway', sans-serif !important;
}

.check-profile-list-img img {
    width: 61px;
    height: 61px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #fff;
}

.check-profile-list-name {
    width: calc(100% - 80px);
    float: right;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #16337d;
    font-family: 'Raleway', sans-serif !important;
    margin-left: 10px;
}

.check-profile-details-in {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.sub-item-service {
    display: table;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    margin-bottom: 15px;
    color: #062675;
}

.drawer-button {
    /* margin-top: -25px;
    /* margin-bottom: -13px;  
    margin-bottom: -22px; */
    padding: 0 15px;
}

/* .text-light .sub-item-service .sub-item1{ } */

.sub-item-service .sub-item1, .sub-item2, .sub-item3 {
    display: table-cell;
    width: auto;
}

.total-charge {
    margin-top: 0;
    /* margin-left: -30px!important; */
}

.merchantDropDown {
    padding: 0 15px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /* margin-left: 51px;
    margin-bottom: -22px;
    margin-top: -12px;
    width: 42%;    */
}

.ml-50 {
    margin-left: -30px;
}

.merchantDropDown select {
    padding: 0 15px;
    height: 27px;
    font-size: 12px;
    line-height: 12px;
    width: 52%!important;
}

.checkoutlist {
    /* margin-top: -12px;
    margin-left: 298px;
    margin-bottom: -9px; */
    /* -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1; */
    padding: 0 15px;
}

.checkoutlist a:hover {
    text-decoration: underline !important;
}

.charge-btn {
    padding-top: 3px;
    padding-bottom: 4px;
    margin-top: 12px;
}

.sub-item-service.desc {
    margin-bottom: 5px;
}

.sub-item-service .sub-item1 span.disc {
    margin-right: 10px;
    text-transform: uppercase;
    padding: 2px 5px 2px 10px;
}

.sub-item-service .sub-item3 {
    text-align: right;
}

.sub-item3 span {
    text-decoration: line-through;
    padding-right: 10px;
}

.sub-item-service .sub-item1, .sub-item3 {
    white-space: nowrap;
    width: 25%;
}

.sub-item-service .sub-item2 {
    border-bottom: 1px solid rgba(231, 234, 242, 1);
}

.sub-item-sub {
    padding: 0 10%;
}

.sub-item-service {
    font-weight: 600;
}

.sub-item-sub .sub-item-service {
    font-weight: 400;
}

.price-total {
    font-size: 22px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 600;
    color: #16337d;
    margin-left: -20px;
}

.form_cont select:focus {
    /* transition: all 0.4s; */
    /* border: none;
    color: inherit;
    background-image: none; */
}

.total {
    font-size: 20px;
    margin-top: 15px;
    color: #16337d;
}
.total-charge {
    margin-top: 0;
    /* margin-left: -30px!important; */
}

.listcharge {
    margin-top: -8px
}
.check-profile-list-name{
    width: calc(100% - 80px);
    /* float: right; */
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #01091d;
    font-family: 'Raleway', sans-serif !important;
    margin-left: 10px;
}
.logo-active {
    cursor: pointer;
    opacity: 1 !important;
}
.logo-inactive {
    cursor: pointer;
    opacity: 0.3 !important;
}
.form_cont {
    border-radius: 5px !important;
    overflow: hidden !important;
    padding-bottom: 33px !important;
    font-size: 15px !important;
    letter-spacing: 1px !important;
}

.profile-list-view-txt {
    padding:20px 0;
    font-size:18px;
}
h4 {
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 1.1;
    font-weight: normal;
    margin: 0;
    padding: 0 0 10px 0;
}

.check-profile-list-img,
.check-profile-list-name {
    font-family: Raleway, sans-serif!important;
    font-weight: normal;
    text-align: center;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.checkoutlist,
.drawer-button,
.merchantDropDown {
    padding: 0 15px
}

.check-profile-list {
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 7px;
    cursor: pointer
}

.check-profile-list-img {
    width: 61px;
    height: 61px;
    float: left;
    margin-left: -70px
}

.check-profile-list-img img {
    width: 61px;
    height: 61px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #fff
}

.check-profile-list-name {
    width: 100%;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 600;
    color: #16337d;
    padding: 20px 0;
}
.check-profile-list-name.text-uppercase {
    padding-top:0;
}
.check-profile-list-name h4 {
    font-size: 18px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.check-profile-details-in {
    max-width: 400px;
    width: 100%;
    margin: 0 auto
}

.sub-item-service {
    display: table;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    margin-bottom: 15px;
    color: #062675;
    font-weight: 600
}

.sub-item-service .sub-item1,
.sub-item2,
.sub-item3 {
    display: table-cell;
    width: auto
}
.listcharge {
    display:inline-block;
    vertical-align: top;
    margin-top:15px;
}
.price-total {
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #16337d;    
    width: 126px;
   text-align: left;
   margin: 3px 0 0 0;
}
hr {
    border:0px;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    display: block;
    height: 3px;
    background:#eee;
}
.total {
    width: 136px;
    display:inline-block;
    vertical-align: top;
    text-align: right;
    font-size: 20px;
    margin-top: 15px;
    color: #16337d;
}

.total-charge {
    margin-top: 0;
    padding-bottom:20px;
}
.sub-item-service .ng-star-inserted {
    display: table;
    width:100%;
}
.merchantDropDown {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.ml-50 {
    margin-left: -30px
}

.merchantDropDown select {
    padding: 0 15px;
    height: 27px;
    font-size: 12px;
    line-height: 12px;
    width: 52%!important
}

.checkoutlist a:hover {
    text-decoration: underline!important
}

.charge-btn {
    padding-top: 3px;
    padding-bottom: 4px;
    margin-top: 12px
}

.sub-item-service.desc {
    margin-bottom: 5px
}

.sub-item-service .sub-item1 span.disc {
    margin-right: 10px;
    text-transform: uppercase;
    padding: 2px 5px 2px 10px
}

.sub-item-service .sub-item3 {
    text-align: right
}

.sub-item3 span {
    text-decoration: line-through;
    padding-right: 10px
}

.sub-item-service .sub-item1,
.sub-item3 {
    white-space: nowrap;
    width: 25%
}
.sub-item3 h4{
    padding:0;
    text-align: right;
}

.sub-item-service .sub-item2 {
    border-bottom: 1px solid rgba(231, 234, 242, 1)
}

.sub-item-sub {
    padding: 0 10%
}

.sub-item-sub .sub-item-service {
    font-weight: 400
}
h4.text-right {
    text-align: right !important;
}
.btns.btn-defaults {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
#wrapper_setup_new {
    padding-right: 90px;
}
.m-left {
    margin-right: 10px;
}
.point-number{
    text-align: center;
    font-size: 20px;
    color: #568e5a;
    font-family: 'AvenirLTStdRoman';
    display: -webkit-inline-box;
}

 