<div class="login-main">
	<div class="login_content">
		<div class="login_logo">
			<img width="300" src="/assets/images/logo.png">
		</div>
		<form class="login_inner">
			<input type="text" placeholder="{{'SETUP_WORKERS_DETAILS.USER_NAME' | translate }}" (keypress)="clear();"
			 [(ngModel)]="userName" name="userName" title="{{'SETUP_WORKERS_DETAILS.USER_NAME_TITLE' | translate }}">
			<div class="login-password">
				<input type="{{passwordType}}" placeholder="{{'COMMON.PASSWORD' | translate }}" (keypress)="clear();" [(ngModel)]="password"
				 autocomplete="on" name="password" title="{{'COMMON.PASSWORD_TITLE' | translate }}">
				<span class="glyphicon {{glyphiconClass}} login-show-password" (click)="togglePassword();" *ngIf="password && password.length > 0"></span>
			</div>
			<input type="submit" (click)="getAuthorised()" class="login-capital" value="{{'LOGIN.LOGIN_LABEL' | translate }}"
			 title="{{'LOGIN.LOGIN_LABEL_TITLE' | translate }}">
			<div class="clearfix"></div>
			<div class="text-danger">{{error | translate}}</div>
			<div class="clearfix"></div>
			<a class="login-forgot-label" (click)="forgotPassword()" title="{{'LOGIN.FORGOT_PASSWORD_TITLE' | translate }}">{{'LOGIN.FORGOT_PASSWORD'
				| translate }}</a>
		</form>
	</div>
	<div class="data-style">
		<span>
			<a class="privacy-anchor" href="https://www.stxsoftware.com/resources/"
		 target="_blank">{{'LOGIN.RESOURCES' | translate }}</a>
		</span> |
		<span>
		<a class="privacy-anchor" href="https://www.stxsoftware.com/contact-us/"
		 target="_blank">{{'LOGIN.CONTACT_US' | translate }} </a>
		</span>
		<p><a class="privacy-anchor" href="https://www.stxsoftware.com"
			target="_blank">{{'LOGIN.STXSOFTWARE' | translate }}</a></p>
	</div>
	<div class="copy-right">
		&copy;{{'LOGIN.STX_BEACON_LLC_RESERVED' | translate }} | <a class="privacy-anchor" href="https://stxsoftware.com/privacy-policy/"
		 target="_blank">{{'LOGIN.PRIVACY' | translate }}</a>
	</div>
</div>
<input type="hidden" (click)="executeQuery()" value="submit">
<input type="hidden" value="stx" id="dbNameId">
<input type="hidden" value="query" id="queryId">