/* .login_wrapper {
	background: #e6f3f8;
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 200px;
} */

.login_content {
	width: 400px;
	margin: 0px auto 0 auto;
	padding: 20px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0px 1px 5px #d5d5d5;
	height: 380px;
	background: #9ed9f5;
}

.login_inner {
	margin-top: 20px;
}

.login_inner input {
	outline: none;
}

.login_inner input[type=text] {
	width: 90%;
	height: 50px;
	padding: 10px;
	margin: 15px 0px;
	background: #f0f0f0;
	border: solid 0px #e8e8e8;
	transition: all 0.4s;
}

.login_inner input[type=password] {
	width: 90%;
	height: 50px;
	padding: 10px;
	margin: 15px 0px;
	background: #f0f0f0;
	border: solid 0px #e8e8e8;
	transition: all 0.4s;
}

.login_inner input[type=submit], .login_inner input[type=button] {
	padding: 15px;
	background: #00adf2;
	color: #fff;
	border: none;
	outline: none;
	width: 90%;
	margin-top: 15px;
}

.login_inner input[type=submit]:hover, .login_inner input[type=button]:hover {
	transition: all 0.4s;
	background: #068cc1;
}

.login_inner input[type=text]:focus, .login_inner input[type=password]:focus {
	background: #f9f9f9;
}

.login_inner {
	text-align: center;
}

.login_logo {
	text-align: center;
}

.error_msg {
	color: #d40000;
	font-size: 13px;
	line-height: 40px;
}

@media screen and (max-width:469px) {
	.login_logo img {
		width: 100%;
	}
	.login_content {
		width: 90%;
	}
}

.login-forgot-label {
	float: right;
	display: block;
	margin: 5px 16px;
	cursor: pointer;
}

.login-password {
	position: relative;
}

.login-show-password {
	display: block;
	right: 30px;
	position: absolute;
	top: 33px;
	cursor: pointer;
}

.login-capital {
	text-transform: uppercase;
}

.copy-right {
	text-align: center;
	color: white;
	position: absolute;
	bottom: 15px;
	width: 100%;
	display: block;
	font-weight: 600;
}
.data-style {
	text-align: center;
	color: white;
	display: block;
	margin-top: 10px;
	font-size: 15px;
}
.privacy-anchor {
	text-anchor: initial;
	color: #ffffff;
}

.privacy-anchor:hover {
	color: #0bfbff;
}

.login-main {
	position: relative;
	min-height: 100vh;
	padding-top: 80px;
	padding-bottom: 50px
}
