<div id="wrapper_setup_new">
	<app-header [newMenu]="'noNav'"></app-header>
	<section id="inner_cont">
		<div class="container form_cont">
			<div class="row mt-20" style="padding:5px;">
				<div class="col-md-12">
					<label>{{'MARKETING.MARKETING_SET' | translate}}</label>
				</div>
				<div class="col-md-12">
					<label>{{'MARKETING.RUN_DATE' | translate}} </label>
				</div>
				<div class="col-md-12">
					<label>{{'MARKETING.ARE_YOU_SURE_WANT_TO_DELETE' | translate}} </label>
				</div>
			</div>

			<div class="text-center mt-10">
				<button type="button" class="cancel-btn"
					[routerLink]="['/marketing/reports']">{{'BUTTON.DELETE' | translate}}</button>
				<button type="button" class="cancel-btn"
					[routerLink]="['/marketing/reports']">{{'BUTTON.CANCEL' | translate}}</button>
			</div>
		</div>
	</section>
	<app-rightbar></app-rightbar>
</div>