<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="bsValue"
                        [bsConfig]="datePickerConfig" class="datefield" [(ngModel)]="startdate" [maxDate]="minDate">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue1 | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="bsValue1"
                        [bsConfig]="datePickerConfig" class="datefield" [(ngModel)]="enddate" [maxDate]="minDate">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                    <div class="col-md-12 col-sm-12 ml-bottom">
                        <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                            <span style="font-size: 14px">
                                <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                        </button>
                    </div>
                </div>
            <hr />
            <div class="row mt-20 res-mt-15 ml-5" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{cmpName}}</th>
                                    <th class="thcss">{{'REPORTS.VISIT_TYPE_OVERVIEW' | translate }}</th>
                                    <th class="thcss"> {{disdate}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="background-color">{{'COMMON.CLIENTS' | translate }}</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'TOTAL_SHEETS.WORKER_NAME' | translate }}</th>
                                    <th class="thcss">{{'VISIT_TYPE_OVERVIEW.RECURRING_CLIENTS' | translate }}</th>
                                    <th class="thcss">{{'VISIT_TYPE_OVERVIEW.NEW_CLIENTS' | translate }}</th>
                                    <th class="thcss">{{'VISIT_TYPE_OVERVIEW.REBOOKED' | translate }}</th>
                                    <th class="thcss">{{'VISIT_TYPE_OVERVIEW.BOOKED_ONLINE' | translate }}</th>
                                    <th class="thcss">{{'VISIT_TYPE_OVERVIEW.NON_SERVICE' | translate }}</th>
                                    <th class="thcss">{{'TOTAL_SHEETS.SERVICE_SALES' | translate }}</th>
                                    <th class="thcss">{{'TOTAL_SHEETS.PRODUCT_SALES' | translate }}</th>
                                    <th class="thcss">{{'VISIT_TYPE_OVERVIEW.NUMBER_OF_TICKETS' | translate }}</th>
                                    <th class="thcss">{{'VISIT_TYPE_OVERVIEW.PRODUCT_PER_TICKET' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let items of allrecord">
                                    <td>{{items.workerName}}</td>
                                    <td>{{items.recurringClients}}</td>
                                    <td>{{items.newClients}}</td>
                                    <td>{{items.rebookedClients}}</td>
                                    <td>{{items.onlineClients}}</td>
                                    <td>{{items.nonServiceClients}}</td>
                                    <td>{{items.serviceSales}}</td>
                                    <td>{{items.productSales}} </td>
                                    <td>{{items.totalNumberOfTickets}}</td>
                                    <td>{{items.totalProductperTicket}}</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="bg-color">
                                    <th>{{'TOTAL_SHEETS.TOTALS' | translate }}</th>
                                    <th>{{totalRecurringClients}}</th>
                                    <th>{{totalNewClients}}</th>
                                    <th>{{totalRebooked}}</th>
                                    <th>{{totalBookedOnline}}</th>
                                    <th>{{totalNonService}}</th>
                                    <th>{{totalServiceSales | number: '1.2-4'}}</th>
                                    <th>{{totalProductSales | number: '1.2-4'}}</th>
                                    <th>{{NumberTickets}}</th>
                                    <th>{{ProductperTicket | number: '1.2-4'}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="background-color">{{'TABS.VISIT_TYPES' | translate }}</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'TOTAL_SHEETS.WORKER_NAME' | translate }}</th>
                                    <th class="thcss" *ngFor="let visitTypes of visitTypesHeader">{{visitTypes}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of visittypeRecord">
                                    <td *ngFor="let data of item">{{data}}</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="bg-color">
                                    <th>{{'TOTAL_SHEETS.TOTALS' | translate }}</th>
                                    <th *ngFor="let data of newVisitTotal">{{data}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>