.table-responsive {
    margin-right: 4%;
    margin-left: 2%;
}
.style-align {
    width:95%;
    border-collapse:collapse;
}
.table-heading-detail{
    width:95%;
    background-color: black; 
    color: white; 
    margin-top:10px;
    font-size: 15px;
    font-weight: bold;
}
.table-style{
    width:95%;
    border: 1px solid #ddd;
}
.form_cont{
    padding-bottom: 35px;
}
#inner_cont{
    color: white; 
}
.form_cont input[type=text] {
    color: white; 
}
.form_cont input[type=text]:focus {
    color: black; 
}
.mt-top{
    margin-top: 6px;
}
.align-right{
    float: right;
}
.ml-bottom {
    margin-bottom: 5px;
}
.fa-print {
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#16337d),to(#05c9d0));
    background: linear-gradient(90deg,#16337d 0,#05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}
/* below two css are used for page name title   */
:host ::ng-deep .wd-al {
     margin-left: 0px!important;
    text-align: left;
}
:host ::ng-deep .text-capitalize {
    text-transform: uppercase;
}
/* end of css page name title   */
@media (max-width: 768px){
	.table-responsive {
        margin-right: 10%;
    }
}
@media (device-width: 1024px){
	.table-responsive {
        margin-right: 6%;
    }
}
