<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont"id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]='bsValue' (ngModelChange)='isGenerate = false' bsDatepicker [(bsValue)]="startDate" (click)="error = ''"
                        [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield" (click)="clearErrorMsgs()" (keyup)="clearErrorMsgs()">
                    <p class="red">{{ error | translate }}</p>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]='bsValue1' (ngModelChange)='isGenerate = false' bsDatepicker [(bsValue)]="endDate" (click)="error = ''"
                        [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="type" (change)="reportTypeOnChange($event.target.value)">
                        <option *ngFor='let obj of reportTypes' value="{{obj}}">{{obj}}</option>
                        <!-- <option>Worker</option> -->
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.WORKER' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8 disabled" *ngIf="showWorkers == true">
                    <select (change)="workerListOnChange($event.target.value)">
                        <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList; let i='index'" value="{{worker.Id}}">{{worker.FullName}}</option>
                    </select>
                </div>

                <div class="col-md-7 col-sm-8" *ngIf="showWorkers == false">
                    <select (change)="workerListOnChange($event.target.value)" (click)="clearErrorMsgs()" (keyup)="clearErrorMsgs()">
                        <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList; let i='index'" value="{{worker.Id+ '$' +worker.FullName}}">{{worker.FullName}}</option>
                    </select>
                    <p class="red">{{ workererror | translate }}</p>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SETUP_INVENTORY_PRODUCTS.PRODUCT_LINE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="pdLineId" (change)="pdLineListOnChange($event.target.value)">
                        <option value="All">{{'WORKER_GOALS.ALL' | translate }}</option>
                        <option *ngFor="let pdline of productLineList; let i='index'" value="{{pdline.Id}}">{{pdline.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="isGenerate">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <ng-container *ngIf="isGenerate">
                <div class="row mt-20 res-mt-15 mr-10">
                    <div class="row mt-20 res-mt-15">
                        <div class="col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="thcss">{{'MANAGE_INVENTORY.PRODUCT_NAME' | translate }}</th>
                                            <th class="thcss">{{'COMMON.SIZE' | translate }}</th>
                                            <th class="thcss">{{'SETUP_INVENTORY_PRODUCTS.UNIT_OF_MEASURE' | translate }}</th>
                                            <th class="thcss">{{'TICKET_SALES_REPORT.APPOINTMENT_OR_TICKETNUMBER' | translate }}</th>
                                            <th class="thcss">{{'PRODUCT_SALES_REPORT.APPT_DATE_AND_TIME' | translate }}</th>
                                            <th class="thcss">{{'PRODUCT_SALES_REPORT.QTY_SOLD' | translate }}</th>
                                            <th class="thcss">{{'SETUP_PACKAGES.DISCOUNTED_PRICE' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableContentId">
                                        <ng-container *ngFor="let prodSalesArrayobj of productSalesObj; let i='index'">
                                            <tr *ngFor="let productSales of prodSalesArrayobj">
                                                <td>{{productSales.productName}}</td>
                                                <td>{{productSales.size}}</td>
                                                <td>{{productSales.Unit_of_Measure__c}}</td>
                                                <td>{{productSales.apptNumber}}</td>
                                                <td>{{productSales.disaplayDate[0]}}  {{productSales.disaplayDate[1]}}  </td>
                                                <td>{{productSales.Qty_Sold__c }}</td>
                                                <td>{{productSales.Net_Price__c | currency:'USD':"symbol-narrow"}}</td>
                                            </tr>
                                            <tr class="thcss">
                                                <th>**{{prodSalesArrayobj[0].sku}}</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>{{prodSalesArrayobj.Net_Price__c | currency:'USD':"symbol-narrow"}}</th>
                                            </tr>
                                        </ng-container>
                                        <tr *ngIf="productSalesObj.length>0">
                                            <th class="thcss">{{'ACCOUNT_BALANCE.SUM_VALUE' | translate}}</th>
                                            <th class="thcss">&nbsp;</th>
                                            <th class="thcss">&nbsp;</th>
                                            <th class="thcss">&nbsp;</th>
                                            <th class="thcss">&nbsp;</th>
                                            <th class="thcss">&nbsp;</th>
                                            <th class="thcss"> {{productNetSalesTotal | currency:"USD":"symbol-narrow"}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="red">{{noDataErr | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>