<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-2 text-right res-tleft">
                    <!-- <label>Select Date</label>
                    <span class="text-danger">*</span> -->
                </div>
                <div class="col-md-7 col-sm-8">
                    <label>{{'CASH_COUNTING.SELECT_DATE' | translate}}</label>
                    <span class="text-danger">*</span>
                    <input type="text" bsDatepicker [maxDate]="maxdate" [(ngModel)]="bsValue" class="datefield" [bsConfig]="datePickerConfig"
                        (ngModelChange)="generateReport(bsValue)">
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                <div class="col-md-11 col-sm-11 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="row mt-20 mr-10 res-mt-15" *ngIf="itemsDisplay">
                <ng-container *ngIf="reportData.length > 0">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{companyName}}</th>
                                        <th class="thcss">{{'REPORT_DAILY_CASH_DRAWER.DAILY_CASH_DRAWER_REPORT' | translate}}</th>
                                        <th class="thcss"> {{sendDate | date: 'MM/dd/yy'}}</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                    <ng-container *ngFor="let report of reportData;let k = index">
                        <div class="col-md-12 mt-20">
                            <ng-container *ngIf="report.cashDrawer">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="thcss">
                                                        <label>{{'REPORT_DAILY_CASH_DRAWER.DRAWER' | translate}} </label>
                                                        <b>{{report['cashDrawer'].Cash_Drawer_Number__c}}</b>
                                                    </th>
                                                    <th class="thcss">
                                                        <label>{{'REPORT_DAILY_CASH_DRAWER.DRAWER_NAME' | translate}}</label>
                                                        <b>{{report['cashDrawer'].Cash_Drawer__c}}</b>
                                                    </th>
                                                    <th class="thcss">
                                                        <label>{{'CASH_COUNTING.OPENING_CASH' | translate}}</label>
                                                        <b>{{report['cashDrawer'].Opening_Cash__c| currency:'USD':"symbol-narrow"}}</b>
                                                    </th>
                                                    <th class="thcss">
                                                        <label> {{'CASH_COUNTING.CLOSING_CASH' | translate}}</label>
                                                        <b>{{report['cashDrawer'].Closing_Cash__c| currency:'USD':"symbol-narrow"}}</b>
                                                    </th>
                                                    <th class="thcss">
                                                        <label>{{'CASH_COUNTING.CASH_OVER_UNDER' | translate}}</label>
                                                        <b>{{report['cashDrawer'].Cash_Over_Under__c| currency:'USD':"symbol-narrow"}}</b>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!report.cashDrawer && report['cashDrawerName']">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="thcss">
                                                        <label>{{'REPORT_DAILY_CASH_DRAWER.DRAWER' | translate}} </label>
                                                        <b>{{report['cashDrawerNumber']}}</b>
                                                    </th>
                                                    <th class="thcss">
                                                        <label>{{'REPORT_DAILY_CASH_DRAWER.DRAWER_NAME' | translate}}</label>
                                                        <b>{{report['cashDrawerName']}}</b>
                                                    </th>
                                                    <th class="thcss">
                                                        <label>{{'CASH_COUNTING.OPENING_CASH' | translate}}</label>
                                                        <b>0.00</b>
                                                    </th>
                                                    <th class="thcss">
                                                        <label> {{'CASH_COUNTING.CLOSING_CASH' | translate}}</label>
                                                        <b>0.00</b>
                                                    </th>
                                                    <th class="thcss">
                                                        <label> {{'REPORT_DAILY_CASH_DRAWER.CASH_OVER_UNDER' | translate}}</label>
                                                        <b>0.00</b>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngFor="let paymentObj of report['paymentsMade']">

                                <div class="col-md-12">
                                    {{'REPORT_DAILY_CASH_DRAWER.TICKET' | translate}}
                                    <b>{{paymentObj[0].apptTicketName}}</b>  {{'ACCOUNT_BALANCE.CLIENT_NAME' | translate}}
                                    <b>{{paymentObj[0].clientName ? paymentObj[0].clientName : 'NO CLIENT'}}</b>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="thcss">{{'REPORT_DAILY_CASH_DRAWER.PAY_MENT' | translate}}</th>
                                                    <th class="thcss">{{'REPORT_DAILY_CASH_DRAWER.AMOUNT' | translate}} </th>
                                                    <th class="thcss">{{'REPORT_DAILY_CASH_DRAWER.RECEIVE_BY' | translate}} </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let paymentdata of paymentObj">
                                                    <td>{{paymentdata.paymentType}}</td>
                                                    <td>
                                                        {{paymentdata.paymentAmount |currency:'USD':"symbol-narrow"}}
                                                    </td>
                                                    <td>{{paymentdata.receivedBy}}</td>
                                                </tr>
                                                <ng-container *ngIf="paymentObj.length > 0">
                                                    
                                                    <tr *ngIf="changeBackAmount[paymentObj[0].apptTicketName+report['cashDrawerNumber']] || changeBackAmount[paymentObj[0].apptTicketName+report['cashDrawerNumber']]>=0">
                                                        <td>{{'ONLINE_GIFT.CHANGE_BACK' | translate}}</td>
                                                        <td [attr.colspan]="2">
                                                            {{-1 * changeBackAmount[paymentObj[0].apptTicketName+report['cashDrawerNumber']] | currency:'USD':"symbol-narrow"}}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="col-md-12" style="margin-bottom: 10px;" *ngIf="report['paymentsMade'].length > 0">
                                <div class="col-md-6 text-left bg-color">
                                    {{'REPORT_DAILY_CASH_DRAWER.DRAWER' | translate}}{{report['cashDrawerNumber']}}  {{'REPORT_DAILY_CASH_DRAWER.TICKET_TOTAL' | translate}}
                                </div>
                                <div class="col-md-6 text-right bg-color">
                                        {{ticketPaymentTot[report['cashDrawerNumber']] | currency:'USD':"symbol-narrow"}}
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="report['cashInOut'].length>0">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="thcss">{{'TICKET_DETAILS.CASH_IN_OR_OUT' | translate}} </th>
                                                <th class="thcss">{{'REPORT_DAILY_CASH_DRAWER.AMOUNT' | translate}} </th>
                                                <th class="thcss">{{'REPORT_DAILY_CASH_DRAWER.TRANSAC_BY' | translate}} </th>
                                                <th class="thcss">{{'TICKET_DETAILS.TO_AND_FROM' | translate}} </th>
                                                <th class="thcss">{{'TICKET_DETAILS.REASON' | translate}} </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of report['cashInOut']">
                                                <td>{{item.Type__c}}</td>
                                                <td>
                                                    <span *ngIf="item.Type__c === 'Cash Paid In'">{{item.Amount__c| currency:'USD':"symbol-narrow"}}</span>
                                                    <span *ngIf="item.Type__c === 'Cash Paid Out'">{{item.Amount__c| currency:'USD':"symbol-narrow"}}</span>
                                                </td>
                                                <td>{{item.Transaction_By__c}}</td>
                                                <td>
                                                    <span *ngIf="item.Type__c === 'Cash Paid In'"> {{item.From__c}}</span>
                                                    <span *ngIf="item.Type__c === 'Cash Paid Out'">{{item.To__c}}</span>
                                                </td>
                                                <td *ngIf="item.Type__c === 'Cash Paid In'">{{item.Reason__c}}</td>
                                                <td *ngIf="item.Type__c === 'Cash Paid Out'">{{item.Reason__c}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-bottom: 10px;"  *ngIf="report['cashInOut'].length>0">
                                <div class="col-md-6 text-left bg-color">
                                    {{'REPORT_DAILY_CASH_DRAWER.DRAWER' | translate}}{{report['cashDrawerNumber']}}  {{'REPORT_DAILY_CASH_DRAWER.CASH_IN_OUT_TOTAL' | translate}}
                                </div>
                                <div class="col-md-6 text-right bg-color">
                                    {{cashInOutTot[report['cashDrawerNumber']] | currency:'USD':"symbol-narrow"}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 text-left bg-color">
                                    {{'REPORT_DAILY_CASH_DRAWER.DRAWER' | translate}}{{report['cashDrawerNumber']}} {{'REPORT_DAILY_CASH_DRAWER.GRAND_TOTAL' | translate}}
                                </div>
                                <div class="col-md-6 text-right bg-color">
                                    {{AmountData[report['cashDrawerNumber']]| currency:'USD':"symbol-narrow"}}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <div class="row mt-20 res-mt-15"> -->



                    <div class="text-center">
                        {{'REPORT_DAILY_CASH_DRAWER.TIPS_LEFT_IN_DRAWER' | translate}}
                        <!-- Tips Left in Drawer do not affect Drawer Totals. -->
                    </div>
                    <div class="text-center">
                        <!-- Tips Paid Out are subtracted from Drawer Totals. -->
                        {{'REPORT_DAILY_CASH_DRAWER.TIPS_PAID_OUT' | translate}}
                    </div>
                </ng-container>
                <ng-container *ngIf="reportData.length === 0">
                    <div class="col-md-12 text-center">
                        {{'REPORT_DAILY_CASH_DRAWER.NO_RESULT_FOUND' | translate}}
                    </div>
                </ng-container>

                <!-- </div> -->
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>