.mr-10,hr{
    margin-right: 9%;
}
.form_cont{
    color: white !important; 
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}
:host ::ng-deep .table .table {
    background-color: none!important;
}
.bg-color{
    background-color:#808080;
    font-weight: bold;
    padding: 5px 9px;
}
.align-right{
    float: right;
}
.ml-bottom {
    margin-bottom: 5px;
}
.fa-print {
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#16337d),to(#05c9d0));
    background: linear-gradient(90deg,#16337d 0,#05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}
/* below two css are used for page name title   */
:host ::ng-deep .wd-al {
    margin-left: 0px!important;
   text-align: left;
}
:host ::ng-deep .text-capitalize {
   text-transform: uppercase;
}
/* end of css page name title   */