<div id="wrapper_setup_new">
	<app-header [newMenu]="'noNav'"></app-header>
	<section id="inner_cont">
		<div class="container form_cont">
			<div class="row mt-20">

				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'SETUP_INVENTORY_PRODUCTS.PRODUCT_LINE' | translate }}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<select (change)="onProductLineChange($event.target.value)">
						<option value="All">{{'SETUP_COMPENSATION_METHODS.ALL' | translate }}</option>
						<option *ngFor="let proLineData of productLinesData; let i = 'index'" id="proLineData{{i}}" value='{{proLineData.Id}}'>{{proLineData.Name}}</option>
					</select>
				</div>
			</div>

			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'MANAGE_INVENTORY.VIEW_OPTIONS' | translate }}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<select [(ngModel)]="viewOption">
						<option value='All'>{{'SETUP_COMPENSATION_METHODS.ALL' | translate }}</option>
						<option *ngFor='let viewOption of viewOptionData'>{{ viewOption.value }}</option>
					</select>
				</div>
			</div>

			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'MANAGE_INVENTORY.INVENTORY_GROUPS' | translate }}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<select (change)="onServiceGroupChange($event.target.value)">
						<option value="All">{{'SETUP_COMPENSATION_METHODS.ALL' | translate }}</option>
						<option *ngFor="let groupData of inventoryGroupsData; let i = 'index'" id="groupData{{i}}" value='{{groupData.inventoryGroupName}}'>{{groupData.inventoryGroupName}}</option>
					</select>
				</div>
			</div>


			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'MANAGE_INVENTORY.SORT_OPTIONS' | translate }}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<select [(ngModel)]="sortOption">
						<option *ngFor="let sortOptData of inventorySortingdata; let i = 'index'" value='{{sortOptData.type}}'>{{sortOptData.type}}</option>
					</select>
				</div>
			</div>

			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					<label>{{'COMMON.SHOW_INACTIVE' | translate }}</label>
				</div>
				<div class="col-md-7 col-sm-8">
					<input type="checkbox" [(ngModel)]="inActive">
				</div>
			</div>

			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					&nbsp;
				</div>
				<div class="col-md-7 col-sm-8">
					<button type="button" class="btn btn-primary" (click)="getProductsBySearch()">{{'BUTTON.SEARCH' | translate }}</button>
				</div>
			</div>
			<div class="red">
				{{error | translate }}
			</div>
			<div class="red">
				{{InventoryErr | translate }}
			</div>
			<div class="row mt-20">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-hover table-bordered form_cont_one">
							<thead>
								<tr>
									<th class="thcss">{{'MANAGE_INVENTORY.SKU' | translate }}</th>
									<th class="thcss">{{'MANAGE_INVENTORY.PRODUCT_NAME' | translate }}</th>
									<th class="thcss" width="10%">{{'COMMON.SIZE' | translate }}</th>
									<th class="thcss">{{'MANAGE_INVENTORY.QUANTITY_ON_HAND' | translate }}</th>
									<th class="thcss">{{'MANAGE_INVENTORY.MINIMUM_QUANTITY' | translate }}</th>
									<th class="thcss">{{'MANAGE_INVENTORY.SUPPLIER_MINIMUM' | translate }}</th>
									<th class="thcss">{{'MANAGE_INVENTORY.STANDARD_COST' | translate }} </th>
									<th class="thcss">{{'COMMON.PRICE' | translate }}</th>
									<th class="thcss">{{'COMMON.ACTIVE' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let productData of productsList; let i = 'index'">
									<td>
										<input type="text" (keypress)="clearErrorMsgs();keyPress($event)" [(ngModel)]="productData.Product_Code__c" maxlength="13" (keyup)="clearErrorMsgs()"
										/>
									</td>
									<td>
										<input type="text" [(ngModel)]="productData.Name" maxlength="80" (click)="clearErrorMsgs()" />
									</td>
									<td>
										<input type="text" (keypress)="clearErrorMsgs();numDecimal($event)" [(ngModel)]="productData.Size__c" style="width:108% !important;"(keyup)="clearErrorMsgs()"/>
										<input type="text" disabled style="width:108% !important;" [(ngModel)]="productData.Unit_of_Measure__c" />
									</td>
									<td>
										<input type="text" [(ngModel)]="productData.Quantity_On_Hand__c"  (keypress)="keyPress1($event)" />
									</td>
									<td>
										<input type="text" [(ngModel)]="productData.Minimum_Quantity__c" (keypress)="clearErrorMsgs();keyPress1($event)" (keyup)="clearErrorMsgs()" />
									</td>
									<td>
										<input type="text" [(ngModel)]="productData.Supplier_Minimum__c" (keypress)="clearErrorMsgs();keyPress1($event)" (keyup)="clearErrorMsgs()"/>
									</td>
									<td>
										<input type="text" [(ngModel)]="productData.Standard_Cost__c" (keypress)="clearErrorMsgs();numDecimal($event)" (keyup)="clearErrorMsgs()"/>
									</td>
									<td>
										<input type="number" step="0.01" min="0" [(ngModel)]="productData.Price__c" (keypress)="clearErrorMsgs();numDecimal($event)" (keyup)="clearErrorMsgs()"/>
									</td>
									<td *ngIf='productData.Active__c == 1'>
										<input type="checkbox" checked disabled />
									</td>

									<td *ngIf='productData.Active__c == 0'>
										<input type="checkbox" disabled/>
									</td>
								</tr>
							</tbody>
						</table>
						<div *ngIf="noResult" class="red">{{noResultMsg}}</div>
					</div>
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-md-5 col-sm-4 text-right res-tleft">
					&nbsp;
				</div>
				<div class="col-md-7 col-sm-8">
					<button type="button" class="save-btn" (click)="updateProducts()" *ngIf = "showButton == true">{{'BUTTON.SAVE' | translate }}</button>
					<button type="button" class="cancel-btn" [routerLink]="['/inventory']" (click)="cancel()">{{'BUTTON.CANCEL' | translate }}</button>
				</div>
			</div>
		</div>
	</section>
	<app-rightbar></app-rightbar>
</div>