#inner_cont {
    margin-right: 9%;
}
#wrapper_setup_new, .form_cont select {
    color: white;
}
input[type=text], .form_cont_one input[type=email], .form_cont_one input[type=number], .form_cont_one input[type=password] {
    width: 104% !important;
    
}
.form_cont_one input[type=text], .form_cont_one input[type=email], .form_cont_one input[type=number], .form_cont_one input[type=password]{
    color: white;
}
.form_cont_one input[type=text]:focus, .form_cont_one input[type=email]:focus, .form_cont_one input[type=number]:focus, .form_cont_one input[type=password]:focus{
    color: black;;
}
.form_cont_one input[type=text], .form_cont_one input[type=email], .form_cont_one input[type=number], .form_cont_one input[type=password] {
    width: 100% !important;
}
@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password] {
    padding: 5px 10px 5px 5px;
}
.form_cont .table-bordered>thead>tr>th {
    border-color: #3583a1 !important;
    font-size: 13px;
}
} 