<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]='bsValue' (ngModelChange)='isGenerate = false' bsDatepicker
                        [(bsValue)]="startDate" (click)="error = ''" [maxDate]="minDate" [bsConfig]="datePickerConfig"
                        class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]='bsValue1' (ngModelChange)='isGenerate = false' bsDatepicker
                        [(bsValue)]="endDate" (click)="error = ''" [maxDate]="minDate" [bsConfig]="datePickerConfig"
                        class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="type" (change)="reportTypeOnChange($event.target.value)">
                        <option *ngFor='let obj of reportTypes' value="{{obj}}">{{obj}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.WORKER' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8 disabled" *ngIf="showWorkers == true">
                    <select (change)="workerListOnChange($event.target.value)" [(ngModel)]="workerId">
                        <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList; let i='index'" value="{{worker.Id}}">
                            {{worker.FullName}}</option>
                    </select>
                </div>
                <div class="col-md-7 col-sm-8" *ngIf="showWorkers == false">
                    <select (change)="workerListOnChange($event.target.value)" [(ngModel)]="workerId">
                        <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList; let i='index'"
                            value="{{worker.Id+ '$' +worker.FullName}}">{{worker.FullName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;{{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="isGenerate">
                <div class="col-md-11 col-sm-11 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <ng-container *ngIf="isGenerate">
                <div class="row mt-20 res-mt-15 mr-10" *ngIf="itemsDisplay">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{companyName}}</th>
                                    <th *ngIf="type == 'Company'" class="thcss">{{'COMMON.COMPANY_STATISTICS' |
                                        translate}}</th>
                                    <th *ngIf="type == 'Worker'" class="thcss">
                                        {{'SERVICE_SALES_REPORT.SERVICE_SALES_REPORT_WORKER_STATISTICS'| translate}}
                                        - {{workerName}}</th>
                                    <th class="thcss"> {{startDate | date: 'MM/dd/yyyy'}} - {{endDate | date:
                                        'MM/dd/yyyy'}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row mt-20 res-mt-15">
                        <div class="col-md-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="thcss">{{'COMMON.SERVICE_GROUP'| translate}}</th>
                                            <th class="thcss">{{'SERVICE_SALES_REPORT.SETUP_SERVICE' | translate }}</th>
                                            <th class="thcss">{{'SERVICE_SALES_REPORT.TOTAL_SALES' | translate }}</th>
                                            <th class="thcss">{{'SERVICE_SALES_REPORT.SOLD' | translate }}</th>
                                            <th class="thcss">{{'SERVICE_SALES_REPORT.AVERAGE_SALES' | translate }}</th>
                                            <th class="thcss">{{'SERVICE_SALES_REPORT.PERCENTAGE_OF_SALES' | translate
                                                }}</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let servSalesArrayobj of servSalesArray; let i='index'">
                                            <tr class="font-wght" *ngFor="let serviceSalesdata of servSalesArrayobj;">
                                                <td>{{serviceSalesdata.serviceGroup}}</td>
                                                <td>{{serviceSalesdata.serviceName}}</td>
                                                <td>{{serviceSalesdata.totalSales |   currency:'USD':"symbol-narrow"}}
                                                </td>
                                                <td>{{serviceSalesdata.serviceCount}}</td>
                                                <td>{{serviceSalesdata.averageSales |   currency:'USD':"symbol-narrow"}}
                                                </td>
                                                <td>{{serviceSalesdata.percntOfSales | number:'2.2-2'}}</td>
                                            </tr>
                                            <tr class="font-weight">
                                                <td>{{servSalesArrayobj[0].serviceGroup}} Total</td>
                                                <td></td>
                                                <td>{{servSalesArray[i].totalSales |   currency:'USD':"symbol-narrow"}}
                                                </td>
                                                <td>{{servSalesArray[i].soldVal}}</td>
                                                <td>{{servSalesArray[i].avgSales |   currency:'USD':"symbol-narrow"}}
                                                </td>
                                                <td>{{servSalesArray[i].percntOfSales | number:'2.2-2'}}</td>
                                            </tr>
                                        </ng-container>
                                        <tr class="font-weight" *ngIf="serviceSalesObj.length>0">
                                            <td>{{'SERVICE_SALES_REPORT.SERVICE_SALES_TOTAL' | translate }}</td>
                                            <td></td>
                                            <td>{{serviceSalesTotal |  currency:'USD':"symbol-narrow"}}</td>
                                            <td>{{serviceSalesTotalSold}}</td>
                                            <td>{{serviceSalesTotalAvg | currency:'USD':"symbol-narrow"}}</td>
                                            <td></td>
                                        </tr>
                                        <tr class="font-weight" *ngIf="serviceSalesRefundObj.length>0">
                                            <td>{{'SERVICE_SALES_REPORT.SERVICE_SALES_LESS_REFUNDS' | translate }}</td>
                                            <td></td>
                                            <td>{{lessRefundsTotal|   currency:'USD':"symbol-narrow"}}</td>
                                            <td>-{{lessRefundsSold}}</td>
                                            <td>{{lessRefundsAvg|  currency:'USD':"symbol-narrow"}}</td>
                                            <td></td>
                                        </tr>
                                        <tr class="font-weight" *ngIf="serviceSalesObj.length>0">
                                            <td>{{'SERVICE_SALES_REPORT.SERVICE_NET_SALES_TOTAL' | translate }}</td>
                                            <td></td>
                                            <td>{{serviceNetSalesTotal|   currency:'USD':"symbol-narrow"}}</td>
                                            <td>{{serviceNetSalesSold}}</td>
                                            <td>{{serviceNetSalesAvg|   currency:'USD':"symbol-narrow"}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>