<div id="wrapper_setup_new" style="padding:0;">
  <span *ngIf="messageBox">
    <app-header [newMenu]="'noNav'"></app-header>
  </span>
  <section id="inner_cont" style="min-height: calc(100vh - 60px); display:flex; align-items:center; ">
    <div class="container form_cont">
      <div *ngIf="messageBox" class="text-center">
        <h1>{{message}}</h1>
      </div>
      <div class="staff-tab-list" *ngIf="!messageBox">
        <div class="staff-tab-list-in">
          <div class="tab-content">
            <!-- client info tab start -->
            <div class="tab-pane fade in active">
              <h1 class="text-center mb-20" style="font-weight: 300">CLIENT FORM: {{clientEditObj.FirstName}}
                {{clientEditObj.LastName}} </h1>
              <div class="staff-details-inputs form-new mb-30">
                <div class="row clearfix">
                  <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                    <div class="input-group form-input-group-list">
                      <span class="input-group-addon starImg">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </span>
                      <input class="form-control" [(ngModel)]="clientEditObj.FirstName" type="text" name=""
                        placeholder="First Name" (keypress)="updateErrMsg(0)">
                    </div>
                    <p class="red" style="text-align:center;">{{ClientProError[0].value}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                    <div class="input-group form-input-group-list">
                      <span class="input-group-addon starImg">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </span>
                      <input class="form-control" [(ngModel)]="clientEditObj.LastName" type="text" name=""
                        placeholder="Last Name" (keypress)="updateErrMsg(1)">
                    </div>
                    <p class="red" style="text-align:center;">{{ClientProError[1].value}}</p>
                  </div>
                </div>
                <span *ngIf='hideClientInfo===0'>
                  <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon">
                          <img src="assets/images/primary_phone.png" width="50">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardPrimaryPhone ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <span class="input-group-addon" style="width: 24%; padding: 0px 15px;">
                          <input type="text" placeholder="Code" maxlength="3" [(ngModel)]="primaryCountryCode"
                            (keypress)="numOnly($event);updateErrMsg(2);" onpaste="return false;"
                            style="margin-bottom:-2px;border-bottom-color: white!important;" disabled>
                        </span>
                        <input class="form-control" [(ngModel)]="clientEditObj.Phone" type="text" name="" maxlength="13"
                          placeholder="Primary Phone"
                          onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                          id="workPhone" (keypress)='hyphen_generate_Wphone(clientEditObj.Phone);updateErrMsg(2)'
                          (paste)="pasteNumPhone($event.clipboardData.getData('text/plain'))">
                      </div>
                      <p class="country_Code1"> Country Code </p>
                      <p class="red" style="text-align:center;">{{ClientProError[2].value }}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group" style="margin-bottom:0px;">
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon">
                          <img src="assets/images/sms-message.png" width="50">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardMobilePhone ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <span class="input-group-addon" style="width: 24%; padding: 0px 15px;">
                          <input type="text" placeholder="Code" maxlength="3" [(ngModel)]="mobileCountryCode"
                            (keypress)="numOnly($event);updateErrMsg(3);" onpaste="return false;"
                            style="margin-bottom:-2px;border-bottom-color: white!important;" disabled>
                        </span>
                        <input class="form-control" [(ngModel)]="clientEditObj.MobilePhone" type="text" maxlength="13"
                          onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                          id="mobile_id1" (paste)="pasteNum($event.clipboardData.getData('text/plain'))"
                          (keypress)='hyphen_generate_mobile1(clientEditObj.MobilePhone);updateErrMsg(3)' name=""
                          placeholder="Mobile Phone" (change)="mobileSms($event.target.value)">
                      </div>
                      <p class="country_Code1"> Country Code </p>
                      <div class="check-new check-position1" style="left: 22px;top: 53px">
                        <input id="c_mobile" type="checkbox" [(ngModel)]="clientEditObj.Sms_Consent__c"
                          [disabled]="clientEditObj.MobilePhone ? false: true"
                          [checked]="clientEditObj.Sms_Consent__c ? true: false"
                          (change)="SmscheckOrUnCheck($event.target.checked)">

                        <label for="c_mobile" style="font-size: 12px;font-weight: bold;">Client Provided Consent to
                          receive SMS Messages</label>
                      </div>
                      <br>
                      <p class="red" style="text-align:center;">{{ClientProError[3].value}}</p>
                    </div>
                  </div>

                  <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-6  form-group">
                      <div class="check-new check-position">
                        <input id="c_noemail" type="checkbox" [(ngModel)]="clientEditObj.No_Email__c"
                          *ngIf="clientEditObj.No_Email__c === 0 || clientEditObj.No_Email__c === false || clientEditObj.No_Email__c === ''"
                          (change)="Cli_No_Email($event.target.checked)">
                        <input id="c_noemail" type="checkbox" [(ngModel)]="clientEditObj.No_Email__c" checked
                          *ngIf="clientEditObj.No_Email__c === 1 || clientEditObj.No_Email__c === true"
                          (change)="Cli_No_Email($event.target.checked)">
                        <label for="c_noemail">{{'CLIENTS.NO_EMAIL' | translate}}</label>
                      </div>
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardPrimaryEmail ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <input class="form-control" [(ngModel)]="clientEditObj.Email" type="email" name=""
                          (keypress)="updateErrMsg(4)" placeholder="Primary Email" [disabled]="noEmailBool">
                      </div>
                      <p class="red" style="text-align:center;">{{ClientProError[4].value}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardSecondaryEmail ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <input class="form-control" [(ngModel)]="clientEditObj.Secondary_Email__c" type="email" name=""
                          (keypress)="updateErrMsg(5)" placeholder="Secondary Email" [disabled]="noEmailBool">
                      </div>
                      <p class="red" style="text-align:center;">{{ClientProError[5].value}}</p>
                    </div>

                  </div>
                  <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardMailingAddress ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <input class="form-control" [(ngModel)]="clientEditObj.MailingStreet" type="text" name=""
                          placeholder="Address" (keypress)="updateErrMsg(6)">
                      </div>
                      <p class="red" style="text-align:center;">{{ClientProError[6].value}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardMailingAddress ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <input class="form-control" [(ngModel)]="clientEditObj.MailingPostalCode" type="text" name=""
                          placeholder="Zip" maxlength="10" (keyup)="getLocation();" (keypress)="updateErrMsg(7)">
                      </div>
                      <p class="red" style="text-align:center;">{{ClientProError[7].value}}</p>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardMailingAddress ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <!-- <input class="form-control" [(ngModel)]="clientEditObj.MailingCountry" readonly type="text" name="" placeholder="Country"> -->
                        <select class="form-control" [(ngModel)]="clientEditObj.MailingCountry"
                          style="text-align-last: center;" (change)="getCountry($event.target.value);"
                          (click)="updateErrMsg(8)">
                          <option value="">{{'CLIENTS.COUNTRY' | translate}}</option>
                          <option *ngFor="let mailingcountrieslist of mailingCountriesList; let i='index'"
                            value="{{mailingcountrieslist.NAME}}" id="profilePage_timezone_select_option_{{i}}">
                            {{mailingcountrieslist.NAME}}</option>
                        </select>
                      </div>
                      <p class="red" style="text-align:center;">{{ClientProError[8].value}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardMailingAddress ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <select class="form-control" [(ngModel)]="clientEditObj.MailingState"
                          style="text-align-last: center;" (click)="updateErrMsg(9)">
                          <option value="">{{'CLIENTS.STATES' | translate}}</option>
                          <option *ngFor="let stateslist of statesList; let i='index'" value="{{stateslist.STATE}}"
                            id="profilePage_timezone_select_option_{{i}}">{{stateslist.STATE}}</option>
                        </select>
                      </div>
                      <p class="red" style="text-align:center;">{{ClientProError[9].value}}</p>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                      <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                          <i class="fa fa-star" aria-hidden="true"
                            [ngClass]="[clientCardMailingAddress ? 'starImg' : 'starImginVis']"></i>
                        </span>
                        <input class="form-control" [(ngModel)]="clientEditObj.MailingCity" type="text" name=""
                          placeholder="City" (keypress)="updateErrMsg(10)">
                      </div>
                      <p class="red" style="text-align:center;">{{ClientProError[10].value}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <div class="row">
                        <div class="col-xs-12 col-sm-6 form-group">
                          <div class="input-group form-input-group-list">
                            <span class="input-group-addon">
                              <img src="assets/images/market-icon2.png" alt="img">
                            </span>
                            <div style="float: left;">
                              <input class="form-control" type="text" [(ngModel)]="clientEditObj.Birthdate"
                                placeholder="Birthday" (click)="clear();" (keypress)='validDate(); updateErrMsg(11)'>
                            </div>
                          </div>
                          <p class="red" style="text-align:center;"> {{ClientProError[11].value}}</p>
                              <p class="red" style="text-align:center;" *ngIf="errorValidDate">{{errorValidDate}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group">
                          <div class="input-group form-input-group-list">
                            <span class="input-group-addon">
                              <img src="assets/images/market-icon3.png" alt="img">
                            </span>
                            <div style="float: left;">
                              <select class="form-control" [(ngModel)]="clientEditObj.Title"
                                style="text-align-last: center;">
                                <option value=''>{{'CLIENTS.OCCUPATION' | translate}}</option>
                                <option *ngFor="let ocupations of occupationData; let i = 'index'"
                                  value='{{ocupations.occupationName}}'>{{ocupations.occupationName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-xs-6 col-sm-6 col-md-6 form-group mt-30">
                      <div class="staff-reffer-progress-nav text-center">
                        <ul>
                          <li>
                            <i class="fa fa-star" aria-hidden="true"
                              [ngClass]="[clientCardGender ? 'starImg' : 'starImginVis']"></i>
                            <button [ngClass]="{'active':clientEditObj.Gender__c==='Female'}" #femaleBtn
                              [value]="'Female'" (click)="clientEditObj.Gender__c=femaleBtn.value;" id="butChanges">
                              <strong>{{'COMMON.FEMALE' | translate}}</strong>
                            </button>
                          </li>
                          <li>
                            <button [ngClass]="{'active':clientEditObj.Gender__c==='Male'}" #maleBtn [value]="'Male'"
                              (click)="clientEditObj.Gender__c=maleBtn.value;" id="butChanges">
                              <strong>{{'COMMON.MALE' | translate}}</strong>
                            </button>
                          </li>
                          <li>
                            <button [ngClass]="{'active':clientEditObj.Gender__c==='Unspecified'}" #UnspecifiedBtn
                              [value]="'Unspecified'" (click)="clientEditObj.Gender__c=UnspecifiedBtn.value;"
                              id="butChanges">
                              <strong>Unspecified</strong>
                            </button>
                          </li>
                        </ul>
                        <p class="red" style="text-align:center;"> {{ClientProError[12].value}}</p>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                      <p class="text-center font-weight-bold" style="color:white">How would you like to be contacted?
                      </p>
                      <table class='table-chk center' style="color:white;">
                        <tr>
                          <td></td>
                          <td>{{'COMMON.NOTIFICATIONS'| translate}}</td>
                          <td>{{'SETUP_CLIENTOPPOINTMENTS.REMINDERS'|translate}}</td>
                          <td>{{'COMMON.MARKETING' | translate}}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>
                            <input [disabled]="!clientEditObj.Email"
                              [(ngModel)]="clientEditObj.Notification_Primary_Email__c" type="checkbox">
                          </td>
                          <td>
                            <input [disabled]="!clientEditObj.Email"
                              [(ngModel)]="clientEditObj.Reminder_Primary_Email__c" type="checkbox">
                          </td>
                          <td>
                            <input [disabled]="!clientEditObj.Email"
                              [(ngModel)]="clientEditObj.Marketing_Primary_Email__c" type="checkbox">
                          </td>
                        </tr>
                        <tr>
                          <td>Text</td>
                          <td>
                            <input [disabled]="!clientEditObj.MobilePhone"
                              [(ngModel)]="clientEditObj.Notification_Mobile_Phone__c" type="checkbox">
                          </td>
                          <td>
                            <input [disabled]="!clientEditObj.MobilePhone"
                              [(ngModel)]="clientEditObj.Reminder_Mobile_Phone__c" type="checkbox">
                          </td>
                          <td>
                            <input [disabled]="!clientEditObj.MobilePhone"
                              [(ngModel)]="clientEditObj.Marketing_Mobile_Phone__c" type="checkbox">
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </span>
                <div class="row clearfix">
                  <div class="col-xs-5 col-sm-5 col-md-5 form-group mt-30" style="color:white;">
                    <div class="form-group qa-list" *ngFor="let frmqeslist of formQuestionsList; let i='index'">
                      <p class="font-15 font-300 m-0" style='word-wrap: break-word;'>{{frmqeslist.question}}</p>
                      <textarea class="CP_Note" [(ngModel)]="frmqeslist.answer" id="frmqeslist{{i}}"
                        style="border: 3px solid white;"></textarea>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 form-group" style="color:white;float:right;">
                    <h2 class="font-300 mb-20" style="margin-top:30px" *ngIf="formApplyList.length> 0">Check All That Apply:</h2>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <table class='table-chk'>
                          <tr *ngFor="let applylist of formApplyList; let i='index'">
                            <td style="width: 1%"><input class="con-checkbox" type="checkbox"
                                [(ngModel)]="applylist.active1"></td>
                            <td class="break-word">{{applylist.checkboxName}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align:center;margin-top:20px;">
          <a class="btn btn-default mb-5" (click)="commonSave('false');"
            style="background-color:#35c31b;">
            <i class="fa fa-check"></i> {{'BUTTON.SAVE' | translate}}</a>
          &nbsp;
          <a class="btn btn-default mb-5" (click)="cancel()" style="background-color:red;">
            <i class="fa fa-remove"></i> {{'BUTTON.CANCEL' | translate}}</a>
        </div>

      </div>
    </div>
  </section>
</div>