<div id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="row mt-20">
                <div class="col-md-4 text-right res-tleft">
                    <label>Begin Date</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ startDate | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="startDate" [(ngModel)]="startDate"  [bsConfig]="datePickerConfig" class="datefield" (ngModelChange)="generateReport('datechange')">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 text-right res-tleft">
                    <label>End Date</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ endDate | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="endDate" [(ngModel)]="endDate"  [bsConfig]="datePickerConfig" class="datefield" (ngModelChange)="generateReport('datechange')">
                </div>
            </div>
            <p class="red" style="text-align:center;"> {{dateError | translate}}</p>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport('today')" class="btn btn-primary">
                        Today</button>
                </div>
            </div>

            <hr />
            <div class="row mt-20 res-mt-15" >
                <div class="row mt-20 res-mt-15">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">Date</th>
                                        <th class="thcss">Drawer #</th>
                                        <th class="thcss"> Cash In / Out</th>
                                        <th class="thcss"> Amount</th>
                                        <th class="thcss"> Transaction By</th>
                                        <th class="thcss">To / From</th>
                                        <th class="thcss"> Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of apptcashinoutData">
                                        <td>{{data.disaplayDate[0]}}</td>
                                        <td>{{data.Drawer_Number__c}}</td>
                                        <td>{{data.Type__c}}</td>
                                        <td>{{data.Amount__c}}</td>
                                        <td>{{data.Transaction_By__c}}</td>
                                        <td *ngIf="(data.From__c !== '' || data.From__c !== null) && (data.To__c === '' || data.To__c === null)">{{data.From__c}}</td>
                                        <td *ngIf="(data.To__c !== '' || data.To__c !== null)  && (data.From__c === '' || data.From__c === null)">{{data.To__c}}</td>
                                        <td>{{data.Reason__c}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row mt-20 res-mt-15">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">Date</th>
                                        <th class="thcss">Ticket #</th>
                                        <th class="thcss"> Client</th>
                                        <th class="thcss"> Visit Type</th>
                                        <th class="thcss"> Service</th>
                                        <th class="thcss">Product</th>
                                        <th class="thcss"> Other</th>
                                        <th class="thcss"> Incl Ticket</th>
                                        <th class="thcss"> Total</th>
                                        <th class="thcss"> Payment Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = 'let data of apptTicketData'>
                                        <td> {{data.apptTime[0]}}</td>
                                        <!-- <td> {{data.Appt_Date_Time__c | date: 'M/dd/yy'}}</td> -->
                                        <td [routerLink]="['/checkout/' + data.Id]" style="text-decoration: underline;cursor:pointer;">{{data.Name}}</td>
                                        <td [routerLink]="['/client/edit/' + data.Client__c]" style="text-decoration: underline;cursor:pointer;" *ngIf ="data.FullName !== '' || data.FullName !== null || data.FullName !== undefined">{{data.FullName}}</td>
                                        <td *ngIf ="data.FullName === '' || data.FullName === null || data.FullName === undefined">NO CLIENT</td>
                                        <td>{{data.Client_Type__c}}</td>
                                        <td>{{data.servicePrice}}</td>
                                        <td>{{data.productPrice}}</td>
                                        <td>{{data.otherAmount}}</td>
                                        <td></td>
                                        <td>{{data.Total}}</td>
                                        <td>{{data.paymentType}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="apptTicketData.length > 0">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td></td>
                                        <td>{{totalService | currency: "USD": "symbol-narrow"}}</td>
                                        <td>{{totalProduct | currency: "USD": "symbol-narrow"}}</td>
                                        <td>{{totalOther | currency: "USD": "symbol-narrow"}}</td>
                                        <td></td>
                                        <td>{{alltotal | currency: "USD": "symbol-narrow"}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>