<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'CASH_COUNTING.SELECT_DATE' | translate }}</label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="bsValue"
                        [bsConfig]="datePickerConfig" class="datefield" [(ngModel)]="selectDate" [maxDate]="minDate" (ngModelChange)='itemsDisplay = false'>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportType">
                        <option value="company">{{'HEADER.COMPANY' | translate }}</option>
                        <option value="worker">{{'COMMON.WORKER' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.WORKER' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="workerDropList" [disabled]="reportType === 'company' ? true : false">
                        <option value="">{{'WORKER_GOALS.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of WorkerList" value="{{worker.Id}}">{{worker.FullName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <hr />
            <div class="row mt-20 res-mt-15 ml-5" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{CompanyName}}</th>
                                    <th class="thcss">{{'REPORT_ACTIVITY_COMPARISION.ACTIVITY_COMPARISON' | translate }} {{actComName}}</th>
                                    <th class="thcss">{{selectDate | date:'MM/dd/y'}}</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="background-color">{{'ACTIVITY_COMPARISON.NUMBER_OF' | translate }}</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'COMMON.CATEGORY' | translate }}</th>
                                    <th class="thcss">{{'COMMON.DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.WEEK_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MONTH_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_OF_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QUARTER_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YEAR_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_YEAR_CALENDER' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_12_MONTHS' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let items of numberOf">
                                    <td *ngIf="items.category === 'Client'">{{'COMMON.CLIENTS' | translate }}</td>
                                    <td *ngIf="items.category === 'Services'">{{'HEADER.SERVICES' | translate }}</td>
                                    <td *ngIf="items.category === 'Products'">{{'REPORT_ACTIVITY_COMPARISION.PRODUCTS_FOR_CLIENT' | translate }}</td>
                                    <td *ngIf="items.category === 'Gift'">{{'REPORT_ACTIVITY_COMPARISION.GIFTS' | translate }}</td>
                                    <td *ngIf="items.category === 'Misc'">{{'REPORT_ACTIVITY_COMPARISION.MISC_SALES' | translate }}</td>
                                    <td>{{items.todayDate}}</td>
                                    <td>{{items.weekToDate}}</td>
                                    <td>{{items.monthToDate}}</td>
                                    <td>{{items.monthToDateLastYear}}</td>
                                    <td>{{items.monthPercentChange}}%</td>
                                    <td>{{items.quarterToDate}}</td>
                                    <td>{{items.quarterToDateLastYear}}</td>
                                    <td>{{items.quarterPercentChange}}%</td>
                                    <td>{{items.yearToDate}}</td>
                                    <td>{{items.yearToDateLastYear}}</td>
                                    <td>{{items.yearPercentChange}}%</td>
                                    <td>{{items.priorCalendarYear}}</td>
                                    <td>{{items.priorTwelveMonths | number: '1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="background-color">{{'ACTIVITY_COMPARISON.AMOUNTS_EXCLUDING_TAX_AND_OTHERS' | translate
                        }}</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'COMMON.CATEGORY' | translate }}</th>
                                    <th class="thcss">{{'COMMON.DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.WEEK_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MONTH_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_OF_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QUARTER_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YEAR_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_YEAR_CALENDER' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_12_MONTHS' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let actList of generateReportResult['amountActivityList']">
                                   <td *ngIf="actList.category === 'Total'">{{'COMMON.TOTAL' | translate }}</td>
                                   <td *ngIf="actList.category === 'Services'">{{'HEADER.SERVICES' | translate }}</td>
                                   <td *ngIf="actList.category === 'Products'">{{'CLIENTS.PRODUCTS' | translate }}</td>
                                   <td *ngIf="actList.category === 'Gift'">{{'REPORT_ACTIVITY_COMPARISION.GIFTS' | translate }}</td>
                                   <td *ngIf="actList.category === 'Misc'">{{'REPORT_ACTIVITY_COMPARISION.MISC_SALES' | translate }}</td>
                                   <td *ngIf="actList.category === 'PerClient'">{{'REPORT_ACTIVITY_COMPARISION.PER_CLIENT' | translate }}</td>
                                   <td>{{actList.todayDate | number: '1.2-2'}}</td>
                                   <td>{{actList.weekToDate | number: '1.2-2'}}</td>
                                   <td>{{actList.monthToDate | number: '1.2-2'}}</td>
                                   <td>{{actList.monthToDateLastYear | number: '1.2-2'}}</td>
                                   <td>{{actList.monthPercentChange | number: '1.2-2'}}%</td>
                                   <td>{{actList.quarterToDate | number: '1.2-2'}}</td>
                                   <td>{{actList.quarterToDateLastYear | number: '1.2-2'}}</td>
                                   <td>{{actList.quarterPercentChange | number: '1.2-2'}}%</td>
                                   <td>{{actList.yearToDate | number: '1.2-2'}}</td>
                                   <td>{{actList.yearToDateLastYear | number: '1.2-2'}}</td>
                                   <td>{{actList.yearPercentChange | number: '1.2-2'}}%</td>
                                   <td>{{actList.priorCalendarYear | number: '1.2-2'}}</td>
                                   <td>{{actList.priorTwelveMonths | number: '1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="background-color">{{'ACTIVITY_COMPARISON.PERCENTAGES' | translate }}</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'COMMON.CATEGORY' | translate }}</th>
                                    <th class="thcss">{{'COMMON.DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.WEEK_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MONTH_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_OF_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QUARTER_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YEAR_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_YEAR_CALENDER' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_12_MONTHS' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let percentage of generateReportResult['percentageActivityList']">
                                    <td *ngIf="percentage.category === 'Retail_of_Total_Sales'">{{'REPORT_ACTIVITY_COMPARISION.PRODUCT_PERCENT_OF_TOTAL_SALES' | translate }}</td>
                                    <td *ngIf="percentage.category === 'Productivity_Percent_Rate'">{{'REPORT_ACTIVITY_COMPARISION.PRODUCTIVITY_PERCENT_RATE' | translate }}</td>
                                    <td><span *ngIf="percentage.todayDate === 'N/A'">{{percentage.todayDate }}</span> <span *ngIf="percentage.todayDate !== 'N/A'">{{percentage.todayDate | number:'2.2-2' }}</span></td>
                                    <td><span *ngIf="percentage.weekToDate === 'N/A'">{{percentage.weekToDate}}</span> <span *ngIf="percentage.weekToDate !== 'N/A'">{{percentage.weekToDate | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.monthToDate === 'N/A'">{{percentage.monthToDate}}</span> <span *ngIf="percentage.monthToDate !== 'N/A'">{{percentage.monthToDate | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.monthToDateLastYear === 'N/A'">{{percentage.monthToDateLastYear}}</span> <span *ngIf="percentage.monthToDateLastYear !== 'N/A'">{{percentage.monthToDateLastYear | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.monthPercentChange === 'N/A'">{{percentage.monthPercentChange}}</span> <span *ngIf="percentage.monthPercentChange !== 'N/A'">{{percentage.monthPercentChange | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.quarterToDate === 'N/A'">{{percentage.quarterToDate }}</span><span *ngIf="percentage.quarterToDate !== 'N/A'">{{percentage.quarterToDate | number:'2.2-2' }}</span></td>
                                    <td><span *ngIf="percentage.quarterToDateLastYear === 'N/A'">{{percentage.quarterToDateLastYear}}</span> <span *ngIf="percentage.quarterToDateLastYear !== 'N/A'">{{percentage.quarterToDateLastYear | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.quarterPercentChange === 'N/A'">{{percentage.quarterPercentChange}}</span> <span *ngIf="percentage.quarterPercentChange !== 'N/A'">{{percentage.quarterPercentChange | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.yearToDate === 'N/A'">{{percentage.yearToDate}}</span> <span *ngIf="percentage.yearToDate !== 'N/A'">{{percentage.yearToDate | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.yearToDateLastYear === 'N/A'">{{percentage.yearToDateLastYear}}</span> <span *ngIf="percentage.yearToDateLastYear !== 'N/A'">{{percentage.yearToDateLastYear | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.yearPercentChange === 'N/A'">{{percentage.yearPercentChange}}</span> <span *ngIf="percentage.yearPercentChange !== 'N/A'">{{percentage.yearPercentChange | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.priorCalendarYear === 'N/A'">{{percentage.priorCalendarYear}}</span> <span *ngIf="percentage.priorCalendarYear !== 'N/A'">{{percentage.priorCalendarYear | number:'2.2-2'}}</span></td>
                                    <td><span *ngIf="percentage.priorTwelveMonths === 'N/A'">{{percentage.priorTwelveMonths}}</span> <span *ngIf="percentage.priorTwelveMonths !== 'N/A'">{{percentage.priorTwelveMonths | number:'2.2-2'}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="background-color">{{'COMMON.CLIENTS' | translate }}</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'COMMON.CATEGORY' | translate }}</th>
                                    <th class="thcss">{{'COMMON.DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.WEEK_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MONTH_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_OF_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QUARTER_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YEAR_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_YEAR_CALENDER' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_12_MONTHS' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cli of generateReportResult['clientData']">
                                    <td *ngIf="cli.category === 'W_Retail'">{{'REPORT_ACTIVITY_COMPARISION.PERCENT_PRODUCT' | translate }}</td>
                                    <td *ngIf="cli.category === 'New_Clients'">{{'REPORT_ACTIVITY_COMPARISION.HASH_OF_NEW' | translate }}</td>
                                    <td *ngIf="cli.category === 'Rebook_percent'">{{'TBP_REPORT.REBOOK' | translate }}</td>
                                    <td>{{cli.todayDate | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent' ">%</span></td>
                                    <td>{{cli.weekToDate | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                    <td>{{cli.monthToDate | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                    <td>{{cli.monthToDateLastYear | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                    <td>{{cli.monthPercentChange | number: '1.2-2'}}%</td>
                                    <td>{{cli.quarterToDate | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                    <td>{{cli.quarterToDateLastYear | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                    <td>{{cli.quarterPercentChange | number: '1.2-2'}}%</td>
                                    <td>{{cli.yearToDate | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                    <td>{{cli.yearToDateLastYear | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                    <td>{{cli.yearPercentChange | number: '1.2-2'}}%</td>
                                    <td>{{cli.priorCalendarYear | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                    <td>{{cli.priorTwelveMonths | number: '1.2-2'}}<span *ngIf="cli.category === 'W_Retail' || cli.category === 'Rebook_percent'">%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="background-color">{{'ACTIVITY_COMPARISON.TICKET_RATINGS' | translate }}</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'COMMON.CATEGORY' | translate }}</th>
                                    <th class="thcss">{{'COMMON.DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.WEEK_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MONTH_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.MTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_OF_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QUARTER_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.QTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YEAR_TO_DATE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.YTD_LAST_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_YEAR_CALENDER' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PRIOR_12_MONTHS' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tic of generateReportResult['tcktRtngData']">
                                    <td *ngIf="tic.category === 'NumOf_ticketRating_Good'">{{'REPORT_ACTIVITY_COMPARISION.HASH_OF_GOOD_TICKET_RATINGS' | translate }}</td>
                                    <td *ngIf="tic.category === 'Perc_ticketRating_Good'">{{'REPORT_ACTIVITY_COMPARISION.PERCENT_OF_GOOD_TICKET_RATINGS' | translate }}</td>
                                    <td *ngIf="tic.category === 'NumOf_ticketRating_Fair'">{{'REPORT_ACTIVITY_COMPARISION.HASH_FAIR_TICKET_RATINGS' | translate }}</td>
                                    <td *ngIf="tic.category === 'Perc_ticketRating_Fair'">{{'REPORT_ACTIVITY_COMPARISION.PERCENT_OF_FAIR_TICKET_RATINGS' | translate }}</td>
                                    <td *ngIf="tic.category === 'NumOf_ticketRating_Poor'">{{'REPORT_ACTIVITY_COMPARISION.HASH_OF_POOR_TICKET_RATINGS' | translate }}</td>
                                    <td *ngIf="tic.category === 'Perc_ticketRating_Poor'">{{'REPORT_ACTIVITY_COMPARISION.PERCENT_OF_POOR_TICKET_RATINGS' | translate }}</td>
                                    <td *ngIf="tic.category === 'NumOf_ticketRating_Unspecified'">{{'REPORT_ACTIVITY_COMPARISION.HASH_OF_UNSPECIFIED_TICKET_RATINGS' | translate }}
                                        </td>
                                    <td *ngIf="tic.category === 'Perc_ticketRating_Unspecified'">{{'REPORT_ACTIVITY_COMPARISION.PERCENT_OF_UNSPECIFIED_TICKET_RATINGS' | translate }}
                                        </td>
                                    <td>{{tic.todayDate}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.weekToDate}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.monthToDate | number: '1.2-2'}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.monthToDateLastYear}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.monthPercentChange}}%</td>
                                    <td>{{tic.quarterToDate}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.quarterToDateLastYear}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.quarterPercentChange}}%</td>
                                    <td>{{tic.yearToDate| number: '1.2-2'}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.yearToDateLastYear}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.yearPercentChange}}%</td>
                                    <td>{{tic.priorCalendarYear}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                    <td>{{tic.priorTwelveMonths | number: '1.2-2'}}<span *ngIf="tic.category === 'Perc_ticketRating_Good' || tic.category === 'Perc_ticketRating_Fair' || tic.category === 'Perc_ticketRating_Poor' || tic.category === 'Perc_ticketRating_Unspecified' ">%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="background-color">{{'ACTIVITY_COMPARISON.COMPENSATION_PERCENTAGE_OF_SALES' | translate
                        }}</div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss"></th>
                                    <th class="thcss"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of generateReportResult['populateCompensationSection']">
                                    <td *ngIf="item.category === 'Last_30_Days'">{{'REPORT_ACTIVITY_COMPARISION.LAST_30_DAYS' | translate }}</td>
                                    <td *ngIf="item.category === 'Last_90_Days'">{{'REPORT_ACTIVITY_COMPARISION.LAST_90_DAYS' | translate }}</td>
                                    <td>{{item.todayDate | number: '1.2-2'}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {{'ACTIVITY_COMPARISON.PRODUCT_RATE_PERCENTAGE_NOT_INCLUDES_WORKER_SCHEDULE_CHANGES' | translate }}
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>