<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="selectoptions">
                <select (change)="balanceType($event.target.value)">
                    <option value="Allbalance">{{'ACCOUNT_BALANCE.ALL_BALANCE' | translate}}</option>
                    <option value="Balancedue">{{'ACCOUNT_BALANCE.BALANCE_DUE' | translate}}</option>
                    <option value="Accountcredits">{{'ACCOUNT_BALANCE.ACCOUNT_CREDITS'| translate}}</option>
                </select>
            </div>
            <div class="table-responsive">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-offset-3 col-md-6 table-responsive">
                    <table class="table">
                        <thead>
                            <th style="padding: 8px;" class="text-uppercase">
                                {{'ACCOUNT_BALANCE.CLIENT_NAME'| translate}}</th>
                            <th style="padding: 8px;" class="text-right text-uppercase">
                                {{'ACCOUNT_BALANCE.AMOUNT'| translate}}</th>
                        </thead>
                        <tr *ngFor="let clientamountdata of clientAmountData">
                            <td class="pd-8">{{clientamountdata.name}}</td>
                            <td class="text-right">{{clientamountdata.amount | currency:"USD":"symbol-narrow"}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right" style="font-weight: bolder;">
                                <span style="margin-right: 15px">{{'ACCOUNT_BALANCE.SUM_VALUE'| translate}} :</span>
                                {{sumvalue | currency:"USD":"symbol-narrow"}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-12">
                    <p style="text-align:center">{{'ACCOUNT_BALANCE.GENERATED_ON'| translate}}
                        {{currentDate | date:'M/d/yy h:mm a'}}</p>
                </div>
                <div class="col-md-12">
                    <p class="negitiveamount">{{'ACCOUNT_BALANCE.NEGATIVE_AMOUNT_INDICATES_ACCOUNT_CREDIT'| translate}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>