<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="startDate" [maxDate]="minDate" [bsConfig]="datePickerConfig"
                        (click)="clearErr()" (keyup)="clearErr()" class="datefield">
                    <p class='red'>{{error | translate}}</p>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue1 | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="endDate" [maxDate]="minDate" [bsConfig]="datePickerConfig"
                        (click)="clearErr()" (keyup)="clearErr()" class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.WORKER' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select (change)="onChangeUser($event.target.value)" [(ngModel)]="workerId">
                        <option value =''>{{'WORKER_TIPS.COMPANY' | translate }}</option>
                        <option *ngFor='let data1 of userListData' value="{{data1.Id}}">{{ data1.FullName }}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>

            <div class="row mt-20 res-mt-15 ml-5" *ngIf="itemsDisplay">
                    <div class="col-md-12 col-sm-12 ml-bottom" >
                            <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                                <span style="font-size: 14px">
                                    <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                            </button>
                        </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{companyName}}</th>
                                    <th class="thcss">{{type}}</th>
                                    <th class="thcss">{{ startDate | date:'MM/d/y'}} - {{ endDate | date:'MM/d/y'}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <ng-container *ngFor="let obj1 of tipsWithDates;let i = index">
                        <div class="col-md-12">
                                <div> {{'WORKER_TIPS.APPOINTMENT_DATE_TIME' | translate }} <b>{{ obj1.date | date:'MM/d/y'}}</b></div>
                                <hr>
                        </div>
                    <ng-container *ngFor="let obj2 of obj1;let j = index">
                        <div class="col-md-12">
                            <div> {{'TICKET_SALES_REPORT.APPOINTMENT_OR_TICKETNUMBER' | translate }}: {{obj2[0]['Name']}}</div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="thcss">{{'COMMON.WORKER' | translate }}</th>
                                            <th class="thcss">{{'COMMON.CLIENT' | translate }}</th>
                                            <th class="thcss">{{'TOTAL_SHEETS.SERVICE_SALES' | translate }}</th>
                                            <th class="thcss">{{'TOTAL_SHEETS.TOTAL_TIPS' | translate }}</th>
                                            <th class="thcss">{{'WORKER_TIPS.TIP_PAID_OUT' | translate }}</th>
                                            <th class="thcss">{{'WORKER_TIPS.TIP_LEFT_IN_DRAWER' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let obj3 of obj2;let k = index">
                                            <tr>
                                                <td>{{obj3.userName}}</td>
                                                <td>{{obj3.clientName !==null?obj3.clientName:'NO CLIENT'}}</td>
                                                <td>{{obj3.Service_Sales__c | currency}}</td>
                                                <td>{{obj3.Tip_Amount__c | currency: "USD": "symbol-narrow"}}</td>
                                                <td>{{obj3.Tip_Paid_Out__c | currency}}</td>
                                                <td>{{obj3.Tip_Left_in_Drawer__c | currency: "USD": "symbol-narrow"}}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="thcss">{{'WORKER_TIPS.TIPS_TICKET_TOTAL' | translate }}</th>
                                            <th class="thcss">{{tipsAmount[i][j] | currency: "USD": "symbol-narrow"}}</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{'WORKER_TIPS.TIPS_DAILY_TOTAL' | translate }} {{ obj1[0][0].aptDt | date:'MM/d/y'}}:</th>
                                        <th class="thcss">{{tipsAmountWithDate[i] | currency: "USD": "symbol-narrow"}} </th>
                                        <!-- <th class="thcss"> 12</th> -->
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </ng-container>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'WORKER_TIPS.TIPS_GRAND_TOTAL' | translate }}:</th>
                                    <th class="thcss">{{totalTipsAmount | currency: "USD": "symbol-narrow"}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                
                <!-- <div class="col-md-12">
                    <div> Appt/Ticket Nbr: 000078</div>
                </div>
                <div class="col-md-12">
                    <div>Appointment Date/Time: 3/3/2018</div>
                    <div> Appt/Ticket Nbr: 000000</div>
                </div> -->
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>
<!--
<div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="thcss">{{'COMMON.WORKER' | translate }}</th>
                        <th class="thcss">{{'COMMON.CLIENT' | translate }}</th>
                        <th class="thcss">{{'TOTAL_SHEETS.SERVICE_SALES' | translate }}</th>
                        <th class="thcss">{{'TOTAL_SHEETS.TOTAL_TIPS' | translate }}</th>
                        <th class="thcss">{{'WORKER_TIPS.TIP_PAID_OUT' | translate }}</th>
                        <th class="thcss">{{'WORKER_TIPS.TIP_LEFT_IN_DRAWER' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Isabella Moran</td>
                        <td>Jade Moran</td>
                        <td>40.00</td>
                        <td>10.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="thcss">{{'WORKER_TIPS.TIPS_DAILY_TOTAL' | translate }}  {{ bsValue | date:'MM/d/y'}}:</th>
                        <th class="thcss">10.00</th>
                    </tr>
                </thead>
            </table>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="thcss">{{'WORKER_TIPS.TIPS_GRAND_TOTAL' | translate }}:</th>
                        <th class="thcss">30.00</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div> -->