.signup-maindiv {
    margin: 1% 4%;
    color: #FFFFFF;
}

.signup-middle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.signup-logo {
    width: 13%;
    min-width: 150px;
}

.signup-caption {
    margin-top: 1%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.apont-head-large {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    padding: 6px 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.client-name-head {
    font-weight: 600;
    font-size: medium;
}

.signup-middle {
    text-align: center;
}

.signup-options {
    height: 30px;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    width: 80px !important;
    background: none !important;
    border: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    box-shadow: none;
    margin-left: 20px;
}

.signup-options option {
    color: black;
}

.table-new {
    color: #fff;
}

.table-new>tbody>tr>td, .table-new>tbody>tr>th, .table-new>tfoot>tr>td, .table-new>tfoot>tr>th, .table-new>thead>tr>td, .table-new>thead>tr>th {
    border: 0 !important;
}

.table-new>thead>tr>th {
    font-size: 16px;
    word-spacing: 3px;
    line-height: 22px;
    color: #fff;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}

.table-new>tbody>tr>td {
    font-size: 15px;
    line-height: 14px;
    color: #fff;
    font-weight: 400;
}

.table-new>tbody>tr>td i {
    margin-right: 10px;
}

.table-services>tbody>tr>td>span, .table-new.table-services>tbody>tr>td>i {
    margin-left: 10px;
    margin-right: 0px;
}

.btn-gradient-txt .fa-close, .fa-hand-o-right, .fa-check-square-o {
    background: -webkit-linear-gradient(0deg, #16337d 0, #05c9d0 100%);
    background: -moz-linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
}



/*****/
body {
    background: none !important;
}
.wt-clr {
    color: #fff !important;
}
.blk-clr {
    color: #000 !important;
}
.b-0 {
    border:0 !important;
}
.p-0 {
    padding: 0 !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.no-bg {
    background: none !important;
}
.va-t {
    vertical-align: top;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-20 {
    font-size: 20px !important;
}
.minh-100 {
    min-height: 100vh;
}
.center-v {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}
.olb-main {
    /* background: #707070; */
    width: 100%;
    min-height: 100vh;
}
.olb-main-in {
    width: 100%; 
    max-width: 370px;
    padding: 25px 15px;
    margin: 0 auto;
    font-family: 'CenturyGothic';
}
.login-welcome{
    font-family: 'CenturyGothic';
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
.olb-new-label {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    padding: 5px !important;
    margin: 0 !important;
}
.form-control-olb {
    height: 40px !important;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100% !important;
    box-shadow: none !important;
}
.form-group-olb {
    margin-bottom: 10px !important;
}
.btn-bg-none {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.olb-lg-br-btn {
    min-height: 70px !important;
    height: auto !important;
    width: 100% !important;
    font-size: 18px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: center !important;
    border:1px solid #fff !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    background: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 10px !important;
}
.olb-lg-br-btn span {
    font-family: 'CenturyGothicBold';
    display: block;
    flex-basis: 100%;
}

.home-top {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    font-family: 'CenturyGothicBold';

}
.home-top img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
.home-top-back{
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
}
.home-top-back-lft {
    font-family: 'CenturyGothicBold';
}
.home-top-back-rgt {
    margin: 0;
}

.client-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.new-client-pro-letter {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	/* font-size: 40px; */
	line-height: 57px;
	border: 2px solid #efefef !important;
	background: #efefef;
	text-align: center;
	margin: 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
}
.client-name-pic {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.new-client-pro-letter strong {
	background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
	background-position: 50% 50%;
	background-origin: padding-box;
    background-size: auto auto;
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}
.client-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    
}
.client-name-right {
    width: calc(100% - 70px);
    margin-left: 10px;
    font-size: 30px !important;
    line-height: 40px !important;
    color: #fff !important;
}

.olb-lg-br-btn-large, .olb-lg-br-btn-large span {
    font-size: 30px !important;
    line-height: 40px !important;
    color: #fff !important;
    font-family: 'CenturyGothic';
    font-weight: normal !important

}

.text-btn {
    font-family: 'CenturyGothicBold';
    font-size: 24px !important;
    line-height: 30px !important;
    color: #fff !important;
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    border:0 !important;
    vertical-align: middle;
    padding: 0;
    display: inline-block;
}
.btm-btns {
    margin: 30px 0 0 ;
    padding: 0;
    display: block;
    list-style: none;
    text-align: center;
}
.btm-btns li {
    vertical-align: middle;
    padding: 0;
    display: inline-block;
    list-style: none;
}
.btm-btns li:after {
    content: '|';
    font-family: 'CenturyGothicBold';
    font-size: 24px !important;
    line-height: 30px !important;
    color: #fff !important;
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
}
.btm-btns li:last-child:after {
    display: none;
}
.new-client-title {
    font-size: 16px !important;
    line-height: 25px !important;
    color: #fff !important;
    text-align: center;
    margin: 15px 0;
}
.olb-new-label-center {
    text-align: center;
    width: 100%;
}

.slect-form-new{
    background-image: url(/assets/images/arrow-new-down-blk.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255,255,255,1) !important;
    color: #000 !important;
    border: 0px solid #fff !important;
    font-size: 12px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 32px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}
.new-client-chk-info {
    font-size: 12px !important;
    line-height: 13px !important;
    color: #fff !important;   
    padding-left: 60px;
    position: relative;
    margin-bottom: 25px;
}

.new-client-chk-info span {
    width: 22px;
    height: 22px;
    border:1px solid #fff;
    display: inline-block;
    position: absolute;
    left: 27px;

}
.check-notify {
    margin-bottom: 25px;
    color: #fff;
    align-items: center;
}
.check-notify-lft {
    width: calc(100% - 90px);
    float: left;
}
.check-notify-lft img {
    display: inline-block;
    vertical-align: middle;
}
.check-notify-lft span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px !important;
    line-height: 13px !important;
    color: #fff !important;   
    padding-left: 15px;
}
.check-notify-rgt {
    width: 80px;
    float: right;
    display: flex;
    justify-content: space-between;
}


.btn-new-wt {
    background: #fff !important;
    color: #007286 !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-blue  {
    background: #6699cc !important;
    color:#fff !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-lgt-trans  {
    background: rgba(255,255,255,0.9) !important;
    color: #6699cc !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-wt.big-btn , .btn-new-blue.big-btn , .btn-new-lgt-trans.big-btn {
    padding: 8px 30px !important;
    font-size:18px !important;
    line-height: 25px !important;
    font-weight: normal;
}
.egift-name-email {
    font-size:16px !important;
    line-height: 20px !important;
    font-family: 'CenturyGothicBold';
    margin-bottom: 15px;
    margin-top: 90px;
}
.egift-name-email p {
    font-size:16px !important;
    line-height: 20px !important;
    font-family: 'CenturyGothicBold';
    color: #fff !important;   
    margin: 0;
    padding: 0;
}
.m-auto {
    margin-left: auto;
    margin-right: auto;
}
.w-50 {
    width: 50%;
}
.error-msg-box {
    background: #f1f1f1;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.error-msg-box p, .error-msg-box span {
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    margin: 0; padding: 0;
}
.mb-20 {
    margin-bottom: 20px !important;
}

.apoint-blk-main {
    display: flex;
    flex-wrap: wrap;
    font-size:14px !important;
    line-height: 20px !important;
    color: #fff !important;   
    margin-bottom: 15px;
}
.apoint-blk-desc {
    width: calc(100% - 160px);

}
.apoint-blk-modify {
    width: 79px;
    float: left;
    text-align: right;
    font-size:14px !important;
    line-height: 20px !important;
    color: #fff !important;   
    position: relative;
}
.apoint-blk-modify.font-bold:after {
    width: 1px;
    height: 15px;
    background: #fff;
    content: '';
    position: absolute;
    right: -7px;
    top: 2px;
}
.apoint-blk-cancel {
    width: 79px;
    float: left;
    font-size:14px !important;
    line-height: 20px !important;
    text-align: center;
    color: #fff !important;   
}
.apoint-blk-rebook{
    width: 150px;
    float: left;
    font-size:14px !important;
    line-height: 20px !important;
    text-align: right;
    color: #fff !important;   
}
.book-again {
    text-align: right;
}

.font-bold {
    font-family: 'CenturyGothicBold';
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.center-flex {
    align-items: center;
}

.c-pointer {
    cursor: pointer;
}
.mb-20 {
    margin-bottom: 20px !important;
}
#bgOnline{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;;
}
.olb-main {
    position: relative;
    z-index: 9;
}


















