<div id="bgOnline"></div>
<div class="olb-main">
  <div class="olb-main-in minh-100 wt-clr">
      <div class="home-top-back clearfix mb-20">
          <span class="pull-left home-top-back-lft c-pointer" [routerLink]="['/onlinebook']"><img src="../../../assets/images/home-wt.png" alt="home" width="15" height="13"> {{ 'ONLINE_BOOK.HOME' | translate }}</span> 
      </div>
      <div class="client-logo mb-20">
          <img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';" class="signup-logo" />
      </div>
      <div class="client-name mb-20">
        <div class="new-client-pro-letter">
          <img [src]="clientPic" alt="Profile" class="client-name-pic" *ngIf="clientPic">
          <strong style="font-size: 40px"
            *ngIf="!clientPic">{{ clientName ? clientName[0].toUpperCase() : '' }}</strong>
        </div>
          <div class="client-name-right"> 
              <div class="text-right" >
                  <b>{{clientName}}</b>
              </div>
              
          </div>
      </div>

      <div class="apoint-blk">
          <div class="clearfix apoint-blk-main d-flex flex-wrap center-flex">
              <div class="apoint-blk-desc">
                  <select [(ngModel)]="apptType" class="slect-form-new font-12" (change)="updateDisplayList()">
                    <option value="past">{{ 'ONLINE_CLIENT_APPTS.PAST_APPOINTMENTS' | translate }}</option>
                    <option value="future">{{ 'ONLINE_CLIENT_APPTS.FUTURE_APPOINTMENTS' | translate }}</option>
                  </select>
              </div>
              <div class="apoint-blk-modify font-bold" *ngIf="apptType !== 'past'">
                {{ 'ONLINE_CLIENT_APPTS.MODIFY' | translate }}
              </div>
              <div class="apoint-blk-cancel font-bold" *ngIf="apptType !== 'past'">
                {{ 'MY_ACCOUNT.CANCEL' | translate }}
              </div>
              <div class="apoint-blk-rebook font-bold" *ngIf="apptType === 'past'">
                {{ 'ONLINE_CLIENT_APPTS.BOOK_AGAIN' | translate }}
              </div>
          </div>

          <div class="clearfix" *ngFor="let item of displayList|slice:0:loadmore; let i ='index'">
              <div class="clearfix apoint-blk-main">
                  <div class="apoint-blk-desc">
                      <div >
                          <span class="font-14 font-bold">{{item.timeStartDate}}</span> <span class="font-14 font-bold">{{item.timeStartTime}}</span>
                      </div>
                      <div *ngFor="let obj of item['services']; let j ='index'">
                        <span class="font-14">{{obj}}</span>
                      </div>
                  </div> 
                  <div class="apoint-blk-modify">
                      <!-- <div style="min-width:160px;" *ngIf="item.Booked_Online__c === 0 || (item.bookAgain === 0 && apptType !== 'future')">
                          <div *ngIf="item.Id">Please call to book again: {{companyPhone}}</div>
                      </div> -->
                      <div *ngIf="apptType === 'future'  && allowApptChange">
                        <a *ngIf="item.Id" [routerLink]="['/onlinebook']" [queryParams]="{apptid:item.Id}">
                          <span >
                            <img src="../../../assets/images/new-edit-icon.png" alt="edit" >
                          </span>
                        </a>
                      </div>
                  </div>
                  <div class="book-again" *ngIf="(allowApptChange  && apptType === 'past')">
                    <a *ngIf="item.Id" [routerLink]="['/onlinebook']" [queryParams]="{apptid:item.Id,rebook:1}">
                      <span  >
                        <img src="../../../assets/images/book-again.png" alt="book-again" >
                      </span>
                    </a>
                  </div>
                  <div class="apoint-blk-cancel">
                      <span *ngIf="apptType === 'future'&& allowCancelChange && item.Id" (click)="cancelAppts(i)" class="c-pointer" >
                         <img src="../../../assets/images/new-close-icon.png" alt="close">
                      </span>
                  </div>
              </div>
          </div>

          <div class="text-right mt-20" *ngIf="displayList.length > 3" [style.visibility]="(hideLoadMoreButt === true) ? 'hidden' : 'visible' ">
            <a (click)="moreAppts(displayList)" class="font-12 wt-clr c-pointer">
                {{ 'ONLINE_CLIENT_APPTS.MORE' | translate }}
            </a>
          </div>
      </div>
  </div>
</div>  




















<!-- 
<div class="signup-maindiv">
<div class="signup-middle">
  <img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';" class="signup-logo" />
</div>
<div class="signup-caption">
  My Appointments
</div>
<div class="apont-head-large mb-10 mt-10 text-uppercase">
  Welcome to {{companyName}}
</div>
<div class="col-md-6 client-name-head">
  Client - {{clientName}}
</div>
<div class="col-md-6" style="text-align: right;">
  Appointments View
  <select [(ngModel)]="apptType" class="signup-options" (change)="updateDisplayList()">
    <option value="past">Past</option>
    <option value="future">Future</option>
  </select>
</div>
<div class="no-border mb-50 apptSer">
  <table class="table table-new">
    <thead>
      <tr class="app12">
        <th *ngIf="apptType === 'future'">Cancel Appt</th>
        <th>{{'MODIFY_APPT.APPOINTMENT_DATE' | translate}}</th>
        <th>Change Appointment</th>
        <th>{{'MODIFY_APPT.APPOINTMENT_TIME' | translate}}</th>
        <th>{{'COMMON.SERVICE' | translate}}</th>
        <th>{{'COMMON.WORKER' | translate}}</th>
        <th>{{'COMMON.DURATION' | translate}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of displayList;">
        <td *ngIf="apptType === 'future' && allowCancelChange" style="text-align: center">
          <input *ngIf="!(item.Booked_Online__c === 0) && item.Id && (item.Status__c !== 'Checked In')" type="checkbox"
            [(ngModel)]="item.checked">
        </td>
        <td *ngIf="apptType === 'future' && !allowCancelChange" style="text-align: center">
          &nbsp;
        </td>
        <td>
          <div *ngIf="item.Id">{{item.apptDt}}</div>
        </td>
        <td *ngIf="item.Booked_Online__c === 0 || (item.bookAgain === 0 && apptType !== 'future')">
          <div *ngIf="item.Id">Please call to book again: {{companyPhone}}</div>
        </td>

        <td *ngIf="item.Booked_Online__c === 1 && item.bookAgain === 1 && (item.rebookAllowed || apptType === 'past')">
          <a *ngIf="item.Id" class="btn btn-gradient-txt" type="button" [routerLink]="['/onlinebook']" [queryParams]="{apptid:item.Id,rebook:1}">
            <span style="font-size: 14px">
              <i class="fa fa-hand-o-right" style="margin-right: 5px;"></i> Book Again</span>
          </a>
        </td>
        <td *ngIf="item.Booked_Online__c === 1 && apptType === 'future' && !item.rebookAllowed && allowApptChange">
          <a *ngIf="item.Id" class="btn btn-gradient-txt" type="button" [routerLink]="['/onlinebook']" [queryParams]="{apptid:item.Id}">
            <span style="font-size: 14px">
              <i class="fa fa-hand-o-right" style="margin-right: 5px;"></i> Change Appt</span>
          </a>
        </td>
        <td *ngIf="item.Booked_Online__c === 1 && apptType === 'future' && !item.rebookAllowed && !allowApptChange">&nbsp;</td>
        <td>{{item.apptTime}}</td>
        <td>{{item.serviceName}}</td>
        <td>{{item.workerName}}</td>
        <td>{{item.Duration__c}}</td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center">
    <button *ngIf="apptType === 'future'&& allowCancelChange" class="btn btn-gradient-txt" type="button" style="margin-left: 30px;"
      (click)="cancelAppts()">
      <span style="font-size: 14px">
        <i class="fa fa-check-square-o"></i> Cancel Appointment</span>
    </button>
    <button class="btn btn-gradient-txt" type="button" style="margin-left: 30px;" [routerLink]="['/onlinebook']">
      <span style="font-size: 14px">
        <i class="fa fa-close"></i> Close</span>
    </button>
  </div>
</div>
</div> -->