#inner_cont {
    margin-right: 7%;
    color: white;
}

.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}

.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}

.table>tbody>tr>td>a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.form_cont label {
    display: inline-block;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password] {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    width: 100%;
    border: solid 1px #fff !important;
    height: 35px;
    padding: 5px 10px 5px 10px;
    outline: none;
    background: none;
    color: white !important;
    border-radius: 0;
    background: none !important;
}
.form_cont input[type=text]:focus, .form-control:focus, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: white !important;
    border-color: #fff !important;
}
@media (max-width:991px) {
    .form_cont label {
        padding-left: 0;
        padding-right: 0;
        font-size: 13px;
    }
}

.form_cont {
    padding-bottom: 35px;
}

.mt-top {
    margin-top: 6px;
}

.align-right {
    float: right;
}

.ml-bottom {
    margin-bottom: 5px;
}

.table-max-rewards {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

/* tr:nth-child(even) {
    background-color: rgb(49, 128, 172);
} */

.label {
    font-weight: bold;
}

/* below two css are used for page name title   */

:host ::ng-deep .wd-al {
    margin-left: 0px!important;
    text-align: left;
}

:host ::ng-deep .text-capitalize {
    text-transform: uppercase;
}

/* end of css page name title   */

.fa-print {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}

@media (max-width: 768px) {
    .table-responsive {
        margin-right: 10%;
    }
}

@media (device-width: 1024px) {
    .table-responsive {
        margin-right: 6%;
    }
}

@media (device-width: 768px) {
    .form_cont table {
        font-size: 10px;
    }
    #inner_cont {
        margin-right: 10%;
    }
}

@media (device-width: 1024px) {
    .form_cont table {
        font-size: 10px;
    }
    #inner_cont {
        margin-right: 10%;
    }
}

.select-new-trans {
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 35px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}

.input-type {
    color: white;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.dropwidth {
    width: 32% !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}