<div id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="row">
                {{clientName | translate }}
            </div>
            <div class="red">{{errorMsgAry[1]}}</div>
            <div class="red">{{errorMsgAry[2]}}</div>
            <div class="red">{{errorMsgAry[3]}}</div>
            <div class="red">{{errorMsgAry[5]}}</div>
            <div class="red">{{errorMsgAry[6]}}</div>
            <div class="row mt-20 clearfix brdgrey">
                <div class="col-md-12  pdgt5">
                    {{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.SELECT_MEMBERSHIPS" | translate }}
                </div>
            </div>

            <div class="row mt-20">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">

                        <thead>
                            <tr>
                                <th class="thcss">
                                    {{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.MEMBERSHIPS_PROGRAM" | translate }}</th>
                                <th class="thcss">{{ "COMMON.PRICE" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select (change)="getPriceAndPayList($event.target.value);">
                                        <option>None</option>
                                        <option
                                            *ngFor="let checkoutmembersipslist of checkoutMembersipsList; let i='index'"
                                            value={{checkoutmembersipslist.Id}}${{checkoutmembersipslist.Price__c}}>
                                            {{checkoutmembersipslist.Name}}</option>
                                    </select>
                                </td>
                                <td>{{memPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.NEXT_BILL_DATE" | translate }}
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]="formattedDate" #dp="bsDatepicker" bsDatepicker
                        [(bsValue)]="formattedDate" [bsConfig]="datePickerConfig" class="datefield"
                        [minDate]="this.minDate">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{"CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.MEMBERSHIP_ID" | translate }}
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]="clientMembershipId" (keydown)="clearErrMsg()">
                    <!-- <div class="red">{{errorMsgAry[4]}}</div> -->
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.CLIENT_PICTURE" | translate }}
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <img *ngIf="clientPicShow!=null" [src]="clientPic" width="50" height="50">
                    <p *ngIf="clientPicShow==null">
                        {{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.CLIENT_PICTURE_UPLOAD" | translate }}</p>
                </div>
            </div>
            <div class="row mt-20 clearfix brdgrey">
                <div class="col-md-12  pdgt5">
                    {{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.PAYMENT" | translate }}
                </div>
            </div>
            <div class="row mt-20">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">

                        <thead>
                            <tr>
                                <th class="thcss">{{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.PAYMENT_TYPE" | translate }}
                                </th>
                                <th class="thcss">{{ "COMMON.AMOUNT" | translate }}</th>
                                <th class="thcss">{{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.USE_AUTO_BILLING" | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="payment==false">
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr *ngIf="payment==true">
                                <td>

                                    <span *ngIf="showOk==false">
                                        <select (change)="showSaveButton($event.target.value);clearErrMsg();"
                                            [(ngModel)]="paymentId">
                                            <option value=''>None</option>
                                            <option *ngFor="let paymentlist of paymentList; let i='index'"
                                                value="{{paymentlist.Id}}${{paymentlist.Name}}${{paymentlist.Icon_Document_Name__c}}${{paymentlist.Process_Electronically__c}}">
                                                {{paymentlist.Name}}</option>
                                        </select>
                                        <div class="red crt-tkn-error" *ngIf="errorPayment"> {{errorPayment}} </div>
                                        <span *ngIf="paymentName=='cash'">
                                            <img [src]="paymentIcon" width="50" height="50">
                                        </span>
                                        <span *ngIf="paymentName=='credit card' && autobillingCheck===1">
                                            <img [src]="paymentIcon" width="50" height="50">
                                            <label>{{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.READY_TO_SWIPE" | translate }}</label>
                                            <input type="text" />
                                            <button type="button" class="btn btn-primary"
                                                (click)="showPaymentModal()">{{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.MANUAL_ENTRY" | translate }}</button>
                                        </span>
                                        <span *ngIf="paymentName=='gift redeem'">
                                            <img [src]="paymentIcon" width="50" height="50">
                                            <input type="text" />
                                        </span>
                                        <span *ngIf="paymentName=='visa'">
                                            <img [src]="paymentIcon" width="50" height="50">
                                            <label>{{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.READY_TO_SWIPE" | translate }}</label>
                                            <input type="text" />
                                            <button type="button" class="btn btn-primary"
                                                (click)="showPaymentModal()">{{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.MANUAL_ENTRY" | translate }}</button>
                                        </span>
                                    </span>
                                    <span *ngIf="showOk==true">
                                        <select class="disable" (change)="showSaveButton($event.target.value);"
                                            disabled>
                                            <option>None</option>
                                            <option *ngFor="let paymentlist of paymentList; let i='index'"
                                                value="{{paymentlist.Id}}${{paymentlist.Name}}${{paymentlist.Icon_Document_Name__c}}">
                                                {{paymentlist.Name}}</option>
                                        </select>
                                        <img [src]="paymentIcon" width="50" height="50">
                                        <p style="color: green;">
                                            {{ "CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.SUCCESS" | translate }}</p>
                                    </span>
                                    <span *ngIf="paymentName == ''">
                                        <img [src]="paymentIcon" width="50" height="50">
                                        <p class="red"> Credit Card Processing Error</p>
                                    </span>
                                </td>
                                <td>{{memPrice}}</td>
                                <td>
                                    <span *ngIf="autobillingCheck===1">
                                        <input type="checkbox" [(ngModel)]="autoBill" />
                                    </span>
                                    <span *ngIf="autobillingCheck===0">
                                        <input type="checkbox" disabled />
                                    </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{ 'POS_DEVICES.CASH_DRAWER' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8" *ngIf="cashDrawer==''">
                    <p>N/A</p>
                </div>
                <div class="col-md-7 col-sm-8" *ngIf="cashDrawer!=''">
                    <p>{{cashDrawer}}</p>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" *ngIf="showSave==true && showOk==false" class="save-btn"
                        (click)="saveCheckoutMemberships()">{{ 'BUTTON.SAVE' | translate }}</button>
                    <button type="button" class="cancel-btn" *ngIf="showOk==false"
                        (click)="cancel()">{{ 'BUTTON.CANCEL' | translate }}</button>
                    <button type="button" *ngIf="showSave==false && showOk==true" class="save-btn"
                        (click)="saveCheckoutMemberships()">{{ 'BUTTON.OK' | translate }}</button>
                </div>
            </div>
            <div bsModal #processPaymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="color: black;">
                        <div class="modal-header">
                            <h4>{{ 'CREATE_TOKEN.PROCESS_PAYMENT' | translate }}</h4>
                            <button type="button" (click)="cancelPayModal()" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body clearfix">

                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label>Amount</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{memPrice}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <h4> Billing Information</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label>Cardholder Name</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="clientName"
                                        style="border-color: #000 !important;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label>Mailing Zip/Postal Code</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="mailingCode"
                                        style="border-color: #000 !important;" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <h4>Payment Information</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label>Card Number</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="cardNum" style="border-color: #000 !important;" />
                                    <small>{{'CREATE_TOKEN.NO_DASHES' | translate}}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label>{{'CREATE_TOKEN.EXPIRES' | translate}}</label>
                                </div>
                                <div class="col-md-8">
                                    <select style="border-color: #000 !important; color: #000" [(ngModel)]="expMonth">
                                        <option *ngFor="let month of monthList; let i='index'" value="{{i+1}}">{{month}}
                                        </option>
                                    </select>
                                    <select style="border-color: #000 !important; color: #000" [(ngModel)]="expYear">
                                        <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label>{{'CREATE_TOKEN.CVV' | translate}}</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="cardCVV" style="border-color: #000 !important;" />
                                </div>
                            </div>
                            <div class="red crt-tkn-error" style="text-align:center;"> {{errorMsgAry[0]}} </div>
                            <div class="row">
                                <div class="text-center mt-40">
                                    <button class="save-btn" type="button" (click)="generateToken()">Purchase
                                        Now</button>
                                    <button class="cancel-btn" type="button"
                                        (click)="cancelPayModal()">{{'BUTTON.CANCEL' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>