<div id="wrapper_setup_new">
  <app-header [newMenu]="'noNav'"></app-header>
  <section id="inner_cont">
    <div class="container ">
      <div class="row mt-20">
        <div class="serach-sroll">
          <div class="mb-15 clearfix">
            <input class="search-input-list" type="text" [(ngModel)]="memberSearch" placeholder="Enter, Scan or Swipe.."
              id="memberCheckin" (keyup)="test($event.keyCode)">
            <button type="button" class="btn pull-right"
              style="color: white;background-color: #a8a8a8;padding: 8px 20px 8px 20px;" (click)="searchMemberId()">
              <i class="fa fa-add" aria-hidden="true">{{'BUTTON.SUBMIT' | translate}}</i>
            </button>
          </div>

          <div class="row clearfix">
            <div class="col-sm-6 mt-20 text-right res-tleft">
              <a class="btn btn-primary d-blcok next-mem w-100"
                (click)="clearData()">{{'MEMBER_CHECKIN.NEXT_MEMBER'| translate}}</a>
            </div>
            <div class="col-sm-6 mt-20">
              <a class="btn btn-primary d-blcok search-mem w-100" (click)="member()">
                <img alt="Search" src="assets/images/search-icon.png" width="14">
                <span>{{'MEMBER_CHECKIN.MEMBER'| translate}}</span>
              </a>
            </div>
            <div class="col-sm-12 mt-20">
              <a class="btn btn-primay d-blcok new-mem w-100" (click)="newMember()">+
                {{'MEMBER_CHECKIN.NEW_MEMBER' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container form_cont mt-40" *ngIf="errMsg">
      <div class="red text-center" style="color:white">
        <h3>{{errMsg | translate }}</h3>
      </div>
    </div>

    <div id="showDiv" class="container form_cont mt-40" *ngIf='hideTable == true'>
      <div *ngFor="let memberss of memberShipDetails let i='index'" class="clearfix mb-30">
        <div class="col-md-6 col-sm-6 text-left res-tleft label-css">
          <div class="col-sm-3 col-sm-offset-1">
            <div class="staff-search-list-img ">
              <div class="staff-search-list-img" *ngIf="(memberss.image && memberss.image !== '')">
                <img src="{{imgPath | translate}}{{memberss.image}}"
                  style="width:91px !important;height:91px !important; border-radius:50%; border:1px solid #fff; "
                  (error)="errorHandler($event,i)" alt="Profile">
              </div>
              <div *ngIf="(memberss.image === null || memberss.image === '' || memberss.image === undefined)">
                <div class="appnt-pro-letter" style="width:91px !important;height:91px !important;line-height:91px;">
                  <strong> {{ memberss.FirstName[0].toUpperCase() }} </strong>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <h1>{{memberss.name}}</h1>
            <h2>Birthday:
              <span>{{ birthdayShow | date: 'MM/dd/yyyy'}}</span>
            </h2>
            <h2>Gender: {{memberss.Gender__c}}</h2>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 label-css" style="height:40px;">
          <div class="col-sm-7 col-sm-offset-1">
            <h1>Member Id:{{memberss.memberID}}</h1>
            <h2>Type:{{memberss.Name}}</h2>
            <h2>Payment Due: {{memberss.Next_Bill_Date__c | date: 'MM/dd/yyyy'}}</h2>
          </div>
          <div class="col-sm-3" *ngIf="memberss.checkSlot == 1">
            <div class="appnt-pro-letter pull-right" style="width:91px;height:91px;background:green;">
              <i style="font-size: 86px; margin-top: 0;line-height: 89px;color:#fff !important;font-family: FontAwesome !important;"
                class="fa fa-check"></i>
            </div>
          </div>
          <div class="col-sm-3" *ngIf="memberss.checkSlot == 0">
            <div class="appnt-pro-letter pull-right" style="width:91px;height:91px;background:red;">
              <i style="font-size: 86px; margin-top: 0;line-height: 89px;color:#fff !important;font-family: FontAwesome !important;"
                class="fa fa-times"></i>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div bsModal #searchPop="bs-modal" class="modal fade bluemodal" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <div class="mb-10 mt-20 clearfix staff-search">
              <div class="input-group">
                <input class="search-input-list form-control" type="text" [formControl]="searchField" id="memberSearch"
                  placeholder="Name, Email, Phone, Member Id.." [(ngModel)]="cSearch">
                <span class="input-group-addon">
                  <button style="cursor: inherit;" type="submit">
                    <img alt="Search" src="assets/images/search-icon.png" width="14">
                  </button>

                </span>
              </div>
            </div>
            <perfect-scrollbar style="max-height:300px;">
              <div class="staff-search-details mt-10">
                <div class="staff-search-details-in">
                  <div class="staff-search-list" *ngFor="let client of autoList; let i='index'">
                    <div class="staff-search-list-img" *ngIf="(client.image && client.image !== '')">
                      <img src="{{imgPath | translate}}{{client.image}}" width="61" (error)="errorHandler($event,i)"
                        height="61" alt="Profile">
                    </div>
                    <div class="staff-search-list-img"
                      *ngIf="(client.image === null || client.image === '' || client.image === undefined)">
                      <div class="appnt-pro-letter" style="width:61px;height:61px;line-height: 57px;">
                        <strong> {{ client.FirstName[0].toUpperCase() }} </strong>
                      </div>
                    </div>
                    <div class="staff-search-list-name" (click)="checkValidMember(client.Membership_ID__c)">
                      <span id="bookStandingClear">{{client.FirstName}} &nbsp; {{client.LastName}}</span>
                      <span *ngIf="hideClientInfo === 0">
                        <div class="staff-search-list-mobile" *ngIf="!client.Phone || !client.MobilePhone">
                          {{client.Phone}} | {{client.MobilePhone}}</div>
                        <div class="staff-search-list-email">{{client.Email}}</div>
                      </span>
                    </div>

                  </div>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
        </div>
      </div>
    </div>


    <div bsModal #newMemberModal="bs-modal" class="modal expressBooking bluemodal newmembermodal" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-content" style="margin: auto;">
        <span id="cancel1" (click)="closeMemberShip()" class="close close-list">&times;</span>
        <div class="modal-dialog ">
          <div class="modal-body">
            <h5 class="appoinment-heading mt-10">
              <span>{{'MEMBER_CHECKIN.ADD_NEW_MEMBER' | translate}}</span>
            </h5>
            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5">
                  <span class="red">*</span> {{'APPOINTMENTS_MAIN_PAGE.FIRST_NAME' | translate}} </label>
              </div>
              <div class="col-md-7 col-sm-8">
                <input class="form-control" type="text" (keypress)="clearErrorMsg()" [(ngModel)]="firstName">
              </div>

              <div class="red text-center" style="margin-right:141px;">
                <h6> {{firstNameError | translate}}</h6>
              </div>

            </div>
            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5">
                  <span class="red">*</span>{{'APPOINTMENTS_MAIN_PAGE.LAST_NAME' | translate}} </label>
              </div>
              <div class="col-md-7 col-sm-8">
                <input class="form-control" type="text" (keypress)="clearErrorMsg()" [(ngModel)]="lastName">
              </div>

              <div class="red text-center" style="margin-right:141px;">
                <h6> {{lastNameError | translate}}</h6>
              </div>

            </div>
            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5">{{'BUTTON.BIRTHDATE' | translate}} </label>
              </div>
              <div class="col-md-7 col-sm-8">
                <!-- <input type="text" class="form-control" [(ngModel)]="birthdayDate" bsDatepicker [maxDate]="maxDate" [minDate]="minDate" [bsConfig]="datePickerConfig"
                  (ngModelChange)="populateFromDate()"> -->
                <input type="text" class="form-control" [(ngModel)]="birthdayDate" (keypress)='validDate();'>
              </div>
              <div class="red text-center " style="margin-right:141px; ">
                <h6> {{errorValidDate | translate}}</h6>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5">{{'BUTTON.GENDER' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <select [(ngModel)]="gender" class="form-control select-bg">
                  <option>{{'COMMON.MALE' | translate}}</option>
                  <option>{{'COMMON.FEMALE' | translate}}</option>
                </select>
              </div>
            </div>

            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'APPOINTMENTS_MAIN_PAGE.MOBILE' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <div class="row clearfix">
                  <div class="col-xs-4">
                    <input class="form-control" type="text" disabled placeholder="01">
                  </div>
                  <div class="col-xs-8">
                    <input class="form-control" type="text" [(ngModel)]="mobileNumber" maxlength="13"
                      onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                      id="mobileNumber" (keypress)='hyphen_generate_mobile(mobileNumber);'>
                  </div>
                </div>
                <p class="mt-5">
                  <label for="c_mobile" style="font-size: 12px;">{{'MEMBER_CHECKIN.MESSAGE' | translate}}</label>
                  <input id="c_mobile" type="checkbox" style="position: absolute;right: 21px;"
                    [(ngModel)]="sms_checkbox" [disabled]="mobileNumber ? false : true" />
                </p>
              </div>
            </div>
            <div class="row mt-15">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'CLIENTS.PRIMARY_EMAIL' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <input class="form-control" type="text" (keypress)="clearErrorMsg()" [(ngModel)]="primaryEmail">
              </div>

              <div class="red text-center" style="margin-right:141px;">
                <h6> {{primaryEmailError | translate}}</h6>
              </div>
            </div>
            <h5 class="appoinment-heading mt-20 ">
              <span>{{'CREATE_TOKEN.BILL_INFO' |translate}}</span>
            </h5>
            <div class="row mt-10">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5">{{'MEMBER_CHECKIN.MEMBER_ID' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <input class="form-control" type="text" (keypress)="numbersOnly($event);clearErrorMsg();" maxlength="20"
                  [(ngModel)]="memUniId" placeholder="Enter, Scan or Swipe">
              </div>
              <div class="red text-center" style="margin-right:141px;">
                <h6> {{memUniIdError | translate}}</h6>
              </div>

            </div>
            <div class="row mt-10" *ngIf="MembersipsList && MembersipsList.length > 0">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'MEMBER_CHECKIN.MEMBERSHIP_TYPE' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <select class="form-control select-bg" [(ngModel)]="MemberShipType"
                  (change)="membershipPlanchange($event.target.value) ">
                  <option value="">Select Type</option>
                  <option *ngFor="let checkoutmembersipslist of MembersipsList; let i='index' "
                    value={{checkoutmembersipslist.Id}}${{checkoutmembersipslist.Price__c}}>
                    {{checkoutmembersipslist.Name}}</option>
                </select>
              </div>
              <div class="red text-center " style="margin-right:141px; ">
                <h6> {{MemberShipTypeError | translate}}</h6>
              </div>
            </div>
            <div class="row mt-10 " *ngIf="paymentList && paymentList.length> 0">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'MEMBER_CHECKIN.SELECT_PAYMENT_TYPE' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <select class="form-control select-bg" [(ngModel)]="paymentTypes">
                  <option value="">{{'MEMBER_CHECKIN.SELECT_PAYMENT_TYPE' | translate}}</option>
                  <option *ngFor="let list of paymentList;" value="{{list.Id}}${{list.Name}}">{{list.Name}}</option>
                </select>
              </div>
              <div class="red text-center" style="margin-right:141px;">
                <h6> {{paymentTypesError | translate}}</h6>
              </div>
            </div>
            <div *ngIf="hidePaymentTab == true">
              <div class="row mt-10">
                <div class="col-md-5 col-sm-4 res-tleft">
                  <label class="mt-5">{{'MEMBER_CHECKIN.AUTO_BILL' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                  <input type="checkbox" style="width:15px; height:15px;" [(ngModel)]="autoBill">
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-md-5 col-sm-4 res-tleft">
                  <label class="mt-5"> {{'MEMBER_CHECKIN.CARD_NUMBER' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                  <input class="form-control" type="text"
                    onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                    (keypress)="clearErrorMsg()" maxlength="16" [(ngModel)]="cardNumber">
                </div>
                <div class="red text-center">
                  <h6> {{cardNumberError | translate}}</h6>
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-md-5 col-sm-4 res-tleft">
                  <label class="mt-5"> {{'MEMBER_CHECKIN.NAME' | translate}} </label>
                </div>
                <div class="col-md-7 col-sm-8">
                  <input class="form-control" type="text" (keypress)="clearErrorMsg()" [(ngModel)]="NameOnCard">
                </div>
                <div class="red text-center" style="margin-right:141px;">
                  <h6> {{NameOnCardError | translate}}</h6>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="row clearfix mt-10">
                    <div class="col-md-3 col-sm-4 res-tleft">
                      <label class="mt-5">{{'MEMBER_CHECKIN.EXPIRATION' | translate}} </label>
                    </div>
                    <div class="col-md-9 col-sm-8">
                      <div class="row">
                        <div class="col-xs-6">
                          <select class="form-control select-bg" (change)="clearErrorMsg()" [(ngModel)]="expMonth"
                            (click)="error=' '">
                            <option *ngFor="let month of monthList; let i='index
                      '" value="{{i+1}}">{{month}}</option>
                          </select>
                        </div>
                        <div class="col-xs-6">
                          <select class="form-control select-bg" (change)="clearErrorMsg()" [(ngModel)]="expYear"
                            (click)="error=' '">
                            <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="red text-center">
                      <h6> {{expiryError | translate}}</h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row clearfix mt-10">
                    <div class="col-md-4 col-sm-4 res-tleft">
                      <label class="mt-5"> {{'CREATE_TOKEN.CVV' | translate}}</label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                      <input class="form-control" type="text"
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                        (keypress)="clearErrorMsg()" maxlength="4" [(ngModel)]="cvv" placeholder="">
                    </div>
                    <div class="red text-center">
                      <h6> {{cvvError | translate}}</h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row clearfix mt-10">
                    <div class="col-md-4 col-sm-4 res-tleft">
                      <label class="mt-5"> {{'MY_ACCOUNT.ZIP' | translate}}</label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                      <input class="form-control" type="text"
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                        (keypress)="clearErrorMsg()" maxlength="9" [(ngModel)]="zipCode" placeholder="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row clearfix mt-15">
                  <div class="col-sm-6">
                    <label style="margin-left:-2px;">$</label>
                    <input class="form-control" type="text" value="{{amount | number: '2.2-2'}}"
                      style="margin-top: -28px;margin-left: 12px;" (keypress)="validateNum($event);clearErrorMsg();"
                      maxlength="8" [(ngModel)]="charge" disabled>
                  </div>
                  <div class="col-sm-6 res-tleft">
                    <label class="mt-5">{{'MEMBER_CHECKIN.FIRST_PAYMENT' | translate}}</label>
                  </div>
                  <div class="red text-center" style="margin-right: 141px;">
                    <h6> {{chargeError | translate}}</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row clearfix mt-15">
                  <label class="mt-5 d-inline"> {{amount | currency: "USD": "symbol-narrow"}}</label>
                  <select class="form-control select-bg d-inline" [(ngModel)]="nextBillDate" style="max-width: 152px;">
                    <option value="">{{'MEMBER_CHECKIN.SELECT_PLAN' | translate}}</option>
                    <option value="1">{{'MARKETING_SETS.MONTHLY' | translate}}</option>
                    <option value="3">{{'MEMBER_CHECKIN.QUARTERLY' | translate}}</option>
                    <option value="12">{{'MEMBER_CHECKIN.YEARLY' | translate}}</option>
                  </select>
                  <label class="mt-5 d-inline"> {{'CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.PAYMENT' | translate}}</label>
                  <div class="red text-center" style="margin-right: 51px;">
                    <h6> {{nextBillDateError | translate}}</h6>
                  </div>

                </div>
              </div>
            </div>
            <div class="row clearfix mt-20">
              <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-gradient-txt" (click)="saveMember()">
                  <span>{{'MEMBER_CHECKIN.FIRST_PAYMENT_SAVE' | translate}}</span>
                </button>
                <button type="button" class="btn btn-primary m-0"
                  (click)="closeMemberShip()">{{'BUTTON.CANCEL' | translate}}</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div bsModal #existingClient="bs-modal" class="modal expressBooking bluemodal newmembermodal" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">

      <div class="modal-content" style="margin: auto;">
        <span id="cancel1" (click)="closeExistingMemberShip()" class="close close-list">&times;</span>
        <div class="modal-dialog ">
          <div class="modal-body">
            <h5 class="appoinment-heading mt-10">
              <span>{{'MEMBER_CHECKIN.MEMBERSHIP' | translate}}</span>
            </h5>
            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5">
                  <span class="red">*</span> {{'APPOINTMENTS_MAIN_PAGE.FIRST_NAME' | translate}} </label>
              </div>
              <div class="col-md-7 col-sm-8">
                <input class="form-control" type="text" disabled value="{{showClientInfo.FirstName}}">
              </div>

            </div>
            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5">
                  <span class="red">*</span> {{'APPOINTMENTS_MAIN_PAGE.LAST_NAME' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <input class="form-control" type="text" disabled value=" {{showClientInfo.LastName}}">
              </div>

            </div>
            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'BUTTON.BIRTHDATE' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <!-- <input type="text" class="form-control" *ngIf="showClientInfo.Birthdate !== 'null' || showClientInfo.Birthdate !== '' ">Birthday: {{showClientInfo.Birthdate | date: 'MM/dd/yyyy'}}/> -->
                <!-- <input type="text" class="form-control" [(ngModel)]="existingBirthday" value="{{ birthdayShow | date:'MM/dd/yyyy'}}" bsDatepicker
                  [maxDate]="maxDate" [minDate]="minDate" [bsConfig]="datePickerConfig" (ngModelChange)="populateFromDate()"> -->
                <input type="text" class="form-control" [(ngModel)]="existingBirthday"
                  value="{{ birthdayShow | date:'MM/dd/yyyy'}}" (keypress)='validDate();'>
              </div>
              <div class="red text-center " style="margin-right:141px; ">
                <h6> {{errorValidDate | translate}}</h6>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5">{{'BUTTON.GENDER' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <select class="form-control select-bg" [(ngModel)]="existingGender"
                  value="{{showClientInfo.Gender__c}}">
                  <option value="Male">{{'COMMON.MALE' | translate}}</option>
                  <option value="Female">{{'COMMON.FEMALE' | translate}}</option>
                </select>
              </div>
            </div>

            <div class="row mt-20" *ngIf='hideClientInfo===0'>
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'APPOINTMENTS_MAIN_PAGE.MOBILE' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <div class="row clearfix">
                  <div class="col-xs-4">
                    <input class="form-control" type="text" disabled placeholder="01">
                  </div>
                  <div class="col-xs-8">
                    <input class="form-control" type="text" [(ngModel)]="existingMobile" id="existingMobile"
                      maxlength="13" value="{{showMobileNo}}"
                      onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                      (keypress)='hyphen_gen(existingMobile);'>
                  </div>
                </div>
                <p class="mt-5">
                  <label for="c_mobile" style="font-size: 12px;">{{'MEMBER_CHECKIN.MESSAGE' | translate}} </label>
                  <input id="c_mobile" [disabled]="!existingMobile" type="checkbox"
                    style="position: absolute;right: 21px;" [(ngModel)]="existingSms_checkbox" />
                </p>
              </div>
            </div>
            <div class="row mt-15" *ngIf='hideClientInfo===0'>
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'CLIENTS.PRIMARY_EMAIL' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <input class="form-control" type="text" [(ngModel)]="existingEmail" value="{{showClientInfo.Email}}">
              </div>
            </div>

            <h5 class="appoinment-heading mt-20 ">
              <span>{{'CREATE_TOKEN.BILL_INFO' |translate}}</span>
            </h5>
            <div class="row mt-10">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'MEMBER_CHECKIN.MEMBER_ID' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <input *ngIf="memberId == '0' " type="text" class="form-control"
                  (keypress)="numbersOnly($event);clearErrorMsg()" [(ngModel)]="existingMemUniId">
                <input *ngIf="memberId == '1' " type="text" class="form-control"
                  value="{{showClientInfo.Membership_ID__c}}" disabled>
              </div>
              <div class="red text-center" style="margin-right:141px;">
                <h6> {{existingMemUniIdError | translate}}</h6>
              </div>
            </div>

            <div class="row mt-10" *ngIf="MembersipsList && MembersipsList.length > 0">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'MEMBER_CHECKIN.MEMBERSHIP_TYPE' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <select class="form-control select-bg" [(ngModel)]="existingMemberShip"
                  (change)="existingMemPlanChange($event.target.value)">
                  <option value="">{{'MEMBER_CHECKIN.SELECT_TYPE' | translate}}</option>
                  <option *ngFor="let checkoutmembersipslist of MembersipsList; let i='index'"
                    value={{checkoutmembersipslist.Id}}${{checkoutmembersipslist.Price__c}}>
                    {{checkoutmembersipslist.Name}}</option>
                </select>
              </div>
              <div class="red text-center" style="margin-right:141px;">
                <h6> {{MemberShipTypeError | translate}}</h6>
              </div>
            </div>
            <div class="row mt-10" *ngIf="paymentList && paymentList.length > 0">
              <div class="col-md-5 col-sm-4 res-tleft">
                <label class="mt-5"> {{'MEMBER_CHECKIN.SELECT_PAYMENT_TYPE' | translate}}</label>
              </div>
              <div class="col-md-7 col-sm-8">
                <select class="form-control select-bg" [(ngModel)]="existingPaymentTypes">
                  <option value="">{{'MEMBER_CHECKIN.SELECT_PAYMENT_TYPE' | translate}}</option>
                  <option *ngFor="let list of paymentList;" value="{{list.Id}}${{list.Name}}">{{list.Name}}</option>
                </select>
              </div>
              <div class="red text-center" style="margin-right:141px;">
                <h6> {{paymentTypesError | translate}}</h6>
              </div>
            </div>
            <div *ngIf="hidePaymentTab == true">
              <div class="row mt-10">
                <div class="col-md-5 col-sm-4 res-tleft">
                  <label class="mt-5">{{'MEMBER_CHECKIN.AUTO_BILL' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                  <input type="checkbox" style="width:15px; height:15px;" [(ngModel)]="existingAutoBill">
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-md-5 col-sm-4 res-tleft">
                  <label class="mt-5">{{'MEMBER_CHECKIN.CARD_NUMBER' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                  <input class="form-control" type="text"
                    onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                    (keypress)="clearErrorMsg()" maxlength="16" [(ngModel)]="existingCardNumber"
                    placeholder="Card Number">
                </div>
                <div class="red text-center">
                  <h6> {{cardNumberError | translate}}</h6>
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-md-5 col-sm-4 res-tleft">
                  <label class="mt-5"> {{'MEMBER_CHECKIN.NAME' | translate}} </label>
                </div>
                <div class="col-md-7 col-sm-8">
                  <input class="form-control" type="text" (keypress)="clearErrorMsg()" [(ngModel)]="ExistingNameOnCard"
                    placeholder="Name on Card">
                </div>
                <div class="red text-center" style="margin-right:141px;">
                  <h6> {{NameOnCardError | translate}}</h6>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="row clearfix mt-10">
                    <div class="col-md-3 col-sm-4 res-tleft">
                      <label class="mt-5"> {{'MEMBER_CHECKIN.EXPIRATION' | translate}}</label>
                    </div>
                    <div class="col-md-9 col-sm-8">
                      <div class="row">
                        <div class="col-xs-6">
                          <select class="form-control select-bg" (change)="clearExistingMember()"
                            [(ngModel)]="existingExpMonth" (click)="error=' '">
                            <option *ngFor="let month of monthList; let i='index
                      '" value="{{i+1}}">{{month}}</option>
                          </select>
                        </div>
                        <div class="col-xs-6">
                          <select class="form-control select-bg" (change)="clearExistingMember()"
                            [(ngModel)]="existingExpYear" (click)="error=' '">
                            <option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="red text-center">
                      <h6> {{expiryError | translate}}</h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row clearfix mt-10">
                    <div class="col-md-4 col-sm-4 res-tleft">
                      <label class="mt-5"> {{'CREATE_TOKEN.CVV' | translate}}</label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                      <input class="form-control" type="text"
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                        (keypress)="clearErrorMsg()" maxlength="4" [(ngModel)]="existingCvv">
                    </div>
                    <div class="red text-center">
                      <h6> {{cvvError | translate}}</h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row clearfix mt-10">
                    <div class="col-md-4 col-sm-4 res-tleft">
                      <label class="mt-5"> {{'MY_ACCOUNT.ZIP' | translate}}</label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                      <input class="form-control" type="text"
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                        (keypress)="clearErrorMsg()" maxlength="9" [(ngModel)]="ExistingZipcode" placeholder="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row clearfix mt-15">
                  <div class="col-sm-6">
                    <label style="margin-left:-2px;">$</label>
                    <input class="form-control" type="text" value="{{amount | number}}" [(ngModel)]="existingCharge"
                      style="margin-top: -28px;margin-left: 12px;" (keypress)="validateNum($event);clearErrorMsg();"
                      maxlength="8" disabled>
                  </div>
                  <div class="col-sm-6 res-tleft">
                    <label class="mt-5">{{'MEMBER_CHECKIN.FIRST_PAYMENT' | translate}} </label>
                  </div>
                  <div class="red text-center" style="margin-right: 141px;">
                    <h6> {{chargeError | translate}}</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row clearfix mt-15">
                  <label class="mt-5 d-inline"> {{amount | currency: "USD": "symbol-narrow"}}</label>
                  <select class="form-control select-bg d-inline" [(ngModel)]="existingNextBillDate"
                    style="max-width: 120px;">
                    <option value="">{{'MEMBER_CHECKIN.SELECT_PLAN' | translate}}</option>
                    <option value="1">{{'MARKETING_SETS.MONTHLY' | translate}}</option>
                    <option value="3">{{'MEMBER_CHECKIN.QUARTERLY' | translate}}</option>
                    <option value="12">{{'MEMBER_CHECKIN.YEARLY' | translate}}</option>
                  </select>
                  <label class="mt-5 d-inline"> {{'CHECK_OUT_LIST.CLIENT_MEMBERSHIPS.PAYMENT' | translate}}</label>
                  <div class="red text-center" style="margin-right: 51px;">
                    <h6> {{nextBillDateError | translate}}</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix mt-20">
              <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-gradient-txt" (click)="existingMemebership(showClientInfo)">
                  <span>{{'MEMBER_CHECKIN.FIRST_PAYMENT_SAVE' | translate}}</span>
                </button>
                <button type="button" class="btn btn-primary m-0"
                  (click)="closeExistingMemberShip()">{{'BUTTON.CANCEL' | translate}}</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div bsModal #searchMembership="bs-modal" class="modal fade bluemodal" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <div class="mb-10 mt-20 clearfix staff-search">
              <div class="input-group">
                <input class="search-input-list form-control" type="text" id="newMember" [formControl]="searchField"
                  placeholder="Name, Email, Phone, Member Id.." [(ngModel)]="cSearch">
                <!-- <span class="input-group-addon">
                  <button style="cursor: inherit;" type="submit">
                    <img alt="Search" src="assets/images/search-icon.png" width="14">
                  </button>
                </span> -->
                <span class="input-group-addon">
                  &nbsp;
                  <button type="submit" (click)="newClient()">
                    <img src="assets/images/plus-icon.png" width="14" alt="Plus">
                  </button>
                </span>
              </div>
            </div>
            <perfect-scrollbar style="max-height:300px;">
              <div class="staff-search-details mt-10">
                <div class="staff-search-details-in">
                  <div class="staff-search-list" *ngFor="let client of autoList; let i='index'">
                    <div class="staff-search-list-img" *ngIf="(client.image && client.image !== '')">
                      <img src="{{imgPath | translate}}{{client.image}}" width="61" (error)="errorHandler($event,i)"
                        height="61" alt="Profile">
                    </div>
                    <div class="staff-search-list-img"
                      *ngIf="(client.image === null || client.image === '' || client.image === undefined)">
                      <div class="appnt-pro-letter" style="width:61px;height:61px;line-height: 57px;">
                        <strong> {{ client.FirstName[0].toUpperCase() }} </strong>
                      </div>
                    </div>
                    <div class="staff-search-list-name" (click)="getDataExistingClient(client)">
                      <span id="bookStandingClear">{{client.FirstName}} &nbsp; {{client.LastName}}</span>
                      <span *ngIf='hideClientInfo===0'>
                        <div class="staff-search-list-mobile" *ngIf="!client.Phone || !client.MobilePhone">
                          {{client.Phone}} | {{client.MobilePhone}}</div>
                        <div class="staff-search-list-email">{{client.Email}}</div>
                      </span>
                    </div>

                  </div>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
        </div>
      </div>
    </div>

  </section>
  <app-rightbar></app-rightbar>
</div>