#inner_cont {
    margin-right: 9%;
    color: white;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}

.modal {
    overflow-y:auto;
    z-index: 9999 !important;
    padding-bottom: 25px;
}
/*blue modal*/
.bluemodal.small-modal .modal-content {
    max-width: 400px !important;
}
.bluemodal.small-modal .modal-dialog {
    width:100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
.modal-md {
    width:100%;
    max-width:400px;
}

.close-list {
    position: relative;
    z-index: 99;
    right:10px !important;
    top: -6px !important;
    color: #000 !important;
    font-size: 39px !important;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: -10px;
    position: absolute;
    top: -10px;
}
.bluemodal.small-modal .modal-content {
    max-width: 400px !important;
}
.bluemodal.small-modal .modal-dialog {
    width:100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
.appoinment-heading {
    background: #fff;
    color: #000;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.appoinment-heading span {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
}


 
.form-control-italic::-webkit-input-placeholder { 
    font-style: italic;
}
.form-control-italic::-moz-placeholder {  
    font-style: italic;
}
.form-control-italic:-ms-input-placeholder { 
    font-style: italic;
}
.form-control-italic:-moz-placeholder {  
    font-style: italic;
}

.btn {
    cursor: pointer;
}
.m-0{
    margin: 0;
}
.w-100 {
    width:100% !important;
}
.b-r-0{
    border: 0 !important;
}
.v-a-t {
    vertical-align: top;
}
.bluemodal .form-control {
    color: #fff !important;
}
.bluemodal .form-control::-webkit-input-placeholder { 
color: #fff !important;
}
.bluemodal .form-control::-moz-placeholder {  
color: #fff !important;
}
.bluemodal .form-control:-ms-input-placeholder { 
color: #fff !important;
}
.bluemodal .form-control:-moz-placeholder {  
color: #fff !important;
}
.d-block{
    display: block !important;
}
.d-inline{
    display: inline-block !important;
}
.next-mem {
    background:#8ec6d7;
    color:#fff !important;
    text-align: center;
}
.search-mem {
    background:#004368;
    color:#fff !important;
    text-align: center;
}
.new-mem {
    background:#ffffff !important;
    color:#004368 !important;
    text-align: center;
}

.staff-search-list-mobile, .staff-search-list-email {
    font-size: 12px;
    text-transform: lowercase;
}
/* .staff-search-list-img img{
    width: 100px !important;
    height: 100px !important;
    float: left;
    margin-right: 19px;
    font-family: 'Raleway', sans-serif !important;
} */

.serach-sroll {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.search-input-list {
    width:calc(100% - 100px); 
    padding:5px 15px; 
    background:transparent !important; 
    border:1px solid #fff !important;
    box-shadow: none !important;
    outline: none !important;
}
.search-input-list:-moz-placeholder {
    color: #fff !important;
}
.search-input-list:-webkit-placeholder {
    color: #fff !important;
}
.search-input-list:placeholder {
    color: #fff !important;
}
.search-input-list::-webkit-input-placeholder {
    color: #fff !important;
}

.modal {
    z-index: 9999 !important;
    padding-bottom: 25px;
}
/*blue modal*/
.bluemodal.small-modal .modal-content {
    max-width: 400px !important;
}
.bluemodal.small-modal .modal-dialog {
    width:100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
.close-list {
    position: relative;
    z-index: 99;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: -10px;
    position: absolute;
    top: -10px;
}
.bluemodal.small-modal .modal-content {
    max-width: 400px !important;
}
.bluemodal.small-modal .modal-dialog {
    width:100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}
.appoinment-heading {
    background: #fff;
    color: #000;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.appoinment-heading span {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
}


 
.form-control-italic::-webkit-input-placeholder { 
    font-style: italic;
}
.form-control-italic::-moz-placeholder {  
    font-style: italic;
}
.form-control-italic:-ms-input-placeholder { 
    font-style: italic;
}
.form-control-italic:-moz-placeholder {  
    font-style: italic;
}

.btn {
    cursor: pointer;
}
.m-0{
    margin: 0;
}
.w-100 {
    width:100% !important;
}
.b-r-0{
    border: 0 !important;
}
.v-a-t {
    vertical-align: top;
}
.bluemodal .form-control {
    color: #fff !important;
}
.bluemodal .form-control::-webkit-input-placeholder { 
color: #fff !important;
}
.bluemodal .form-control::-moz-placeholder {  
color: #fff !important;
}
.bluemodal .form-control:-ms-input-placeholder { 
color: #fff !important;
}
.bluemodal .form-control:-moz-placeholder {  
color: #fff !important;
}
.d-block{
    display: block !important;
}
.d-inline{
    display: inline-block !important;
}
.next-mem {
    background:#8ec6d7;
    color:#fff !important;
    text-align: center;
}
.search-mem {
    background:#004368;
    color:#fff !important;
    text-align: center;
}
.new-mem {
    background:#ffffff !important;
    color:#004368 !important;
    text-align: center;
}
.newmembermodal .modal-dialog {
    margin:0;
}
.select-bg option{
    background:#2d7aa8 !important;
    color: #fff !important;
    padding: 5px !important;
}
.modal .select-bg {
    height: 28px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500 !important;
    color: black !important;
}