<div id="bgOnline"></div>
<div class="olb-main">
    <div class="olb-main-in minh-100">
        <div class="home-top">
            <span (click)="reDirectRoute()" class="tbl-txt"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'MY_ACCOUNT.GO_BACK' | translate }}</span>
        </div>
        <div class="client-logo">
            <img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';"
                class="signup-logo" />
        </div>

        <ng-container *ngIf="!isClientSaved && !isApprovelSent">
            <div autocomplete="off" class="staff-cont-rgt form-new" *ngIf="displayDiv">

                <div class="new-client-title">
                    {{ 'ONLINE_CLIENT_ADD.TELL_US_A_LITTLE_ABOUT_YOURSELF' | translate }}
                </div>
                <div class="error-msg-box" style="text-align:center;" *ngIf="clientErr">
                    <p class="red mb-0"> {{clientErr | translate }} </p>
                </div>

                <div class="form-group form-group-olb">
                    <input (input)="clearError()" [maxlength]="40" class="form-control form-control-olb"
                        [(ngModel)]="clientInfo.firstname" type="text" placeholder="" maxlength="40">
                    <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.FIRST_NAME' | translate }}</label>
                </div>

                <div class="form-group form-group-olb">
                    <input (input)="clearError()" [maxlength]="40" class="form-control form-control-olb" type="text"
                        [(ngModel)]="clientInfo.lastname" placeholder="" maxlength="40">
                    <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.LAST_NAME' | translate }}</label>
                </div>

                <div class="form-group form-group-olb">
                    <input (input)="clearError()" class="form-control form-control-olb" [(ngModel)]="clientInfo.email"
                        type="text" placeholder="" maxlength="40">
                    <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.EMAIL_ADDRESS' | translate }}</label>
                </div>

                <div class="form-group form-group-olb">
                    <input autocomplete="off" class="form-control form-control-olb" [(ngModel)]="clientInfo.mobilePhone"
                        type="text" (input)="clearError()" maxlength="13" id="workPhone"
                        (keypress)='hyphen_generate_Wphone(clientInfo.mobilePhone)'
                        (paste)="pasteNumPhone($event.clipboardData.getData('text/plain'))"
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                        (change)="mobileSms($event.target.value)">
                    <label class="olb-new-label olb-new-label-center">{{ 'ONLINE_CLIENT_ADD.MOBILE_PHONE' | translate }}<span
                            *ngIf="mobileReq">*</span></label>
                </div>
                <div class="form-group form-group-olb">
                    <input (input)="clearError()" (keyup)="getLocation()" [(ngModel)]="clientInfo.mailingPostalCode"
                        class="form-control form-control-olb" type="text" placeholder="">
                    <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.ZIP' | translate }}</label>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-6">
                        <div class="form-group form-group-olb">
                            <select [(ngModel)]="clientInfo.mailingCountry" class="slect-form-new" (keyup)="clearError()"
                                (click)=" clearError()" (change)="getCountry($event.target.value);">
                                <option value="">{{'CLIENTS.COUNTRY' | translate}}</option>
                                <option *ngFor="let mailingcountrieslist of mailingCountriesList; let i='index'"
                                    value="{{mailingcountrieslist.NAME}}" id="profilePage_timezone_select_option_{{i}}">
                                    {{mailingcountrieslist.NAME}}
                                </option>
                            </select>
                            <!-- <label class="olb-new-label olb-new-label-center">Mailing Country</label> -->
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group form-group-olb">
                            <select class="slect-form-new" [(ngModel)]="clientInfo.mailingState">
                                <option value="">{{'CLIENTS.STATES' | translate}}</option>
                                <option *ngFor="let stateslist of statesList; let i='index'"
                                    value="{{stateslist.STATE}}" id="profilePage_timezone_select_option_{{i}}">
                                    {{stateslist.STATE}}</option>
                            </select>
                            <!-- <label class="olb-new-label olb-new-label-center">Mailing State</label> -->
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-olb">
                    <input (input)="clearError()" [(ngModel)]="clientInfo.mailingCity"
                        class="form-control form-control-olb" type="text" placeholder="">
                    <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.CITY' | translate }}</label>
                </div>

                <div class="form-group form-group-olb">
                    <input (input)="clearError()" [(ngModel)]="clientInfo.address" class="form-control form-control-olb"
                        type="text" placeholder="">
                    <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.ADDRESS' | translate }}</label>
                </div>

                <!-- <div class="row clearfix">
                    <div class="col-xs-6">
                        <div class="form-group form-group-olb">
                            <select class="slect-form-new" [(ngModel)]="clientInfo.mailingState">
                                <option value="">{{'CLIENTS.STATES' | translate}}</option>
                                <option *ngFor="let stateslist of statesList; let i='index'"
                                    value="{{stateslist.STATE}}" id="profilePage_timezone_select_option_{{i}}">
                                    {{stateslist.STATE}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group form-group-olb">
                            <input (input)="clearError()" (keyup)="getLocation()"
                                [(ngModel)]="clientInfo.mailingPostalCode" class="form-control form-control-olb"
                                type="text" placeholder="">
                            <label class="olb-new-label olb-new-label-center">zip</label>
                        </div>
                    </div>
                </div> -->

                <div class="row clearfix">
                    <div class="col-xs-6">
                        <div class="form-group form-group-olb">
                            <select class="slect-form-new" [(ngModel)]="clientInfo.gender">
                                <option value=''>{{ 'ONLINE_CLIENT_ADD.gender' | translate }}</option>
                                <option value="Male">{{ 'COMMON.MALE' | translate }}</option>
                                <option value="Female">{{ 'COMMON.FEMALE' | translate }}</option>
                                <option value="Unspecified">{{ 'MY_ACCOUNT.UNSPECIFIDE' | translate }}</option>
                            </select>
                            <!-- <label class="olb-new-label olb-new-label-center">Gender</label> -->
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group form-group-olb">
                            <input (input)="clearError()" [(ngModel)]="clientInfo.birthDate"
                                class="form-control form-control-olb" type="text" placeholder="MM/DD/YYYY">
                            <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.BIRTHDATE' | translate }}</label>
                        </div>
                    </div>
                </div>
                <div class="mt-20 text-center mb-30">
                    <button class="btn btn-new-blue" type="button" (click)="checkData('check1')">
                        <span style="font-size: 17px">
                            {{ 'ONLINE_CLIENT_ADD.NEXT' | translate }} <i class="fa fa-angle-right"></i></span>
                    </button>
                </div>
            </div>


            <div class="" *ngIf="!displayDiv && !saveDiv">
                <div class="client-name mb-30">
                    <div class="new-client-pro-letter">
                        <img [src]="newclientPictureFileView" alt="Profile" class="img-style"*ngIf="newclientPictureFileView">
                        <strong *ngIf="!newclientPictureFileView">{{ clientInfo.firstname[0].toUpperCase() }}</strong>
                        <input style="display: none" data-label="Upload" accept="image/*" id="fileUpload" (change)="imageUpload($event)"type="file" />
                        <label class="client-edit" for="fileUpload">{{ 'BUTTON.EDIT' | translate }}</label>
                    </div>
                    <!-- <img class="client-name-pic" src="../../../assets/images/client-pic-placeholder.png" width="60"
                        height="60"> -->

                    <div class="client-name-right">
                        <div class="text-right">
                            <b>{{clientInfo.firstname}} {{clientInfo.lastname}}</b>
                        </div>

                    </div>
                </div>
                <div class="error-msg-box" style="text-align:center;" *ngIf="cliImage.error">
                    <p class="red mb-0"> {{cliImage?.error| translate }} </p>
                  </div>
                <div class="new-client-title">
                    {{ 'ONLINE_CLIENT_ADD.HOW_WOULD_YOU_LIKE_US_TO_CONTACT_YOU' | translate }}
                </div>
                <div class="form-group form-group-olb">
                    <input (input)="clearError()" class="form-control form-control-olb" [(ngModel)]="clientInfo.email"
                        type="text" placeholder="" maxlength="40">
                    <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.EMAIL_ADDRESS' | translate }}</label>
                </div>
                <div class="form-group form-group-olb">
                    <input autocomplete="off" class="form-control form-control-olb" [(ngModel)]="clientInfo.mobilePhone"
                        type="text" (input)="clearError()" maxlength="13" id="workPhone"
                        (keypress)='hyphen_generate_Wphone(clientInfo.mobilePhone)'
                        (paste)="pasteNumPhone($event.clipboardData.getData('text/plain'))"
                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                        (change)="mobileSms($event.target.value)">
                    <label class="olb-new-label olb-new-label-center">{{ 'ONLINE_CLIENT_ADD.MOBILE_PHONE' | translate }}</label>
                </div>

                <div class="new-client-chk-info setsubcont">
                    <span> <input type="checkbox" [disabled]="!clientInfo.mobilePhone"
                            [checked]="clientInfo.Sms_Consent__c" (click)="assaignValues('Sms_Consent__c')"></span> by
                            {{ 'MY_ACCOUNT.BY_CHECKING_THIS_BOX_I_GREAT_MY_PERMISSION_TO' | translate }}
                     <br> {{companyName}} <br> {{ 'MY_ACCOUNT.TO_SEND_ME_SMS_TEXT_MESSAGE' | translate }}
                </div>

                <div class="mt-20 setsubcont">
                    <div class='clearfix d-flex f-wrap check-notify'>
                        <div class="check-notify-lft">&nbsp;</div>
                        <div class="check-notify-rgt">
                            <div class="w-50 font-12 text-left pull-left">{{ 'COMMON.EMAIL' | translate }}</div>
                            <div class="w-50 font-12 text-right pull-left">{{ 'MY_ACCOUNT.MOBILE' | translate }}</div>
                        </div>
                    </div>
                    <div class='clearfix d-flex f-wrap check-notify'>
                        <div class="check-notify-lft">
                            <img src="../../../assets/images/new-bell.png" alt="">
                            <span>{{ 'MY_ACCOUNT.BOOKING_NOTIFICATIONS' | translate }}</span>
                        </div>
                        <div class="check-notify-rgt">
                            <input type="checkbox" [disabled]="!clientInfo.email"
                                [checked]="clientInfo.Notification_Primary_Email__c"
                                (click)="assaignValues('Notification_Primary_Email__c')">

                            <input type="checkbox" [disabled]="!clientInfo.mobilePhone"
                                [checked]="clientInfo.Notification_Mobile_Phone__c"
                                (click)="assaignValues('Notification_Mobile_Phone__c')">
                        </div>
                    </div>
                    <div class='clearfix d-flex f-wrap check-notify'>
                        <div class="check-notify-lft">
                            <img src="../../../assets/images/appt_remiders.png" alt="">
                            <span>{{ 'MY_ACCOUNT.APPOINTMENT_REMAINDERS' | translate }}</span>
                        </div>
                        <div class="check-notify-rgt">
                            <input type="checkbox" [disabled]="!clientInfo.email"
                                [checked]="clientInfo.Reminder_Primary_Email__c"
                                (click)="assaignValues('Reminder_Primary_Email__c')">
                            <input type="checkbox" [disabled]="!clientInfo.mobilePhone"
                                [checked]="clientInfo.Reminder_Mobile_Phone__c "
                                (click)="assaignValues('Reminder_Mobile_Phone__c')">
                        </div>
                    </div>
                    <div class='clearfix d-flex f-wrap check-notify'>
                        <div class="check-notify-lft">
                            <img src="../../../assets/images/news.png" alt="">
                            <span>{{ 'MY_ACCOUNT.NEWS_MARKETING' | translate }}</span>
                        </div>
                        <div class="check-notify-rgt">
                            <input type="checkbox" [disabled]="!clientInfo.email"
                                [checked]="clientInfo.Marketing_Primary_Email__c"
                                (click)="assaignValues('Marketing_Primary_Email__c')">
                            <input type="checkbox" [disabled]="!clientInfo.mobilePhone"
                                [checked]="clientInfo.Marketing_Mobile_Phone__c"
                                (click)="assaignValues('Marketing_Mobile_Phone__c')">
                        </div>
                    </div>
                </div>
                <div class="font-12 wt-clr text-center mt-30">
                    <span>{{ 'MY_ACCOUNT.WE_WILL_NEVER_RENT_OR_SELL_YOUR_CONTACT_INFORMATION' | translate }}</span>
                </div>

                <div class="mt-20 text-center mb-30">
                    <button class="btn btn-new-blue" type="button" (click)="checkData('check2')">
                        <span style="font-size: 17px">
                            {{ 'ONLINE_CLIENT_ADD.NEXT' | translate }} <i class="fa fa-angle-right"></i></span>
                    </button>
                    <!-- <button [routerLink]="['/clientlogin/'+dbName]"class="btn btn-new-blue" type="button"
                            style="margin-left: 30px;">
                            <span style="font-size: 17px">
                                 CANCEL </span>
                        </button> -->
                </div>
            </div>

        </ng-container>

        <div class="newclient-changepsw wt-clr" *ngIf="saveDiv && !isClientSaved">
            <div class="client-name mb-30">
                <div class="new-client-pro-letter">
                    <img [src]="newclientPictureFileView" alt="Profile" class="img-style"
                        *ngIf="newclientPictureFileView">
                    <strong *ngIf="!newclientPictureFileView">{{ clientInfo.firstname[0].toUpperCase() }}</strong>
                </div>

                <div class="client-name-right">
                    <div class="text-right">
                        <b>{{clientInfo.firstname}} {{clientInfo.lastname}}</b>
                    </div>

                </div>
            </div>

            <div class="mt-20 mb-30 text-center">
                <span class="font-18">{{ 'ONLINE_CLIENT_ADD.CHOOSE_A_PASSWORD' | translate }}</span>
            </div>
            <div class="mt-20 mb-30 text-center">
                <span class="font-12"><b>{{clientInfo.email}}</b></span>
            </div>
            <div class="error-msg-box" style="text-align:center;" *ngIf="passwrdErr">
                <p class="red mb-0"> {{passwrdErr | translate }} </p>
            </div>
            <div class="form-group form-group-olb">
                <div class="login-password">
                    <input class="form-control form-control-olb" name="password1" type="{{passwordType1}}"
                        [(ngModel)]="clientInfo.Password1" placeholder="" maxlength="20">
                    <span class="glyphicon {{glyphiconClass1}} login-show-password"
                        *ngIf="clientInfo.Password1 && clientInfo.Password1.length > 0"
                        (click)="togglePassword(1);"></span>
                </div>
                <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.ENTER_PASSWORD' | translate }}</label>
            </div>
            <div class="form-group form-group-olb">
                <div class="login-password">
                    <input class="form-control form-control-olb" name="Password2" [(ngModel)]="clientInfo.Password2"
                        type="{{passwordType2}}" placeholder="" maxlength="20">
                    <span class="glyphicon {{glyphiconClass2}} login-show-password"
                        *ngIf="clientInfo.Password2 && clientInfo.Password2.length > 0"
                        (click)="togglePassword(2);"></span>
                </div>
                <label class="olb-new-label olb-new-label-center">{{ 'MY_ACCOUNT.RETYPE_PASSWORD' | translate }}</label>
            </div>
            <div class="mt-40 text-center mb-30">
                <button class="btn btn-new-blue" [routerLink]="['/clientlogin/'+dbName]" type="button"
                    style="background:#ff0000 !important; margin-left: 20px; margin-right: 20px;">
                    <span class="font-14">
                        {{ 'MY_ACCOUNT.CANCEL' | translate }} </span>
                </button>
                <button class="btn btn-new-blue" type="button" (click)="saveProfile()"
                    style="background:#39b54a !important; margin-left: 20px; margin-right: 20px;">
                    <span class="font-14">
                        {{ 'MY_ACCOUNT.SAVE' | translate }} </span>
                </button>

            </div>
        </div>

        <div *ngIf="isClientSaved">
            <div class="mt-20 font-16 wt-clr text-center">
                <span>
                    {{ 'ONLINE_CLIENT_ADD.THANK_YOU' | translate }}
                    <br>  {{ 'ONLINE_CLIENT_ADD.YOUR_PROFILE_AND_PREFERENCES_HAVE' | translate }}
                    <br> {{ 'ONLINE_CLIENT_ADD.A_PASSWORD_HAS_BEEN_EMAILED_TO_YOU' | translate }}
                </span>
            </div>
            <div class="text-center mt-20">
                <button type="button" class="btn btn-new-blue" (click)="login()">
                    <span>{{ 'LOGIN.LOGIN_LABEL' | translate }}</span>
                </button>
            </div>
        </div>
        <div *ngIf="isApprovelSent">
            <div class="mt-20 font-16 wt-clr text-center">
                <span>
                    {{ 'ONLINE_CLIENT_ADD.THANK_YOU' | translate }}
                    <br> {{ 'ONLINE_CLIENT_ADD.YOUR_PROFILE_AND_PREFERENCES_HAVE_BEEN_SUCCESSFULLY_SAVED' | translate }}
                    <br> {{ 'ONLINE_CLIENT_ADD.A_PASSWORD_WILL_BE' | translate }}
                </span>
            </div>
            <div class="text-center mt-20">
                <button type="button" class="btn btn-new-blue" (click)="login()">
                    <span>{{ 'ONLINE_CLIENT_ADD.GO_TO_LOGIN' | translate }}</span>
                </button>
            </div>
        </div>
    </div>
</div>



<!--old code starts here-->
<!-- <div class="signup-maindiv">
        <div class="signup-middle">
            <img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';" class="signup-logo" />
        </div>
        <div class="signup-caption">
            Online Appointment Booking
        </div>
        <div class="apont-head-large mb-10 mt-10 text-uppercase">
            Welcome to {{companyName}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 signup-middle login-label">
            Profile Center
        </div>
        <br>
        <ng-container *ngIf="!isClientSaved && !isApprovelSent">
            <div class="apont-head-large mb-10 mt-10 text-uppercase">
                My Personal Information
            </div>
            <div>
                <div class="client-label-info">
                    Add your personal information here. Once you have entered your information, click the Save Profile
                    button.
                </div>
            </div>
            <div autocomplete="off" class="staff-cont-rgt col-xs-12 col-sm-12 col-md-12 form-new">
    
    
                <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                    <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                            <i class="fa fa-star" aria-hidden="true" style="color: red;"></i>
                        </span>
                        <input (input)="clearError()" [maxlength]="40" class="form-control"
                            [(ngModel)]="clientInfo.firstname" type="text" placeholder="First Name" maxlength="40">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                    <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                            <i class="fa fa-star" aria-hidden="true" style="color: red;"></i>
                        </span>
                        <input (input)="clearError()" [maxlength]="40" class="form-control" type="text"
                            [(ngModel)]="clientInfo.lastname" placeholder="Last Name" maxlength="40">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                    <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg" *ngIf ="mobileReq">
                            <i class="fa fa-star" aria-hidden="true" style="color: red;"></i>
                        </span>
                        <span class="input-group-addon" style="width: 11%; padding: 0px 0px;">
                            <input type="text" placeholder="Code" maxlength="3" [(ngModel)]="primaryCountryCode"
                                style="margin-bottom:-2px;border-bottom-color: white!important;" disabled>
                        </span>
                        <input autocomplete="off" class="form-control" [(ngModel)]="clientInfo.mobilePhone" type="text"
                            (input)="clearError()" placeholder="Mobile Phone" maxlength="13" id="workPhone"
                            (keypress)='hyphen_generate_Wphone(clientInfo.mobilePhone)'
                            (paste)="pasteNumPhone($event.clipboardData.getData('text/plain'))"
                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                            (change)="mobileSms($event.target.value)">
                    </div>
                    <p [ngStyle]="{'margin-left':mobileReq ? '8%' : 'none'}"class="country_Code"> Country Code </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                    <div class="input-group form-input-group-list">
                        <span class="input-group-addon starImg">
                            <i class="fa fa-star" aria-hidden="true" style="color: red;"></i>
                        </span>
                        <input (input)="clearError()" class="form-control" [(ngModel)]="clientInfo.email" type="text"
                            placeholder="Your Email" maxlength="40">
                    </div>
                </div>
                <div class="col-sm-12" style="text-align:center;">
                    <p class="red mb-0"> {{clientErr | translate }} </p>
                </div>
            </div>
            <div class="client-label-info">
                We will never rent or sell your email addresses.
            </div>
            <div class="apont-head-large mb-10 mt-10 text-uppercase">
                My Preferences
            </div>
            <div class="client-label-info">
                By checking the related Mobile checkboxes, I give my consent for <b>{{companyName}}</b> to send me SMS
                Messages.
            </div>
    
            
    
            <div class="row mt-20 setsubcont" style="font-size: 16px; margin-right: 10%!important;">
                <div class='row clearfix d-flex f-wrap f-justify-center'>
                    <div class="col-md-8 col-sm-8">
                        &nbsp;
                    </div>
                    <div class="col-md-2 col-sm-2 pull-left max-100 wt-clr">
                        <h4> Email</h4>
                    </div>
                    <div class="col-md-2 col-sm-2 pull-left max-100 wt-clr">
                        <h4>Mobile</h4>
                    </div>
                </div>
                <div class='row clearfix d-flex f-wrap f-justify-center'>
                    <div class="col-md-8 col-sm-8">
                        <p class="wt-clr">I give my consent to receive text messages from this business</p>
                    </div>
                    <div class="col-md-2 col-sm-2 pull-left max-100">
                        &nbsp;
                    </div>
                    <div class="col-md-2 col-sm-2 pull-left max-100">
                        <input type="checkbox" [disabled]="clientInfo.mobilePhone ? false: true"
                            [checked]="clientInfo.Sms_Consent__c" (click)="assaignValues('Sms_Consent__c')"
                            (change)="SmscheckOrUnCheck($event.target.checked)">
                    </div>
                </div>
                <div class='row clearfix d-flex f-wrap f-justify-center'>
                    <div class="col-md-8 col-sm-8">
                        <p class="wt-clr">Send appointment notification</p>
                    </div>
                    <div class="col-md-2 col-sm-2 pull-left max-100">
                        <input type="checkbox" [checked]="clientInfo.Notification_Primary_Email__c"
                            (click)="assaignValues('Notification_Primary_Email__c')">
                    </div>
                    <div class="col-md-2 col-sm-2 pull-left max-100">
                        <input type="checkbox" [checked]="clientInfo.Notification_Mobile_Phone__c"
                            (click)="assaignValues('Notification_Mobile_Phone__c')">
                    </div>
                </div>
                <div class='row clearfix d-flex f-wrap f-justify-center'>
                    <div class="col-md-8 col-sm-8">
                        <p class="wt-clr">Send appointment reminders</p>
                    </div>
                    <div class="col-md-2 col-sm-2  pull-left max-100">
                        <input type="checkbox" [checked]="clientInfo.Marketing_Primary_Email__c"
                            (click)="assaignValues('Marketing_Primary_Email__c')">
                    </div>
                    <div class="col-md-2 col-sm-2  pull-left max-100">
                        <input type="checkbox" [checked]="clientInfo.Marketing_Mobile_Phone__c"
                            (click)="assaignValues('Marketing_Mobile_Phone__c')">
                    </div>
                </div>
                <div class='row clearfix d-flex f-wrap f-justify-center'>
                    <div class="col-md-8 col-sm-8">
                        <p class="wt-clr">Send marketing</p>
                    </div>
                    <div class="col-md-2 col-sm-2 pull-left max-100">
                        <input type="checkbox" [checked]="clientInfo.Reminder_Primary_Email__c"
                            (click)="assaignValues('Reminder_Primary_Email__c')">
                    </div>
                    <div class="col-md-2 col-sm-2 pull-left max-100">
                        <input type="checkbox" [checked]="clientInfo.Reminder_Mobile_Phone__c"
                            (click)="assaignValues('Reminder_Mobile_Phone__c')">
                    </div>
                </div>
            </div>
            <div class="signup-middle" style="margin-top: 110px; margin-bottom: 30px;">
                <button class="btn btn-gradient-txt" type="button" (click)="saveProfile()">
                    <span style="font-size: 17px">
                        <i class="fa fa-check"></i> Save Profile</span>
                </button>
                <button [routerLink]="['/clientlogin/'+dbName]"class="btn btn-gradient-txt" type="button"
                    style="margin-left: 30px;">
                    <span style="font-size: 17px">
                        <i class="fa fa-close"></i> Cancel</span>
                </button>
            </div>
        </ng-container>
        <div class="container form_cont" *ngIf="isClientSaved">
            <div class="col-md-12 thcss mt-20">
                <p>
                    Thank you!
                    <br> Your profile and preferences have been successfully saved.
                    <br> A 4-digit PIN has been emailed to you. Use your email address and the PIN to login for online
                    appointment
                    booking.
                </p>
            </div>
            <div class="col-md-12 text-center mt-20">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button type="button" class="btn btn-gradient-txt" (click)="login()">
                        <span>Login</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="container form_cont" *ngIf="isApprovelSent">
            <div class="col-md-12 thcss mt-20">
                <p>
                    Thank you!
                    <br> Your profile and preferences have been successfully saved.
                    <br> A 4-digit PIN will be emailed to you once your registration has been approved. Use your email
                    address and the PIN to login for online appointment booking.
                </p>
            </div>
            <div class="col-md-12 text-center mt-20">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button type="button" class="btn btn-gradient-txt" (click)="login()">
                        <span>Go to Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div> -->