hr {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

::-moz-placeholder {
    color: #FFFFFF;
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

:-moz-placeholder {
    color: #FFFFFF;
}

.signup-maindiv {
    margin: 1% 4%;
}

.signup-logo {
    width: 13%;
    min-width: 150px;
}

.signup-caption {
    margin-top: 1%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.signup-side-header {
    font-weight: bold;
    text-align: center;
}

.signup-content {
    margin-left: 25px;
    margin-top: 10px;
}

.signup-content label {
    margin-right: 10px;
}

.form-new input, .form-new .form-control {
    height: 55px;
    font-weight: 300 !important;
    color: #FFFFFF !important;
    width: 100% !important;
    background: none !important;
    border: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
    text-align: center;
    box-shadow: none;
    font-size: 23px;
}

.apont-head-large {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    padding: 6px 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.signup-options option {
    color: black;
}

.signup-middle {
    text-align: center;
}

.signup-font-white {
    color: #fff;
}

.signup-a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline !important;
    margin-left: 20px;
}

.signup-submit {
    background-color: #35c31b;
    color: white
}

.login-label {
    font-weight: 600 !important;
    color: #FFFFFF !important;
    /* width: 95% !important; */
    background: none !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 23px;
}

.client-label-info {
    color: white;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.bottom-elements {
    height: 55px;
    font-weight: 300 !important;
    color: #FFFFFF !important;
    width: 95% !important;
    background: none !important;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 23px;
    margin-left: 30px;
}
.max-100 {
    width: 100%;
    max-width: 100px;
}
.mb-30 {
    margin-bottom: 30px !important; 
}
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.f-justify-center {
    justify-content: center;
}
.btn-gradient-txt .fa-close {
    background: -webkit-linear-gradient(0deg, #16337d 0, #05c9d0 100%);
    background: -moz-linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
}
.btn-gradient-txt .fa-check {
    background: -webkit-linear-gradient(0deg, #16337d 0, #05c9d0 100%);
    background: -moz-linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
}
.country_Code{
	color: white;
    /* margin-left: 61px; */
    font-size: 9px;
    font-weight: bold;
}
.email_45{
    float:left;
    margin: 0px 39px 2px 3px;
}


/*****/
body {
    background: none !important;
}
.wt-clr {
    color: #fff !important;
}
.blk-clr {
    color: #000 !important;
}
.b-0 {
    border:0 !important;
}
.p-0 {
    padding: 0 !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.no-bg {
    background: none !important;
}
.va-t {
    vertical-align: top;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-20 {
    font-size: 20px !important;
}
.minh-100 {
    min-height: 100vh;
}
.center-v {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}
.olb-main {
    /* background: #707070; */
    width: 100%;
    min-height: 100vh;
}
.olb-main-in {
    width: 100%; 
    max-width: 370px;
    padding: 25px 15px;
    margin: 0 auto;
    font-family: 'CenturyGothic';
}
.login-welcome{
    font-family: 'CenturyGothic';
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
.olb-new-label {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    padding: 5px !important;
    margin: 0 !important;
}
.form-control-olb {
    height: 40px !important;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100% !important;
    box-shadow: none !important;
}
.form-group-olb {
    margin-bottom: 10px !important;
}
.btn-bg-none {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.olb-lg-br-btn {
    min-height: 70px !important;
    height: auto !important;
    width: 100% !important;
    font-size: 18px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: center !important;
    border:1px solid #fff !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    background: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 10px !important;
}
.olb-lg-br-btn span {
    font-family: 'CenturyGothicBold';
    display: block;
    flex-basis: 100%;
}

.home-top {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    font-family: 'CenturyGothicBold';

}
.home-top img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
.client-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.client-name-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}
.client-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}
.client-name .client-edit {
    font-size: 10px !important;
    line-height: 12px !important;
    color: #fff !important;
    font-family: 'CenturyGothic';
    font-weight: normal !important;
    position: absolute;
    left: 20px;
    top: 65px;
    cursor: pointer;
}
.client-name-right {
    width: calc(100% - 70px);
    margin-left: 10px;
    font-size: 30px !important;
    line-height: 40px !important;
    color: #fff !important;
}

.olb-lg-br-btn-large, .olb-lg-br-btn-large span {
    font-size: 30px !important;
    line-height: 40px !important;
    color: #fff !important;
    font-family: 'CenturyGothic';
    font-weight: normal !important

}

.text-btn {
    font-family: 'CenturyGothicBold';
    font-size: 24px !important;
    line-height: 30px !important;
    color: #fff !important;
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    border:0 !important;
    vertical-align: middle;
    padding: 0;
    display: inline-block;
}
.btm-btns {
    margin: 30px 0 0 ;
    padding: 0;
    display: block;
    list-style: none;
    text-align: center;
}
.btm-btns li {
    vertical-align: middle;
    padding: 0;
    display: inline-block;
    list-style: none;
}
.btm-btns li:after {
    content: '|';
    font-family: 'CenturyGothicBold';
    font-size: 24px !important;
    line-height: 30px !important;
    color: #fff !important;
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
}
.btm-btns li:last-child:after {
    display: none;
}
.new-client-title {
    font-size: 16px !important;
    line-height: 25px !important;
    color: #fff !important;
    text-align: center;
    margin: 15px 0;
}
.olb-new-label-center {
    text-align: center;
    width: 100%;
}

.slect-form-new{
    background-image: url(/assets/images/arrow-new-down-blk.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255,255,255,1) !important;
    color: #000 !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 40px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}
.new-client-chk-info {
    font-size: 12px !important;
    line-height: 13px !important;
    color: #fff !important;   
    padding-left: 60px;
    position: relative;
    margin-bottom: 25px;
}
.new-client-pro-letter {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	font-size: 40px;
	line-height: 57px;
	border: 2px solid #efefef;
	background: #fff;
	text-align: center;
	margin: 0 auto;
	display: block;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
}
.img-style {
    width: 100%;
    margin-top: -10px;
}

.new-client-pro-letter strong {
	background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
	background-position: 50% 50%;
	background-origin: padding-box;
	background-size: auto auto;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}
.login-show-password {
	display: block;
    right: 15px;
    position: absolute;
    top: 13px;
    cursor: pointer;
}
.login-password .form-control-olb {
    padding-right: 50px!important;
}
.login-password {
	position: relative;
}
.w-50 {
    width: 50% !important;
}

.new-client-chk-info span {
    /* width: 22px;
    height: 22px;
    border:1px solid #fff; */
    display: inline-block;
    position: absolute;
    left: 27px;

}
.check-notify {
    margin-bottom: 25px;
    color: #fff;
    align-items: center;
}
.check-notify-lft {
    width: calc(100% - 90px);
    float: left;
}
.check-notify-lft img {
    display: inline-block;
    vertical-align: middle;
}
.check-notify-lft span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px !important;
    line-height: 13px !important;
    color: #fff !important;   
    padding-left: 15px;
}
.check-notify-rgt {
    width: 80px;
    float: right;
    display: flex;
    justify-content: space-between;
}


.btn-new-wt {
    background: #fff !important;
    color: #007286 !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-blue  {
    background: #6699cc !important;
    color:#fff !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-lgt-trans  {
    background: rgba(255,255,255,0.9) !important;
    color: #6699cc !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-wt.big-btn , .btn-new-blue.big-btn , .btn-new-lgt-trans.big-btn {
    padding: 8px 30px !important;
    font-size:18px !important;
    line-height: 25px !important;
    font-weight: normal;
}

.error-msg-box {
    background: #f1f1f1;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.error-msg-box p, .error-msg-box span {
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    margin: 0; padding: 0;
}
#bgOnline{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;;
}
.olb-main {
    position: relative;
    z-index: 9;
}








