<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input class="datefield" type="text" [bsConfig]="datePickerConfig"
                        (ngModelChange)='isGenerate = false' bsDatepicker [(ngModel)]="startDate" [maxDate]="maxDate">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input class="datefield" type="text" [bsConfig]="datePickerConfig"
                        (ngModelChange)='isGenerate = false' bsDatepicker [(ngModel)]="endDate" [maxDate]="maxDate">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reporttype" (change)="reportType($event.target.value)">
                        <option value="Company">{{'HEADER.COMPANY' | translate}}</option>
                        <option value="Worker">{{'COMMON.WORKER' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.WORKER' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8 disabled" *ngIf="WorkerList == true">
                    <select (change)="merchantOnChange($event.target.value)">
                        <option *ngFor='let list of merchantWorkerList' value='{{list.Id}}'>{{list.FirstName}}
                            {{list.LastName}}</option>
                    </select>
                </div>
                <div class="col-md-7 col-sm-8" *ngIf="WorkerList == false">
                    <select (change)="merchantOnChange($event.target.value)" [(ngModel)]="workerName">
                        <!-- [disabled]='WorkerList' -->
                        <option *ngFor='let list of merchantWorkerList' value='{{list.Id}}'>{{list.FirstName}}
                            {{list.LastName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-binoculars" aria-hidden="true"></i>
                        &nbsp;{{'BUTTON.GENERATE' | translate}}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="isGenerate">
                <div class="col-md-11 col-sm-10 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="row mt-20 res-mt-15" *ngIf="isGenerate">

                <div class="row mt-20 mr-10 res-mt-15">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{'ELECTRONIC_PAYMENT_DETAILS.PAYMENT_DATE_TIME' |
                                            translate}}</th>
                                        <th class="thcss">{{'ELECTRONIC_PAYMENT_DETAILS.REFERENCE_NUMBER' | translate}}
                                        </th>
                                        <th class="thcss">{{'COMMON.TICKET' | translate}} </th>
                                        <th class="thcss">{{'ELECTRONIC_PAYMENT_DETAILS.CLIENT_NAME' | translate}}</th>
                                        <th class="thcss">{{'ELECTRONIC_PAYMENT_DETAILS.PAYMENT_AMOUNT' | translate}}
                                        </th>
                                        <th class="thcss">{{'ELECTRONIC_PAYMENT_DETAILS.AUTHORIZE_CODE' | translate}}
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let list of paymentsList'>
                                        <td>{{list.Appt_Date_Time__c[0]}} {{list.Appt_Date_Time__c[1]}}</td>
                                        <td>{{list.Reference_Number__c}}</td>
                                        <td>{{list.Name}}</td>
                                        <td *ngIf='list.clientName'>{{list.clientName}}</td>
                                        <td *ngIf='!list.clientName'>{{'TICKET_LIST.NO_CLIENT' | translate}}
                                        </td>
                                        <td>{{list.Amount_Paid__c | currency:'USD':"symbol-narrow"}}</td>
                                        <td>{{list.Approval_Code__c}}</td>
                                    </tr>
                                    <tr class="font-weight" *ngIf="paymentsList.length>0">
                                        <td>{{'ELECTRONIC_PAYMENT_DETAILS.PAYMENTS_TOTAL' | translate}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{paymentsTotal | currency:'USD':"symbol-narrow"}}</td>
                                        <td></td>
                                    </tr>
                                    <tr class="font-weight" *ngIf="paymentsList.length>0">
                                        <td>{{'ELECTRONIC_PAYMENT_DETAILS.REFUNDS_TOTAL' | translate }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{refundsTotal | currency:'USD':"symbol-narrow"}}</td>
                                        <td></td>
                                    </tr>
                                    <tr class="font-weight" *ngIf="paymentsList.length>0">
                                        <td>{{'ELECTRONIC_PAYMENT_DETAILS.GRAND_TOTAL' | translate }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{grandTotal | currency:'USD':"symbol-narrow"}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>