

.setsubcont {
    margin-right:9%;
}
.W-color{
    color: white;
}

.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email], .setsubcont textarea, .setsubcont select{
    color: white !important;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=email]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=password]:focus, .setsubcont textarea:focus  {
	
	color: #000 !important;
}
.word-break {
    word-break: break-all!important;
  }
@media(min-device-width: 768px) {
    .table-bordered-light {
        border: solid 1px #ccc;
        /* text-transform: uppercase; */
        font-family: 'AvenirLTStdRoman';
        font-size: 13px;
        /* letter-spacing: 1px; */
    }
    .setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email] {
        padding: 5px 5px 5px 4px;
        
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .setsubcont input[type=text] {
        width:100%; 
    }
    
}

.td-min {
    min-width: 173px;
}
.input-min {
    min-width:80px !important;
    max-width:70px !important;
    width:70% !important;
}
