<div id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont" style="color: white">
        <form #f="ngForm" (ngSubmit)="merge()">
            <div class="container form_cont" style="width: 87%;">

                <div class="row mt-20">
                    <div class="col-md-12 text-center">
                        <span class="thcss">{{'MERGE_CLIENT.DUPLICATED_INFORMATION_DISCOVERD' | translate}}</span>
                    </div>
                </div>

                <div class="row mt-20">
                    <div class="col-md-12">
                        <div class="table-responsive text-center">

                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss text-center">{{'MERGE_CLIENT.FIELD'| translate }}</th>
                                        <th class="thcss text-center">{{'MERGE_CLIENT.CURRENT'| translate}} (
                                            {{clientData1?.FirstName}} {{clientData1?.LastName}} )</th>
                                        <th class="thcss text-center">{{'MERGE_CLIENT.MERGING' | translate}} (
                                            {{clientData2?.FirstName}} {{clientData2?.LastName}} )</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="clientData1?.FirstName !== clientData2?.FirstName">
                                        <td>{{'SETUP_WORKERS_DETAILS.FIRST_NAME' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="mergeClient.FirstName" name="FirstName"
                                                    [value]="clientData1?.FirstName">{{clientData1?.FirstName}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="mergeClient.FirstName" name="FirstName"
                                                    [value]="clientData2?.FirstName">{{clientData2?.FirstName}}</label>
                                        </td>
                                    </tr>

                                    <tr *ngIf="clientData1?.LastName !== clientData2?.LastName">
                                        <td>{{'SETUP_WORKERS_DETAILS.LAST_NAME' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.LastName" type="radio" name="LastName"
                                                    [value]="clientData1?.LastName">{{clientData1?.LastName}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="mergeClient.LastName" name="LastName"
                                                    [value]="clientData2?.LastName">{{clientData2?.LastName}}</label>
                                        </td>
                                    </tr>

                                    <tr *ngIf="clientData1?.Phone !== clientData2?.Phone">
                                        <td>{{'SETUP_WORKERS_DETAILS.PRIMARY_PHONE' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="mergeClient.Phone" name="Phone"
                                                    [value]="clientData1?.Phone">{{clientData1?.Phone}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input type="radio" [(ngModel)]="mergeClient.Phone" name="Phone"
                                                    [value]="clientData2?.Phone">{{clientData2?.Phone}}</label>
                                        </td>
                                    </tr>

                                    <tr *ngIf="clientData1?.MobilePhone !== clientData2?.MobilePhone">
                                        <td>{{'SETUP_WORKERS_DETAILS.MOBILE_PHONE' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.MobilePhone" type="radio"
                                                    name="MobilePhone"
                                                    [value]="clientData1?.MobilePhone">{{clientData1?.MobilePhone}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.MobilePhone" type="radio"
                                                    name="MobilePhone"
                                                    [value]="clientData2?.MobilePhone">{{clientData2?.MobilePhone}}</label>
                                        </td>
                                    </tr>

                                    <tr *ngIf="clientData1?.Email !== clientData2?.Email">
                                        <td>{{'SETUP_WORKERS_DETAILS.PRIMARY_EMAIL' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Email" type="radio"
                                                    [value]="clientData1?.Email"
                                                    name="Email">{{clientData1?.Email}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Email" type="radio" name="Email"
                                                    [value]="clientData2?.Email">{{clientData2?.Email}}</label>
                                        </td>
                                    </tr>

                                    <tr *ngIf="clientData1?.Secondary_Email__c !== clientData2?.Secondary_Email__c">
                                        <td>{{'CLIENT_EDIT.SECONDARY_EMAIL' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Secondary_Email__c" type="radio"
                                                    name="Secondary_Email__c"
                                                    [value]="clientData1?.Secondary_Email__c">{{clientData1?.Secondary_Email__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Secondary_Email__c" type="radio"
                                                    name="Secondary_Email__c"
                                                    [value]="clientData2?.Secondary_Email__c">{{clientData2?.Secondary_Email__c}}</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="clientData1?.Emergency_Name__c !== clientData2?.Emergency_Name__c">
                                        <td>{{'CLIENT_EDIT.EMERGENCY_NAME' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Emergency_Name__c" type="radio"
                                                    [value]="clientData1?.Emergency_Name__c"
                                                    name="Emergency_Name__c">{{clientData1?.Emergency_Name__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Emergency_Name__c" type="radio"
                                                    [value]="clientData2?.Emergency_Name__c"
                                                    name="Emergency_Name__c">{{clientData2?.Emergency_Name__c}}</label>
                                        </td>
                                    </tr>

                                    <tr
                                        *ngIf="clientData1?.Emergency_Primary_Phone__c !== clientData2?.Emergency_Primary_Phone__c">
                                        <td>{{'CLIENT_EDIT.EMERGENCY_PRIMARY_PHONE' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Emergency_Primary_Phone__c" type="radio"
                                                    [value]="clientData1?.Emergency_Primary_Phone__c"
                                                    name="Emergency_Primary_Phone__c"
                                                    [value]="clientData1?.Emergency_Primary_Phone__c">{{clientData1?.Emergency_Primary_Phone__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Emergency_Primary_Phone__c" type="radio"
                                                    [value]="clientData2?.Emergency_Primary_Phone__c"
                                                    name="Emergency_Primary_Phone__c"
                                                    [value]="clientData2?.Emergency_Primary_Phone__c">{{clientData2?.Emergency_Primary_Phone__c}}</label>
                                        </td>
                                    </tr>

                                    <tr
                                        *ngIf="clientData1?.Emergency_Secondary_Phone__c !== clientData2?.Emergency_Secondary_Phone__c">
                                        <td>{{'CLIENT_EDIT.EMERGENCY_SECONDARY_PHONE' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Emergency_Secondary_Phone__c"
                                                    type="radio" [value]="clientData1?.Emergency_Secondary_Phone__c"
                                                    name="Emergency_Secondary_Phone__c">{{clientData1?.Emergency_Secondary_Phone__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Emergency_Secondary_Phone__c"
                                                    type="radio" [value]="clientData2?.Emergency_Secondary_Phone__c"
                                                    name="Emergency_Secondary_Phone__c">{{clientData2?.Emergency_Secondary_Phone__c}}</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="clientData1?.Gender__c !== clientData2?.Gender__c">
                                        <td>{{'MARKETING_FILTERS.GENDER' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Gender__c" type="radio" name="Gender__c"
                                                    [value]="clientData1?.Gender__c">{{clientData1?.Gender__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Gender__c" type="radio" name="Gender__c"
                                                    [value]="clientData2?.Gender__c">{{clientData2?.Gender__c}}</label>
                                        </td>
                                    </tr>

                                    <tr *ngIf="clientData1?.Title !== clientData2?.Title">
                                        <td>{{'MERGE_CLIENT.TITLE' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Title" type="radio"
                                                    [value]="clientData1?.Title"
                                                    name="Title">{{clientData1?.Title}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Title" type="radio"
                                                    [value]="clientData2?.Title"
                                                    name="Title">{{clientData2?.Title}}</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="clientData1?.Membership_ID__c !== clientData2?.Membership_ID__c">
                                        <td>{{'MERGE_CLIENT.MEMBERSHIP_ID' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Membership_ID__c" type="radio"
                                                    [value]="clientData1?.Membership_ID__c"
                                                    name="Membership_ID__c">{{clientData1?.Membership_ID__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Membership_ID__c" type="radio"
                                                    [value]="clientData2?.Membership_ID__c"
                                                    name="Title">{{clientData2?.Membership_ID__c}}</label>
                                        </td>
                                    </tr>

                                    <tr *ngIf="clientData1?.Marketing_Opt_Out__c !== clientData2?.Marketing_Opt_Out__c">
                                        <td>{{'MERGE_CLIENT.MARKETING_OUT_PUT' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Marketing_Opt_Out__c" type="radio"
                                                    [value]="clientData1?.Marketing_Opt_Out__c"
                                                    name="Marketing_Opt_Out__c">{{clientData1?.Notification_Opt_Out__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Marketing_Opt_Out__c" type="radio"
                                                    [value]="clientData2?.Marketing_Opt_Out__c"
                                                    name="Marketing_Opt_Out__c">{{clientData2?.Notification_Opt_Out__c}}</label>
                                        </td>
                                    </tr>

                                    <tr
                                        *ngIf="clientData1?.Marketing_Primary_Email__c !== clientData2?.Marketing_Primary_Email__c">
                                        <td>{{'MERGE_CLIENT.MARKETING_PRIMARY_EMAIL' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Marketing_Primary_Email__c" type="radio"
                                                    [value]="clientData1?.Marketing_Primary_Email__c"
                                                    name="Marketing_Primary_Email__c"
                                                    [value]="clientData1?.Marketing_Primary_Email__c">{{clientData1?.Notification_Primary_Email__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Marketing_Primary_Email__c" type="radio"
                                                    name="Marketing_Primary_Email__c"
                                                    [value]="clientData2?.Marketing_Primary_Email__c">{{clientData2?.Notification_Primary_Email__c}}</label>
                                        </td>
                                    </tr>

                                    <tr
                                        *ngIf="clientData1?.Marketing_Mobile_Phone__c !== clientData2?.Marketing_Mobile_Phone__c">
                                        <td>{{'MERGE_CLIENT.MARKETING_MOBILE_PHONE' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Marketing_Mobile_Phone__c" type="radio"
                                                    [value]="clientData1?.Marketing_Mobile_Phone__c"
                                                    name="Marketing_Mobile_Phone__c">{{clientData1?.Marketing_Mobile_Phone__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Marketing_Mobile_Phone__c" type="radio"
                                                    [value]="clientData2?.Marketing_Mobile_Phone__c"
                                                    name="Marketing_Mobile_Phone__c">{{clientData2?.Marketing_Mobile_Phone__c}}</label>
                                        </td>
                                    </tr>
                                    <tr
                                        *ngIf="clientData1?.Marketing_Secondary_Email__c !== clientData2?.Marketing_Secondary_Email__c">
                                        <td>{{'MERGE_CLIENT.MARKETING_SECONDARY_EMAIL' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Marketing_Secondary_Email__c"
                                                    type="radio" [value]="clientData1?.Marketing_Secondary_Email__c"
                                                    name="Marketing_Secondary_Email__c">{{clientData1?.Marketing_Secondary_Email__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Marketing_Secondary_Email__c"
                                                    type="radio" [value]="clientData2?.Marketing_Secondary_Email__c"
                                                    name="Marketing_Secondary_Email__c">{{clientData2?.Marketing_Secondary_Email__c}}</label>
                                        </td>
                                    </tr>
                                    <tr
                                        *ngIf="clientData1?.Notification_Opt_Out__c !== clientData2?.Notification_Opt_Out__c">
                                        <td>{{'MERGE_CLIENT.NOTIFICATION_OUT_PUT' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Notification_Opt_Out__c" type="radio"
                                                    [value]="clientData1?.Notification_Opt_Out__c"
                                                    name="Notification_Opt_Out__c">{{clientData1?.Notification_Opt_Out__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Notification_Opt_Out__c" type="radio"
                                                    [value]="clientData2?.Notification_Opt_Out__c"
                                                    name="Notification_Opt_Out__c">{{clientData2?.Notification_Opt_Out__c}}</label>
                                        </td>
                                    </tr>

                                    <tr
                                        *ngIf="clientData1?.Notification_Primary_Email__c !== clientData2?.Notification_Primary_Email__c">
                                        <td>{{'MERGE_CLIENT.NOTIFICATION_PRIMARY_EMAIL' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Notification_Primary_Email__c"
                                                    type="radio" name="Notification_Primary_Email__c"
                                                    [value]="clientData1?.Notification_Primary_Email__c">{{clientData1?.Notification_Primary_Email__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Notification_Primary_Email__c"
                                                    type="radio" name="Notification_Primary_Email__c"
                                                    [value]="clientData2?.Notification_Primary_Email__c">{{clientData2?.Notification_Primary_Email__c}}</label>
                                        </td>
                                    </tr>

                                    <tr
                                        *ngIf="clientData1?.Notification_Mobile_Phone__c !== clientData2?.Notification_Mobile_Phone__c">
                                        <td>{{'MERGE_CLIENT.NOTIFICATION_MOBILE_PHONE' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Notification_Mobile_Phone__c"
                                                    type="radio" [value]="clientData1?.Notification_Mobile_Phone__c"
                                                    name="Notification_Mobile_Phone__c">{{clientData1?.Notification_Mobile_Phone__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Notification_Mobile_Phone__c"
                                                    type="radio" [value]="clientData2?.Notification_Mobile_Phone__c"
                                                    name="Notification_Mobile_Phone__c">{{clientData2?.Notification_Mobile_Phone__c}}</label>
                                        </td>
                                    </tr>
                                    <tr
                                        *ngIf="clientData1?.Notification_Secondary_Email__c !== clientData2?.Notification_Secondary_Email__c">
                                        <td>{{'MERGE_CLIENT.NOTIFICATION_PRIMARY_EMAIL' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Notification_Secondary_Email__c"
                                                    type="radio" [value]="clientData1?.Notification_Secondary_Email__c"
                                                    name="Notification_Secondary_Email__c">{{clientData1?.Notification_Secondary_Email__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Notification_Secondary_Email__c"
                                                    type="radio" [value]="clientData2?.Notification_Secondary_Email__c"
                                                    name="Notification_Secondary_Email__c">{{clientData2?.Notification_Secondary_Email__c}}</label>
                                        </td>
                                    </tr>
                                    <tr *ngIf="clientData1?.Reminder_Opt_Out__c !== clientData2?.Reminder_Opt_Out__c">
                                        <td>{{'MERGE_CLIENT.REMINDER_OUT_PUT' | translate}}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Reminder_Opt_Out__c" type="radio"
                                                    [value]="clientData1?.Reminder_Opt_Out__c"
                                                    name="Reminder_Opt_Out__c">{{clientData1?.Reminder_Opt_Out__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Reminder_Opt_Out__c" type="radio"
                                                    [value]="clientData2?.Reminder_Opt_Out__c"
                                                    name="Reminder_Opt_Out__c">{{clientData2?.Reminder_Opt_Out__c}}</label>
                                        </td>
                                    </tr>
                                    <tr
                                        *ngIf="clientData1?.Reminder_Primary_Email__c !== clientData2?.Reminder_Primary_Email__c">
                                        <td>{{'MERGE_CLIENT.REMINDER_PRIMARY_EMAIL' | translate }}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Reminder_Primary_Email__c" type="radio"
                                                    [value]="clientData1?.Reminder_Primary_Email__c"
                                                    name="rpemail">{{clientData1?.Reminder_Primary_Email__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Reminder_Primary_Email__c" type="radio"
                                                    [value]="clientData2?.Reminder_Primary_Email__c"
                                                    name="rpemail">{{clientData2?.Reminder_Primary_Email__c}}</label>
                                        </td>
                                    </tr>
                                    <tr
                                        *ngIf="clientData1?.Reminder_Secondary_Email__c !== clientData2?.Reminder_Secondary_Email__c">
                                        <td>{{'MERGE_CLIENT.REMINDER_SECONDARY_EMAIL' | translate }}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Reminder_Secondary_Email__c"
                                                    type="radio" [value]="clientData1?.Reminder_Secondary_Email__c"
                                                    name="Reminder_Secondary_Email__c">{{clientData1?.Reminder_Secondary_Email__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Reminder_Secondary_Email__c"
                                                    type="radio" [value]="clientData2?.Reminder_Secondary_Email__c"
                                                    name="Reminder_Secondary_Email__c">{{clientData2?.Reminder_Secondary_Email__c}}</label>
                                        </td>
                                    </tr>

                                    <tr
                                        *ngIf="clientData1?.Reminder_Mobile_Phone__c !== clientData2?.Reminder_Mobile_Phone__c">
                                        <td>{{'MERGE_CLIENT.REMINDER_MOBILE_PHONE' | translate }}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Reminder_Mobile_Phone__c" type="radio"
                                                    [value]="clientData1?.Reminder_Mobile_Phone__c"
                                                    name="Reminder_Mobile_Phone__c">{{clientData1?.Reminder_Mobile_Phone__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Reminder_Mobile_Phone__c" type="radio"
                                                    [value]="clientData2?.Reminder_Mobile_Phone__c"
                                                    name="Reminder_Mobile_Phone__c">{{clientData2?.Reminder_Mobile_Phone__c}}</label>
                                        </td>
                                    </tr>

                                    <tr *ngIf="clientData1?.Pin__c !== clientData2?.Pin__c">
                                        <td>{{'MERGE_CLIENT.PIN' | translate }}</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Pin__c" type="radio"
                                                    [value]="clientData1?.Pin__c"
                                                    name="Pin__c">{{clientData1?.Pin__c}}</label>
                                        </td>
                                        <td>
                                            <label class="radio-inline">
                                                <input [(ngModel)]="mergeClient.Pin__c" type="radio"
                                                    [value]="clientData2?.Pin__c"
                                                    name="Pin__c">{{clientData2?.Pin__c}}</label>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{'MERGE_CLIENT.IN_ORDER_MERGE_CLIENT_RECORD_CANNOT_HAVE_UNSAVED_CHANGES' | translate }}
                    </div>
                </div>
                <div class="row mt-40">
                    <div class=" col-md-12 text-center">
                        <button class="btn btn-default mb-5">
                            <i class="fa fa-exchange"></i> {{'COMMON.MERGE' | translate}}</button>
                        <button type="button" class="cancel-btn"
                            [routerLink]="['/client/edit/' + clientId1]">{{'BUTTON.CANCEL' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <app-rightbar></app-rightbar>
</div>