<div id="wrapper_setup_new">
	<app-header [newMenu]="'noNav'"></app-header>
	<div id="wrapper_setup_new">
		<section id="inner_cont">
			<div class="container form_cont">
				<div class="row mt-20">
					<p class="red">{{ error | translate }}</p>
					<div class="col-md-5 col-sm-4 text-right res-tleft">
						<label>{{'COMMON.NUMBER' | translate}}</label>
					</div>
					<div class="col-md-7 col-sm-8">
						<input type="text" [(ngModel)]="giftNumber" (keypress)="clearErrMsg()" (keyup.enter)="giftSearch()">
					</div>
				</div>
				<div class="row mt-30">
					<div class="col-md-5 col-sm-4 text-right res-tleft">
						&nbsp;
					</div>
					<div class="col-md-7 col-sm-8">
						<button type="button" class="btn btn-primary" (click)="giftSearch()">
							<i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp;{{'CLIENTS.SEARCH' | translate}}</button>
					</div>
				</div>

				<div class="row mt-20 res-mt-15 ml-5" *ngIf='giftData'>
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover table-bordered">
								<thead>
									<tr class="thcss">
										<th>{{'GIFT_BALANCES.RECIPIENT' | translate}}</th>
										<th>{{'GIFT_BALANCES.NUMBER' | translate}}</th>
										<th>{{'GIFT_BALANCES.ORIGIONAL_AMT' | translate}}</th>
										<th>{{'COMMON.CURRENT_BALANCE' | translate}}</th>
										<th>{{'CHECK_OUTS.OTHERS.ISSUED' | translate}}</th>
										<th>{{'CREATE_TOKEN.EXPIRES' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor='let list of giftData'>
										<td>
											<div>{{list.Recipient__c}}</div>
										</td>
										<td>
											<div>{{list.Gift_Number__c}}</div>
										</td>
										<td>
											<div>{{list.Amount__c | currency:'USD':"symbol-narrow"}}</div>
										</td>
										<td>
											<div>{{(list.currentBalnce) ? ((list.Amount__c - list.currentBalnce)| currency:'USD':"symbol-narrow") : (list.Amount__c | currency:'USD':"symbol-narrow")}}</div>
										</td>
										<td>
											<div>{{list.Issued__c}}</div>
										</td>
										<td>
											<div>{{list.Expires__c}}</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row mt-50">
					<div class="col-md-5 col-sm-4 text-right res-tleft">
						&nbsp;
					</div>
					<div class="col-md-7 col-sm-8">
						<button type="button" class="cancel-btn" [routerLink]="['/home']">{{'BUTTON.CANCEL' | translate}}</button>
					</div>
				</div>
			</div>
		</section>
	</div>
	<app-rightbar></app-rightbar>
</div>