<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row d-flex">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-4 col-md-4">
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-3 col-md-offset-1 text-right res-tleft">
                            <label class="label">{{'COMMON.BEGIN_DATE'| translate}}</label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <input type="text" bsDatepicker [(ngModel)]='startDate' [maxDate]="minDate"
                                (ngModelChange)='itemsDisplay = false' [bsConfig]="datePickerConfig" class="datefield">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-3 col-md-offset-1 text-right res-tleft">
                            <label class="label">{{'COMMON.END_DATE'| translate}}</label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <input type="text" bsDatepicker [(ngModel)]='endDate' [maxDate]="minDate"
                                (ngModelChange)='itemsDisplay = false' [bsConfig]="datePickerConfig" class="datefield">
                        </div>
                    </div>
                    <p class="red" style="text-align:center;"> {{SdateEdateError | translate}}</p>
                    <div class="row mt-20">
                        <div class="col-md-12 col-sm-12 col-md-offset-1 text-center">
                            <button type="button" (click)="generateRewardPointsReport()" class="btn btn-primary">
                                <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 dropwidth">
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-3 col-md-offset-1 text-right res-tleft">
                            <label class="label">{{'REWARDS.SORT_BY' | translate}}</label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <select class="select-new-trans select-input"
                                (change)="selectTypeOnChange($event.target.value)" [(ngModel)]="selectType">
                                <option *ngFor="let data of staticData" value={{data.value}}>{{data.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" *ngIf="rewardPointsData.length > 0">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="row mt-20 res-mt-15" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-max-rewards">
                        <div class="table-responsive">
                            <table class="table table-center table-responsive">
                                <tr>
                                    <th>{{'ACCOUNT_BALANCE.CLIENT_NAME' | translate}}</th>
                                    <th>{{'REWARDS.REWARDS_EARNED' | translate}}</th>
                                    <th>{{'REWARDS.REWARDS_USED' | translate}}</th>
                                    <th>{{'REWARDS.CURRENT_REWARDS' | translate}}</th>
                                    <th>{{'REWARDS.LAST_VISIT' | translate}}</th>
                                </tr>
                                <tr *ngFor="let data of rewardPointsData">
                                    <td class="td-color"><a target="blank" [routerLink]="['/client/edit/' + data.Client__c]"
                                            [queryParams]="{ actionMethod: 'rewardpointsreport'}"
                                            *ngIf="data.clientName !== null">{{data.clientName}}</a></td>
                                    <td>{{data.earnedPoints}}</td>
                                    <td>{{data.usedPoints}}</td>
                                    <td>{{data.Points_Balance__c}}</td>
                                    <td>{{data.lastVisit[0]}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>