#inner_cont {
    margin-right: 9%;
    color: white;
}

.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}

.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}

.para-align {
    text-align: center;
    color: #075877;
    font-weight: bold;
}
.btn-style{
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.delete-btn {
    padding: 6px 20px;
    outline: none;
    border: solid 1px #aa300b !important;
    background: #aa060e !important;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
}
.delete-btn:hover {
    background: #d63301 !important;
    transition: all 0.4s;
}
.appointment-select-width {
    margin-right: 3px;
}