<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
                <div class="row mt-20">
                        <div class="col-md-4 col-sm-4 text-right res-tleft">
                            <label></label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                                <p class="red">{{inventryErr | translate}}</p>
                        </div>
                    </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="bsValue" [bsConfig]="datePickerConfig"
                        class="datefield" (click)="clearErr()" (keyup)="clearErr()"[maxDate]="maxDate">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" value="{{ bsValue1 | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="bsValue1" [bsConfig]="datePickerConfig"
                        class="datefield" (click)="clearErr()" (keyup)="clearErr()"  [maxDate]="maxDate">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                    <div class="col-md-12 col-sm-12 ml-bottom">
                        <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                            <span style="font-size: 14px">
                                <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate }}</span>
                        </button>
                    </div>
                </div>
            <hr />
            <div class="row mt-20 res-mt-15 ml-5" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'COMMON.PRODUCT' | translate }}</th>
                                    <th class="thcss">{{'COMMON.COST_EACH' | translate }}</th>
                                    <th class="thcss">{{'INVENTORY_USAGE.QUANTITY' | translate }}</th>
                                    <th class="thcss">{{'INVENTORY_USAGE_REPORT.TOTAL_COST' | translate }}</th>
                                    <th class="thcss">{{'INVENTORY_USAGE.USED_BY' | translate }}</th>
                                    <th class="thcss">{{'INVENTORY_USAGE_REPORT.USED_BY_WORKER' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let list1 of usageList; let i='index'">
                                    <tr *ngFor='let list of list1'>
                                        <td>{{list.Name}}</td>
                                        <td>{{list.costEach| number:'2.2-2'}}</td>
                                        <td>{{list.Qty_c}}</td>
                                        <td>{{list.totalCost | number:'2.2-2'}}</td>
                                        <td>{{list.Used_By_c}}</td>
                                        <td>{{list.workerName}}</td>
                                    </tr>
                                    <tr class="background-color">
                                        <th>**{{list1.date}}</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th>{{list1.total | number:'2.2-2'}}</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    
                                </ng-container>
                                <tr class="grandtotalcost">
                                    <th>{{'INVENTORY_USAGE_REPORT.GRAND_TOTAL_COST' | translate }}</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>{{grandTotal | currency:"USD":"symbol-narrow"}}</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>