hr {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

::-moz-placeholder {
    color: #FFFFFF;
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

:-moz-placeholder {
    color: #FFFFFF;
}

.signup-maindiv {
    margin: 1% 4%;
}

.signup-logo {
    width: 13%;
    min-width: 150px;
}

.signup-caption {
    margin-top: 1%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.signup-side-header {
    font-weight: bold;
    text-align: center;
}

.signup-content {
    margin-left: 25px;
    margin-top: 10px;
}

.signup-content label {
    margin-right: 10px;
}

.form-new input, .form-new .form-control {
    height: 55px;
    font-weight: 300 !important;
    color: #FFFFFF !important;
    width: 100% !important;
    background: none !important;
    border: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    box-shadow: none;
    font-size: 23px;
}

.head-large {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    padding: 6px 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.signup-options option {
    color: black;
}

.signup-middle {
    text-align: center;
}

.signup-font-white {
    color: #fff;
}

.signup-a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline !important;
}

.signup-submit {
    background-color: #35c31b;
    color: white
}
.form-input-group-list .input-group-addon {
    background: none !important;
    width: 7%;
    padding: 0px 21.5px;
    border: 0 !important;
    border-bottom: 1px solid rgba(255,255,255,0.2) !important;
    text-align: center;
    height: 45px;
    border-radius: 0;
}
.glyphicon {
    color: white;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}