<div id="wrapper_setup_new">
		<app-header [newMenu]="'noNav'"></app-header>
	<section id="inner_cont">
		<div class="container form_cont">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th class="thcss">{{'MARKETING_REPORTS.MARKETING_SET' | translate }}</th>
						<th class="thcss">{{'MARKETING_REPORTS.RUN_DATE' | translate }}</th>
						<th class="thcss">{{'MARKETING_REPORTS.RECORD_COUNT' | translate }}</th>
						<th class="thcss">{{'COMMON.ACTION' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="40%">Active Clients</td>
						<td>08/04/2017</td>
						<td>263</td>
						<td>
							<a  [routerLink]="['/marketing/reportedit']" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
								<span class="add">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</span>
							</a>
							<a  [routerLink]="['/marketing/reportdelete']"data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
								<span class="del">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<app-rightbar></app-rightbar>
</div>