.signup-maindiv {
    margin: 1% 4%;
}
.signup-middle {
    text-align: center;
}
.signup-logo {
    width: 13%;
    min-width: 150px;
}
.signup-caption {
    margin-top: 1%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
.apont-head-large {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    padding: 6px 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.2em;
}

/* .gift select,input{
    margin-left: 13px;
    width:50%
} */
.appt-box-one{
    border-top: 1px solid;
}
.form_cont input[type=text], .form_cont, .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}
.gift-purchase input[type="text"]{
    font-size: 18px;
    line-height: 20px;
    height: 35px;
    font-weight: 300!important;
    color: #fff!important;
    width: 100%!important;
    background: 0 0!important;
    padding: 5px 15px;
    border: 0!important;
    border-bottom: 1px solid rgba(255,255,255,.2)!important;
    text-align: center;
    font-family: Raleway,sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.select-bg{
    width:50%
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}








/*****/
body {
    background: none !important;
}
.wt-clr {
    color: #fff !important;
}
.blk-clr {
    color: #000 !important;
}
.b-0 {
    border:0 !important;
}
.p-0 {
    padding: 0 !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.no-bg {
    background: none !important;
}
.va-t {
    vertical-align: top;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-20 {
    font-size: 20px !important;
}
.minh-100 {
    min-height: 100vh;
}
.center-v {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}
.olb-main {
    /* background: #707070; */
    width: 100%;
    min-height: 100vh;
}
.olb-main-in {
    width: 100%; 
    max-width: 370px;
    padding: 25px 15px;
    margin: 0 auto;
    font-family: 'CenturyGothic';
}
.login-welcome{
    font-family: 'CenturyGothic';
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
.olb-new-label {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    padding: 5px !important;
    margin: 0 !important;
}
.form-control-olb {
    height: 40px !important;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100% !important;
    box-shadow: none !important;
}
.form-group-olb {
    margin-bottom: 10px !important;
}
.btn-bg-none {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.olb-lg-br-btn {
    min-height: 70px !important;
    height: auto !important;
    width: 100% !important;
    font-size: 18px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: center !important;
    border:1px solid #fff !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    background: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 10px !important;
}
.olb-lg-br-btn span {
    font-family: 'CenturyGothicBold';
    display: block;
    flex-basis: 100%;
}

.home-top {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    font-family: 'CenturyGothicBold';

}
.home-top img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
.home-top-back{
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
}
.home-top-back-lft {
    font-family: 'CenturyGothicBold';
}
.home-top-back-rgt {
    margin: 0;
}
.home-top {
    font-size: 16px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    font-family: 'CenturyGothicBold';

}
.home-top img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.client-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.client-name-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}
.client-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    
}
.client-name-right {
    width: calc(100% - 70px);
    margin-left: 10px;
    font-size: 30px !important;
    line-height: 40px !important;
    color: #fff !important;
}

.olb-lg-br-btn-large, .olb-lg-br-btn-large span {
    font-size: 30px !important;
    line-height: 40px !important;
    color: #fff !important;
    font-family: 'CenturyGothic';
    font-weight: normal !important

}

.text-btn {
    font-family: 'CenturyGothicBold';
    font-size: 24px !important;
    line-height: 30px !important;
    color: #fff !important;
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    border:0 !important;
    vertical-align: middle;
    padding: 0;
    display: inline-block;
}
.btm-btns {
    margin: 30px 0 0 ;
    padding: 0;
    display: block;
    list-style: none;
    text-align: center;
}
.btm-btns li {
    vertical-align: middle;
    padding: 0;
    display: inline-block;
    list-style: none;
}
.btm-btns li:after {
    content: '|';
    font-family: 'CenturyGothicBold';
    font-size: 24px !important;
    line-height: 30px !important;
    color: #fff !important;
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
}
.btm-btns li:last-child:after {
    display: none;
}
.new-client-title {
    font-size: 16px !important;
    line-height: 25px !important;
    color: #fff !important;
    text-align: center;
    margin: 15px 0;
}
.olb-new-label-center {
    text-align: center;
    width: 100%;
}

.slect-form-new{
    background-image: url(/assets/images/arrow-new-down-blk.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255,255,255,1) !important;
    color: #000 !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 40px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}
.new-client-chk-info {
    font-size: 12px !important;
    line-height: 13px !important;
    color: #fff !important;   
    padding-left: 60px;
    position: relative;
    margin-bottom: 25px;
}

.new-client-chk-info span {
    width: 22px;
    height: 22px;
    border:1px solid #fff;
    display: inline-block;
    position: absolute;
    left: 27px;

}
.check-notify {
    margin-bottom: 25px;
    color: #fff;
    align-items: center;
}
.check-notify-lft {
    width: calc(100% - 90px);
    float: left;
}
.check-notify-lft img {
    display: inline-block;
    vertical-align: middle;
}
.check-notify-lft span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px !important;
    line-height: 13px !important;
    color: #fff !important;   
    padding-left: 15px;
}
.check-notify-rgt {
    width: 80px;
    float: right;
    display: flex;
    justify-content: space-between;
}


.btn-new-wt {
    background: #fff !important;
    color: #007286 !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-blue  {
    background: #6699cc !important;
    color:#fff !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-lgt-trans  {
    background: rgba(255,255,255,0.9) !important;
    color: #6699cc !important;
    border:0 !important;
    border-radius: 5px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.btn-new-wt.big-btn , .btn-new-blue.big-btn , .btn-new-lgt-trans.big-btn {
    padding: 8px 30px !important;
    font-size:18px !important;
    line-height: 25px !important;
    font-weight: normal;
}
.egift-name-email {
    font-size:16px !important;
    line-height: 20px !important;
    font-family: 'CenturyGothicBold';
    margin-bottom: 15px;
    margin-top: 90px;
}
.egift-name-email p {
    font-size:16px !important;
    line-height: 20px !important;
    font-family: 'CenturyGothicBold';
    color: #fff !important;   
    margin: 0;
    padding: 0;
}
.m-auto {
    margin-left: auto;
    margin-right: auto;
}
.w-50 {
    width: 50%;
}
.error-msg-box {
    background: #f1f1f1;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.error-msg-box p, .error-msg-box span {
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    margin: 0; padding: 0;
}
.mb-20 {
    margin-bottom: 20px !important;
}

#deleteErrorApptId  {
    background: #f1f1f1;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size:16px !important;
    line-height: 20px !important;
    color: #ff0000 !important;   
    border-radius: 10px;
}
#bgOnline{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;;
}
.olb-main {
    position: relative;
    z-index: 9;
}











