<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"(emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]='bsValue' (ngModelChange)='isGenerate = false' bsDatepicker [(bsValue)]="startDate" (click)="error = ''"
                         [bsConfig]="datePickerConfig" class="datefield" (click)="clearErrorMsgs()" (keyup)="clearErrorMsgs()">
                    <p class="red">{{ error | translate }}</p>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]='bsValue1' (ngModelChange)='isGenerate = false' bsDatepicker [(bsValue)]="endDate" (click)="error = ''"
                        [bsConfig]="datePickerConfig" class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="type" (change)="reportTypeOnChange($event.target.value)">
                        <option *ngFor='let obj of reportTypes' value="{{obj}}">{{obj}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            
            <ng-container *ngIf="isGenerate">
            
                            <div class="col-md-12 col-sm-12 ml-bottom" >
                                <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                                    <span style="font-size: 14px">
                                        <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                                </button>
                            </div>
                            <hr />
                <div class="row mt-20 res-mt-15 ml-5">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{companyName}}</th>
                                        <th class="thcss">{{'REPORTS.GIFT_LIST_REPORT' | translate }}: {{type}}</th>
                                        <th class="thcss"> {{startDate | date: 'MM/dd/yyyy'}} - {{endDate | date: 'MM/dd/yyyy'}}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="thcss">{{'CHECK_OUTS.OTHERS.RECIPIENT' | translate }}</th>
                                        <th class="thcss">{{'CHECK_OUTS.OTHERS.GIFT_NUMBER' | translate }}</th>
                                        <th class="thcss">{{'CHECK_OUTS.OTHERS.ISSUED' | translate }}</th>
                                        <th class="thcss">{{'CREATE_TOKEN.EXPIRES' | translate }}</th>
                                        <th class="thcss">{{'GIFT_LIST_REPORT.ORIGINAL_AMOUNT' | translate }}</th>
                                        <th class="thcss">{{'COMMON.CURRENT_BAL' | translate }}</th>
                                        <th class="thcss">{{'GIFT_LIST_REPORT.LAST_USED' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let goalsArrayobj of goalsObj'>
                                        <td>{{goalsArrayobj.Recipient__c}}</td>
                                        <td>{{goalsArrayobj.Gift_Number__c}}</td>
                                        <td>{{goalsArrayobj.Issued__c}}</td>
                                        <td>{{goalsArrayobj.Expires__c}}</td>
                                        <td>{{goalsArrayobj.Amount__c | number: '1.2-4'}}</td>
                                        <td>{{(goalsArrayobj.currentBalnce) ? ((goalsArrayobj.Amount__c - goalsArrayobj.currentBalnce) | number: '1.2-4') : ((goalsArrayobj.Amount__c) | number: '1.2-4')}}</td>
                                        <td>{{goalsArrayobj.LastModifiedDate}}</td>
                                    </tr>
                                    <tr *ngIf="goalsObj.length>0">
                                            <th class="thcss">{{'ONLINE_GIFT.TOTAL' | translate}}</th>
                                            <th class="thcss">{{'GIFT_LIST_REPORT.NUMBER_OF_GIFTS' | translate }}: {{ticketCount}}</th>
                                            <th class="thcss">&nbsp;</th>
                                            <th class="thcss">&nbsp;</th>
                                            <th class="thcss">{{orginalAmt | currency:"USD":"symbol-narrow"}}</th>
                                            <th class="thcss">{{currentAmt | currency:"USD":"symbol-narrow"}}</th>
                                            <th class="thcss"></th>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>