<div id="bgOnline"></div>
<div class="olb-main">
	<div class="olb-main-in minh-100 center-v" (keyup.enter)="getAuthorised()">
		<div class="login-welcome">
			<img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';"
				class="signup-logo" />
		</div>
		<div class="login-welcome">
			{{'CLIENT_LOGIN.WELCOME_TO' | translate }} {{companyName}}
		</div>
		<div>
			<div *ngIf="forgotpinTab === false && onlineBooking == 'true'">
				<form autocomplete="off" class="staff-cont-rgt form-new olb-form">

					<div class="form-group form-group-olb">
						<div class="b-0">
							<input [(ngModel)]="userName" name="userName" class="form-control form-control-olb"
								type="text" autocomplete="nope" placeholder="" maxlength="60">
							<label class="olb-new-label">{{'CLIENT_LOGIN.EMAIL_ADDRESS' | translate }}</label>
						</div>
					</div>
					<div class="form-group form-group-olb input-group b-0">
						<input [(ngModel)]="pin" name="pin" class="form-control form-control-olb" type="password"
							autocomplete="new-password" placeholder="" maxlength="20">
						<label class="olb-new-label">{{'CLIENT_LOGIN.PASS_WORD' | translate }}</label>
						<span class="input-group-addon p-0 pl-20 b-0 no-bg va-t">
							<button class="btn btn-bg-none" type="button" (click)="getAuthorised()"
								title="{{'LOGIN.LOGIN_LABEL_TITLE' | translate }}">
								<img src="../../../assets/images/olb-login.png" alt="send">
							</button>
						</span>
					</div>
					<div class="mb-20">
						<a class="olb-lg-br-btn" (click)="forgotpinTab = true">
							<!-- Forgot PIN? -->
							<span>{{'CLIENT_LOGIN.CURRENT_CUSTOMER' | translate }}</span>
							{{'CLIENT_LOGIN.REQUESRT_PASSWORD' | translate }}
						</a>

					</div>
					<div class="mb-20" *ngIf='isNew'>
						<button [routerLink]="['/online/client/add/'+dbName]" class="olb-lg-br-btn" type="button">
							<span>{{'CLIENT_LOGIN.NEW_TO' | translate }} {{companyName}}?</span>
							{{'CLIENT_LOGIN.CREATE_AN_PASSWORD' | translate }}						</button>
					</div>
					<div class="mb-10" *ngIf="purchaseGiftButt">
						<button [routerLink]="['/onlinegift/'+'any']" class="olb-lg-br-btn" type="button">
							<span>{{'CLIENT_LOGIN.PURCHASE_EGIFT' | translate }}</span>
						</button>
					</div>
				</form>
			</div>
			<div *ngIf="forgotpinTab === false && onlineBooking == 'false'"
				class="font-12 text-center wt-clr mt-10 mb-10">
				<p> {{'CLIENT_LOGIN.ONLINE_BOOKING_IS_UNAVAILABLE_CURRENTLY' | translate }}</p>
			</div>
			<div *ngIf="forgotpinTab === true">
				<form autocomplete="off" class="form-new">
					<div class="login-welcome mt-20 mb-20">
						{{'CLIENT_LOGIN.FORGOT_PASSWORD' | translate }}
					</div>
					<div class="form-group form-group-olb">
						<input [(ngModel)]="userName" name="userName" class="form-control form-control-olb" type="text"
							autocomplete="nope" placeholder="" maxlength="60">
						<label class="olb-new-label">{{'CLIENT_LOGIN.EMAIL_ADDRESS' | translate }}</label>
					</div>
					<div class="form-group form_cont form-group-olb" *ngIf="forgotpinEmails.length > 0">
						<select [(ngModel)]="selectpinemail" class="form-control" [ngModelOptions]="{standalone: true}">
							<option value="">{{'CLIENT_LOGIN.SELECT' | translate }}</option>
							<option *ngFor="let item of forgotpinEmails" value="{{item.Id}}">{{item.fullName}}</option>
						</select>
						<label class="olb-new-label">{{'CLIENT_LOGIN.SELECT_PASSWORD_EMAIL' | translate }}</label>
					</div>
				</form>
				<div class="mb-20">
					<button class="olb-lg-br-btn" type="button" (click)="sendPin()">
						<span>{{'CLIENT_LOGIN.SEND_PASSWORD' | translate }}</span>
					</button>
				</div>
				<div class="mb-10">
					<a class="olb-lg-br-btn"
						(click)="forgotpinTab = false;userName = '';pin='';forgotpinEmails = []">{{'BUTTON.CANCEL' | translate }}</a>
				</div>
			</div>
			<div *ngIf="onlineBooking == 'true'">
				<div id="loginMessageId" class="font-12 text-center wt-clr mt-10 mb-10">
					{{loginMessage}}
				</div>
			</div>


		</div>
































		<!-- <div class="signup-maindiv" (keyup.enter)="getAuthorised()">
				<div class="signup-middle">
					<img src="{{companyLogo}}" onerror="this.onerror=null;this.src='assets/images/logo.png';" class="signup-logo" />
				</div>
				<div class="signup-caption">
					Online Appointment Booking
				</div>
				<div class="apont-head-large mb-10 mt-10 text-uppercase">
					Welcome to {{companyName}}
				</div>
				<span *ngIf="forgotpinTab === false && onlineBooking == 'true'">
					<form autocomplete="off" class="staff-cont-rgt col-xs-12 col-sm-12 col-md-12 form-new">
						<div class="col-xs-12 col-sm-12 col-md-12 signup-middle login-label">
							LOGIN
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 form-group">
							<div class="input-group form-input-group-list">
								<span class="input-group-addon starImg">
									<i class="fa fa-star" aria-hidden="true" style="color: red;"></i>
								</span>
								<input [(ngModel)]="userName" name="userName" class="form-control" type="text" autocomplete="nope" placeholder="Your Email"
								maxlength="60">
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 form-group">
							<div class="input-group form-input-group-list">
								<span class="input-group-addon starImg">
									<i class="fa fa-star" aria-hidden="true" style="color: red;"></i>
								</span>
								<input [(ngModel)]="pin" name="pin" class="form-control" type="password" autocomplete="new-password" placeholder="PIN"
								maxlength="4">
							</div>
						</div>
					</form>
					<div class="col-xs-12 col-sm-12 col-md-12 signup-middle">
						<button class="btn btn-gradient-txt" type="button" (click)="getAuthorised()" title="{{'LOGIN.LOGIN_LABEL_TITLE' | translate }}">
							<span style="font-size: 17px"> {{'LOGIN.LOGIN_LABEL' | translate }}</span>
						</button>
						<a class="signup-a" (click)="forgotpinTab = true">
	 
							Existing Client Request PIN
						</a>
					</div>
					<br>
					<div class="signup-middle" style="margin-top: 140px">
						<button [routerLink]="['/onlinegift/'+'any']" class="btn btn-gradient-txt" type="button" *ngIf="purchaseGiftButt">
							<span style="font-size: 17px">Purchase Gift</span>
						</button>
						<button *ngIf='isNew' [routerLink]="['/online/client/add/'+dbName]" class="btn btn-gradient-txt" type="button" style="margin-left: 30px;">
							<span style="font-size: 17px">New to {{companyName}}?</span>
						</button>
					</div>
				</span>
				<span *ngIf="forgotpinTab === false && onlineBooking == 'false'" style="font-size: 17px;color:white;">
					<p> Online booking is unavailable currently. Please check back later.</p>
				</span>
				<span *ngIf="forgotpinTab === true">
					<form autocomplete="off" class="staff-cont-rgt col-xs-12 col-sm-12 col-md-12 form-new">
						<div class="col-xs-12 col-sm-12 col-md-12 signup-middle login-label">
							Forgot PIN?
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 form-group">
							<div class="input-group form-input-group-list">
								<span class="input-group-addon starImg">
									<i class="fa fa-star" aria-hidden="true" style="color: red;"></i>
								</span>
								<input [(ngModel)]="userName" name="userName" class="form-control" type="text" autocomplete="nope" placeholder="Your Email"
								maxlength="60">
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 form-group form_cont" *ngIf="forgotpinEmails.length > 0">
							<select [(ngModel)]="selectpinemail" class="form-control" [ngModelOptions]="{standalone: true}">
								<option value="">-- Select --</option>
								<option *ngFor="let item of forgotpinEmails" value="{{item.Id}}">{{item.fullName}}</option>
							</select>
						</div>
					</form>
					<div class="col-xs-12 col-sm-12 col-md-12 signup-middle">
						<button class="btn btn-gradient-txt" type="button" (click)="sendPin()">
							<span style="font-size: 17px">Send Pin</span>
						</button>
						<a class="signup-a" (click)="forgotpinTab = false;userName = '';forgotpinEmails = []">Cancel</a>
					</div>
				</span>
				<div *ngIf="onlineBooking == 'true'">
					<hr>
					<div id="loginMessageId" style="color: white;font-size: 20px;">
						{{loginMessage}}
					</div>
				</div>
			
			</div> -->


	</div>
</div>