hr {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

::-moz-placeholder {
    color: #FFFFFF;
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

:-moz-placeholder {
    color: #FFFFFF;
}

.signup-maindiv {
    margin: 0;
}

.signup-logo {
    width: 13%;
    min-width: 150px;
}

.signup-caption {
    margin-top: 1%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.signup-side-header {
    font-weight: bold;
    text-align: center;
}

.signup-content {
    margin-left: 25px;
    margin-top: 10px;
}

.signup-content label {
    margin-right: 10px;
}

.form-new input, .form-new .form-control {
    height: 55px;
    font-weight: 300 !important;
    color: #FFFFFF !important;
    width: 100% !important;
    background: none !important;
    border: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    box-shadow: none;
    font-size: 23px;
}

.apont-head-large {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    padding: 6px 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.signup-options option {
    color: black;
}

.signup-middle {
    text-align: center;
}

.signup-font-white {
    color: #fff;
}

.signup-a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline !important;
    margin-left: 20px;
}

.signup-submit {
    background-color: #35c31b;
    color: white
}

.login-label {
    font-weight: 600 !important;
    color: #FFFFFF !important;
    width: 95% !important;
    background: none !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 23px;
}




/*****/
body {
    background: none !important;
}
.wt-clr {
    color: #fff !important;
}
.blk-clr {
    color: #000 !important;
}
.b-0 {
    border:0 !important;
}
.p-0 {
    padding: 0 !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.no-bg {
    background: none !important;
}
.va-t {
    vertical-align: top;
}
.font-12 {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-14 {
    font-size: 14px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-16 {
    font-size: 16px !important;
}
.font-18 {
    font-size: 18px !important;
}
.font-20 {
    font-size: 20px !important;
}
.minh-100 {
    min-height: 100vh;
}
.center-v {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}
.olb-main {
    /* background: #707070; */
    width: 100%;
    min-height: 100vh;
}
.olb-main-in {
    width: 100%; 
    max-width: 370px;
    padding: 25px 15px;
    margin: 0 auto;
    font-family: 'CenturyGothic';
}
.login-welcome{
    font-family: 'CenturyGothic';
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
.olb-new-label {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    padding: 5px !important;
    margin: 0 !important;
}
.form-control-olb {
    height: 40px !important;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100% !important;
}
.form-group-olb {
    margin-bottom: 25px !important;
}
.btn-bg-none {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.olb-lg-br-btn {
    min-height: 70px !important;
    height: auto !important;
    width: 100% !important;
    font-size: 18px !important;
    line-height: 20px !important;
    color: #fff !important;
    text-align: center !important;
    border:1px solid #fff !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    background: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 10px !important;
}
.olb-lg-br-btn span {
    font-family: 'CenturyGothicBold';
    display: block;
    flex-basis: 100%;
}
#bgOnline{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;;
}
.olb-main {
    position: relative;
    z-index: 9;
}









