<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row selectoptions d-flex">
                <div class="col-md-4  month">
                    <label><b>{{'COMMON.SELECT'|translate}}</b></label>
                </div>
                <div class="col-md-3 col-sm-3">
                    <select class="width-align" [(ngModel)]="selectType"
                        (change)="reportTypeOnChange($event.target.value)">
                        <option *ngFor='let obj of reportTypes' value="{{obj}}">{{obj}}</option>
                    </select>
                </div>
            </div><br>

            <div class="row selectoptions d-flex">
                <div class="col-md-4  month">
                    <label><b>{{'COMMON.WORKER' | translate }}</b></label>
                </div>
                <div class="col-md-3 col-sm-3 disabled" *ngIf="showWorkers == true">
                    <select (change)="workerListOnChange($event.target.value)" [(ngModel)]="workerId">
                        <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList; let i='index'" value="{{worker.Id}}">
                            {{worker.FullName}}</option>
                    </select>
                </div>

                <div class="col-md-3 col-sm-3" *ngIf="showWorkers == false">
                    <select (change)="workerListOnChange($event.target.value)" [(ngModel)]="workerId">
                        <option value="">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList; let i='index'"
                            value="{{worker.Id+ '$' +worker.FullName}}">{{worker.FullName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20 res-mt-15">
                <div class="col-md-12">
                    <div class="table-max-rewards">
                        <div class="table-responsive">
                            <table class="table table-center table-responsive">
                                <tr>
                                    <th></th>
                                    <th>{{'BUTTON.SELECT_ALL' | translate}}</th>
                                    <th>{{'MARKETING_FILTERS.DAY' | translate}}</th>
                                    <th>{{'COMMON.WEEK' | translate}}</th>
                                    <th>{{'MARKETING_FILTERS.MONTH' | translate}}</th>
                                    <th>{{'MARKETING_FILTERS.YEAR' | translate}}</th>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'SETUP_DASHBOARD.BOOKED' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedbSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'SETUP_DASHBOARD.BOOKED_TICKETD' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedTicktSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedTicktDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedTicktWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedTicktMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookedTicktYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'SETUP_DASHBOARD.REBOOKED' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="rebookdSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="rebookdDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="rebookdWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="rebookdMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="rebookdYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'SETUP_DASHBOARD.TOP_WORKER_SERVICE_SALES' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkSrvcSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkSrvcDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkSrvcWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkSrvcMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkSrvcYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'SETUP_DASHBOARD.TOP_WORKER_PRODUCT_SALES' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkPrdSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkPrdDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkPrdWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkPrdMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="topWrkPrdYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'VISIT_TYPE_OVERVIEW.NEW_CLIENTS' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="newClientSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="newClientDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="newClientWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="newClientMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="newClientYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'VISIT_TYPE_OVERVIEW.BOOKED_ONLINE' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookdOnlineSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookdOnlineDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookdOnlineWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookdOnlineMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="bookdOnlineYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'SETUP_DASHBOARD.RETAIL_TO_SERVICE' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="retailSrvcSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="retailSrvcDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="retailSrvcWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="retailSrvcMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="retailSrvcYear">
                                    </td>
                                </tr>

                                <tr>
                                    <td width="40%">{{ 'DASHBOARD.SERVICE_SALES' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="srvcSaleSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="srvcSaleDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="srvcSaleWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="srvcSaleMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="srvcSaleYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'DASHBOARD.PRODUCT_SALES' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="prodctSaleSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="prodctSaleDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="prodctSaleWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="prodctSaleMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="prodctSaleYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'DASHBOARD.AVERAGE_TICKET' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgTicktSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgTicktDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgTicktWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgTicktMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgTicktYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'DASHBOARD.AVERAGE_SERVICE' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgSrvcSelectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgSrvcDay">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgSWeek">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgSaleMonth">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="avgSaleYear">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%">{{ 'DASHBOARD.AVERAGE_PRODUCT' | translate }}</td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="selectAll">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="day">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="week">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="month">
                                    </td>
                                    <td>
                                        <input type="checkbox" [(ngModel)]="year">
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>