/* .setsubcont{
    margin-right: 10%;
} */
#wrapper_setup_new{
	color: white;
}
/* .setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email],.setsubcont select {
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus{
    color: black;
}
.word-break {
    word-break: break-all!important;
} */
.month {
    margin-left:70px;
    font-size: 19px;
    width: 30%;
}
.selectoptions {
    text-align: right;
}

.selectoptions select {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 35px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
    margin-right:30px !important;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.table-max-rewards {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.table>tbody>tr>td{
    border-top: 0px solid #ddd ;
}
.table>tbody>tr>th{
    border-top: 0px solid #ddd;
}
