#wrapper_setup_new{
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    padding-right: 90px;
}
.services {
    width:50%;
    float: left;
}
.form_cont select {
    font-weight: 700;
    color: white !important;
    width: 50%;
}

.mobile-table td, .mobile-table th {
	padding: 15px !important;
}
.mobile-table {
	width: 100%;
}

.appoint-details-staff {
	width:100%;
	padding-bottom: 100%;
	position: relative;
}
.appoint-details-staff .appnt-pro-letter {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	border-radius: 50%;
	font-size: 90px;
	line-height: 100%;
	display: flex;
	align-items: center;
	border:5px solid #fff;
	justify-content: center;
}
.appoint-details-staff .appnt-pro-letter img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	border-radius: 50%;
	object-fit: cover;
}
.appoint-details-staff-90 {
	max-width: 95%;
}

.appoint-details-staff-details h2 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 40px;
	color: #fff;
	font-weight: 800;
	margin: 0;
	padding: 0 0 20px 0;
}

.appoint-details-staff-details ul {
	display: block;
	margin: 0;
	padding:0;
}
.appoint-details-staff-details ul li{
	display: block;
	margin: 0;
	padding:0 0 12px 45px;
	font-size: 16px;
	line-height: 35px;
	position: relative;
	color: #fff;
	min-height: 40px;
	font-weight: 700;
}
.appoint-details-staff-details ul li a {
	color: #fff;
	display: inline-block;

}
.appoint-details-staff-details ul li span {
	position: absolute;
	left: 0;
	top:0;
	width: 25px;
	height: auto;
}
.appoint-details-staff-details ul li span img {
	width: 100%;
	height: auto;
}

.appointment-chk-in-out {
	min-height: 40px;
	margin-bottom: 15px;
}

.appointment-chk-in-out span.ticketnumber {
	margin: 0;
	padding:5px 0px 5px 0;
	font-size: 20px;
	line-height: 35px;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	min-height: 30px;
	font-weight: 400;

}
.appointment-chk-in-out .btn {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
}
.appointment-chk-book-confirm {
	min-height: 40px;
	margin-bottom: 15px;
	/* display: flex;
    align-items: center;
    justify-content: flex-end; */
}
.appointment-chk-book-confirm select {
	max-width: 250px;
	display: inline-block;
}
.appoint-checks {
	margin-top: 30px;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	font-weight: 600;
}

.appoint-datetime {
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
}

.appoint-upcoming {
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	font-weight: 400;
	/* text-transform: uppercase; */
	margin-bottom: 20px;
}

.appoint-date-desc {
	margin-top: 60px;
}
.appoint-notes {
	margin-top: 30px;
}
.appoint-notes textarea {
	max-width: 500px;
	display: inline-block;
	font-size: 18px;
	line-height: 25px;
	color: #fff !important;
	background: none !important;
	min-height: 130px;
	padding:10px 15px;
	width: 100%;
	border-color: #fff !important;
	resize: none;
}
.appoint-notes textarea::-webkit-input-placeholder {  
	color: #fff !important;
	font-weight: 400;
}
.appoint-notes textarea::-moz-placeholder {  
	color: #fff !important;
	font-weight: 400;
}
.appoint-notes textarea:-ms-input-placeholder { 
	color: #fff !important;
	font-weight: 400;
}
.appoint-notes textarea:-moz-placeholder {  
	color: #fff !important;
	font-weight: 400;
}

.select-new-trans {
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255,255,255,0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 41px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}
.wt-line {
    width: 100%;
    border:0;
    height: 1px;
    background: #fff;
}
.pl-0 {
    padding-left: 0 !important;
}
.table-border-0 td {
	border: 0 !important;
	padding: 8px 15px !important;
}
.table-appoint {
	margin-top: 0px;
}
.table-appoint table th {
	text-transform: uppercase;
	font-weight: 600;
}
.table-appoint table td {
	font-weight: 400;
}
.table-appoint table td, .table-appoint table th {
	font-size:20px !important;
	line-height: 25px !important;
	color: #fff;
}

.appt-create {
	font-size:16px !important;
	line-height: 25px !important;
	font-weight: 400;
	color: #fff;
}

.appt-statusColor {
	width: 20px !important;
	height: 20px !important;
	border-radius: 50% !important;
	border:0 !important;
	padding: 0 !important;
	margin-right: 10px;
}

.form-text {
    background: transparent !important;
    color:#fff !important;
    border:1px solid #fff !important;
}
.btn-new-wt {
    background: #fff !important;
    color:#30afe0 !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-blue {
    background: #30afe0 !important;
    color:#fff !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-grn-trans {
    background: #8e2e11 !important;
    color:#fff !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-lgt-trans {
    background: rgba(255,255,255,0.7) !important;
    color:#30afe0 !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-wt-trans {
    background: rgba(255,255,255,0.2) !important;
    color:#fff !important;
    border:0 !important;
    border-radius: 5px !important;
}
.btn-new-wt.big-btn, .btn-new-blue.big-btn, .btn-new-grn-trans.big-btn, .btn-new-lgt-trans.big-btn, .btn-new-wt-trans.big-btn {
    padding: 8px 30px !important;
    font-size:15px !important;
    line-height: 25px !important;
    font-weight: normal;
}
.btn.save-btn {
	border-color: #2eab18 !important;
    background: #35c31b !important;
}
.btn.cancel-btn {
	border-color: #f23900 !important;
    background: #f23900 !important;
}
.btm-btns {
	text-align: right;
}

.table-bg-trans tbody {
    background: rgba(255,255,255,0.2) !important;
}
.td-para {
    font-size: 15px !important;
    line-height:20px !important;
    padding: 10px 0 0 15px !important;
    margin: 0px 0 0 0 !important;
}
.td-para-main {
    font-size: 15px !important;
    line-height:20px !important;
    padding: 0px 0 0 0px !important;
    margin: 0px 0 0 0 !important;
    font-weight: bold;
}

.appoint-checks .checkbox-appoint:after{
	/* content: ','; */
	font-size: 18px !important;
	line-height:25px !important;
	color: #fff;
	margin-left: -5px;
}
.appoint-checks .checkbox-appoint:last-child:after{
	display: none;
}
.b-r-o {
	border-radius: 0 !important;
}

.checkbox-appoint {
	padding-left: 0px; 
}
.checkbox-appoint label {
	display: inline-block;
	position: relative;
	padding-left: 5px; 
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}
.checkbox-appoint label::before {
	content: "";
	display: none;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
 }
.checkbox-appoint label::after {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
 }
.checkbox-appoint input[type="checkbox"] {
	opacity: 0 !important;
	width: 0 !important;
	height: 0 !important;
 }
.checkbox-appoint input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
 }
.checkbox-appoint input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
 }
/* .checkbox-appoint input[type="checkbox"]:disabled + label {
	/* opacity: 0.65; */
 /* } */
.checkbox-appoint input[type="checkbox"]:disabled + label::before {
		background-color: #eeeeee;
		cursor: not-allowed; 
}
.checkbox-appoint.checkbox-inline {
	display: inline-block;
	margin: 0 !important;
}



.b-0 {
    border: 0 !important;
}
.d-inline-block {
    display: inline-block !important
}
.v-alm {
    vertical-align: middle !important;
}
.br-0 {
    border-radius: 0px !important;
}
.br-5 {
    border-radius: 5px !important;
}
.m-0 {
    margin: 0px !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mb-5 {
	margin-bottom: 5px !important;
}
.clr {
	background:white!important;color:#318de2!important;
}
.slect-book-clr {
	display: inline-block;
	max-width: 250px;
	width: 100%;
	position: relative;
}
.slect-book-clr .appt-statusColor{
	position: absolute;
	left:14px;
	top:11px;
}
.slect-book-clr .select-new-trans{
	padding-left: 40px !important;
}

.select-btn-drop {
	display: inline-block;
	max-width: 250px;
	width: 100%;
	position: relative;
}
.select-btn-drop ul {
	background: #fff;
	border-radius: 5px;
	padding: 5px 0;
	display: block;
	list-style: none;
	position: absolute;
	left: 0;
	top:100%;
	min-width: 250px;
	color: #000;
	text-align: left;
}
.select-btn-drop ul li {
	padding: 5px 15px;
	display: block;
	list-style: none;
	font-size: 15px;
	line-height: 20px;
}
.select-btn-drop ul li small {
	display: block;
	list-style: none;
	font-size: 15px;
	line-height: 20px;
}
/*cancel appt modal css starts*/
.para-align {
    text-align: center;
    color: #075877;
    font-weight: bold;
}
.btn-style{
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
	/* print  css */		
	.fa-print {		
		background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));		
		background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);		
		background-position: 50% 50%;		
		background-origin: padding-box;		
		background-size: auto auto;		
		-webkit-background-clip: text;		
		-webkit-text-fill-color: transparent;		
		-moz-background-clip: text;		
		-moz-text-fill-color: transparent;		
		-ms-background-clip: text;		
		-ms-text-fill-color: transparent;		
		background-clip: text;		
		font-weight: 300;		
	}		
	/* print css end*/

@media (min-width: 992px){
	hr {
            margin-left: 20px;
            width:90%;
    }
    .col-md-12 {
        width: 93%;
    }
   
   
}
@media only screen 
and (device-width : 768px) {
	hr {
        margin-left: 4px;
        width: 87%;
   }
   .form_cont select {
    font-weight: 700;
    color: white !important;
    width: 70%;
}
.thcss {
    /* background: #e6f3f8; */
    font-size: 11px;
}
.form_cont table {
    font-size: 10px;
    letter-spacing: 1px;
}
.table>thead>tr>th {
    padding:3px;
}
.table {
    width: 90%;
    max-width: 100%;
    margin-bottom: 20px;
}

}
@media only screen 
and (device-width : 1024px) {
	
  
}
/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
		.appoint-details-staff-90 {
			margin-top: 0 !important;
		}
		.appnt-pro-letter {
			font-size: 50px !important;
		}
		.table-appoint table td, .table-appoint table th {
			font-size:15px !important;
			line-height: 20px !important;
			color: #fff;
		}
		.btm-btns {
			text-align: center;
		}
	
		/* Force table to not be like tables anymore */
		 
		/* Hide table headers (but not display: none;, for accessibility) */
		.mobile-table table, .mobile-table thead, .mobile-table tbody, .mobile-table th,  .mobile-table td, .mobile-table tr {
			display: block;
		}
	  .mobile-table	thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		 
		
		.mobile-table td { 
			/* Behave  like a "row" */
			border: none;
			 
			position: relative;
			padding-left: 50% !important;  
			border-bottom:1px solid #fff;
		}
		.mobile-table tr td:last-child {
			border-bottom: 0;
		}
		
		.mobile-table td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		/* .mobile-table td:nth-of-type(1):before { content: "Service Date/Time"; }
		.mobile-table td:nth-of-type(2):before { content: "Service Name"; }
		.mobile-table td:nth-of-type(3):before { content: "Package"; }
		.mobile-table td:nth-of-type(4):before { content: "Net Price"; }
		.mobile-table td:nth-of-type(5):before { content: "Duration"; }
		.mobile-table td:nth-of-type(6):before { content: "Worker"; }
		.mobile-table td:nth-of-type(7):before { content: "Status"; }
		.mobile-table td:nth-of-type(8):before { content: "Rebooked"; }
		.mobile-table td:nth-of-type(9):before { content: "Resources"; }
		.mobile-table td:nth-of-type(10):before { content: "Note"; } */
		.mobile-table td:nth-of-type(1):before { content: "Service Name"; }
		.mobile-table td:nth-of-type(2):before { content: "Worker"; }
		.mobile-table td:nth-of-type(3):before { content: "Duration"; }
		.mobile-table td:nth-of-type(4):before { content: "Net Price"; }
		.mobile-table td:nth-of-type(5):before { content: "Note"; }
		
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			  }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media screen and (max-width: 1222px) and (orientation: landscape) {
		.form_cont table {
			font-size: 12px !important;
			letter-spacing: 1px;
		}
	}
	.table-width-auto {		
		width: auto !important;		
	}			
	.table-no-border, .table-no-border th, .table-no-border td {		
		border:0 !important;		
		vertical-align: top !important;		
	}		
	.table-no-border th {		
		font-weight: 600;		
	}			
	.table-no-border td {		
		font-weight: 400;		
	}			
	.minus-row-8 {		
		margin-left: -8px;		
		margin-right: -8px;		
	}		
	.preline {		
		background:none !important;		
		border:0 !important;		
		color:#fff !important;		
		overflow: visible;		
		padding: 0;		
		margin: 0;		
		display: inline-block;		
		width: calc(100% - 30px);		
		float: left;		
	}		
	.d-flex-row {		
		display: flex;		
		flex-wrap: wrap;		
	}		
	.d-flex {		
		display: flex;		
		align-items: center;		
		/* flex-wrap: wrap; */		
	}		
	@media (max-width:991px){		
		/* .d-flex {		
			justify-content: center;		
		}		
		.d-flex-btm {		
			display: block;		
			text-align: center;		
			width: 100%;		
		} */		
	}

