#inner_cont {
    margin-right: 10%;
    margin-left: 5px;
}
#wrapper_setup_new {
    color: white;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email] {
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus {
    color: black;
}
.btn-default {
    color: #1496c9 !important;
    background-color: #fff !important;
    border-color: #4bc1ef !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}
.margin-css {
    margin-left: 10%;
}
.color{
   color:red;
   /* margin-left: 8px; */
}
.modal-dialog {
    width: auto;
    max-width: 470px;
    padding-top: 10%;
}
.save-btn {
    padding: 6px 20px;
    outline: none;
    border: solid 0px #2eab18;
    background: #35c31b;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
}
@media (device-width: 768px){
	#inner_cont {
        margin-right: 13%;
        margin-left: 2px;
      
    }
}