<div id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'SETUP_COMPANY_HOURSE.DATE' | translate}}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <span style="color: white;">{{ticketDate[0]}}</span>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CLIENT_EDIT.PRODUCT_LOG.TICKET' | translate}}
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <a [routerLink]="['/completedticket/' + apptId]" [queryParams]="{ actionMethod: 'newRefund' }"><span
                            style="text-decoration: underline;color: white;">{{ticketName}}</span></a>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CLIENTS.FULL_NAME' | translate}}
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <a *ngIf="clientName" [routerLink]="['/client/edit/'+ clientId]"
                        [queryParams]="{ actionMethod: 'newRefund' }"><span
                            style="text-decoration: underline;color: white;">{{clientName}}</span></a>
                    <span *ngIf="!clientName">NO CLIENT</span>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    <label>{{'CHECK_OUTS.REFUND.REFUNDED_BY' | translate}}
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="refundBy" (change)='clear();'>
                        <option value=''>Select Worker</option>
                        <option *ngFor="let workerlist of workerList;" value="{{workerlist.Id}}">{{workerlist.FullName}}
                        </option>
                    </select>
                </div>
            </div>
            <p class="red" style="text-align:center; margin-top: 10px"> {{refundByError | translate}}</p>
        </div>
        <div class="row mt-20 res-mt-15 setsubcont">
            <div class="col-md-12">
                <div class="table-responsive">
                    <div>
                        <button class="btn btn-default btn-aln white"
                            (click)="checkAll(true)">{{'BUTTON.SELECT_ALL' | translate}}</button>
                        <button class="btn btn-default btn-aln white"
                            (click)="checkAll(false)">{{'BUTTON.UN_SELECT' | translate}}</button>
                    </div>
                    <table class="table table-bordered table-border-color">
                        <thead>
                            <tr>
                                <th class="thcss">{{'COMMON.SELECT' | translate }} </th>
                                <th class="thcss">{{'COMMON.ITEM' | translate }}</th>
                                <th class="thcss">{{'CLIENT_EDIT.APPOINTMENTS.WORKER' | translate }}</th>
                                <th class="thcss">{{'COMMON.AMOUNT_PAID' | translate}}</th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.REFUND_AMOUNT' | translate}}</th>
                                <th class="thcss">{{'SETUP_SERVICES.TAXABLE' | translate }}</th>
                                <th class="thcss">{{'COMMON.DEDUCT_WORKER' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of refundData; let i='index'">
                                <td>
                                    <input type="checkbox" [disabled]="item.showCheckbox"
                                        [attr.checked]="selectValAr[i] ? 'checked' : null" id='selectItem{{i}}'
                                        [(ngModel)]="selectValAr[i]"
                                        (change)="calculateRefundAmount(selectValAr[i], i)">
                                </td>
                                <td>{{item.Name}}</td>
                                <td>{{item.workerName}}</td>
                                <td>{{item.oldAmt}}</td>
                                <td>
                                    <input type="text" step="0.01" min="0" disabled *ngIf="item.Name === 'Package'"
                                        [(ngModel)]="item.remianingPakagePrice"
                                        (blur)="calculateRefundAmount(selectValAr[i], i)"
                                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127 || event.keyCode == 46) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                        (keypress)="clear();">
                                    <input type="text" step="0.01" min="0" *ngIf="item.Name !== 'Package'"
                                        [(ngModel)]="item.Net_Price__c"
                                        (blur)="calculateRefundAmount(selectValAr[i],item)"
                                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127 || event.keyCode == 46) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                        (keypress)="clear();">
                                </td>
                                <td>
                                    <input type="checkbox" disabled *ngIf="item.Taxable__c === 1" checked>
                                    <input type="checkbox" disabled *ngIf="item.Taxable__c === 0">
                                </td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="item.Do_Not_Deduct_From_Worker__c"
                                        *ngIf="item.Do_Not_Deduct_From_Worker__c === 1 || item.Do_Not_Deduct_From_Worker__c === true"
                                        checked>
                                    <input type="checkbox" [(ngModel)]="item.Do_Not_Deduct_From_Worker__c"
                                        *ngIf="item.Do_Not_Deduct_From_Worker__c === 0 || item.Do_Not_Deduct_From_Worker__c === false">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div>
                        {{'CHECK_OUTS.REFUND.TOTAL_REFUND_AMOUNT' | translate}}:
                        {{totalfixAmt | currency: "USD": "symbol-narrow"}}
                    </div>

                </div>
            </div>

        </div>
        <p class="red" style="text-align:center;" *ngIf="refundErr">{{refundErr | translate }}</p>
        <div class="row mt-20 res-mt-15 setsubcont" *ngIf="refundto">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">
                    Refund To
                    <table class="table table-bordered table-border-color">
                        <thead>
                            <tr>
                                <th class="thcss">{{'CLIENT_EDIT.ACCOUNTS.PAYMENT_TYPE' | translate }} </th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.ORI_PAY_AMO' | translate }}</th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.MER_ACC_NAME' | translate }}</th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.REF_NUM' | translate }}</th>
                                <th class="thcss">{{'CHECK_OUTS.REFUND.AMO_TO_RE' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of refundTOData">
                                <td>{{item.Name}}</td>
                                <td *ngIf="!item.Ineligible">
                                    {{item.OriginalPaymentAmount| currency: "USD": "symbol-narrow"}}</td>
                                <td *ngIf="item.Ineligible">$0.00</td>
                                <td>{{item.Merchant_Account_Name__c}}</td>
                                <td>{{item.Reference_Number__c}}</td>
                                <td *ngIf="!item.Ineligible">
                                    <input type="number" step="0.01" min="0" [(ngModel)]="item.Amount_Paid__c"
                                        (keypress)="clear();">
                                </td>
                                <!-- <td *ngIf="item.Ineligible">
                                    {{item.Ineligible}}
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <p class="red" style="text-align:center;"> {{amountMatcherror | translate}}</p>
            Cash Drawer &nbsp;<span style="font-weight: normal;">{{local}} </span>
        </div>
        <div style="text-align: center;">
            <button class="save-btn" type="button" (click)="save()" *ngIf="refundSaveBut">
                {{'BUTTON.SAVE' | translate}}</button>
            <button class="cancel-btn" type="button" (click)="cancel()"> {{'BUTTON.CANCEL' | translate}}</button>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>

<!-- Start of code for Clover -->
<div bsModal #cloverModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" (keyup.esc)="cloverModal.hide()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Connect to Clover device to refund</h4>
                <button type="button" class="close" (click)="cloverModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- <canvas ref="canvas" width="300" height="175" id="verify-signature-canvas"></canvas> -->
            </div>
            <div class="modal-body" style="background-color:#FFFFFF ">
                <div id="cloverPopupId">
                    <div class="row">
                        <div class="clearfix">
                            <div class="col-md-4" class="margin-css">
                                <label>Select Device</label>
                                <!-- <select id="select--clover-device-serials"></select> -->
                                <select [(ngModel)]="cloverDevice" style="border-color: #000 !important;">
                                    <option *ngFor='let list of cloverDeviceList' value="{{list.id}}">{{list.name}}
                                    </option>
                                </select>
                                <div id="status-message"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center mt-40">
                            <button class="save-btn" type="button" id="contDevId">Connect</button>
                            <button class="cancel-btn" type="button" (click)="cloverModal.hide()" id="cancelTransId">
                                {{'BUTTON.CANCEL' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- this modal is written for issue no 2330 -->
<div bsModal #popupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog None">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="popupModal" (click)="popupModal.hide()">X</button>
                <!-- <canvas ref="canvas" width="300" height="175" id="verify-signature-canvas"></canvas> -->
            </div>
            <div class="modal-body" style="background-color:#FFFFFF ">
                <div id="cloverPopupId">
                    <div class="row">
                        <div class="clearfix">
                            <div class="col-md-4" class="margin-css">
                                <b>
                                    <h4 class="color">Please perform the Refund on the Clover Device:</h4><br>
                                    1. Open the Refund App or Transactions on the Clover Device.<br>
                                    2. Choose the option to look up a past payment. <br>
                                    3. Select the transaction to refund.<br>
                                    4. Tap Refund.<br>
                                    5. Select where to apply the refund.<br><br>
                                    Once authorized, click ‘Manual Clover Refund’ below.
                                </b>
                                <div id="status-message"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center mt-40">
                            <button class="save-btn" style="background-color: gray" type="button"
                                (click)="popupModal.hide()" id="cancelTransId">
                                {{'BUTTON.CANCEL' | translate}}
                            </button>
                            <button class="save-btn" style="background-color: olivedrab" type="button"
                                (click)='connectCloverDevice()' id="contDevId">Manual Clover Refund</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="completeTrsId" (click)="cloverRefund()">
<input type="hidden" id="toastMsgId" (click)="displayToast()">
<input type="hidden" id="paymentId">
<input type="hidden" id="orderId">
<input type="hidden" id="amtId">
<input type="hidden" id="refundId">
<!-- End of code for Clover -->