<div id="wrapper_setup_new">
    <app-header [newMenu]="'noNav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row selectoptions">
                <div class="col-md-4  month">
                    <label><b>{{'FORECASTING_REPORT.MONTH'|translate}}</b></label>
                </div>
                <div class="col-md-3 col-sm-3">
                    <select class="width-align" [(ngModel)]="startmonth" (change)=month($event.target.value)>
                        <option *ngFor='let months of months' value="{{months.value}}">{{ months.option }}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-10 selectoptions">
                <div class="col-md-4  month">
                    <label><b>{{'FORECASTING_REPORT.YEAR'|translate}}</b></label>
                </div>
                <div class="col-md-3 col-sm-3">
                    <select class="width-align" [(ngModel)]="startyears" (change)=year($event.target.value)>
                        <option *ngFor='let year of years' value="{{year}}">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive" *ngIf="showData">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div *ngIf='showData'>
                <div class="row mt-20">
                    <div class="col-md-offset-3 col-md-6 table-responsive">
                        <table class="table">
                            <thead>
                                <th style="padding: 8px;">
                                    {{'COMMON.WORKER'| translate}}</th>
                                <th style="padding: 8px;" class="text-right">
                                    {{'FORECASTING_REPORT.SERVICE_VALUE_BOOKED'|translate}}</th>
                            </thead>
                            <tr *ngFor='let workers of workersList'>
                                <td>{{workers.workerName}}</td>
                                <td class="text-right">{{workers.workerPrice | currency:"USD":"symbol-narrow"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row mt-10  totalvalue text-uppercase">
                    <div class="col-md-7 col-sm-7 text-right">
                        {{'FORECASTING_REPORT.TOTAL_BOOKED_VALUE'|translate}} :</div>
                    <div class="col-md-5 col-sm-5 text-left">
                        {{totalvalue|currency:"USD":"symbol-narrow"}}</div>
                </div>
                <div class="row  mt-10  totalvalue text-uppercase">
                    <div class="col-md-7 col-sm-7 text-right">
                        {{'FORECASTING_REPORT.ESTIMATED_MEMEBERSHIP_VALUE'|translate}} :</div>
                    <div class="col-md-5 col-sm-5 text-left">
                        {{estimatedmemberval|currency:"USD":"symbol-narrow"}}</div>
                </div>
                <div class="row  mt-10 totalvalue text-uppercase">
                    <div class="col-md-7 col-sm-7 text-right">
                        {{'FORECASTING_REPORT.ESTIMATED_PRODUCT_VALUE'|translate}} :</div>
                    <div class="col-md-5 col-sm-5 text-left">
                        {{estimatedprodval|currency:"USD":"symbol-narrow"}}</div>
                </div>
                <div class="row  mt-10 totalvalue text-uppercase">
                    <div class="col-md-7 col-sm-7 text-right">
                        {{'FORECASTING_REPORT.ESTIMATED_PACAKAGE_VALUE'|translate}} :</div>
                    <div class="col-md-5 col-sm-5 text-left">
                        {{estimatedpackagval|currency:"USD":"symbol-narrow"}}</div>
                </div>
                <div class="row mt-10 totalvalue text-uppercase">
                    <div class="col-md-7 col-sm-7 text-right">
                        {{'FORECASTING_REPORT.ESTIMATED_GIFT_VALUE'|translate}} :</div>
                    <div class="col-md-5 col-sm-5 text-left">
                        {{estimategiftval|currency:"USD":"symbol-narrow"}}</div>
                </div>
                <div class="row mt-10 totalvalue text-uppercase">
                    <div class="col-md-7 col-sm-7 text-right">
                        {{'FORECASTING_REPORT.TOTAL_FORECAST'|translate}} :</div>
                    <div class="col-md-5 col-sm-5 text-left">
                        {{totalforecast|currency:"USD":"symbol-narrow"}}</div>
                </div>
                <div class="row mt-10">
                    <div class="col-md-12">
                        <p class="estimatevaluesavg">
                            {{'FORECASTING_REPORT.ESTIMATED_VALUES_AVERAGE_OF_LAST_3MONTHS'|translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>