<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>
                        <b>{{'COMMON.BEGIN_DATE' | translate}}</b>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" bsDatepicker [(ngModel)]='startDate' (ngModelChange)='isGenerate = false'
                        [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield" (click)="clearMsg();">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                    <label>
                        <b>{{'COMMON.END_DATE' | translate}}</b>
                    </label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" bsDatepicker [(ngModel)]='endDate' (ngModelChange)='isGenerate = false'
                        [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield" (click)="clearMsg();">
                </div>
            </div>
            <p class='red'>{{error | translate}}</p>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>

                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport();" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate}} </button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="isGenerate">
                    <div class="col-md-12 col-sm-12 ml-bottom">
                        <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                            <span style="font-size: 14px">
                                <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                        </button>
                    </div>
                </div>
        
        <div class="row mt-20" *ngIf="isGenerate">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered form_cont_one style-align" border="0" cellspacing="0"
                        cellpadding="0">
                        <thead>
                            <tr>
                                <th class="thcss">{{companyName}}</th>
                                <th class="thcss">{{'REPORTS.ABC_REPORT' | translate}}</th>
                                <th class="thcss">{{startDate | date: 'MM/dd/yyyy'}} - {{endDate | date: 'MM/dd/yyyy'}}</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-heading-detail">{{'TOTAL_SHEETS.COMPANY_SALES' | translate}}</div>
                    <table class="table-style table table-bordered">
                        <tr>
                            <th>{{'TOTAL_SHEETS.SALES_TYPE' | translate}}</th>
                            <th>{{'TOTAL_SHEETS.FULL_PRICE' | translate}}</th>
                            <th>{{'TOTAL_SHEETS.DISCOUNTS' | translate}}</th>
                            <th>{{'TOTAL_SHEETS.DISCOUNTED_SALES' | translate}}</th>
                            <th>{{'TOTAL_SHEETS.TAX_TOTAL' | translate}}</th>
                        </tr>
                        <tr *ngFor="let companySales of companySalesObj">
                            <td>{{companySales.salesType}}</td>
                            <td>{{companySales.fullPrice | currency: "USD": "symbol-narrow"}}</td>
                            <td>{{companySales.discounts | currency: "USD": "symbol-narrow"}}</td>
                            <td>{{companySales.discountedSales | currency: "USD": "symbol-narrow"}}</td>
                            <td>{{companySales.taxTotal | currency: "USD": "symbol-narrow"}}</td>
                        </tr>
                    </table>
                    <div class="table-heading-detail">{{'TOTAL_SHEETS.ACCOUNT_BALANCES' | translate}}</div>
                    <table class="table-style table table-bordered">
                        <tr>
                            <th>{{'TOTAL_SHEETS.ACCOUNT_BALANCE_TYPE' | translate}}</th>
                            <th>{{'COMMON.AMOUNT' | translate}}</th>
                        </tr>
                        <tr>
                            <td>{{'TOTAL_SHEETS.DEPOSIT' | translate}}</td>
                            <td>{{accountBalanceObj.deposit | currency: "USD": "symbol-narrow"}}</td>
                        </tr>
                        <tr>
                            <td>{{'TOTAL_SHEETS.RECIEVED_ON_ACCOUNT' | translate}} </td>
                            <td>{{accountBalanceObj.receivedOnAccount | currency: "USD": "symbol-narrow"}}</td>
                        </tr>
                        <tr>
                            <td>{{'TOTAL_SHEETS.DEPOSIT_ONLINE' | translate}}</td>
                            <td>{{accountBalanceObj.depositOnline | currency: "USD": "symbol-narrow"}}</td>
                        </tr>
                        <tr>
                            <td>{{'TOTAL_SHEETS.PREPAYMENT' | translate}}</td>
                            <td>{{accountBalanceObj.prepayment | currency: "USD": "symbol-narrow"}}</td>
                        </tr>
                        <tr class="bg-color">
                            <td>{{'TOTAL_SHEETS.TOTALS' | translate}}</td>
                            <td>{{accountBalanceObj.totals | currency: "USD": "symbol-narrow"}}</td>
                        </tr>
                    </table>
                    <div class="table-heading-detail">{{'COMMON.CLIENTS' | translate}}</div>
                    <table class="table-style table table-bordered">
                        <tr>
                            <th>{{'TOTAL_SHEETS.WORKER_NAME' | translate }}</th>
                            <th>{{'VISIT_TYPE_OVERVIEW.RECURRING_CLIENTS' | translate }}</th>
                            <th>{{'VISIT_TYPE_OVERVIEW.NEW_CLIENTS' | translate }}</th>
                            <th>{{'VISIT_TYPE_OVERVIEW.REBOOKED' | translate }}</th>
                            <th>{{'VISIT_TYPE_OVERVIEW.BOOKED_ONLINE' | translate }}</th>
                            <th>{{'VISIT_TYPE_OVERVIEW.NON_SERVICE' | translate }}</th>
                            <th>{{'TOTAL_SHEETS.SERVICE_SALES' | translate }}</th>
                            <th>{{'TOTAL_SHEETS.PRODUCT_SALES' | translate }}</th>
                            <th>{{'VISIT_TYPE_OVERVIEW.NUMBER_OF_TICKETS' | translate }}</th>
                            <th>{{'VISIT_TYPE_OVERVIEW.PRODUCT_PER_TICKET' | translate }}</th>
                        </tr>
                        <tr *ngFor="let items of allrecord">
                            <td>{{items.workerName}}</td>
                            <td>{{items.recurringClients}}</td>
                            <td>{{items.newClients}}</td>
                            <td>{{items.rebookedClients}}</td>
                            <td>{{items.onlineClients}}</td>
                            <td>{{items.nonServiceClients}}</td>
                            <td>{{items.serviceSales | currency: "USD": "symbol-narrow"}}</td>
                            <td>{{items.productSales | currency: "USD": "symbol-narrow"}} </td>
                            <td>{{items.totalNumberOfTickets}}</td>
                            <td>{{items.totalProductperTicket}}</td>
                        </tr>
                        <tr class="bg-color">
                            <th>{{'TOTAL_SHEETS.TOTALS' | translate }}</th>
                            <th>{{totalRecurringClients}}</th>
                            <th>{{totalNewClients}}</th>
                            <th>{{totalRebooked}}</th>
                            <th>{{totalBookedOnline}}</th>
                            <th>{{totalNonService}}</th>
                            <th>{{totalServiceSales | currency: "USD": "symbol-narrow"}}</th>
                            <th>{{totalProductSales | currency: "USD": "symbol-narrow"}}</th>
                            <th>{{NumberTickets}}</th>
                            <th>{{ProductperTicket | number: '1.2-4'}}</th>
                        </tr>
                    </table>
                    <div class="table-heading-detail">{{'TABS.VISIT_TYPES' | translate}}</div>
                    <table class="table-style table table-bordered">
                        <tr>
                            <th class="thcss">{{'TOTAL_SHEETS.WORKER_NAME' | translate }}</th>
                            <th class="thcss" *ngFor="let visitTypes of visitTypesHeader">{{visitTypes}}</th>
                        </tr>
                        <tr *ngFor="let item of visittypeRecord">
                            <td *ngFor="let data of item">{{data}}</td>
                        </tr>
                        <tr class="bg-color">
                            <th>{{'TOTAL_SHEETS.TOTALS' | translate}}</th>
                            <th *ngFor="let data of newVisitTotal">{{data}}</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </section>
    <app-rightbar></app-rightbar>
</div>