/* .background-color {
    width:100%;
    background-color: black;
    padding: 5px 5px 5px ;
    margin-bottom: 5px;
    padding: 5px 5px 5px ;
    margin-bottom: 5px;
} */
.bg-color{
    font-weight: bold;
}
#inner_cont {
    margin-right: 7%;
    color: white;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}
/* .table-responsive {
    margin-right: 4%;
    margin-left: 2%;
} */
.style-align {
    width:100%;
    border-collapse:collapse;
}
.table-heading-detail{
    width:100%;
    background-color: black; 
    color: white; 
    margin-top:10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 5px 5px ;
    margin-bottom: 5px;
}
.table-style{
    width:100%;
    border: 1px solid #ddd;
}
.form_cont{
    padding-bottom: 35px;
}
.mt-top{
    margin-top: 6px;
}
.align-right{
    float: right;
}
.ml-bottom {
    margin-bottom: 5px;
}

/* below two css are used for page name title   */
:host ::ng-deep .wd-al {
    margin-left: 0px!important;
   text-align: left;
}
:host ::ng-deep .text-capitalize {
   text-transform: uppercase;
}
/* end of css page name title   */
.fa-print {
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#16337d),to(#05c9d0));
    background: linear-gradient(90deg,#16337d 0,#05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}
@media (max-width: 768px){
	.table-responsive {
        margin-right: 10%;
    }
}
@media (device-width: 1024px){
	.table-responsive {
        margin-right: 6%;
    }
}
@media (device-width: 768px){
    /* hr {
        display: none;
    } */
    /* .thcss {
        font-size: 7px;
    } */
    .form_cont table {
        font-size: 10px;
    }
    #inner_cont {
        margin-right: 10%;
    }
    .ml-5{
        margin-left: -4%;
    }
}
@media (device-width: 1024px) {
    .thcss {
        font-size: 10px;
    }
    .form_cont table {
        font-size: 10px;
    }
    #inner_cont {
        margin-right: 10%;
    }
    .ml-5{
        margin-left: -3%;
    }
}
