#inner_cont {
    margin-right: 10%;
    margin-left: 5px;
}
#wrapper_setup_new {
    color: white;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email] {
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus {
    color: black;
}
.margin-css {
    margin-left: 33%;
}
@media (device-width: 768px){
	#inner_cont {
        margin-right: 13%;
        margin-left: 2px;
      
    }
}