<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"(emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.BEGIN_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text"  bsDatepicker [(bsValue)]="bsValue" [(ngModel)]="bsValue" [maxDate]="maxDate"
                        [bsConfig]="datePickerConfig" class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.END_DATE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <input type="text" [(ngModel)]="bsValue1" bsDatepicker [(bsValue)]="bsValue1" [maxDate]="maxDate"
                        [bsConfig]="datePickerConfig" class="datefield">
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                    <div class="col-md-12 col-sm-12 ml-bottom">
                        <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                            <span style="font-size: 14px">
                                <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                        </button>
                    </div>
                </div>
            <hr />
            <div class="row mt-20 res-mt-15 ml-5" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>

                                    <th class="thcss">{{CompanyName }}</th>
                                    <th class="thcss">{{'REPORTS.TBP_REPORT' | translate }}</th>
                                    <th class="thcss"> {{bsValue | date:'MM/d/y'}} - {{bsValue1 | date:'MM/d/y'}}</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'COMMON.CATEGORY' | translate }}</th>
                                    <th class="thcss"> &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{'TBP_REPORT.PRODUCTIVITY_RATE' | translate }}</td>
                                    <td>{{tbpList?.totalProductivityVal | number : '2.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'TBP_REPORT.REBOOK' | translate }}</td>
                                    <td>{{tbpList?.numOfRebookAppts | number : '2.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'TBP_REPORT.HASH_OF_NEW_CLIENTS' | translate }}</td>
                                    <td>{{tbpList?.numOfClients}}</td>
                                </tr>
                                <tr>
                                    <td>{{'TBP_REPORT.PERCENTAGE_OF_GOOD_TICKET_RATINGS' | translate }}</td>
                                    <td>{{tbpList?.percntOfGoodAppts | number : '2.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'DASHBOARD.SERVICE_SALES' | translate }}</td>
                                    <td>{{tbpList?.serSales | number : '2.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>{{'DASHBOARD.PRODUCT_SALES' | translate }}</td>
                                    <td>{{tbpList?.prodSales| number : '2.2-2' }}</td>
                                </tr>
                                <tr>
                                    <td>{{'TBP_REPORT.PRODUCT_PERCENT_OF_TOTAL_SALES' | translate }}</td>
                                    <td>{{tbpList?.percntOfProd | number : '2.2-2' }}%</td>
                                </tr>
                                <tr>
                                    <td>{{'TBP_REPORT.AVERAGE_REVENUE_PER_TICKET' | translate }}</td>
                                    <td>{{tbpList?.avgRevenuePerTckt | number : '2.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>{{'TBP_REPORT.HASH_OF_PRODUCTS_PER_CLIENT_TICKET' | translate }}</td>
                                    <td>{{tbpList?.numOfProdPerTckt | number : '2.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        {{'MONTHLY_BUSINESS_ANALYSIS.PRODUCTIVITY_RATE_NOT_INCLUDES_WORKER_SCHEDULE_CHANGES' |
                        translate }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>