<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row d-flex">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-4 col-md-4">
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-3 col-md-offset-1 text-right res-tleft">
                            <label>{{'COMMON.BEGIN_DATE'| translate}}</label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <input type="text" bsDatepicker [(bsValue)]="startDate" [(ngModel)]="startDate"
                                [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield w-100">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-3 col-md-offset-1 text-right res-tleft">
                            <label>{{'COMMON.END_DATE'| translate}}</label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <input type="text" bsDatepicker [(bsValue)]="endDate" [(ngModel)]="endDate"
                                [maxDate]="minDate" [bsConfig]="datePickerConfig" class="datefield w-100">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 dropwidth">
                    <div class="ticketselect mt-20">
                        <select class="select-new-trans" [(ngModel)]="sortField"
                            (change)="sortingField($event.target.value)">
                            <option *ngFor="let sortfieldlist of sortfieldList" value="{{sortfieldlist.option}}">
                                {{sortfieldlist.option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 text-right res-tleft">
                <div class="topclient-btm-blk">
                    <label>
                        <b>{{'COMMON.APPOINTMENT_STATUS' | translate}}:</b>
                    </label>
                    <select class="select-new-trans select-input" (change)="selectTypeOnChange($event.target.value)"
                        [(ngModel)]="selectType">
                        <option *ngFor="let data of staticData" value={{data.value}}>{{data.value}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-12 col-sm-12 text-center">
                    <button type="button" (click)="generateCanceledAppt()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate}}
                    </button>
                </div>
            </div>
            <div *ngIf="itemsDisplay">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="row mt-20 res-mt-15" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-max-topclient">
                        <div class=" table-responsive">
                            <table class="table">
                                <tr>
                                    <th>{{'COMMON.DATE' | translate}}</th>
                                    <th>{{'COMMON.STATUS' | translate}}</th>
                                    <th>{{'ACCOUNT_BALANCE.CLIENT_NAME' | translate}}</th>
                                    <th>{{'COMMON.SERVICES' | translate}}</th>
                                    <th></th>
                                    <th>{{'COMMON.NEXT APPT' | translate}}</th>
                                </tr>
                                <tr *ngFor="let data of canceledAppt">
                                    <td>{{data.date ? data.date[0] : ''}}</td>
                                    <td>{{data.Status__c}} <br>
                                        {{data.lastmodifiedName}}<br>
                                        {{data.date ? data.date[0] : ''}}<br>
                                        {{data.date ? data.date[1] : ''}}
                                    </td>
                                    <td>
                                        <span [routerLink]="['/client/edit/' + data.Client__c]"
                                            [queryParams]="{ actionMethod: 'canceledAppt'}" style="cursor:pointer;"
                                            *ngIf="data.clientName !== null">{{data.clientName}}
                                        </span><br>
                                        <div class="text-style" *ngIf="data.MobilePhone" style="font-size: 12px;">M:
                                            {{data.MobilePhone}} </div>
                                        <div class="text-style" *ngIf="data.Phone" style="font-size: 12px;">P:
                                            {{data.Phone}} </div>
                                    </td>
                                    <td>{{data.workerName}}</td>
                                    <td>
                                        <a type="button" target="blank"
                                            class="btn btn-gradient-txt btn-align btn-margin" [routerLink]="['/appointment/findAppt/' +
                                            data.Client__c + '/' + data.Appt_Ticket__c]"
                                            [queryParams]="{bookingType:'cancelAppointment'}">
                                            <span style="font-size: 14px">
                                                {{'WAITINGLIST_APPOINTMENT.FIND_APPT'| translate}}</span>
                                        </a>
                                        <!-- <button *ngIf='data.Status__c == "No Show"' type="button"
                                            class="btn btn-gradient-txt btn-align btn-margin"
                                            [routerLink]="['/appointment/findAppt/' + data.Client__c + '/' + data.Appt_Ticket__c]"
                                            [queryParams]="{bookingType:'cancelAppointment'}">
                                            <span style="font-size: 14px">
                                                {{'WAITINGLIST_APPOINTMENT.FIND_APPT'| translate}}</span>
                                        </button> -->
                                    </td>
                                    <td>{{data.futureApptDate ? data.futureApptDate[0] : ''}}<br>
                                        {{data.newWorkerName}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>