#wrapper_setup_new {
    padding-right: 90px;
}

.mr-10, hr {
    /* margin-right: 8%; */
}

.w-100 {
    width: 100% !important;
}

.form_cont {
    color: white!important;
}

.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}

.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}

.align-right {
    float: right;
}

.ml-bottom {
    margin-bottom: 5px;
}

.fa-print {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}

/* below two css are used for page name title   */

:host ::ng-deep .wd-al {
    margin-left: 0px!important;
    text-align: left;
}

:host ::ng-deep .text-capitalize {
    text-transform: uppercase;
}

/* end of css page name title   */

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .mr-10 {
        margin-right: 10%;
    }
    hr {
        display: none;
    }
    .form_cont .table-bordered>thead>tr>th {
        border-color: #3583a1 !important;
        font-size: 13px;
    }
}

.label-inline {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 20px;
}

.ticket-field {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 20px;
    min-width: 80px;
    text-align: center;
    max-width: 80px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.ticket-btn {
    display: inline-block;
    vertical-align: middle;
}

.select-new-trans {
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 35px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}

.ticketselect {
    text-align: right;
}

.ticketselect select {
    max-width: 250px;
    display: inline-block;
}

.dropwidth {
    width: 32% !important;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.topclient-btm-blk {
    max-width: 450px;
    width: 100%;
    margin: 0 auto 20px;
    margin-top: 15px;
}

.topclient-btm-blk label {
    width: 175px;
    text-align: right;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    float: left;
    margin-top: 6px;
}

.topclient-btm-blk .select-input {
    max-width: 257px !important;
}

.topclient-btm-blk:after {
    content: '';
    display: block;
    clear: both;
}

.table-max-topclient {
     /* max-width: 1000px; */
    /* width: 100%; */
    margin: 0 auto;
}

.table>tbody>tr>td, .table td {
    border-top: 0px;
    /* padding: 0px; */
    width: 1px;
    padding-top: 5px;
    padding-right: 10px;
    margin-top: 5px;
}

table>tbody>tr>th, table th {
    border-top: 0px;
    /* padding: 0px;
    padding-left: 5px;
    padding-right: 5px; */
    /* padding: 0px; */
    /* width: 1px; */
    /* padding-top: 5px; */
}