<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'"></app-header>
    <section id="inner_cont">
        <div class="container form_cont">
            <div class="col-md-3 apointmnet-left">
                <div class="row mt-20">
                    <div class="col-md-12 appointment-button-sidenav">
                        <div *ngIf="decodedToken['Tickets'] && decodedToken['Tickets'][7]['allowAcces']">
                            <a class="btn btn-default mb-5 chkout-button" [routerLink]="['/checkout/newticket']">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                {{'CHECK_OUT_LIST.CHECKOUT_LIST.NEW_TICKET' | translate}}</a>
                            <br />
                        </div>
                        <!-- <div *ngIf="decodedToken['Tickets'] && decodedToken['Tickets'][4]['allowAcces']">
                            <a class="btn btn-default mb-5 chkout-button" (click)="showMembershipsModal()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Memberships</a>
                            <br />
                        </div> -->
                        <!-- <div *ngIf="decodedToken['Tickets'] && decodedToken['Tickets'][4]['allowAcces']">
                            <a class="btn btn-default mb-5 chkout-button" (click)="showMembershipsModal()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> New Memberships</a>
                            <br />
                        </div> -->
                        <div *ngIf="decodedToken['Tickets'] && decodedToken['Tickets'][5]['allowAcces']">
                            <a class="btn btn-default mb-5 chkout-button" (click)="showRefundsModal()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                {{'CHECK_OUT_LIST.CHECKOUT_LIST.REFUND_BY_CLIENT_NAME' | translate}}</a>
                            <br />
                        </div>
                        <div>
                            <a class="btn btn-default mb-5 chkout-button" [routerLink]="['/checkout/refund/ticket']">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                {{'CHECK_OUT_LIST.CHECKOUT_LIST.REFUNDS_BY_TICKET' | translate}} #</a>
                            <br />
                        </div>
                        <div *ngIf="decodedToken['Tickets'] && decodedToken['Tickets'][0]['allowAcces']">
                            <a class="btn btn-default mb-5 chkout-button" [routerLink]="['/cashinout']">
                                <img width="12px" src="assets/images/plusminus.png">
                                {{'CHECK_OUT_LIST.CASH_IN_OUT.CASH_IN_OUT' | translate}}</a>
                            <br />
                        </div>
                        <div *ngIf="decodedToken['Tickets'] && decodedToken['Tickets'][6]['allowAcces']">
                            <a class="btn btn-default mb-5 chkout-button" [routerLink]="['/checkout/cashcounting']">
                                <img width="12px" src="assets/images/plusminus.png">
                                {{'CHECK_OUT_LIST.CHECKOUT_LIST.CASH_COUNTING' | translate}}</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9 apointmnet-right">
                <div class="container form_cont">
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                            <label>
                                <b>{{'COMMON.BEGIN_DATE' | translate}}</b>
                            </label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <input type="text" bsDatepicker [(ngModel)]='datedate' [maxDate]="minDate"
                                [bsConfig]="datePickerConfig" class="datefield" (click)="input()">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-4 col-sm-4 text-right res-tleft mt-top">
                            <label>
                                <b>{{'COMMON.END_DATE' | translate}}</b>
                            </label>
                        </div>
                        <div class="col-md-7 col-sm-8">
                            <input type="text" bsDatepicker [(ngModel)]='endDate' [maxDate]="minDate"
                                [bsConfig]="datePickerConfig" class="datefield" (click)="input()">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-5 col-sm-4 text-right res-tleft">
                            &nbsp;
                        </div>

                        <div class="col-md-7 col-sm-8">
                            <button type="button" (click)="generateReport();" class="btn btn-primary">
                                <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;{{'BUTTON.GENERATE'| translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" *ngIf="table">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th *ngIf='apptId' class="thcss">Include</th>
                                <th class="thcss">{{'COMMON.TICKET' | translate }}</th>
                                <th class="thcss">{{'TICKET_SALES_REPORT.CLIENT' | translate }}</th>
                                <th class="thcss">{{'COMPLETED_TICKET.SERVICES' | translate }}</th>
                                <th *ngIf='apptId' class="thcss">{{'ACCOUNT_BALANCE.BALANCE_DUE' | translate }}</th>
                                <th class="thcss">{{'ONLINE_GIFT.DATE' | translate }}</th>
                                <th class="thcss">{{'COMMON.AMOUNT' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let checkoutlist of checkOutList; let i='index'">
                                <td *ngIf='apptId'>
                                    <ng-container *ngIf="checkoutlist.appId!==apptId">
                                        <input type="checkbox" [(ngModel)]="checkoutlist.include">
                                    </ng-container>
                                </td>
                                <td class="tbl-txt" [routerLink]="['/checkout/' + checkoutlist.appId]">
                                    {{checkoutlist.ticketNumber}}</td>
                                <td *ngIf="checkoutlist.clientId==null">NO CLIENT</td>
                                <td class="tbl-txt" *ngIf="checkoutlist.clientId!=null"
                                    [routerLink]="['/client/edit/' + checkoutlist.clientId]"
                                    [queryParams]="{ actionMethod: 'checkoutList' }">{{checkoutlist.clientName}}</td>
                                <td>{{checkoutlist.serviceName}}</td>
                                <td *ngIf='apptId'>{{checkoutlist.balancedue | number: '1.2-4'}}</td>
                                <td>{{checkoutlist.disaplayDate[0]}}</td>
                                <td>{{checkoutlist.balancedue | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-right"><b>UNPAID TICKET BALANCE: {{total | currency:"USD":"symbol-narrow"}}</b></p>
                </div>
                <div class="row" *ngIf="apptId">
                    <div class="text-center mt-40">
                        <button class="save-btn" (click)="addTickets()" type="button">Include Unpaid Tickets</button>
                        <button class="cancel-btn" type="button"
                            (click)='cancelIncludeTicket()'>{{'BUTTON.CANCEL' | translate}}</button>
                        <div class="text-center">
                            *Once a ticket with an unpaid balance has been included, the ticket being included can no
                            longer be edited.
                        </div>
                    </div>
                </div>
                <!-- memberships modal starts -->
                <!-- <div bsModal #membershipsModal="bs-modal" class="modal expressBooking bluemodal small-modal" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-content" style="margin: auto;">
                        <span id="cancel1" (click)="cancelMembershipsModal()" class="close close-list">&times;</span>
                        <div class="modal-dialog ">
                            <div class="modal-body">
                                <div class="clearfix">
                                    <div class="row mt-20 clearfix">

                                        <div class="col-md-12 col-sm-12 mb-10">
                                            <div class="staff-search staff125">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Name, Phone, Email" [formControl]="searchField" [(ngModel)]="searchKey" (input)="searchClients()"
                                                        autofocus class="form-control" id="FindApptSearchKeys" style="background: none !important;">
                                                    <p style="color:red;text-align: center;">{{noResult}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <perfect-scrollbar style="max-height:300px;">
                                        <div class="staff-search-details mt-20">
                                            <div class="staff-search-details-in">
                                                <div class="staff-search-list" *ngFor="let client of DataObj; let i='index'">
                                                    <div class="staff-search-list-img" *ngIf="(client.Client_Pic__c && client.Client_Pic__c !== '')">
                                                        <img src="{{apiEndPoints}}{{client.Client_Pic__c}}" width="61" (error)="errorHandler($event,i)" height="61" alt="Profile">
                                                    </div>
                                                    <div class="staff-search-list-img" *ngIf="(client.Client_Pic__c === null || client.Client_Pic__c === '' || client.Client_Pic__c === undefined)">
                                                        <div class="appnt-pro-letter" style="width:61px;height:61px;line-height: 57px;">
                                                            <strong> {{ client.FirstName[0].toUpperCase() }} </strong>
                                                        </div>
                                                    </div>
                                                    <div class="staff-search-list-name" [routerLink]="['/membershipedit/' + client.Id]">
                                                        <span id="findApptClear">{{client.FirstName}} &nbsp; {{client.LastName}}</span>
                                                        <span *ngIf="hideClientInfo === 0">
                                                            <div class="staff-search-list-mobile" *ngIf="!client.Phone || !client.MobilePhone">{{client.Phone}} | {{client.MobilePhone}}</div>
                                                            <div class="staff-search-list-email">{{client.Email}}</div>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- memberships modal ends -->

                <!-- new mem# -->
                <div bsModal #membershipsModal="bs-modal" class="modal expressBooking bluemodal small-modal"
                    role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-content" style="margin: auto;">
                        <span id="cancel1" (click)="cancelMembershipsModal()" class="close close-list">&times;</span>
                        <div class="modal-dialog ">
                            <div class="modal-body">
                                <div class="clearfix">
                                    <div class="row mt-20 clearfix">

                                        <div class="col-md-12 col-sm-12 mb-10">
                                            <div class="staff-search staff125">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Enter, Scan or Swipe"
                                                        [formControl]="searchField" [(ngModel)]="searchKey"
                                                        (input)="searchClients()" autofocus
                                                        class="form-control form-control-italic w-100"
                                                        id="FindApptSearchKeys" style="background: none !important;">
                                                    <span class="input-group-addon">
                                                        <button type="submit">
                                                            <img alt="Search" src="assets/images/search-icon.png"
                                                                width="14">
                                                        </button>
                                                    </span>
                                                </div>
                                                <p style="color:red;text-align: center;">{{noResult}}</p>
                                            </div>
                                            <div class="row clearfix">
                                                <!-- <div class="col-sm-6 mt-20">
                                                    <a class="btn btn-primary d-blcok next-mem w-100">Next Member</a>
                                                </div>
                                                <div class="col-sm-6 mt-20">
                                                    <a class="btn btn-primary d-blcok search-mem w-100">
                                                        <img alt="Search" src="assets/images/search-icon.png" width="14">
                                                        <span>Member</span>
                                                    </a>
                                                </div> -->
                                                <div class="col-sm-12 mt-20">
                                                    <a class="btn btn-primay d-blcok new-mem w-100"
                                                        (click)="showNewMemberModal()">+ NEW MEMBER</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <perfect-scrollbar style="max-height:300px;">
                                        <div class="staff-search-details mt-20">
                                            <div class="staff-search-details-in">
                                                <div class="staff-search-list"
                                                    *ngFor="let client of DataObj; let i='index'">
                                                    <div class="staff-search-list-img"
                                                        *ngIf="(client.Client_Pic__c && client.Client_Pic__c !== '')">
                                                        <img src="{{apiEndPoints}}{{client.Client_Pic__c}}" width="61"
                                                            (error)="errorHandler($event,i)" height="61" alt="Profile">
                                                    </div>
                                                    <div class="staff-search-list-img"
                                                        *ngIf="(client.Client_Pic__c === null || client.Client_Pic__c === '' || client.Client_Pic__c === undefined)">
                                                        <div class="appnt-pro-letter"
                                                            style="width:61px;height:61px;line-height: 57px;">
                                                            <strong> {{ client.FirstName[0].toUpperCase() }} </strong>
                                                        </div>
                                                    </div>
                                                    <div class="staff-search-list-name"
                                                        [routerLink]="['/membershipedit/' + client.Id]">
                                                        <span id="findApptClear">{{client.FirstName}} &nbsp;
                                                            {{client.LastName}}</span>
                                                        <span *ngIf="hideClientInfo === 0">
                                                            <div class="staff-search-list-mobile"
                                                                *ngIf="!client.Phone || !client.MobilePhone">
                                                                {{client.Phone}} | {{client.MobilePhone}}</div>
                                                            <div class="staff-search-list-email">{{client.Email}}</div>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end mem$ -->
                <!-- refunds modal starts -->
                <div bsModal #refundsModal="bs-modal" class="modal expressBooking bluemodal small-modal" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-content" style="margin: auto;">
                        <span id="cancel1" (click)="cancelModal()" class="close close-list">&times;</span>
                        <div class="modal-dialog ">
                            <div class="modal-body">
                                <div class="clearfix">
                                    <div class="row mt-20 clearfix">

                                        <div class="col-md-12 col-sm-12 mb-10">
                                            <div class="staff-search staff125">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Name, Phone, Email"
                                                        [formControl]="searchField" [(ngModel)]="searchKey"
                                                        (input)="searchClients()" class="form-control" id="refundByName"
                                                        style="background: none !important;">
                                                    <p style="color:red;text-align: center;">{{noResult}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <perfect-scrollbar style="max-height:300px;">
                                        <div class="staff-search-details mt-20">
                                            <div class="staff-search-details-in">
                                                <div class="staff-search-list"
                                                    *ngFor="let client of DataObj; let i='index'">
                                                    <div class="staff-search-list-img"
                                                        *ngIf="(client.Client_Pic__c && client.Client_Pic__c !== '')">
                                                        <img src="{{apiEndPoints}}{{client.Client_Pic__c}}" width="61"
                                                            (error)="errorHandler($event,i)" height="61" alt="Profile">
                                                    </div>
                                                    <div class="staff-search-list-img"
                                                        *ngIf="(client.Client_Pic__c === null || client.Client_Pic__c === '' || client.Client_Pic__c === undefined)">
                                                        <div class="appnt-pro-letter"
                                                            style="width:61px;height:61px;line-height: 57px;">
                                                            <strong> {{ client.FirstName[0].toUpperCase() }} </strong>
                                                        </div>
                                                    </div>
                                                    <div class="staff-search-list-name"
                                                        [routerLink]="['/refunddetails/' + client.Id]">
                                                        <span id="findApptClear">{{client.FirstName}} &nbsp;
                                                            {{client.LastName}}</span>
                                                        <span *ngIf="hideClientInfo === 0">
                                                            <div class="staff-search-list-mobile"
                                                                *ngIf="!client.Phone || !client.MobilePhone">
                                                                {{client.Phone}} | {{client.MobilePhone}}</div>
                                                            <div class="staff-search-list-email">{{client.Email}}</div>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- refunds modal ends -->
                <!-- new member starts -->
                <div bsModal #newMemberModal="bs-modal" class="modal expressBooking bluemodal newmembermodal"
                    role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-content" style="margin: auto;">
                        <span id="cancel1" (click)="closeMemberShip()" class="close close-list">&times;</span>
                        <div class="modal-dialog ">
                            <div class="modal-body">
                                <h5 class="appoinment-heading mt-10">
                                    <span>ADD NEW MEMBER</span>
                                </h5>
                                <div class="row mt-20">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5">
                                            <span class="red">*</span> Client First Name </label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <input class="form-control" type="text" (keypress)="clearErrorMsg()"
                                            [(ngModel)]="firstName">
                                    </div>

                                    <div class="red text-center" style="margin-right:141px;">
                                        <h6> {{firstNameError | translate}}</h6>
                                    </div>

                                </div>
                                <div class="row mt-20">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5">
                                            <span class="red">*</span> Client Last Name</label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <input class="form-control" type="text" (keypress)="clearErrorMsg()"
                                            [(ngModel)]="lastName">
                                    </div>

                                    <div class="red text-center" style="margin-right:141px;">
                                        <h6> {{lastNameError | translate}}</h6>
                                    </div>

                                </div>
                                <div class="row mt-20">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5"> Birthdate</label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <input type="text" class="form-control" [(ngModel)]="bsValue"
                                            value="{{ bsValue | date:'MM/d/y'}}" bsDatepicker [(bsValue)]="bsValue"
                                            [maxDate]="maxDate" [minDate]="minDate" [bsConfig]="datePickerConfig"
                                            (ngModelChange)="populateFromDate()">
                                    </div>
                                </div>
                                <div class="row mt-20">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5"> Gender</label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <select [(ngModel)]="gender" class="form-control select-bg">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-20">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5"> Country Code + Mobile Phone</label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <div class="row clearfix">
                                            <div class="col-xs-4">
                                                <input class="form-control" type="text" disabled placeholder="01">
                                            </div>
                                            <div class="col-xs-8">
                                                <input class="form-control" type="text" [(ngModel)]="mobileNumber"
                                                    maxlength="13"
                                                    onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                                    id="mobileNumber"
                                                    (keypress)='hyphen_generate_mobile(mobileNumber);'>
                                            </div>
                                        </div>
                                        <p class="mt-5">
                                            <label for="c_mobile" style="font-size: 10px;">Client Provided Consent to
                                                receive SMS Messages</label>
                                            <input id="c_mobile" type="checkbox"
                                                style="position: absolute;right: 26px !important;height: 16px !important; width: 15px !important;"
                                                [(ngModel)]="sms_checkbox" [disabled]="mobileNumber ? false : true" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row mt-15">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5"> Primary Email</label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <input class="form-control" type="text" (keypress)="clearErrorMsg()"
                                            [(ngModel)]="primaryEmail">
                                    </div>

                                    <div class="red text-center" style="margin-right:141px;">
                                        <h6> {{primaryEmailError | translate}}</h6>
                                    </div>
                                </div>
                                <h5 class="appoinment-heading mt-20 ">
                                    <span>BILLING INFORMATION</span>
                                </h5>
                                <div class="row mt-10">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5"> Member Id</label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <input class="form-control" type="text"
                                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                            (keypress)="clearErrorMsg()" maxlength="20" [(ngModel)]="memUniId"
                                            placeholder="Enter, Scan or Swipe">
                                    </div>
                                    <div class="red text-center" style="margin-right:141px;">
                                        <h6> {{memUniIdError | translate}}</h6>
                                    </div>

                                </div>
                                <div class="row mt-10" *ngIf="MembersipsList && MembersipsList.length > 0">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5"> Membership Type</label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <select class="form-control select-bg" [(ngModel)]="MemberShipType"
                                            (change)="membershipPlanchange($event.target.value) ">
                                            <option value="">Select Type</option>
                                            <option *ngFor="let checkoutmembersipslist of MembersipsList; let i='index'"
                                                value={{checkoutmembersipslist.Id}}${{checkoutmembersipslist.Price__c}}>
                                                {{checkoutmembersipslist.Name}}</option>
                                        </select>
                                    </div>
                                    <div class="red text-center" style="margin-right:141px;">
                                        <h6> {{MemberShipTypeError | translate}}</h6>
                                    </div>
                                </div>
                                <div class="row mt-10" *ngIf="paymentList && paymentList.length > 0">
                                    <div class="col-md-5 col-sm-4 res-tleft">
                                        <label class="mt-5"> Select Payment Type</label>
                                    </div>
                                    <div class="col-md-7 col-sm-8">
                                        <select class="form-control select-bg" [(ngModel)]="paymentTypes"
                                            (change)="payType($event.target.value)">
                                            <option value="">Select Payment Type</option>
                                            <option *ngFor="let list of paymentList;" value="{{list.Id}}${{list.Name}}">
                                                {{list.Name}}</option>
                                        </select>
                                    </div>
                                    <div class="red text-center" style="margin-right:141px;">
                                        <h6> {{paymentTypesError | translate}}</h6>
                                    </div>
                                </div>
                                <div *ngIf="hidePaymentTab == true">
                                    <div class="row mt-10">
                                        <div class="col-md-5 col-sm-4 res-tleft">
                                            <label class="mt-5">Auto Bill</label>
                                        </div>
                                        <div class="col-md-7 col-sm-8">
                                            <input type="checkbox" style="width:15px; height:15px;"
                                                [(ngModel)]="autoBill">
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-5 col-sm-4 res-tleft">
                                            <label class="mt-5"> Card Number</label>
                                        </div>
                                        <div class="col-md-7 col-sm-8">
                                            <input class="form-control" type="text"
                                                onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                                (keypress)="clearErrorMsg()" maxlength="16" [(ngModel)]="cardNumber">
                                        </div>
                                        <div class="red text-center">
                                            <h6> {{cardNumberError | translate}}</h6>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-5 col-sm-4 res-tleft">
                                            <label class="mt-5"> Name on Card </label>
                                        </div>
                                        <div class="col-md-7 col-sm-8">
                                            <input class="form-control" type="text" (keypress)="clearErrorMsg()"
                                                [(ngModel)]="NameOnCard">
                                        </div>
                                        <div class="red text-center" style="margin-right:141px;">
                                            <h6> {{NameOnCardError | translate}}</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row clearfix mt-10">
                                                <div class="col-md-3 col-sm-4 res-tleft">
                                                    <label class="mt-5"> Expiration </label>
                                                </div>
                                                <div class="col-md-9 col-sm-8">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <select class="form-control select-bg"
                                                                (change)="clearErrorMsg()" [(ngModel)]="expMonth"
                                                                (click)="error=' '">
                                                                <option *ngFor="let month of monthList; let i='index
                                      '" value="{{i+1}}">{{month}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <select class="form-control select-bg"
                                                                (change)="clearErrorMsg()" [(ngModel)]="expYear"
                                                                (click)="error=' '">
                                                                <option *ngFor="let year of yearList" value="{{year}}">
                                                                    {{year}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="red text-center">
                                                    <h6> {{expiryError | translate}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="row clearfix mt-10">
                                                <div class="col-md-4 col-sm-4 res-tleft">
                                                    <label class="mt-5"> CVV</label>
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <input class="form-control" type="text"
                                                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                                        (keypress)="clearErrorMsg()" maxlength="5" [(ngModel)]="cvv"
                                                        placeholder="">
                                                </div>
                                                <div class="red text-center">
                                                    <h6> {{cvvError | translate}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="row clearfix mt-10">
                                                <div class="col-md-4 col-sm-4 res-tleft">
                                                    <label class="mt-5"> Zip</label>
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <input class="form-control" type="text"
                                                        onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                                        (keypress)="clearErrorMsg()" maxlength="9" [(ngModel)]="zipCode"
                                                        placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row clearfix mt-10">
                                            <div class="col-sm-6">
                                                <label style="margin-left:-2px;">$</label>
                                                <input class="form-control" type="text"
                                                    value="{{amount | number: '2.2-2'}}"
                                                    style="margin-top: -28px;margin-left: 12px;"
                                                    onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127) return true; else if ( key < 48 || key > 57 ) return false; else return true;"
                                                    (keypress)="clearErrorMsg()" maxlength="8" [(ngModel)]="charge">
                                            </div>
                                            <div class="col-sm-6 res-tleft">
                                                <label class="mt-5">First Payment</label>
                                            </div>
                                            <div class="red text-center" style="margin-right: 141px;">
                                                <h6> {{chargeError | translate}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row clearfix mt-10">
                                            <label class="mt-5 d-inline">
                                                {{charge | currency: "USD": "symbol-narrow"}}</label>
                                            <select class="form-control select-bg d-inline" [(ngModel)]="nextBillDate"
                                                style="max-width: 120px;">
                                                <option value="">select plan</option>
                                                <option value="1">Monthly</option>
                                                <option value="3">Quarterly</option>
                                                <option value="12">Yearly</option>
                                            </select>
                                            <label class="mt-5 d-inline"> Payment</label>
                                            <div class="red text-center" style="margin-right: 51px;">
                                                <h6> {{nextBillDateError | translate}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix mt-20">
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn btn-gradient-txt" (click)="saveMember()">
                                            <span>First Payment & Save</span>
                                        </button>
                                        <button type="button" class="btn btn-primary m-0"
                                            (click)="closeMemberShip()">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>