<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20">
                <div class="col-md-12 col-sm-12 text-right res-tleft mt-top">
                    <div class="topclient-top-blk">
                        <label>
                            <b>{{'COMMON.BEGIN_DATE' | translate}}</b>
                        </label>
                        <input type="text" bsDatepicker [(ngModel)]='startDate' [maxDate]="minDate"
                            (ngModelChange)='itemsDisplay = false' [bsConfig]="datePickerConfig"
                            class="datefield topclient-input">
                    </div>
                    <div class="topclient-top-blk">
                        <label>
                            <b>{{'COMMON.END_DATE' | translate}}</b>
                        </label>
                        <input type="text" bsDatepicker [(ngModel)]='endDate' [maxDate]="minDate"
                            (ngModelChange)='itemsDisplay = false' [bsConfig]="datePickerConfig"
                            class="datefield topclient-input">
                    </div>
                </div>
                <!-- </div> -->

                <!-- <p class='red'>{{error | translate}}</p> -->
                <!-- <div class="row mt-20"> -->
                <div class="col-md-12 col-sm-12 text-right res-tleft">
                    <div class="topclient-btm-blk">
                        <label>
                            <b>{{'MEMBER_CHECKIN.SELECT_TYPE' | translate}}:</b>
                        </label>
                        <select class="select-new-trans select-input" (change)="selectTypeOnChange($event.target.value)"
                            [(ngModel)]="selectType">
                            <option *ngFor="let data of staticData" value={{data.value}}>{{data.value}}</option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="row mt-20">
                <div class="col-md-12 col-sm-12 text-center">
                    <button type="button" (click)="generateTopClientReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate}}
                    </button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>

            <div class="row mt-20 res-mt-15" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-max-topclient">
                        <div class="table-responsive">
                            <table class="table table-center table-responsive">
                                <tr>
                                    <th>{{'REPORTS.TOPCLIENT_RANK' | translate}}</th>
                                    <th>{{'COMMON.NAME' | translate}}</th>
                                    <th>{{'COMMON.AMOUNT' | translate}}</th>
                                    <th>{{'REPORTS.LAST_VISIT' | translate}}</th>
                                </tr>
                                <tr *ngFor="let data of topClientData.slice(0,50)">
                                    <td>{{data.rank}}</td>
                                    <td [routerLink]="['/client/edit/' + data.id]"
                                        [queryParams]="{ actionMethod: 'topclientreport'}"
                                        style="text-decoration: underline;cursor:pointer;"
                                        *ngIf="data.clientName !== null">{{data.clientName}}</td>
                                    <td>{{data.Net_Price__c | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{data.lastVisit ? data.lastVisit[0] : '' }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>