/* .background-color {
    width:100%;
    background-color: black;
    padding: 5px 5px 5px ;
    margin-bottom: 5px;
    padding: 5px 5px 5px ;
    margin-bottom: 5px;
} */

.bg-color {
    font-weight: bold;
}

#inner_cont {
    margin-right: 7%;
    color: white;
}

.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select {
    color: white;
}

.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus {
    color: black;
}

/* .table-responsive {
    margin-right: 4%;
    margin-left: 2%;
} */

.style-align {
    width: 100%;
    border-collapse: collapse;
}

/* .table-heading-detail {
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 5px 5px;
    margin-bottom: 5px;
} */

/* .table-style {
    width: 100%;
} */

/* th {
    text-align: left !important;
} */

.form_cont {
    padding-bottom: 35px;
}

.mt-top {
    margin-top: 6px;
}

.align-right {
    float: right;
}

.ml-bottom {
    margin-bottom: 5px;
}

/* below two css are used for page name title   */

:host ::ng-deep .wd-al {
    margin-left: 0px!important;
    text-align: left;
}

:host ::ng-deep .text-capitalize {
    text-transform: uppercase;
}

/* end of css page name title   */

.fa-print {
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #16337d), to(#05c9d0));
    background: linear-gradient(90deg, #16337d 0, #05c9d0 100%);
    background-position: 50% 50%;
    background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
}

@media (max-width: 768px) {
    .table-responsive {
        margin-right: 10%;
    }
}

@media (device-width: 1024px) {
    .table-responsive {
        margin-right: 6%;
    }
}

@media (device-width: 768px) {
    /* hr {
        display: none;
    } */
    /* .thcss {
        font-size: 7px;
    } */
    .form_cont table {
        font-size: 10px;
    }
    #inner_cont {
        margin-right: 10%;
    }
    .ml-5 {
        margin-left: -4%;
    }
}

@media (device-width: 1024px) {
    .thcss {
        font-size: 10px;
    }
    .form_cont table {
        font-size: 10px;
    }
    #inner_cont {
        margin-right: 10%;
    }
    .ml-5 {
        margin-left: -3%;
    }
}

.select-new-trans {
    background-image: url(/assets/images/arrow-new-down.png) !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 10px) center !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    border: 0px solid #fff !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100% !important;
    font-weight: 500 !important;
    height: 35px !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}

.table-max-topclient {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    
}

.topclient-top-blk {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 20px;
}

.topclient-top-blk label {
    width: 150px;
    text-align: right;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    float: left;
    margin-top: 6px;
}

.topclient-top-blk .topclient-input {
    width: calc(100% - 170px) !important;
    float: right;
    height: 30px !important;
    font-size: 15px !important;
    line-break: 15px !important;
}

.topclient-top-blk:after {
    content: '';
    display: block;
    clear: both;
}

.topclient-btm-blk {
    max-width: 450px;
    width: 100%;
    margin: 0 auto 20px;
}

.topclient-btm-blk label {
    width: 175px;
    text-align: right;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    float: left;
    margin-top: 6px;
}

.topclient-btm-blk .select-input {
    max-width: 257px !important;
}

.topclient-btm-blk:after {
    content: '';
    display: block;
    clear: both;
}
.table>tbody>tr>td,.table td, .table>tbody>tr>th,.table th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
  
}

/* below two css are used for page name title   */

:host ::ng-deep .wd-al {
    margin-left: 0px!important;
    text-align: left;
}

:host ::ng-deep .text-capitalize {
    text-transform: uppercase;
}

/* end of css page name title   */