<div id="wrapper_setup_new">
    <app-header [newMenu]="'nav'" (emitCompanyInfo)="loadCompanyInfo($event)"></app-header>
    <section id="inner_cont">
        <div class="container form_cont" id="dvContents">
            <div class="row mt-20 ">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'MONTHLY_BUSINESS_ANALYSIS.SELECT_YEAR' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportAnalysis.year" (change)="hideData()">
                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20 ">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'MONTHLY_BUSINESS_ANALYSIS.SELECT_MONTH' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportAnalysis.month"
                        (change)="getDetails($event.target.value,'month');hideData()">
                        <option *ngFor="let month of months" [value]='month.Id'>{{month.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20 ">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SERVICE_SALES_REPORT.REPORT_TYPE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportAnalysis.type"
                        (change)="selectReportsType($event.target.value);clear();hideData()">
                        <option [value]="'Comapny Analysis'">
                            {{'MONTHLY_BUSINESS_ANALYSIS.COMPANY_ANALYSIS' | translate }}</option>
                        <option [value]="'Worker Analysis'">{{'MONTHLY_BUSINESS_ANALYSIS.WORKER_ANALYSIS' | translate }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'COMMON.WORKER' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8" [ngClass]="{'disabled':reportAnalysis.type === 'Comapny Analysis'}">
                    <select [disabled]="reportAnalysis.type === 'Comapny Analysis'"
                        (change)="clear();getDetails($event.target.value,'workername');hideData()"
                        [(ngModel)]="reportAnalysis.worker">
                        <option [value]="''">{{'SERVICE_SALES_REPORT.SELECT_WORKER' | translate }}</option>
                        <option *ngFor="let worker of workerList" [value]='worker.Id'>{{worker.FirstName+' '+
                            worker.LastName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20 ">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'MONTHLY_BUSINESS_ANALYSIS.SELECT_SERVICE_GROUP' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportAnalysis.serviceGroup" (change)="hideData()">
                        <option *ngFor="let servcieGroup of serviceGroupList" [value]="servcieGroup.serviceGroupName">
                            {{servcieGroup.serviceGroupName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 col-sm-4 text-right res-tleft">
                    <label>{{'SETUP_INVENTORY_PRODUCTS.PRODUCT_LINE' | translate }}</label>
                </div>
                <div class="col-md-7 col-sm-8">
                    <select [(ngModel)]="reportAnalysis.pdLine" (change)="hideData()">
                        <option *ngFor="let productLine of productLinesList" [value]="productLine.Id">
                            {{productLine.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5 col-sm-4 text-right res-tleft">
                    &nbsp;
                </div>
                <div class="col-md-7 col-sm-8">
                    <button type="button" (click)="generateReport()" class="btn btn-primary">
                        <i class="fa fa-cog" aria-hidden="true"></i> {{'BUTTON.GENERATE' | translate }}</button>
                </div>
            </div>
            <div class="table-responsive" *ngIf="itemsDisplay">
                <div class="col-md-12 col-sm-12 ml-bottom">
                    <button class="btn btn-gradient-txt align-right" type="button" (click)="printDiv()">
                        <span style="font-size: 14px">
                            <i class="fa fa-print"></i> {{'BUTTON.PRINT' | translate}}</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="row mt-20 res-mt-15 ml-5" *ngIf="itemsDisplay">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{CompanyName}}</th>
                                    <th class="thcss">
                                        {{'REPORTS.MONTHLY_BUSINESS_ANALYSIS' | translate }} :
                                        <span *ngIf="reportAnalysis.type === 'Comapny Analysis'">
                                            {{'HEADER.COMPANY' | translate }}</span>
                                        <span
                                            *ngIf="reportAnalysis.type === 'Worker Analysis'">{{'COMMON.WORKER' | translate }}
                                            -
                                            {{selectWorkerName}}</span>
                                    </th>
                                    <th class="thcss">{{'SETUP_COMPENSATION_SCALES.PERIOD' | translate }}:
                                        {{seleMonth}} {{reportAnalysis.year}}</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="thcss">{{'COMMON.CATEGORY' | translate }}</th>
                                    <th class="thcss">{{reportAnalysis.year}}</th>
                                    <th class="thcss">{{'MONTHLY_BUSINESS_ANALYSIS.PRIOR_YEAR' | translate }}</th>
                                    <th class="thcss">{{'ACTIVITY_COMPARISON.PERCENTAGE_CHANGE' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{'MONTHLY_BUSINESS_ANALYSIS.SALES_TOTAL_SALES' | translate }}</td>
                                    <td>{{totalSales | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{totalSales1 | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{totalSalesPer | number: '1.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'MONTHLY_BUSINESS_ANALYSIS.SALES_SERVICES_SALES' | translate }}</td>
                                    <td>{{totalSerSales | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{totalSerSales1 | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{totalSerSalesPer | number: '1.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'MONTHLY_BUSINESS_ANALYSIS.SALES_PRODUCT_SALES' | translate }}</td>
                                    <td>{{totalProSales | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{totalProSales1 | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{totalProSalesPer | number: '1.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'MONTHLY_BUSINESS_ANALYSIS.SALES' | translate }} {{SeleSerGroName}}
                                        {{'MONTHLY_BUSINESS_ANALYSIS.SERVICE_SALES_PERCENTAGE' | translate }}</td>
                                    <td>{{totalServiceGroup | number: '1.2-2'}}%</td>
                                    <td>{{totalServiceGroup1 | number: '1.2-2'}}%</td>
                                    <td>{{totalServiceGroupPer | number: '1.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'MONTHLY_BUSINESS_ANALYSIS.TICKETS_TOTAL_NUMBER_OF_TICKETS' | translate }}
                                    </td>
                                    <td>{{totalNumberOfTickets}}</td>
                                    <td>{{totalNumberOfTickets1}}</td>
                                    <td>{{totalticketCountPer | number: '1.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'MONTHLY_BUSINESS_ANALYSIS.TICKETS_PERCENT_OF_SERVICE_TICKETS' | translate }}
                                    </td>
                                    <td>{{srvcCountatlestonePrdct | number: '1.2-2'}}%</td>
                                    <td>{{srvcCountatlestonePrdct1 | number: '1.2-2'}}%</td>
                                    <td>{{srvcCountatlestonePrdctPer | number: '1.2-2'}}%</td>
                                </tr>

                                <tr>
                                    <td> {{'MONTHLY_BUSINESS_ANALYSIS.TICKETS_AVERAGE_SERVICE' | translate }}</td>
                                    <td>{{averageSerivceAmount | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{averageSerivceAmount1 | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{averageSerivceAmountPer | number: '1.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'MONTHLY_BUSINESS_ANALYSIS.APPOINTMENTS_PERCENT_BOOKED' | translate }}</td>
                                    <td>{{tbpList?.totalProductivityVal | number : '2.2-2'}}%</td>
                                    <td>{{tbpList1?.totalProductivityVal | number : '2.2-2'}}%</td>
                                    <td>{{totalProductivityValPer | number: '1.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td> {{'MONTHLY_BUSINESS_ANALYSIS.APPOINTMENTS_PERCENT_APPOINTMENTS_REBOOKED' | translate }}
                                    </td>
                                    <td>{{reebookPec | number: '1.2-2'}}%</td>
                                    <td>{{reebookPec1 | number: '1.2-2'}}%</td>
                                    <td>{{reebookPecPer | number: '1.2-2'}}%</td>
                                </tr>
                                <tr>
                                    <td>{{'MONTHLY_BUSINESS_ANALYSIS.INVENTORY' | translate }} {{SeleSerPldLineName}}
                                        {{'MONTHLY_BUSINESS_ANALYSIS.SALES_EXCLUDING_TAX' | translate }}
                                    </td>
                                    <td>{{totalInventoryGroup | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{totalInventoryGroup1 | currency: "USD": "symbol-narrow"}}</td>
                                    <td>{{totalInventoryGroupPer | number: '1.2-2'}}%</td>
                                </tr>
                            </tbody>
                        </table>
                        {{'MONTHLY_BUSINESS_ANALYSIS.PRODUCTIVITY_RATE_NOT_INCLUDES_WORKER_SCHEDULE_CHANGES' |
                        translate }}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-rightbar></app-rightbar>
</div>